<template>
    <div id="component">
        <heads></heads>
            <div class="main container">
               
                <div id="block-search" :class="[(classItem) ? 'block-search-'+classItem : '']">
                    <form v-on:submit="submitFind('submitFind', $event)" id="submitFind" accept-charset="UTF-8" role="form" class="form">
                    <div class="row">
                        <div class="col-lg-4 details">
                            <div class="form-group">
                                <div class="input-group input-group-schoolslocaton">
                                    <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                    <field-school
                                            :name="'schoolslocaton'"
                                            :placeholder="'School name, metro or city'"
                                            v-model="find.schoolslocaton"
                                    ></field-school>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <datepicker
                                            v-model="move_in"
                                            :placeholder="'Move-in'"
                                            name="move_in"
                                            :bootstrapStyling="true"
                                            :format="'MM/dd/yyyy'"
                                            @selected="onSelectMoveIn"
                                            @opened="setDate"
                                    ></datepicker>
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <datepicker
                                            v-model="move_out"
                                            :placeholder="'Move-out'"
                                            name="move_out"
                                            :bootstrapStyling="true"
                                            :format="'MM/dd/yyyy'"
                                    ></datepicker>
                                    <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <field-select-one
                                        :name="'bedrooms'"
                                        :options="settings.bedrooms"
                                        v-model="find.bedrooms"
                                        :title="'Bebrooms'"
                                ></field-select-one>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="btn btn-green w100p fb" value="SEARCH" type="submit">
                            </div>
                        </div>
                    </div>
                    </form>
                    
                </div>
            </div>
        <foots></foots>
        <!--<pre>{{ $data }}</pre>-->
    </div><!--.front-->
</template>

<script>
    //
    import { EventBus } from '../components/event-bus';
    import Datepicker from 'vuejs-datepicker';
    Vue.component('heads', require('./layouts/FrontHeader.vue'));
    Vue.component('foots', require('./layouts/FrontFooter.vue'));

    export default {
        components: {
            Datepicker
        },
        data(){
            return {
                title: 'Main | Ulodger',
                description: 'Ulodger',
                keywords: 'Ulodger',
                find: {
                    schoolslocaton: [],
                    move_in: null,
                    move_out: null,
                    bedrooms: null,
                    distance: 30,
                    price: [],
                },
                settings:{
                    bedrooms: null,
                },
                classItem: null,
                validate:{
                    rules:{
                        'schoolslocaton[address]': {
                            label: 'School name, metro or city',
                            required: true,
                        },
                        'move_in': {
                            label: 'Move in',
                            required: true,
                        },
                        'move_out': {
                            label: 'Move out',
                            required: true,
                        },
                        'bedrooms': {
                            label: 'Bebrooms',
                            required: true,
                        },
                    }
                },
            }  
        },
        metaInfo () {
            return {
                title: this.title,
                meta: [
                    { vmid: 'description', name: 'description', content: this.description }
                ]
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/bedrooms').then(response => {
                this.settings.bedrooms = response.data;
            });
            //
            axios.get('/api/v1/listing/minmaxprice').then(response => {
                this.find.price = response.data;
            });
        },
        methods:{
            submitFind: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('find', JSON.stringify(this.find));
                    this.$router.push({name: 'listing.find'});
                    //this.$router.push({path: 'listing/find', query: this.find });
                    //console.log(this.find);
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }

            },
            onSelectMoveIn: function (date) {
                var d = new Date(date);
                d.setDate(d.getDate()+30);
                this.move_out = d;
            },
            setDate: function () {
                var d = new Date();
                if(!this.move_in)
                {
                    this.move_in = d;
                }
            }
        },
        computed: {
            move_in: {
                set: function (date) {
                    this.find.move_in = date.toLocaleDateString('en-US');
                },
                get: function () {
                    return this.find.move_in;
                }
            },
            move_out: {
                set: function (date) {
                    this.find.move_out = date.toLocaleDateString('en-US');
                },
                get: function () {
                    return this.find.move_out;
                }
            }

        },
        mounted() {
            $('body').addClass('front');
            var vm = this;
            EventBus.$on('setResp', function (item) {
                vm.classItem = item;
            })
        }
    }
</script>