<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Payments</h1>
                        <menu-invoice></menu-invoice>
                        <!--<router-link to="/add/host" class="btn btn-green bb w100p">Add New Listing</router-link>-->
                    </div>
                    <div class="col-lg-9" v-if="!loadData">

                        <div v-if="Object.keys(items).length && items.total > 0" id="block-host-requests" class="panel panel-default panel-account m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Bills</h3>
                            </div>
                            <div class="panel-body p-25">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Invoice #</th>
                                        <th>User from</th>
                                        <th>Per Month</th>
                                        <th>Order Date</th>
                                        <th>Total</th>
                                        <th>Order Status</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="item in items.data">
                                        <td>{{ item.order_id }}</td>
                                        <td>{{ item.user.name }}</td>
                                        <td>{{ item.month }}</td>
                                        <td>{{ item.created_at }}</td>
                                        <td>${{ item.total }}</td>
                                        <td>
                                            <span v-if="item.status" :class="'status-'+item.status.id">{{ item.status.name }}</span>
                                        </td>
                                        <td class="text-center">
                                            <router-link :to="{name: 'invoice', params:{order_id: item.order_id}}" class="edit m-r-15" title="view">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </router-link>
                                            <a href="#" class="remove" title="export to pdf">
                                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            </a>
                                            <!--<button class="btn btn-link p-0 remove" type="button">-->
                                            <!--<i class="fa fa-trash" aria-hidden="true"></i>-->
                                            <!--</button>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <p class="p-15 bg-warning" v-else>You do not have bills to pay.</p>

                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                title: 'Invoice my | '+ this.$parent.sitename,
                items: [],
                loadData: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                axios.get('/api/v1/invoice/get/bills/my').then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                    this.loadData = false;
                }).catch(error => {
                    this.$Progress.fail();
                    this.loadData = false;
                });
            },
            pay: function (item) {
                this.$session.set('pay', item);
                this.$router.push({name: 'pay'});
            }
        },
        mounted() {
            var vm = this;
            $('body').removeClass('front');
            //
        }
    }
</script>