<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container" v-if="!loadData">
                <div id="invoice">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="logo"></div>
                        </div>
                        <div class="col-lg-8">

                        </div>
                        <div class="col-lg-2">
                            <h3>Invoice # </h3>
                            <h3>{{ item.order_id }}</h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row m-b-30">
                        <div class="col-lg-3">
                            <div class="address">
                                <h4>Address:</h4>
                                <p v-if="item.address" class="p-15 bg-success">{{ item.address }}</p>
                                <p class="p-15 bg-danger" v-else>Pay the bill to see the address</p>
                            </div>
                        </div>
                        <div class="col-lg-6">

                        </div>
                        <div class="col-lg-3">
                            <div><label>Order Date:</label> {{ item.created_at }}</div>
                            <div v-if="item.status"><label>Order Status:</label> <span :class="'status-'+item.status.id">{{ item.status.name }}</span></div>
                            <div><label>Order ID:</label> {{ item.order_id }}</div>
                            <div><label>Per Month:</label> {{ item.month }}</div>
                        </div>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="10">#</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Unit Cost</th>
                                <th class="text-center">Total</th>
                                <!--<th>Per month</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(tr, k) in item.items">
                                <td>{{ k+1 }}</td>
                                <td>{{ tr.item }}</td>
                                <td>{{ tr.description }}</td>
                                <td class="text-center">{{ tr.quantity }}</td>
                                <td class="text-center">${{ tr.unit_cost }}</td>
                                <td class="text-center">${{ tr.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-9 text-right">
                            <div><label>Sub-total:</label> ${{ item.subtotal }}</div>
                            <div v-if="item.commission > 0"><label>Commission:</label> ${{ item.commission }}</div>
                            <h2>USD {{ item.total }}</h2>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                title: 'Invoice | '+ this.$parent.sitename,
                item: [],
                loadData: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                axios.get('/api/v1/invoice/'+this.$route.params.order_id).then(response => {
                    this.item = response.data;
                    this.$Progress.finish();
                    this.loadData = false;
                }).catch(error => {
                    this.$Progress.fail();
                    this.loadData = false;
                });
            },
        },
        mounted() {
            var vm = this;
            $('body').removeClass('front');
            //
        }
    }
</script>