<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <button class="btn btn-success" @click="success">successful payment</button>
                        <button class="btn btn-danger" @click="fail">failed payment</button>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                title: 'Pay | '+ this.$parent.sitename,
                items: [],
                loadData: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            success: function () {

                var item = this.$session.get('pay');
                axios.put('/api/v1/invoice/'+item.id+'/success').then(response => {
                    this.$session.remove('pay');
                    this.$router.push({name: 'pay.success'});
                }).catch(error => {

                });
            },
            fail: function () {
                this.$session.remove('pay');
                this.$router.push({name: 'pay.fail'});
            }
        },
        mounted() {
            var vm = this;
            $('body').removeClass('front');
            //
        }
    }
</script>