<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="p-15 bg-danger">The payment was unsuccessful!</p>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                title: 'Pay fail | '+ this.$parent.sitename,
                items: [],
                loadData: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{

        },
        mounted() {
            var vm = this;
            $('body').removeClass('front');
            //
        }
    }
</script>