<template>
    <div class="field-address">
        <input :name="name+'[address]'" class="form-control setAddress" type="text" :placeholder="placeholder" :value="value.address">
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            placeholder:{
                type: String,
                default: null,
            },
            value: {
                type: [String, Number, Object, Array],
                default: null,
            },
        },
        data(){
            return {
                address: {
                    address: null,
                    country: null,
                    region: null,
                    locality: null,
                    lat: null,
                    lng: null,
                },
            }
        },
        methods: {
            geoComplete: function (address = null) {
                var vm = this;

                if(address)
                {
                    //console.log(address.address.LongLabel);
                    $('.setAddress').geocomplete("find", address.address.LongLabel);
                }
                else
                {
                    $('.setAddress').geocomplete({
                        //types: ['(cities)'],
                    }).bind("geocode:result", function(event, result){
                        //console.log(result);
                        vm.address.address = result.formatted_address;
                        vm.address.country = vm.getField('country', result.address_components);
                        vm.address.region = vm.getField('administrative_area_level_1', result.address_components);
                        vm.address.locality = vm.getField('locality', result.address_components);
                        vm.address.lat = result.geometry.location.lat();
                        vm.address.lng = result.geometry.location.lng();

                        vm.$emit('input', vm.address);
                        EventBus.$emit('changeAddress', vm.address);
                    });
                }
            },
            getField: function(name, address_components)
            {
                var data = '';
                $.each(address_components, function(k, v){
                    //$.dump(v);
                    $.each(v.types, function(i, y){
                        if (y == name) {
                            data = v.long_name;
                        }
                    });
                });
                return data;
            },
        },
        watch: {

        },
        computed: {

        },
        mounted() {
            var vm = this;
            vm.geoComplete();
            EventBus.$on('changePiont', function (address) {
                vm.geoComplete(address);
            });
        }
    }
</script>