<template>
    <div id ="photo-upload">
        <div class="row" v-if="files.length">
            <div class="m-b-15" :class="[(index == 0) ? 'col-lg-12' : 'col-lg-2']" v-for="(file, index) in files">
                <div class="preim" :class="[(index == 0) ? 'preim-big' : 'preim-small']">
                    <div class="caption anim zoomIn" v-if="!file.loading">
                        <nav>
                            <a href="javascript:void(0);" title="Delete" @click="removeImage(file, index)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </nav>
                    </div>
                    <i v-if="file.loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                    <img :src="file.img" :class="[(file.loading) ? 'opa05' : '']" class="img-responsive"  alt="Responsive image">
                </div>
            </div>
            <div class="col-lg-2" v-if="files.length >= 1">
                <div class="add-foto-small">
                    <a href="javascript:void(0);" @click="openDialog" class="add-foto">
                        <i aria-hidden="true" class="fa fa-cloud-upload"></i>
                        Add photo
                    </a>
                </div>
            </div>
        </div>
        <div id="dropzone-wrp" v-if="files.length <= 0">
            <div class="dropzone-text">
                <a href="javascript:void(0);" @click="openDialog" class="btn btn-green bb add-foto">
                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                    Upload Photos
                </a>
                <br><br> or drag them in
            </div>
        </div>
        <input id="drag-img" name="images" class="hidden" type="file" multiple @change="onFileChange">
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            folder: {
                type: String,
                default: 'default',
            },
            value: {
                type: [String, Number, Array, Object],
                default: null,
            },
        },
        data(){
            return {
                files: [],
                uploaded: [],
            }
        },
        methods: {
            openDialog: function () {
                $('#drag-img').click();
            },
            startDrag: function () {
                var vm = this;
                $('#dropzone-wrp').on('dragover', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
                //
                $('#dropzone-wrp').on('dragenter', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                });
                //
                $('#dropzone-wrp').on('drop',function(e){
                    if(e.originalEvent.dataTransfer){
                        if(e.originalEvent.dataTransfer.files.length) {
                            e.preventDefault();
                            e.stopPropagation();
                            /*UPLOAD FILES HERE*/
                            console.log(e.originalEvent.dataTransfer.files);
                            if(e.originalEvent.dataTransfer.files.length > 20)
                            {
                                vm.$notify({
                                    type: 'error',
                                    title: 'Error!',
                                    text: 'You exceeded the file limit.',
                                });
                            }
                            else
                            {
                                _.forEach(e.originalEvent.dataTransfer.files, function (v) {
                                    if(v.size < 1000000)
                                    {
                                        if(vm.files.length <= 20)
                                        {
                                            vm.createImage(v);
                                        }
                                        else
                                        {
                                            vm.$notify({
                                                type: 'error',
                                                title: 'Error!',
                                                text: 'You exceeded the file limit.',
                                            });
                                        }
                                    }
                                    else
                                    {
                                        vm.$notify({
                                            type: 'error',
                                            title: 'Error!',
                                            text: 'File size is too large - '+v.name,
                                        });
                                    }
                                });
                            }
                        }
                    }
                });
            },
            onFileChange: function(e)
            {
                var vm = this;
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                if(files.length > 20)
                {
                    vm.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: 'You exceeded the file limit.',
                    });
                }
                else
                {
                    _.forEach(files, function (v) {
                        if(v.size < 1000000)
                        {
                            if(vm.files.length <= 20)
                            {
                                vm.createImage(v);
                            }
                            else
                            {
                                vm.$notify({
                                    type: 'error',
                                    title: 'Error!',
                                    text: 'You exceeded the file limit.',
                                });
                            }
                        }
                        else
                        {
                            vm.$notify({
                                type: 'error',
                                title: 'Error!',
                                text: 'File size is too large - '+v.name,
                            });
                        }
                    });
                }
                console.log(files);
            },
            createImage: function (file) {
                var vm = this;
                var reader = new FileReader();
                reader.onload = function (e) {
                    var id = Math.round(new Date().getTime() + (Math.random() * 100));
                    var i = e.target.result;
                    vm.files.push({
                        fid: null,
                        id: id,
                        img: i,
                        loading: true,
                    });
                    vm.uploadFile(file, id);
                }
                reader.readAsDataURL(file);
            },
            uploadFile: function (file, id) {
                var vm = this;
                var form_data = new FormData();
                form_data.append('image', file);
                form_data.append('folder', this.folder);
                form_data.append('file_id', id);

                axios.post('/filem/upload/image', form_data).then(response => {
                    console.log(response.data);
                    //vm.$emit('input', response.data);
//                    _.forEach(this.files, function (v) {
//                        if(v.id == response.data.file_id)
//                        {
//                            v.loading = false;
//                            v.fid = response.data.id;
//                            v.img = '/uploads/'+vm.folder+'/'+response.data.filename;
//                        }
//                    });
                    this.uploaded.push(response.data);
                }).catch(error => {
                    //
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: 'Photo uploads!',
                    });
                });
            },
            removeImage: function (file, index) {
                var vm = this;
                vm.files.splice(index, 1);
                vm.uploaded.splice(index, 1);
                axios.post('/filem/destroy/' + file.fid);
            }
        },
        watch: {
            uploaded: function (data) {
                this.$emit('input', data);
            },
            value: function (data) {
                //this.files = data;
                var vm = this;

                if(vm.files.length)
                {
                    _.forEach(data, function (d) {
                        _.forEach(vm.files, function (f) {
                            if(f.id == d.file_id)
                            {
                                f.loading = false;
                                f.fid = d.id;
                                f.img = '/uploads/'+d.uri+'/'+d.filename;
                            }
                        })
                    });
                }
                else
                {
                    _.forEach(data, function (d) {
                        vm.files.push({
                            fid: d.id,
                            id: d.file_id,
                            img: '/uploads/'+d.uri+'/'+d.filename,
                            loading: false,
                        });
                    });
                }

            }
        },
        computed: {

        },
        mounted() {
            this.startDrag();
        }
    }
</script>