<template>
    <div :id="'btn-'+$slug.set(name)" class="field-select" v-on:mouseleave="setClose">
        <div class="btn btn-select" :class="sclass" v-on:click="setOpen">
            <span v-if="label" class="slbl">{{label }}: </span>
            <span class="selectedTitle">{{ selectedTitle }}</span>
            <span class="caret"></span>
        </div>
        <ul class="ul-select" v-if="open" :style="style">
            <li  v-if="options" v-for="option in options">
                <a v-on:click="setSelected(option)" :class="[(value == option.id) ? 'active' : '']">{{ option.name }}</a>
            </li>
        </ul>

        <select
                class="w100p hidden"
                :title="title"
                :name="name"
                :value="value"
                :id="'sel-'+$slug.set(name)"
        >
            <option v-if="!value && title" value="">{{ title }}</option>
            <option v-if="!value && !title" value="">- choose -</option>
            <option v-if="options" v-for="option in options" :value="option.id">{{ option.name }}</option>
        </select>

    </div>
</template>

<script>

    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            options: {
                type: [Array, Object],
                default: null,
            },
            title:{
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number],
                default: null,
            },
            label:{
                type: String,
                default: null,
            },
        },
        data(){
            return {
                selectedTitle: this.title ? this.title : '- choose -',
                open: false,
                sclass: '',
                hidden: false,
                style: {
                    overflowY: 'visible',
                    width: '100%',
                    height: 'auto',
                }
            }
        },
        methods: {
            setOpen: function () {
                this.open = !this.open;
                var w = $('#btn-'+this.$slug.set(this.name)).width();
                this.style.width = w+'px';
                EventBus.$emit('openSelect', this.name);
            },
            setClose: function () {
                this.open = false;
            },
            setSelected: function (option) {
                this.open = false;
                this.selectedTitle = option.name;
                this.sclass = 'blk';
                var vm = this;
                vm.$emit('input', option.id);
                vm.$emit('onSelect', option.id);
            }
        },
        watch: {
            options: function (val) {
                var vm = this;
                if(_.isArray(val) && val.length > 5)
                {
                    this.hidden = true;
                    this.style.height = '131px';
                    this.style.overflowY = 'scroll';
                }
                if(_.isObject(val) && Object.keys(val).length > 5)
                {
                    this.hidden = true;
                    this.style.height = '131px';
                    this.style.overflowY = 'scroll';
                }
                if(vm.value)
                {
                    _.forEach(val, function (v) {
                        if(v.id == vm.value)
                        {
                            vm.selectedTitle = v.name;
                            vm.sclass = 'blk';
                        }
                    });
                }
            },
            value:function (data) {
                var vm = this;
                EventBus.$emit('changeField', data);
            }
        },
        computed: {

        },
        mounted() {
            var vm = this;

            if(vm.value)
            {
                vm.selectedTitle = vm.value;
                vm.sclass = 'blk';
            }

            EventBus.$on('openSelect', function (val) {
                if(vm.name !== val)
                {
                    vm.open = false;
                }
            });

            if(_.isArray(this.options) && this.options.length > 5)
            {
                this.hidden = true;
            }
            if(_.isObject(this.options) && Object.keys(this.options).length > 5)
            {
                this.hidden = true;
            }



        }
    }
</script>
<style>
    .field-select .btn-select{
        border: 1px solid #ccc;
        width: 100%;
        padding: 0 25px 0 15px;
        background: #fff;
    }
    .field-select .btn-select .caret{
        float: right;
        margin-top: 18px;
        margin-right: -15px;
        color: #999;
    }
    .field-select .selectedTitle{
        display: block;
        float: left;
        color: #999;
    }
    .field-select .blk .selectedTitle{
        color: #555;
    }
    .field-select .ul-select{
        position: absolute;
        background: #fff;
        z-index: 100;
        border: 1px solid #ccc;
        padding: 0;
        margin: 0;
        margin-top: -1px;
    }
    .field-select .ul-select li{
        list-style: none;
        margin-bottom: 1px;
    }
    .field-select .ul-select li:last-child{
        margin-bottom: 0px;
    }
    .field-select .ul-select li a{
        display: block;
        padding: 8px 10px 2px 10px;
        color: #555;
    }
    .field-select .ul-select li a.active,
    .field-select .ul-select li a:hover{
        background: #2FD455;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
    .field-select .ul-select li a.active:hover{
        background: #ccc;
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>
