<template>
    <div class="field-map">
        <div id="map"></div>
        <input type="hidden" :name="name" :value="value"/>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            value: {
                type: [String, Number, Object, Array],
                default: null,
            },
        },
        data(){
            return {
                setPoint: false,
            }
        },
        methods: {
            init: function () {
                var vm = this;


                var map = L.map('map', {
                    center: [39.28669443236614, -102.216796875],
                    zoom: 5,
                    style: 'mapbox://styles/mapbox/streets-v10',
                });

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    maxZoom: 20,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoidGFyaWtzIiwiYSI6ImNqYTlicmdlYjBkZ2IyeW51Mms3OXVwZWIifQ.M-0VZ03-meBiwk-v0GN8OA',

                }).addTo(map);


                var marker;
                var myIcon = L.divIcon({className: 'my-div-icon', iconSize: [40, 52], iconAnchor: [20, 58]});

                //if(vm.setPoint)
                //{
                    vm.$on('setPoint', function (val) {
                        if(marker)  map.removeLayer(marker);
                        marker = L.marker(val, {icon: myIcon}).addTo(map);
                        map.setView(val, 15);
                        vm.setPoint = false;
                    });
                //}


                EventBus.$on('changeAddress', function (address) {
                    if(marker)  map.removeLayer(marker);

                    map.setView([address.lat, address.lng], 15);
                    marker = L.marker([address.lat, address.lng], {icon: myIcon}).addTo(map);
                    vm.$emit('input', {lat: address.lat, lng: address.lng});
                });

                var geocodeService = L.esri.Geocoding.geocodeService();
                map.on('click', function(e) {
                    var popLocation= e.latlng;
                    if(marker) map.removeLayer(marker);

                    marker = L.marker(popLocation, {icon: myIcon}).addTo(map);
                    vm.$emit('input', popLocation);
                    geocodeService.reverse().latlng(popLocation).run(function(error, result) {
                        EventBus.$emit('changePiont', result);
                    });
                });



            }
        },
        watch:{
            value: function (val) {
                if(val)
                {
                    this.$emit('setPoint', val);
                    this.setPoint = true;
                }

            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            this.init();
        }
    }
</script>