<template>
    <div class="rating-wrp" :class="[hover ? 'rating-wrp-hover' : '']">
        <i class="fa fa-star-o" :class="setActive(n)"  @click="setRating(n)" aria-hidden="true" v-for="n in 5"></i>
    </div>
</template>

<script>
    export default {
        props:{
            value: [String, Number],
            hover: false,
        },
        data(){
            return {
                rating:{1:5, 2:4, 3:3, 4:2, 5:1}
            }
        },
        methods:{
            setRating: function (n) {

            },
            setActive: function (n) {
                if(this.value && this.value > 0)
                {
                    if(this.rating[n] <= this.value)
                    {
                        return 'active';
                    }
                }
                else
                {
                    return '';
                }
            }
        }
    }
</script>