<template>
    <div class="field-address">
        <input :name="name+'[address]'" :class="'setSchool-'+$slug.set(name)" class="form-control setSchool" type="text" :placeholder="placeholder" :value="value.name">
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default {
        props: {
            name: {
                type: String,
                default: null,
            },
            placeholder:{
                type: String,
                default: null,
            },
            value: {
                type: [String, Number, Object, Array],
                default: null,
            },
        },
        data(){
            return {
                address: {
                    name: null,
                    address: null,
                    country: null,
                    region: null,
                    locality: null,
                    lat: null,
                    lng: null,
                },
            }
        },
        methods: {
            geoComplete: function () {
                var vm = this;

                $('.setSchool-'+vm.$slug.set(vm.name)).geocomplete({
                    types: ['establishment'],
                }).bind("geocode:result", function(event, result){
                    //console.log(result);
                    vm.address.name = result.name;
                    vm.address.address = result.formatted_address;
                    vm.address.country = vm.getField('country', result.address_components);
                    vm.address.region = vm.getField('administrative_area_level_1', result.address_components);
                    vm.address.locality = vm.getField('locality', result.address_components);
                    vm.address.lat = result.geometry.location.lat();
                    vm.address.lng = result.geometry.location.lng();

                    vm.$emit('input', vm.address);
                    EventBus.$emit('changeSchool', vm.address);
                    vm.$emit('changeSchool', vm.address);
                });
            },
            getField: function(name, address_components)
            {
                var data = '';
                $.each(address_components, function(k, v){
                    //$.dump(v);
                    $.each(v.types, function(i, y){
                        if (y == name) {
                            data = v.long_name;
                        }
                    });
                });
                return data;
            },
        },
        watch: {

        },
        computed: {

        },
        mounted() {
            var vm = this;
            vm.geoComplete();
        }
    }
</script>