<template>
    <form v-on:submit="submitReminder('reminder', $event)" id="form-reminder" accept-charset="UTF-8" role="form">
        <div class="form-group">
            <input v-model="reminder.email" class="form-control" placeholder="E-mail" name="email" type="email">
        </div>
        <button class="btn btn-green w100p fb" type="submit">RESET PASSWORD</button>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default{
        data(){
            return {
                reminder:{
                    email: null,
                },
                validate:{
                    rules:{
                        'email': {
                            label: 'Enter Your Email Address',
                            required: true,
                            email: true,
                        },
                    }
                },
            }
        },
        methods:{
            submitReminder: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    axios.post('/set/new/password', this.reminder).then(response => {
                        this.$notify({
                            title: 'Success!',
                            text: 'The new password has been sent to your e-mail.',
                            type: 'success',
                        });
                        this.reminder.email = '';
                    }).catch(error => {
                        this.$notify({
                            title: 'Error!',
                            text: error.response.data.error[0],
                            type: 'error',
                        });
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
        }
    }
</script>