<template>
    <form id="form-book-apply" v-on:submit="submitBook('book', $event)" accept-charset="UTF-8" role="form" class="form">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>From</label>
                    <datepicker
                            v-model="form.check_in"
                            name="check_in"
                            :bootstrapStyling="true"
                            :format="'MM/dd/yyyy'"
                            @selected="onSelectMoveIn"
                            @opened="setDate"
                    ></datepicker>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>То</label>
                    <datepicker
                            v-model="form.check_out"
                            name="check_out"
                            :bootstrapStyling="true"
                            :format="'MM/dd/yyyy'"
                    ></datepicker>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Lodgers</label>
                    <field-select-one
                            :name="'lodgers'"
                            :options="settings.lodgers"
                            v-model="form.lodgers"
                            :title="'Lodgers'"
                    ></field-select-one>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button @click="showModal = true" class="btn btn-danger w100p" type="button">Decline</button>
            </div>
            <div class="col-lg-6">
                <button class="btn btn-green w100p">Invoice for payment</button>
            </div>
        </div>
        <modal v-if="showModal" @close="showModal = false" :classContainer="'contact-container'">
            <h4 slot="header">Indicate the reason for the refusal!</h4>
            <div slot="body">
                <form-book-cancel :item="item"></form-book-cancel>
            </div>
        </modal>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import Datepicker from 'vuejs-datepicker';
    Vue.component('form-book-cancel', require('../forms/FormBookCancel.vue'));

    export default{
        components: {
            Datepicker
        },
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {
                showModal: false,
                form:{
                    check_in: this.item.req.check_in,
                    check_out: this.item.req.check_out,
                    lodgers: this.item.req.lodgers,
                    listing_id: this.item.id,
                    id: this.item.req.id,
                },
                settings:{
                    lodgers: [],
                },
                validate:{
                    rules:{
                        'check_in': {
                            label: 'From',
                            required: true,
                        },
                        'check_out': {
                            label: 'То',
                            required: true,
                        },
                        'lodgers': {
                            label: 'Lodgers',
                            required: true,
                        }
                    }
                },
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/lodgers').then(response => {
                this.settings.lodgers = response.data;
            });
            //
        },
        methods:{
            submitBook: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    if (this.$auth.isAuth()) {
                        console.log(this.form);
                        axios.post('/api/v1/listing/book/apply', this.form).then(response => {
                            EventBus.$emit('updateBookStatus', this.item.req.id, 100);
                        }).catch(error => {

                        });
                    }
                    else
                    {
                        this.$notify({
                            title: 'Warning!',
                            text: 'You need to login!',
                            type: 'error',
                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            onSelectMoveIn: function (date) {
                var d = new Date(date);
                d.setDate(d.getDate()+30);
                this.form.check_out = d;
            },
            setDate: function () {
                var d = new Date();
                if(!this.form.check_in)
                {
                    this.form.check_in = d;
                }
            }
        },
        mounted() {
            var vm = this;
            EventBus.$on('closeModal', function () {
                vm.showModal = false;
            });
        }
    }
</script>