<template>
    <div class="row">
        <!--<div class="col-lg-6">-->
            <!--<h6>Contact {{ item.user.first_name }}</h6>-->
            <!--<p class="m-b-15">Make sure you share the following:</p>-->
            <!--<ul>-->
                <!--<li class="m-b-15">Tell {{ item.user.first_name }} a little about yourself</li>-->
                <!--<li class="m-b-15">What do you love about this listing? Mention it!</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="col-lg-12">
            <form id="form-contact" v-on:submit="submitContact('contact', $event)" accept-charset="UTF-8" role="form" class="form">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Message host</label>
                            <textarea v-model="form.message" rows="8" name="message" cols="50" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <input value="Send Message" class="btn btn-green w100p" type="submit">
            </form>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    export default{
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {
                form:{
                    message: null,
                    user_id_to: this.item.user.id,
                },
                validate:{
                    rules:{
                        'message': {
                            label: 'Message host',
                            required: true,
                        },
                    }
                },
            }
        },
        methods:{
            submitContact: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    if (this.$auth.isAuth()) {
                        axios.post('/api/v1/inbox/contact/message', this.form).then(response => {
                            this.$notify({
                                title: 'Success!',
                                text: response.data.success,
                                type: 'success',
                            });
                            this.form.message = '';
                            EventBus.$emit('closeModal');
                        }).catch(error => {});
                    }
                    else
                    {
                        this.$notify({
                            title: 'Warning!',
                            text: 'You need to login!',
                            type: 'error',
                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
        }
    }
</script>