<template>
    <div id="block-host-book">
        <h2>${{ item.price.data }} per month</h2>

        <form id="form-book" v-on:submit="submitBook('book', $event)" accept-charset="UTF-8" role="form" class="form">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>From</label>
                        <datepicker
                                v-model="form.check_in"
                                name="check_in"
                                :bootstrapStyling="true"
                                :format="'MM/dd/yyyy'"
                                @selected="onSelectMoveIn"
                                @opened="setDate"
                        ></datepicker>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>To</label>
                        <datepicker
                                v-model="form.check_out"
                                name="check_out"
                                :bootstrapStyling="true"
                                :format="'MM/dd/yyyy'"
                        ></datepicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <field-select-one
                                :name="'lodgers'"
                                :options="settings.lodgers"
                                v-model="form.lodgers"
                                :title="'Lodgers'"
                        ></field-select-one>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-green w100p please-login">Lodge</button>
            <div class="help-block text-center p-t-15">You won’t be charged yet</div>
        </form>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import Datepicker from 'vuejs-datepicker';

    export default{
        components: {
            Datepicker
        },
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {
                form:{
                    check_in: null,
                    check_out: null,
                    lodgers: null,
                    listing_id: this.item.id,
                    listing_user_id: this.item.user.id,
                },
                settings:{
                    lodgers: [],
                },
                validate:{
                    rules:{
                        'check_in': {
                            label: 'From',
                            required: true,
                        },
                        'check_out': {
                            label: 'To',
                            required: true,
                        },
                        'lodgers': {
                            label: 'Lodgers',
                            required: true,
                        }
                    }
                },
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/lodgers').then(response => {
                this.settings.lodgers = response.data;
            });
            //
        },
        methods:{
            submitBook: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    if (this.$auth.isAuth()) {
                        axios.post('/api/v1/listing/book', this.form).then(response => {
                            this.$notify({
                                title: 'Success!',
                                text: response.data.success,
                                type: 'success',
                            });
                            this.form.check_in = null;
                            this.form.check_out = null;
                            this.form.lodgers = null;
                        }).catch(error => {
                            this.$notify({
                                title: 'Error!',
                                text: error.response.data.error,
                                type: 'error',
                            });
                        });
                    }
                    else
                    {
                        this.$notify({
                            title: 'Warning!',
                            text: 'You need to login!',
                            type: 'error',
                        });
                    }
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            onSelectMoveIn: function (date) {
                var d = new Date(date);
                d.setDate(d.getDate()+30);
                this.form.check_out = d;
            },
            setDate: function () {
                var d = new Date();
                if(!this.form.check_in)
                {
                    this.form.check_in = d;
                }
            }
        }
    }
</script>