<template>
    <form id="form-book-cancel" v-on:submit="submitBookCancel('book', $event)" accept-charset="UTF-8" role="form" class="form">
        <div class="form-group">
            <textarea v-model="form.message" name="message" class="form-control" rows="3"></textarea>
        </div>
        <div class="text-right">
            <button class="btn btn-green">OK</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default{
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {
                form:{
                    id: this.item.req.id,
                    user_id_to: this.item.user.id,
                    message: null,
                    listing_id: this.item.id,
                },
                validate:{
                    rules:{
                        'message': {
                            label: 'Message',
                            required: true,
                        },
                    }
                },
            }
        },
        methods:{
            submitBookCancel: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    axios.post('/api/v1/listing/book/cancel', this.form).then(response => {
                        this.form.message = null;
                        EventBus.$emit('closeModal');
                        EventBus.$emit('updateBookStatus', this.item.req.id, 10);
                    });
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
        }
    }
</script>