<template>
    <span class="badge">{{ count }}</span>
</template>
<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                count:0,
                interval: null,
            }
        },
        watch: {
            '$route': 'loadCount',
        },
        methods:{
            loadCount: function () {
                var count = localStorage.getItem('countNewMess');
                this.count = (count) ? count : 0;

                axios.post('/api/v1/inbox/count/new').then(response => {
                    localStorage.setItem('countNewMess', response.data);
                    this.count = response.data;
                    EventBus.$emit('countMess', this.count);
                });
            },
            watchCount: function () {
                this.loadCount();
                this.interval = setInterval(function () {
                    this.loadCount();
                }.bind(this), 5000);
            }
        },
        beforeDestroy: function(){
            clearInterval(this.interval);
        },
        mounted() {
            var vm = this;
            this.watchCount();
            //
            EventBus.$on('setCountNewMess', function (count) {
                vm.count = count;
            });
        }
    }
</script>