<template>
    <div class="btn-toolbar" role="toolbar">
        <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle select-inbox">
            <span>{{ inbox[active] }}</span>
            <b class="caret m-t-m7"></b>
        </button>
        <ul role="menu" class="dropdown-menu select-inbox-menu">
            <li><router-link to="/inbox/all">{{ inbox.all }}</router-link></li>
            <li><router-link to="/inbox/starred">{{ inbox.starred }}</router-link></li>
            <li><router-link to="/inbox/unread">{{ inbox.unread }}</router-link></li>
            <li><router-link to="/inbox/reservations">{{ inbox.reservations }}</router-link></li>
            <li><router-link to="/inbox/requests">{{ inbox.requests }}</router-link></li>
            <li><router-link to="/inbox/archived">{{ inbox.archived }}</router-link></li>
        </ul>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                inbox: {
                    all: 'All Messages (0)',
                    starred: 'Starred (0)',
                    unread: 'Unread (0)',
                    reservations: 'Reservations (0)',
                    requests: 'Pending Requests (0)',
                    archived: 'Archived (0)',
                },
                active: 'all',
            }  
        },
        watch: {
            '$route': 'fetchData'
        },
        methods: {
            fetchData: function()
            {
                axios.post('/inbox/get/button').then(response => {
                    this.inbox = response.data;
                    
                }).catch(error => {
                    //
                });
                //
                if (Object.keys(this.$route.params).length) {
                    this.active = this.$route.params.slug;
                }
                else
                {
                    this.active = 'all';
                }
            }
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted Button.');
            this.fetchData();
        }
    }
</script>