<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <!--//-->
        <div id="main">
            <div id="inbox-page" class="container">
                <div class="row m-b-20">
                    <div class="col-lg-2">
                        <h1 class="dsh">Messages</h1>
                    </div>
                    <div class="col-lg-3">
                        <button-inbox></button-inbox>
                    </div>
                </div>
                <div id="messages-wrp" v-if="!loadData">
                    <div v-if="items.total > 0" id="messages-inbox">
                        <ul class="list-group">
                            <li v-for="item in items.data" @click="read(item)" :class="'read-'+item.read" class="list-group-item">
                                <div class="row">
                                    <div class="col-lg-3 dark">
                                        <i class="fa fa-circle" :class="[(item.starred == 1) ? 'text-green' : 'text-muted']" aria-hidden="true"></i>
                                        <span class="name">{{ item.user.name }}</span>
                                    </div>
                                    <div class="col-lg-7 blu subject" v-html="item.subject"></div>
                                    <div class="col-lg-2 text-right blu">{{ item.created_at }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="messages-inbox-no" v-else>
                        <h2>No messages yet.</h2>
                        <p>When guests contact you or send reservation requests? you'll see their messages here.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--//-->
        <footers></footers>
    </div>
</template>

<script>
    Vue.component('button-inbox', require('./Button.vue'));

    export default {
        data(){
            return {
                title: 'Inbox | '+ this.$parent.sitename,
                items:[],
                loadData: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        watch:{
            '$route': 'fetchData',
        },
        methods:{
            fetchData: function () {
                this.$Progress.start();
                var path = (this.$route.params.slug) ? '/api/v1/inbox/'+this.$route.params.slug : '/api/v1/inbox';
                var msg = localStorage.getItem('msg');
                this.items = (msg) ? JSON.parse(msg) : [];
                if(!msg)
                {
                    this.loadData = true;
                }
                //
                axios.get(path).then(response => {
                    this.items = response.data;
                    localStorage.setItem('msg', JSON.stringify(response.data));
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            read: function (item) {
                axios.post('/api/v1/inbox/set/read/'+item.id).then(response => {
                    this.$router.push({name: 'message', params:{id: item.id}});
                });
            }
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>