<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <!--//-->
        <div id="main">
            <div id="inbox-page" class="container">
                <div class="row m-b-20">
                    <div class="col-lg-2">
                        <h1 class="dsh">Messages</h1>
                    </div>
                    <div class="col-lg-3">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <router-link to="/inbox" class="btn btn-default" title="Go back"><i class="fa fa-download" aria-hidden="true"></i></router-link>
                                <a href="javascript:void(0);" v-on:click="setStarred(item)" class="btn btn-default set-sratted2" title="Starred"><i class="fa fa-star-o"></i></a>
                                <a href="javascript:void(0);" v-on:click="setRemoved(item)"class="btn btn-default remove" title="Remove"><i class="fa fa-trash-o"></i></a>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span data-toggle="tooltip" data-placement="top" title="" data-original-title="Move To">
                                <i class="fa fa-folder"></i>
                                <b class="caret m-t-m7"></b>
                                </span>
                                </button>
                                <ul class="dropdown-menu inbox-move-to" role="menu">
                                    <li class="p-l-15 p-r-15 p-t-10">Move To:</li>
                                    <li class="divider"></li>
                                    <li><a class="moveto-reservations" v-on:click="moveTo(item, 'reservations')" href="javascript:void(0);">Reservations</a></li>
                                    <li><a class="moveto-requests" v-on:click="moveTo(item, 'requests')" href="javascript:void(0);">Pending Requests</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 p-t-15">
                        <!--<div class="loading-inbox2 hidden">Loading...<i class="fa fa-spinner fa-pulse"></i></div>-->
                    </div>
                </div>
                <div id="messages-wrp" v-if="!loadData">
                    <div id="panel-message" class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-star" :class="[(item.starred == 1) ? 'starred' : '']"></i>
                            <h3 class="panel-title" v-html="item.subject"></h3>
                        </div>
                        <div class="panel-body">
                            <div class="message-head">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <router-link :to="{ name: 'user', params: { slug: item.user.slug }}" target="_blank">
                                            <img :src="'/avatar/40x40/'+item.user.id"  alt="" class="thumb-md img-circle">
                                            {{ item.user.name }}
                                        </router-link>
                                    </div>
                                    <div class="col-lg-9 text-right">
                                        {{ item.created_at }}
                                    </div>
                                </div>
                            </div>
                            <div class="message-body" v-html="item.message"></div>
                            
                            <!--<div v-if="message.type == 'requests' || message.type == 'reservations'" class="message-book">-->
                                <!--<p><router-link :to="{ name: 'host', params: { slug: message.request_id.host.slug }}" target="_blank">{{ message.request_id.host.title }}</router-link></p>-->
                                <!--<p>I want to Book from <b>{{ message.request_id.check_id | moment("MM/DD/YYYY") }}</b> to <b>{{ message.request_id.check_out | moment("MM/DD/YYYY") }}</b></p>-->
                                <!--<p>{{ message.request_id.guests }} Lodgers</p>-->
                                <!--<router-link to="/my-listing/requests" class="btn btn-green">Book</router-link>-->
                            <!--</div>-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--//-->
        <footers></footers>
    </div>
</template>

<script>
   
    //Vue.component('button-inbox', require('./Button.vue'));
    export default {
        data(){
            return {
                title: 'Inbox Message | '+ this.$parent.sitename,
                item: [],
                loadData: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                //
                axios.get('/api/v1/inbox/message/'+this.$route.params.id).then(response => {
                    this.item = response.data;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            setStarred: function(item)
            {
                if (this.item.starred == 1) {
                    this.item.starred = 0;
                    this.$notify({
                        type: 'success',
                        title: 'Success!',
                        text: 'Unstarred.',
                    });
                }
                else if (this.item.starred == 0) {
                    this.item.starred = 1;
                    this.$notify({
                        type: 'success',
                        title: 'Success!',
                        text: 'Starred.',
                    });
                }
                axios.post('/inbox/set/starred/'+this.$route.params.id+'/'+this.item.starred);
            },
            setRemoved: function(message)
            {
                this.item.status = 0;
                axios.post('/inbox/set/removed/'+this.$route.params.id);
                this.$notify({
                    type: 'success',
                    title: 'Success!',
                    text: 'Removed.',
                });
            },
            moveTo: function(message, type)
            {
                this.item.type = type;
                axios.post('/inbox/moveto/'+this.$route.params.id+'/'+type);
                this.$notify({
                    type: 'success',
                    title: 'Success!',
                    text: 'Moved to '+type+'.',
                });
            }
        },
        created()
        {
            
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>