<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div id="about-page" class="container">
                <h1 class="h1">Operations</h1>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tincidunt massa lectus, non efficitur felis euismod eu. Nulla mollis elit et lectus tempus dictum. Suspendisse quis nisi laoreet, ultricies tellus sit amet, dictum felis. Morbi iaculis maximus tortor. Donec dictum vehicula sem, vitae convallis turpis vestibulum eget. Nulla sagittis neque et sem porta, nec posuere quam vestibulum. Morbi luctus mattis dignissim. Etiam feugiat mi vel risus malesuada ultrices. Vivamus convallis dolor lacus, eget venenatis risus aliquam et. Fusce finibus molestie turpis, eget molestie libero pellentesque consequat. Vestibulum congue ipsum ipsum, vel porta orci bibendum aliquam. Pellentesque sollicitudin varius turpis, quis rutrum diam elementum non. Vivamus porttitor dui enim, eget pulvinar dui pellentesque vel. Nam felis ante, vehicula eu enim in, sollicitudin aliquam neque. Fusce convallis scelerisque odio id scelerisque.
                </p>
                <p>
                Praesent porta nibh a tellus finibus, sit amet ullamcorper erat convallis. Cras semper vehicula orci, nec sollicitudin justo vehicula in. Integer eget lorem at quam feugiat aliquam. Phasellus non leo cursus ipsum porta semper vel et sapien. Nunc dignissim porta volutpat. In hac habitasse platea dictumst. Donec gravida quis turpis a porttitor. Maecenas venenatis massa magna, id interdum turpis mattis a. Nullam at ex rutrum, mollis odio at, vehicula est. Duis a est vitae nibh elementum vestibulum at id dolor.
                </p>
                <p>
                Integer venenatis sed ex ac dictum. Nunc lobortis lectus tortor, quis ultrices turpis scelerisque rhoncus. Sed nec blandit magna. Maecenas pellentesque gravida risus, et malesuada libero iaculis quis. Nullam quam nisl, laoreet sed urna ut, vulputate interdum diam. Aenean tincidunt lorem ut felis aliquet, ut iaculis sem cursus. Pellentesque elementum ex id imperdiet elementum. Curabitur vel lorem aliquam, molestie orci at, sagittis diam. Etiam tincidunt est nulla, sed facilisis diam pharetra at.
                </p>
                <p>
                Integer ultrices porttitor nunc sed viverra. Nam sit amet velit dictum, aliquet mi vehicula, vehicula sem. Sed eu nulla id tortor ornare hendrerit. Curabitur condimentum elementum nunc pellentesque luctus. Donec luctus ex non aliquam auctor. Nullam non turpis vel neque consequat rhoncus a id risus. Cras ut efficitur purus, et ullamcorper risus. Etiam posuere dictum nulla, nec tempor nibh malesuada vel. Donec eget pharetra orci. Etiam tincidunt lacus vitae felis rutrum, id pellentesque nunc fermentum. Praesent sit amet eros mauris. Nam sagittis ac risus vitae facilisis. Quisque dapibus ex id mi porta, sit amet hendrerit nunc laoreet. Cras vitae diam nec dolor eleifend sollicitudin. Integer non tempor odio.
                </p>
                <p>
                Integer consequat mollis ullamcorper. In dolor massa, bibendum vitae laoreet vitae, convallis sed eros. Donec volutpat, libero a mollis blandit, mauris est auctor ex, in lacinia dolor magna pharetra ante. Praesent eleifend odio vel ante pulvinar scelerisque. Cras convallis diam enim, sed egestas arcu auctor nec. Donec nisl enim, eleifend id interdum vel, eleifend id tortor. Nullam tempor sodales urna et rhoncus. Aenean consequat sollicitudin mi hendrerit tristique. Suspendisse malesuada, tellus id tempor sagittis, turpis justo blandit leo, vitae finibus arcu nisl quis elit. Etiam suscipit condimentum massa, sed malesuada erat gravida a. Etiam sed turpis ut ante pharetra bibendum ut auctor eros. Pellentesque pulvinar nunc sed massa finibus, vitae malesuada mauris auctor. Phasellus efficitur neque eget ultrices feugiat. Vivamus et tellus pellentesque, semper lorem luctus, scelerisque nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus sit amet eleifend urna.
                </p>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'Operations | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageOperations.');
            $('body').removeClass('front');
        }
    }
</script>