<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div id="about-page" class="container">
                <h1 class="h1">Terms of Service for Ulodger.com</h1>
                <p>Introduction&nbsp;</p>
                <p><br>
                    Welcome to Ulodger.com. This website is owned and operated by Ulodger LLC. By visiting our website and accessing the information, resources, services, products, and tools we provide, you understand and agree to accept and adhere to the following terms and conditions as stated in this policy (hereafter referred to as &#39;User Agreement&#39;), along with the terms and conditions as stated in our Privacy Policy (please refer to the Privacy Policy section below for more information).&nbsp;<br>
                    <br>
                    This agreement is in effect as of Jan 04, 2018.&nbsp;<br>
                    <br>
                    We reserve the right to change this User Agreement from time to time without notice. You acknowledge and agree that it is your responsibility to review this User Agreement periodically to familiarize yourself with any modifications. Your continued use of this site after such modifications will constitute acknowledgment and agreement of the modified terms and conditions.&nbsp;<br>
                    <br>
                    Responsible Use and Conduct&nbsp;<br>
                    <br>
                    By visiting our website and accessing the information, resources, services, products, and tools we provide for you, either directly or indirectly (hereafter referred to as &#39;Resources&#39;), you agree to use these Resources only for the purposes intended as permitted by (a) the terms of this User Agreement, and (b) applicable laws, regulations and generally accepted online practices or guidelines.&nbsp;<br>
                    <br>
                    Wherein, you understand that:&nbsp;<br>
                    <br>
                    a. In order to access our Resources, you may be required to provide certain information about yourself (such as identification, contact details, etc.) as part of the registration process, or as part of your ability to use the Resources. You agree that any information you provide will always be accurate, correct, and up to date.&nbsp;<br>
                    <br>
                    b. You are responsible for maintaining the confidentiality of any login information associated with any account you use to access our Resources. Accordingly, you are responsible for all activities that occur under your account/s.&nbsp;<br>
                    <br>
                    c. Accessing (or attempting to access) any of our Resources by any means other than through the means we provide, is strictly prohibited. You specifically agree not to access (or attempt to access) any of our Resources through any automated, unethical or unconventional means.&nbsp;<br>
                    <br>
                    d. Engaging in any activity that disrupts or interferes with our Resources, including the servers and/or networks to which our Resources are located or connected, is strictly prohibited.&nbsp;<br>
                    <br>
                    e. Attempting to copy, duplicate, reproduce, sell, trade, or resell our Resources is strictly prohibited.&nbsp;<br>
                    <br>
                    f. You are solely responsible any consequences, losses, or damages that we may directly or indirectly incur or suffer due to any unauthorized activities conducted by you, as explained above, and may incur criminal or civil liability.&nbsp;<br>
                    <br>
                    g. We may provide various open communication tools on our website, such comments, product ratings and reviews. You understand that generally we do not pre-screen or monitor the content posted by users of these various communication tools, which means that if you choose to use these tools to submit any type of content to our website, then it is your personal responsibility to use these tools in a responsible and ethical manner. By posting information or otherwise using any open communication tools as mentioned, you agree that you will not upload, post, share, or otherwise distribute any content that:&nbsp;<br>
                    <br>
                    i. Is illegal, threatening, defamatory, abusive, harassing, degrading, intimidating, fraudulent, deceptive, invasive, racist, or contains any type of suggestive, inappropriate, or explicit language;<br>
                    ii. Infringes on any trademark, patent, trade secret, copyright, or other proprietary right of any party;<br>
                    Iii. Contains any type of unauthorized or unsolicited advertising;<br>
                    Iiii. Impersonates any person or entity, including any Ulodger.com employees or representatives.<br>
                    <br>
                    <br>
                    We have the right at our sole discretion to remove any content that, we feel in our judgment does not comply with this User Agreement, along with any content that we feel is otherwise offensive, harmful, objectionable, inaccurate, or violates any 3rd party copyrights or trademarks. We are not responsible for any delay or failure in removing such content. If you post content that we choose to remove, you hereby consent to such removal, and consent to waive any claim against us.&nbsp;<br>
                    <br>
                    h. We do not assume any liability for any content posted by you or any other 3rd party users of our website. However, any content posted by you using any open communication tools on our website, provided that it doesn&#39;t violate or infringe on any 3rd party copyrights or trademarks, becomes the property of Ulodger LLC, and as such, gives us a perpetual, irrevocable, worldwide, royalty-free, exclusive license to reproduce, modify, adapt, translate, publish, publicly display and/or distribute as we see fit. This only refers and applies to content posted via open communication tools as described, and does not refer to information that is provided as part of the registration process, necessary in order to use our Resources. All information provided as part of our registration process is covered by our&nbsp;<a href="http://https/Ulodger.com">privacy policy</a>.&nbsp;<br>
                    <br>
                    i. You agree to indemnify and hold harmless Ulodger LLC and its parent company and affiliates, and their directors, officers, managers, employees, donors, agents, and licensors, from and against all losses, expenses, damages and costs, including reasonable attorneys&#39; fees, resulting from any violation of this User Agreement or the failure to fulfill any obligations relating to your account incurred by you or any other person using your account. We reserve the right to take over the exclusive defense of any claim for which we are entitled to indemnification under this User Agreement. In such event, you shall provide us with such cooperation as is reasonably requested by us.&nbsp;<br>
                    <br>
                    Privacy&nbsp;<br>
                    <br>
                    Your privacy is very important to us, which is why we&#39;ve created a separate Privacy Policy in order to explain in detail how we collect, manage, process, secure, and store your private information. Our privacy policy is included under the scope of this User Agreement. To read our privacy policy in its entirety,&nbsp;<a href="http://https/Ulodger.com">click here</a>.&nbsp;<br>
                    <br>
                    Limitation of Warranties&nbsp;<br>
                    <br>
                    By using our website, you understand and agree that all Resources we provide are &quot;as is&quot; and &quot;as available&quot;. This means that we do not represent or warrant to you that:<br>
                    i) the use of our Resources will meet your needs or requirements.<br>
                    ii) the use of our Resources will be uninterrupted, timely, secure or free from errors.<br>
                    iii) the information obtained by using our Resources will be accurate or reliable, and<br>
                    iv) any defects in the operation or functionality of any Resources we provide will be repaired or corrected.<br>
                    <br>
                    <br>
                    Furthermore, you understand and agree that:&nbsp;<br>
                    <br>
                    v) any content downloaded or otherwise obtained through the use of our Resources is done at your own discretion and risk, and that you are solely responsible for any damage to your computer or other devices for any loss of data that may result from the download of such content.<br>
                    vi) no information or advice, whether expressed, implied, oral or written, obtained by you from Ulodger LLC or through any Resources we provide shall create any warranty, guarantee, or conditions of any kind, except for those expressly outlined in this User Agreement.<br>
                    <br>
                    <br>
                    Limitation of Liability&nbsp;<br>
                    <br>
                    In conjunction with the Limitation of Warranties as explained above, you expressly understand and agree that any claim against us shall be limited to the amount you paid, if any, for use of products and/or services. Ulodger LLC will not be liable for any direct, indirect, incidental, consequential or exemplary loss or damages which may be incurred by you as a result of using our Resources, or as a result of any changes, data loss or corruption, cancellation, loss of access, or downtime to the full extent that applicable limitation of liability laws apply.&nbsp;<br>
                    <br>
                    Copyrights/Trademarks&nbsp;<br>
                    <br>
                    All content and materials available on Ulodger.com, including but not limited to text, graphics, website name, code, images and logos are the intellectual property of Ulodger LLC, and are protected by applicable copyright and trademark law. Any inappropriate use, including but not limited to the reproduction, distribution, display or transmission of any content on this site is strictly prohibited, unless specifically authorized by Ulodger LLC.&nbsp;<br>
                    <br>
                    Termination of Use&nbsp;<br>
                    <br>
                    You agree that we may, at our sole discretion, suspend or terminate your access to all or part of our website and Resources with or without notice and for any reason, including, without limitation, breach of this User Agreement. Any suspected illegal, fraudulent or abusive activity may be grounds for terminating your relationship and may be referred to appropriate law enforcement authorities. Upon suspension or termination, your right to use the Resources we provide will immediately cease, and we reserve the right to remove or delete any information that you may have on file with us, including any account or login information.&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>Dispute Resolution</p>
                <p>If you reside in the United States, you and Ulodger LLC agree that any dispute, claim or controversy arising out of or relating to these Terms or the breach, termination, enforcement, interpretation or validity thereof, or to the use of the Services or use of the Site, Application or Collective Content (collectively, &ldquo;Disputes&ldquo;) will be settled by binding arbitration, except that each party retains the right to seek injunctive or other equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement, misappropriation or violation of a party&rsquo;s copyrights, trademarks, trade secrets, patents, or other intellectual property rights. You acknowledge and agree that you and Ulodger LLC are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action lawsuit, class-wide arbitration, private attorney-general action, or any other representative proceeding. Further, unless both you and Ulodger LLC otherwise agree in writing, the arbitrator may not consolidate more than one person&rsquo;s claims, and may not otherwise preside over any form of any class or representative proceeding.</p>
                <p>Arbitration Rules and Governing Law. This agreement to arbitrate evidences a transaction in interstate commerce, and thus the Federal Arbitration Act governs the interpretation and enforcement of this provision. The arbitration will be administered by the American Arbitration Association (&ldquo;AAA&ldquo;) in accordance with the Consumer Arbitration Rules (the &ldquo;AAA Rules&ldquo;) then in effect, except as modified by this &ldquo;Dispute Resolution&rdquo; section. (The AAA Rules are available at www.adr.org/arb_medor by calling the AAA at 1&ndash;800&ndash;778&ndash;7879.) The Federal Arbitration Act will govern the interpretation and enforcement of this section.</p>
                <p>Arbitration Process. A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in the AAA Rules. (The AAA provides a form Demand for Arbitration.) The arbitrator will be either a retired judge or an attorney licensed to practice law in the state of Minnesota.</p>
                <p>Guarantee&nbsp;<br>
                    <br>
                    UNLESS OTHERWISE EXPRESSED, Ulodger LLC EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.&nbsp;<br>
                    <br>
                    Contact Information&nbsp;<br>
                    <br>
                    If you have any questions or comments about these our Terms of Service as outlined above, you can contact us at:<br>
                    <br>
                    Ulodger LLC<br>
                    3409 W Park Dr<br>
                    Burnsville, MN 55306<br>
                    US&nbsp;</p>

            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title: 'Terms and Conditions | '+ this.$parent.sitename,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>