<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div id="about-page" class="container">
                <h1 class="h1">Ulodger LLC Privacy Policy</h1>

                <p>This privacy policy has been compiled to better serve those who are concerned with how their &#39;Personally Identifiable Information&#39; (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                <p><br>
                    <b>What personal information do we collect from the people that visit our blog, website or app?</b></p>
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, credit card information or other details to help you with your experience.</p>
                <p>&nbsp;</p>
                <p><b>When do we collect information?</b></p>
                <p>We collect information from you when you register on our site, fill out a form or enter information on our site.</p>
                <p><br>
                    <b>How do we use your information?</b></p>
                <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> To improve our website in order to better serve you.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> To allow us to better service you in responding to your customer service requests.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> To quickly process your transactions.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> To ask for ratings and reviews of services or products</p>
                <p>&nbsp;</p>
                <p><b>How do we protect your information?</b></p>
                <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.</p>
                <p>We use regular Malware Scanning.</p>
                <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
                <p>We implement a variety of security measures when a user places an order enters, submits, or accesses their information to maintain the safety of your personal information.</p>
                <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
                <p><br>
                    <b>Do we use &#39;cookies&#39;?</b></p>
                <p>Yes. Cookies are small files that a site or its service provider transfers to your computer&#39;s hard drive through your Web browser (if you allow) that enables the site&#39;s or service provider&#39;s systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
                <p><br>
                    <b>We use cookies to:</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Understand and save user&#39;s preferences for future visits.</p>
                <p><br>
                    You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser&#39;s Help Menu to learn the correct way to modify your cookies.</p>
                <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.It won&#39;t affect the user&#39;s experience that make your site experience more efficient and may not function properly.</p>
                <p><br>
                    <b>Third-party disclosure</b></p>
                <p><br>
                    <b>Do we disclose the information we collect to Third-Parties?</b></p>
                <p>We sell, trade, or otherwise transfer to outside parties your name, address, city, town, any form or online contact identifier email, name of chat account etc. Personally Identifiable Information.</p>
                <p><br>
                    <b>Third-party links</b></p>
                <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
                <p><br>
                    <b>Google</b></p>
                <p>Google&#39;s advertising requirements can be summed up by Google&#39;s Advertising Principles. They are put in place to provide a positive experience for users. https://support.google.com/adwordspolicy/answer/1316548?hl=en</p>
                <p>We have not enabled Google AdSense on our site but we may do so in the future.</p>
                <p><br>
                    <b>California Online Privacy Protection Act</b></p>
                <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law&#39;s reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</p>
                <p><br>
                    <b>According to CalOPPA, we agree to the following:</b></p>
                <p>Users can visit our site anonymously.</p>
                <p>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.</p>
                <p>Our Privacy Policy link includes the word &#39;Privacy&#39; and can easily be found on the page specified above.</p>
                <p><br>
                    You will be notified of any Privacy Policy changes:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> On our Privacy Policy Page</p>
                <p>Can change your personal information:</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> By logging in to your account</p>
                <p><br>
                    <b>How does our site handle Do Not Track signals?</b></p>
                <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                <p><br>
                    <b>Does our site allow third-party behavioral tracking?</b></p>
                <p>It&#39;s also important to note that we do not allow third-party behavioral tracking</p>
                <p><br>
                    <b>COPPA (Children Online Privacy Protection Act)</b></p>
                <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children&#39;s Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States&#39; consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children&#39;s privacy and safety online.</p>
                <p>We do not specifically market to children under the age of 13 years old.</p>
                <p>Do we let third-parties, including ad networks or plug-ins collect PII from children under 13?</p>
                <p><br>
                    <b>Fair Information Practices</b></p>
                <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>
                <p><b>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</b></p>
                <p>We will notify you via email</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Within 7 business days</p>
                <p><br>
                    We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
                <p><br>
                    <b>CAN SPAM Act</b></p>
                <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>
                <p><b>We collect your email address in order to:</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Send information, respond to inquiries, and/or other requests or questions</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Process orders and to send information and updates pertaining to orders.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Send you additional information related to your product and/or service</p>
                <p><br>
                    <b>To be in accordance with CANSPAM, we agree to the following:</b></p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Not use false or misleading subjects or email addresses.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Identify the message as an advertisement in some reasonable way.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Include the physical address of our business or site headquarters.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Monitor third-party email marketing services for compliance, if one is used.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Honor opt-out/unsubscribe requests quickly.</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>&bull;</b> Allow users to unsubscribe by using the link at the bottom of each email.</p>
                <p><br>
                    <b>If at any time you would like to unsubscribe from receiving future emails, you can email us at</b></p>
                <p>ulodger@gmail.com and we will promptly remove you from <b>ALL</b> correspondence.</p>
                <p><br>
                    <b>Contacting Us</b></p>
                <p>If there are any questions regarding this privacy policy, you may contact us using the information below.</p>
                <p>www.ulodger.com</p>
                <p>3409 W Park Drive</p>
                <p>Burnsville, Minnesota 55306</p>
                <p>ulodger@gmail.com</p>
                <p><br>
                    Last Edited on 2017-12-25</p>
                <p>&nbsp;</p>


            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>

    export default {
        data(){
            return {
                title: 'Ulodger LLC Privacy Policy | '+ this.$parent.sitename,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageAbout.');
            $('body').removeClass('front');
        }
    }
</script>