<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div id="about-page" class="container">
                <h1 class="h1 text-center">Contact Us</h1>
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <form class="form-contact" v-on:submit="submitContact('contact', $event)" data-vv-scope="contact" accept-charset="UTF-8" role="form">
                            
                            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                            
                            <div class="form-group">
                                <label for="name">Your name</label>
                                <input v-model="contact.name" v-validate="'required'" type="text" class="form-control" name="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Your email</label>
                                <input v-model="contact.email" v-validate="'required|email'" type="email" class="form-control" name="email">
                            </div>
                            <div class="form-group">
                                <label for="subject">Subject</label>
                                <input v-model="contact.subject" v-validate="'required'" type="text" class="form-control" name="subject">
                            </div>
                            <div class="form-group">
                                <label for="message">Your message</label>
                                <textarea v-model="contact.message" v-validate="'required'" class="form-control" name="message" rows="5"></textarea>
                            </div>
                            <button class="btn btn-green">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Contact | '+ this.$parent.sitename,
                loading: false,
                contact: {
                    name: '',
                    email: '',
                    subject: '',
                    message: '',
                },
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            submitContact: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/contact', this.contact).then(response => {
                        this.loading = false;
                        this.$notify({
                            type: 'success',
                            title: 'Success!',
                            text: 'Message Sent.',
                        });
                        this.contact.name = '';
                        this.contact.email = '';
                        this.contact.subject = '';
                        this.contact.message = '';
                    }).catch(error => {
                        
                    });
                }).catch(() => {
                    this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageContact.');
            $('body').removeClass('front');
        }
    }
</script>