<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div id="about-page" class="container">
                <h1 class="h1">About Us</h1>
                <p>
                    ULodger is a unique, one stop shop for those individuals in search of a smart and convenient way to rent. We focus on connecting our Lodgers with trustworthy property-owners. Our inspiration and passion comes from the founder of ULodger recognizing, first hand, the challenges, yet success that come with finding a dependable and affordable home to rent. ULodger emphasizes on an enjoyable experience for Lodgers, while being the simplest method for home owners to turn their empty rooms and extra space into reliable income.
                </p>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'About Us | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageAbout.');
            $('body').removeClass('front');
        }
    }
</script>