<template>
    <div class="component">
        <headers></headers>
        <div class="h-im">
            <div class="container">
                <div class="slog">Hosting with ULodger</div>
            </div>
        </div>
        <div id="main">
            
                <div id="host-page" class="container">
                    <div id="block-ulodger">
                <h1>ULodger is a student housing marketplace.</h1>
                <p class="sub">Some of the benefits of becoming a Host</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-1"></i></div>
                        <h2>Additional income</h2>
                        <p>From saving for home repairs to taking a dream trip, use the extra income to fund your passions.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-2"></i></div>
                        <h2>Flexibility</h2>
                        <p>You set your price and decide when you want to host and how often.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-3"></i></div>
                        <h2>Building relationship</h2>
                        <p>Get tips and tools and connect with hosts like you from around the world.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-4"></i></div>
                        <h2>Host Protection Program</h2>
                        <p>The Host Guarantee protects your home and your stuff from accidental damage. Every host with a listing on Airbnb is eligible for coverage at no additional cost. You don’t have to do anything to sign up.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-5"></i></div>
                        <h2>Identity Verification</h2>
                        <p>ULodger has multiple methods of identifiying host and student. We require users to provide their legal names and verify their email, phone number and provide goverment issued ID.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="icons"><i class="im-ico im-ico-6"></i></div>
                        <h2>We are help to help</h2>
                        <p>From getting your home ready and choosing a price, to understanding your responsibilities under local laws — we’ve got tools and resources for you.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div id="block-how-it-works">
                <h2 class="h1">How it works</h2>
                <div class="btn-group btn-group-justified hidden-xs hidden-sm">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-default"><span>01</span> Create an account</a>
                    </div>
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-default"><span>02</span> Create a listing</a>
                    </div>
                    <div class="btn-group btn-group-last">
                        <a href="javascript:void(0);" class="btn btn-default"><span>03</span> ULoger verified students will beable to request loading</a>
                    </div>
                </div>
                <div class="btn-group btn-group-vertical visible-xs visible-sm">
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-default"><span>01</span> Create an account</a>
                    </div>
                    <div class="btn-group">
                        <a href="javascript:void(0);" class="btn btn-default"><span>02</span> Create a listing</a>
                    </div>
                    <div class="btn-group btn-group-last">
                        <a href="javascript:void(0);" class="btn btn-default"><span>03</span> ULoger verified students will beable to request loading</a>
                    </div>
                </div>
            </div>
                </div>
        
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'Hosts | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageHosts.');
            $('body').removeClass('front');
        }
    }
</script>