<template>
    <div class="container">
        <!--<pre>{{ $data }}</pre>-->
        <div id="form-found">
            <form accept-charset="UTF-8" role="form" class="form-found">
                <div class="form-group details">
                    <div class="input-group input-group-address">
                        <span class="input-group-addon"><i class="glyph-icon flaticon-placeholder" aria-hidden="true"></i></span>
                        <field-school
                                :name="'schoolslocaton'"
                                :placeholder="'School name, metro or city'"
                                v-model="find.schoolslocaton"
                                @changeSchool="formOnChange"
                        ></field-school>
                        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">

                        <div class="row m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Date</label>
                            </div>
                            <div class="col lg-3 p-r-0">
                                <div class="form-group">
                                    <div class="input-group">
                                        <datepicker
                                                v-model="move_in"
                                                :placeholder="'Move-in'"
                                                name="move_in"
                                                :bootstrapStyling="true"
                                                :format="'MM/dd/yyyy'"
                                                @selected="onSelectMoveIn"
                                                @input="formOnChange"
                                        ></datepicker>
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col lg-3 p-r-0">
                                <div class="form-group">
                                    <div class="input-group">
                                        <datepicker
                                                v-model="move_out"
                                                :placeholder="'Move-out'"
                                                name="move_out"
                                                :bootstrapStyling="true"
                                                :format="'MM/dd/yyyy'"
                                                @input="formOnChange"
                                        ></datepicker>
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group">
                                    <field-select-one
                                            :name="'bedrooms'"
                                            :options="settings.bedrooms"
                                            v-model="find.bedrooms"
                                            :title="'Bebrooms'"
                                            @onSelect="formOnChange"
                                    ></field-select-one>
                                </div>
                            </div>
                        </div>

                        <div class="row m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Room Type</label>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-1">
                                        <input id="ck-1" @change="formOnChange" v-model="find.rent_out" :value="1" type="checkbox">
                                        <span></span>
                                        <i class="filter-private-room hotels-uniF105"></i>
                                        <em>Private</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-2">
                                        <input id="ck-2" @change="formOnChange" v-model="find.rent_out" :value="2" type="checkbox">
                                        <span></span>
                                        <i class="filter-shared-room hotels-uniF10D2"></i>
                                        <em>Shared</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-3">
                                        <input id="ck-3" @change="formOnChange" v-model="find.rent_out" :value="3" type="checkbox">
                                        <span></span>
                                        <i class="filter-house-room hotels-uniF1232"></i>
                                        <em class="em">Whole<br>House</em>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col lg-2">
                                <label class="bbb">Distance</label>
                            </div>
                            <div class="col lg-10 p-t-5">
                                <vue-slider
                                        ref="miles"
                                        v-model="find.distance"
                                        :min="0"
                                        :max="50"
                                        @drag-end="formOnChange"
                                >
                                    <template slot="tooltip" scope="{ value }">
                                        <div class="diy-tooltip">
                                            {{ value }} miles
                                        </div>
                                    </template>
                                </vue-slider>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">

                        <div class="row m-t-75 m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Bath Type</label>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-4">
                                        <input id="ck-4" @change="formOnChange" v-model="find.bath_type" :value="1" type="checkbox">
                                        <span></span>
                                        <i class="glyph-icon flaticon-bathtub"></i>
                                        <em>Private</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-5">
                                        <input id="ck-5" @change="formOnChange" v-model="find.bath_type" :value="2" type="checkbox">
                                        <span></span>
                                        <i class="glyph-icon flaticon-bathtub"><div class="glyph-icon flaticon-toilet"></div></i>
                                        <em>Shared</em>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col lg-2">
                                <label class="bbb">Price Range</label>
                            </div>
                            <div class="col lg-6 p-t-5">
                                <vue-slider
                                        ref="price"
                                        v-model="find.price"
                                        :min="settings.price.min"
                                        :max="settings.price.max"
                                        @drag-end="formOnChange"
                                >
                                    <template slot="tooltip" scope="{ value }">
                                        <div class="diy-tooltip">
                                            $ {{ value }}
                                        </div>
                                    </template>
                                </vue-slider>
                            </div>
                            <div class="col lg-4 text-right">
                                <a href="/listing/find" class="reset">RESET FILTERS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    import Datepicker from 'vuejs-datepicker';
    import vueSlider from 'vue-slider-component';
    Vue.component('field-school', require('../fields/FieldSchool.vue'));

    export default {
        components: {
            Datepicker, vueSlider
        },
        data(){
            return {
                find: {
                    schoolslocaton: [],
                    move_in: null,
                    move_out: null,
                    bedrooms: null,
                    rent_out: [],
                    bath_type: [],
                    distance: 30,
                    price: [0, 500],
                },
                settings:{
                    bedrooms: null,
                    price:{
                        min:0,
                        max:0,
                    }
                }
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/bedrooms').then(response => {
                this.settings.bedrooms = response.data;
            });
            //
            axios.get('/api/v1/listing/minmaxprice').then(response => {
                this.settings.price.min = parseInt(response.data[0]);
                this.settings.price.max = parseInt(response.data[1]);
                this.find.price = response.data;
            });
        },
        methods:{
            onSelectMoveIn: function (date) {
                var d = new Date(date);
                d.setDate(d.getDate()+30);
                this.move_out = d;
            },
            formOnChange: function (e) {
                //console.log(e);
                EventBus.$emit('onFindListing', this.find);
            },
        },
        computed: {
            move_in: {
                set: function (date) {
                    this.find.move_in = date.toLocaleDateString('en-US');
                },
                get: function () {
                    return this.find.move_in;
                }
            },
            move_out: {
                set: function (date) {
                    this.find.move_out = date.toLocaleDateString('en-US');
                },
                get: function () {
                    return this.find.move_out;
                }
            }
        },
        watch: {
            'find.schoolslocaton': function (data) {
                if(Object.keys(data).length)
                {
                    EventBus.$emit('onFindListing', this.find);
                }
            }
        },
        mounted() {
            var vm = this;
            var find = localStorage.getItem('find');
            if(find)
            {
                find = JSON.parse(find);
                vm.find.schoolslocaton = find.schoolslocaton;
                vm.find.move_in = find.move_in;
                vm.find.move_out = find.move_out;
                vm.find.bedrooms = find.bedrooms;
                vm.find.distance = find.distance;
                vm.find.price = find.price;
                EventBus.$emit('onFindListing', vm.find);
                localStorage.removeItem('find');
            }
        }
    }
</script>