<template>
    <div id="add-host-page-vue" class="container">
        <template v-if="edit">
            <h1 class="dsh text-center">Finish Edit</h1>
            <h3 class="text-center">Your listing has been changed.</h3>
        </template>
        <template v-else>
            <h1 class="dsh text-center">Finish</h1>
            <h3 class="text-center">Congratulations! Soon you will start receiving reservations.</h3>
        </template>

    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                edit: false,
            }
        },
        methods: {
            create: function () {

                var step1 = JSON.parse(localStorage.getItem('step1'));
                var step2 = JSON.parse(localStorage.getItem('step2'));
                var step3 = JSON.parse(localStorage.getItem('step3'));
                var step4 = JSON.parse(localStorage.getItem('step4'));
                var step5 = JSON.parse(localStorage.getItem('step5'));
                var step6 = JSON.parse(localStorage.getItem('step6'));
                var step7 = JSON.parse(localStorage.getItem('step7'));

                var add = {};

                _.forEach(step1, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step2, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step3, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step4, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step5, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step6, function (v, k) {
                    add[k] = v;
                });

                _.forEach(step7, function (v, k) {
                    add[k] = v;
                });


                if(this.edit)
                {
                    axios.put('/api/v1/listing/update/'+this.$route.params.slug, add).then(response => {
                        localStorage.removeItem('step1');
                        localStorage.removeItem('step2');
                        localStorage.removeItem('step3');
                        localStorage.removeItem('step4');
                        localStorage.removeItem('step5');
                        localStorage.removeItem('step6');
                        localStorage.removeItem('step7');
                        localStorage.removeItem('host');
                        localStorage.removeItem('currentTab');
                        localStorage.removeItem('editListing');
                        localStorage.removeItem('edit');
                        setTimeout(function () {
                            window.location.href = '/listing/'+response.data.slug;
                        }, 2000);

                    }).catch(error => {

                    });
                }
                else
                {
                    axios.post('/api/v1/listing/create', add).then(response => {
                        localStorage.removeItem('step1');
                        localStorage.removeItem('step2');
                        localStorage.removeItem('step3');
                        localStorage.removeItem('step4');
                        localStorage.removeItem('step5');
                        localStorage.removeItem('step6');
                        localStorage.removeItem('step7');
                        localStorage.removeItem('host');
                        localStorage.removeItem('currentTab');
                        setTimeout(function () {
                            window.location.href = '/listing/'+response.data.slug;
                        }, 2000);

                    }).catch(error => {

                    });
                }

            }
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 8);
            var editListing = localStorage.getItem('editListing');
            if(editListing)
            {
                vm.edit = true;
            }
            var step1 = localStorage.getItem('step1');
            if(step1)
            {
                vm.create();
            }
        }
    }
</script>