<template>
    <form v-on:submit="submitStep2('submitStep2', $event)" id="submitStep2"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">How many Lodgers can your place accommodate?</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group form-group-role">
                    <label>This room is for:</label>
                    <label for="smoking1" class="radiobutton radiobutton-green">
                        <input id="smoking1" v-model="add.smoking" name="smoking" value="1" type="radio"><span></span> Male
                    </label>
                    <label for="smoking2" class="radiobutton radiobutton-green">
                        <input id="smoking2" v-model="add.smoking" name="smoking" value="2" type="radio"><span></span> Female
                    </label>
                    <label for="smoking3" class="radiobutton radiobutton-green">
                        <input id="smoking3" v-model="add.smoking" name="smoking" value="3" type="radio"><span></span> Either is fine
                    </label>
                </div>
                <div class="form-group">
                    <label>Number of lodgers you are willing to host</label>
                    <field-select-one
                            :name="'guests'"
                            :options="settings.guests"
                            v-model="add.guests"
                    ></field-select-one>
                </div>
                <div class="form-group">
                    <label>How many bedrooms can lodgers use?</label>
                    <field-select-one
                            :name="'bedrooms'"
                            :options="settings.bedrooms"
                            v-model="add.bedrooms"
                    ></field-select-one>
                </div>
                <div class="form-group">
                    <label>How many beds can lodgers use?</label>
                    <field-select-one
                            :name="'beds'"
                            :options="settings.beds"
                            v-model="add.beds"
                    ></field-select-one>
                </div>
                <div class="form-group form-group-role">
                    <label>Bath Type:</label>
                    <label for="bath_type1" class="radiobutton radiobutton-green">
                        <input id="bath_type1" v-model="add.bath_type" name="bath_type" value="1" type="radio"><span></span> Private bath
                    </label>
                    <label for="bath_type2" class="radiobutton radiobutton-green">
                        <input id="bath_type2" v-model="add.bath_type" name="bath_type" value="2" type="radio"><span></span> Shared bath
                    </label>
                </div>
                <div class="form-group">
                    <label>How many bathrooms?</label>
                    <field-select-one
                            :name="'bathrooms'"
                            :options="settings.bathrooms"
                            v-model="add.bathrooms"
                    ></field-select-one>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('field-select-one', require('../fields/FieldSelectOne.vue'));

    export default {
//        props: {
//            profile: {
//                type: [String, Number, Array, Object],
//                default: null,
//            },
//        },
        data(){
            return {
                settings:{
                    guests:[],
                    bedrooms:[],
                    beds: [],
                    bathrooms: [],
                },
                add:{
                    smoking: null,
                    guests: null,
                    bedrooms: null,
                    beds: null,
                    bath_type: null,
                    bathrooms: null,
                },
                validate:{
                    rules:{
                        'smoking': {
                            label: 'This room is for',
                            required: true,
                            radio: true,
                        },
                        'guests': {
                            label: 'Number of lodgers you are willing to host',
                            required: true,
                        },
                        'bedrooms': {
                            label: 'How many bedrooms can lodgers use?',
                            required: true,
                        },
                        'beds': {
                            label: 'How many beds can lodgers use?',
                            required: true,
                        },
                        'bath_type': {
                            label: 'Bath Type',
                            required: true,
                            radio: true,
                        },
                        'bathrooms': {
                            label: 'How many bathrooms?',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep2: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step2',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/guests').then(response => {
                this.settings.guests = response.data;
            });
            //
            axios.get('/api/v1/listing/get/bedrooms').then(response => {
                this.settings.bedrooms = response.data;
            });
            //
            axios.get('/api/v1/listing/get/beds').then(response => {
                this.settings.beds = response.data;
            });
            //
            axios.get('/api/v1/listing/get/bathrooms').then(response => {
                this.settings.bathrooms = response.data;
            });
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 2);
            var step2 = localStorage.getItem('step2');
            if(step2)
            {
                vm.add = JSON.parse(step2);
            }
        }
    }
</script>