<template>
    <form v-on:submit="submitStep4('submitStep4', $event)" id="submitStep4"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">What amenities do you offer?</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <div class="col-lg-4" v-for="row in amenitiesRows">
                        <div v-if="settings.amenities.length" v-for="amenities4 in row" class="form-group ck2">
                            <label :for="'amenities-'+amenities4.id" class="nn">
                                <input v-model="add.amenities" :id="'amenities-'+amenities4.id" :name="'amenities_'+amenities4.id" :value="amenities4.id" type="checkbox">
                                <span></span>
                                {{ amenities4.name }}
                            </label>
                        </div>
                    </div>
                </div>
                <h2>Safety amenities</h2>
                <div class="row">
                    <div class="col-lg-4" v-for="row in safetyRows">
                        <div v-if="settings.safety.length" v-for="amenities5 in row" class="form-group ck2">
                            <label :for="'amenities-'+amenities5.id" class="nn">
                                <input v-model="add.amenities" :id="'amenities-'+amenities5.id" :name="'amenities_'+amenities5.id" :value="amenities5.id" type="checkbox">
                                <span></span>
                                {{ amenities5.name }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                settings:{
                    amenities:[],
                    safety:[],
                },
                add:{
                    amenities: [],
                },
                validate:{
                    rules:{
                        'field': {
                            label: 'What amenities do you offer?',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep4: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step4',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/amenities').then(response => {
                this.settings.amenities = response.data;
            });
            //
            axios.get('/api/v1/listing/get/safety').then(response => {
                this.settings.safety = response.data;
            });
        },
        computed: {
            amenitiesRows: function () {
                return _.chunk(_.toArray(this.settings.amenities), 2);
            },
            safetyRows: function () {
                return _.chunk(_.toArray(this.settings.safety), 2);
            }
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 4);
            var step4 = localStorage.getItem('step4');
            if(step4)
            {
                vm.add = JSON.parse(step4);
            }
        }
    }
</script>