<template>
    <form v-on:submit="submitStep6('submitStep6', $event)" id="submitStep6"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">Pictures of my space</h1>
        <div class="row">
            <div class="col-lg-12">
                <field-upload-foto
                        :folder="'photo'"
                        v-model="add.photo"
                ></field-upload-foto>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('field-upload-foto', require('../fields/FieldUploadFoto.vue'));
    export default {
        data(){
            return {
                add:{
                    photo: [],
                },
                validate:{
                    rules:{
                        'field': {
                            label: 'What amenities do you offer?',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep6: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step6',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            }
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 6);
            var step6 = localStorage.getItem('step6');
            if(step6)
            {
                vm.add = JSON.parse(step6);
            }
        }
    }
</script>