<template>
    <form v-on:submit="submitStep3('submitStep3', $event)" id="submitStep3"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">Where’s your place located?</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    <label>Address</label>
                    <field-address
                            :name="'location'"
                            :placeholder="'Address'"
                            v-model="add.location"
                    ></field-address>
                </div>
            </div>
            <div class="col-lg-12 m-b-20">
                <field-address-map :name="'point'" v-model="add.point"></field-address-map>
            </div>
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    <label>Nearby Schools</label>
                    <div class="help-block">Choose up to 3 nearby schools or locations</div>
                    <field-school
                            :name="'schoolslocaton[0]'"
                            :placeholder="'School name, metro or city'"
                            v-model="add.schoolslocaton.one"
                    ></field-school>
                </div>
                <div class="form-group">
                    <field-school
                            :name="'schoolslocaton[1]'"
                            :placeholder="'School name, metro or city'"
                            v-model="add.schoolslocaton.two"
                    ></field-school>
                </div>
                <div class="form-group">
                    <field-school
                            :name="'schoolslocaton[2]'"
                            :placeholder="'School name, metro or city'"
                            v-model="add.schoolslocaton.tree"
                    ></field-school>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('field-address', require('../fields/FieldAddress.vue'));
    Vue.component('field-address-map', require('../fields/FieldMapAddress.vue'));
    Vue.component('field-school', require('../fields/FieldSchool.vue'));

    export default {
        data(){
            return {
                add:{
                    location: {},
                    point: {},
                    schoolslocaton: {
                        one: {},
                        two: {},
                        tree: {},
                    },
                },
                validate:{
                    rules:{
                        'location[address]': {
                            label: 'Address',
                            required: true,
                        },
                        'schoolslocaton[0][address]': {
                            label: 'Nearby Schools',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep3: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step3',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            }
        },
        beforeCreate: function () {

        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 3);
            var step3 = localStorage.getItem('step3');
            if(step3)
            {
                vm.add = JSON.parse(step3);
            }
        }
    }
</script>