<template>
    <form v-on:submit="submitStep1('submitStep1', $event)" id="submitStep1"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">What kind of place are you listing?</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    <label>I want to rent out</label>
                    <field-select-one
                        :name="'rent_out'"
                        :options="settings.rent_out"
                        v-model="add.rent_out"
                    ></field-select-one>
                </div>
                <div class="form-group">
                    <label>Property Type</label>
                    <field-select-one
                            :name="'property_type'"
                            :options="settings.property_type"
                            v-model="add.property_type"
                    ></field-select-one>
                </div>
                <div class="form-group">
                    <label>Title</label>
                    <input v-model="add.name" placeholder="For example: Spacious Room in a Townhouse Near GMU" name="name" class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea v-model="add.description" rows="3" placeholder="Short description about stay" name="description" cols="50" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('field-select-one', require('../fields/FieldSelectOne.vue'));

    export default {
//        props: {
//            profile: {
//                type: [String, Number, Array, Object],
//                default: null,
//            },
//        },
        data(){
            return {
                settings:{
                    rent_out:[],
                    property_type: [],
                },
                add:{
                    rent_out: null,
                    property_type: null,
                    name: null,
                    description: null,
                },
                validate:{
                    rules:{
                        'rent_out': {
                            label: 'I want to rent out',
                            required: true,
                        },
                        'property_type': {
                            label: 'Property Type',
                            required: true,
                        },
                        'name': {
                            label: 'Title',
                            required: true,
                        },
                        'description': {
                            label: 'Description',
                            required: true,
                        }
                    }
                },
            }
        },
        methods: {
            submitStep1: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step1',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/rentout').then(response => {
                this.settings.rent_out = response.data;
            });
            //
            axios.get('/api/v1/listing/get/propertytype').then(response => {
                this.settings.property_type = response.data;
            });
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 1);
            //console.log(this.$choose.rentout());
            var step1 = localStorage.getItem('step1');
            if(step1)
            {
                vm.add = JSON.parse(step1);
            }
            //
            EventBus.$on('editListing', function (edit) {
                vm.add = edit.step1;
            });

        }
    }
</script>