<template>
    <form v-on:submit="submitStep5('submitStep5', $event)" id="submitStep5"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">What spaces can lodgers use?</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div v-if="settings.spaces.length" v-for="spaces in settings.spaces" class="form-group ck2">
                    <label :for="'spaces-'+spaces.id" class="nn">
                        <input v-model="add.spaces" :id="'spaces-'+spaces.id" :name="'spaces_'+spaces.id" :value="spaces.id" type="checkbox">
                        <span></span>
                        {{ spaces.name }}
                    </label>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Next</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                settings:{
                    spaces:[],
                },
                add:{
                    spaces: [],
                },
                validate:{
                    rules:{
                        'field': {
                            label: 'What amenities do you offer?',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep5: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step5',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            }
        },
        beforeCreate: function () {
            axios.get('/api/v1/listing/get/spaces').then(response => {
                this.settings.spaces = response.data;
            });
        },
        mounted() {
            var vm = this;
            localStorage.setItem('currentTab', 5);
            var step5 = localStorage.getItem('step5');
            if(step5)
            {
                vm.add = JSON.parse(step5);
            }
        }
    }
</script>