<template>
    <form v-on:submit="submitStep7('submitStep7', $event)" id="submitStep7"  accept-charset="UTF-8" role="form">
        <h1 class="dsh text-center">My space is available</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <input v-model="add.available.from" title="From" placeholder="From" name="available_from" class="form-control move_in" type="text">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <input v-model="add.available.to" title="To" placeholder="To" name="available_to" class="form-control move_out" type="text">
                    </div>
                </div>
            </div>
        </div>
        <h1 class="dsh text-center">I want to rent this stay for</h1>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input v-model="add.price" title="Price" name="price" class="form-control" type="number" min="0">
                    <span class="input-group-addon">Monthly</span>
                </div>
            </div>
        </div>
        <div id="tab-host-button">
            <a href="javascript:void(0);" @click="prevTab" class="btn btn-gr w150 pull-left" id="host-add-back">Back</a>
            <button class="btn btn-green w150 pull-right" id="host-add-next">Finish</button>
        </div>
    </form>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                add:{
                    available:{
                        from: null,
                        to: null,
                    },
                    price: null,
                },
                validate:{
                    rules:{
                        'available_from': {
                            label: 'From',
                            required: true,
                        },
                        'available_to': {
                            label: 'To',
                            required: true,
                        },
                        'price': {
                            label: 'Price',
                            required: true,
                        },
                    }
                },
            }
        },
        methods: {
            submitStep7: function(scope, e)
            {
                e.preventDefault();
                var valid = this.$validform.validate(e, scope, this.validate);
                if(valid)
                {
                    localStorage.setItem('step7',JSON.stringify(this.add));
                    this.$emit('nextStep');
                }
                else
                {
                    var err = this.$validform.getErrors(scope);
                    this.$msg.err(err, this.$notify, 'Error!');
                }
            },
            prevTab: function () {
                this.$emit('prevStep');
            },
            changeDate: function()
            {
                var _this = this;
                $('.move_in').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                    _this.add.available.from = d.toLocaleDateString("en-US", options);

                    d.setDate(d.getDate()+30);
                    $('.move_out').data("DateTimePicker").minDate(d);
                    //
                    $(this).data('DateTimePicker').hide();
                });

                $('.move_out').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.add.available.to = d.toLocaleDateString("en-US", options);
                    //
                    $(this).data('DateTimePicker').hide();
                });
            },
        },
        mounted() {
            var vm = this;
            this.changeDate();
            localStorage.setItem('currentTab', 7);
            var step7 = localStorage.getItem('step7');
            if(step7)
            {
                vm.add = JSON.parse(step7);
            }
        }
    }
</script>