<template>
    <section id="reviews">
        <!--//-->
        <div id="block-host-reviews">
            <!--//-->
            <div class="row">
                <div class="col-lg-9">
                    <div class="cell-rating">
                        <h2>{{ item.rating.reviews }} Reviews <field-rating-big :value="item.rating.rating"></field-rating-big></h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <p><label>Accuracy</label> <field-rating-star :value="item.rating.accuracy"></field-rating-star></p>
                                <p><label>Communication</label> <field-rating-star :value="item.rating.communication"></field-rating-star></p>
                                <p><label>Cleanliness</label> <field-rating-star :value="item.rating.cleanliness"></field-rating-star></p>
                            </div>
                            <div class="col-lg-6">
                                <p><label>Location</label> <field-rating-star :value="item.rating.location"></field-rating-star></p>
                                <p><label>Check In</label> <field-rating-star :value="item.rating.check_in"></field-rating-star></p>
                                <p><label>Value</label> <field-rating-star :value="item.rating.value"></field-rating-star></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
        <!--//-->
    </section>
</template>

<script>
    Vue.component('field-rating-big', require('../fields/FieldRaringBig.vue'));
    Vue.component('field-rating-star', require('../fields/FieldRatingStar.vue'));
    export default {
        props:{
            item:{
                type: [Object, Array],
                default: [],
            }
        },
        data(){
            return {

            }
        },
        methods: {

        },
        computed: {

        },
        mounted() {
        }
    }
</script>