<template>
    <div class="fix-nav affix-top">
        <nav id="page-host-slug-tab" class="container">
            <a href="javascript:void(0);" v-scroll-to="'#overview'">Overview</a>
            <a href="javascript:void(0);" v-scroll-to="'#reviews'">Reviews</a>
            <a href="javascript:void(0);" v-scroll-to="'#hosted'">The Host</a>
            <a href="javascript:void(0);" v-scroll-to="'#location'">Location</a>
        </nav>
    </div>
</template>