<template>
    <section id="location">
        <h2>Location</h2>
        <div id="host-slug-map"></div>
    </section>
</template>

<script>
    export default {
        props:{
            item:{
                type: [Object, Array],
                default: [],
            }
        },
        data(){
            return {
                getMap: function()
                {
                    if (this.item.location) {
                        var map = new GMaps({
                            div: '#host-slug-map',
                            lat: this.item.location.lat,
                            lng: this.item.location.lng,
                            zoom: 12,
                        });

                        map.drawCircle({
                            lat: this.item.location.lat,
                            lng: this.item.location.lng,
                            radius: 1000,
                            fillColor: '#2FD455',
                            fillOpacity: 0.8,
                            strokeWeight: 1,
                            strokeColor: '#2FD455',
                            //strokeColor:'#2FD455',
                        });
                    }

                }
            }
        },
        methods: {

        },
        mounted() {
            this.getMap();
        }
    }
</script>