<template>
    <section id="hosted">
        <div id="block-host-hosted">
            <div class="row">
                <div class="col-lg-9">
                    <h2><a href="">Hosted by {{ item.user.first_name }}</a></h2>
                    <div class="address"></div>
                    <div class="row m-b-25">
                        <div class="col-lg-4">
                            <div class="reviews"><span>{{ item.user.reviews }}</span> Reviews</div>
                        </div>
                        <div class="col-lg-4">
                            <div v-if="item.user.verified" class="verified"><span><i aria-hidden="true" class="fa fa-check"></i></span> Verified</div>
                        </div>
                    </div>
                    <p class="m-b-25">
                        <button-contact :item="item" :classBtn="'btn-green'"></button-contact>
                    </p>
                    <p>Response rate: <b>{{ item.user.rate }}%</b></p>
                    <p>Response time: <b>{{ item.user.time }}</b></p>
                </div>
                <div class="col-lg-3 text-right">
                    <router-link :to="{ name: 'user', params: { slug: item.user.slug }}" class="host-user">
                        <img :src="'/avatar/110x110/'+item.user.id" alt="" class="thumb-md img-circle">
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    Vue.component('button-contact', require('../buttons/ButtonContact.vue'));
    export default {
        props:{
            item:{
                type: [Object, Array],
                default: null,
            }
        },
        data(){
            return {
                hosted: null,
            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>