<template>
    <div>
        <div v-if="item.photo.values.length" id="carousel-host" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li v-for="(indicator, index) in item.photo.values" data-target="#carousel-host" :data-slide-to="index" v-bind:class="[(index == 0) ? 'active' : '']"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div v-for="(photo, index) in item.photo.values" v-bind:style="{ 'background-image': 'url(/uploads/photo/' + photo.filename + ')' }" v-bind:class="[(index == 0) ? 'active' : '', 'item']"></div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-host" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-host" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
        <div id="host-big-image" v-bind:style="{ 'background-image': 'url(/uploads/photo/nophoto3.png)' }" v-else></div>
    </div>
</template>
<script>
    export default {
        props:{
            item:{
                type: [Object, Array],
                default: [],
            }
        },
        data(){
            return {

            }
        },
        methods: {

        },
        mounted() {

        }
    }
</script>