<template>
    <section id="overview">
        <div id="block-host-overview">
            <!--//-->
            <div class="big-cell">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>{{ item.name }}</h1>
                        <div class="cell">
                            <div class="cell-data">{{ item.location.short_address }}</div>
                            <div class="cell-data rate-big">
                                <field-rating :value="item.rating.rating"></field-rating>
                            </div>
                            <div class="cell-data">{{ item.rating.reviews }} reviews</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <router-link :to="{ name: 'user', params: { slug: item.user.slug }}" target="_blank" class="host-user">
                            <img :src="'/avatar/110x110/'+item.user.id" alt="" class="thumb-md img-circle">
                            <span>{{ item.user.first_name }}</span>
                        </router-link>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <div class="row">
                    <div v-if="item.rent_out.value" class="col-lg-2 col-lg-offset-1 text-center">
                        <i :class="item.rent_out.ico"></i>
                        <br><br>
                        <span class="color-b">{{ item.rent_out.name }}</span>
                    </div>
                    <div v-if="item.bath_type.value" class="col-lg-2 text-center">
                        <i v-if="item.bath_type.value == 1" class="hotels-ico glyph-icon flaticon-bathtub"></i>
                        <i v-if="item.bath_type.value == 2" class="hotels-ico glyph-icon flaticon-bathtub"><i class="glyph-icon flaticon-toilet"></i></i>
                        <br><br>
                        <span class="color-b">{{ item.bath_type.name }}</span>
                    </div>
                    <div v-if="item.guests.value" class="col-lg-2 text-center">
                        <i class="hotels-ico hotels-uniF1074"></i>
                        <br><br>
                        <span v-if="item.guests.value > 1" class="color-b">{{ item.guests.value }} Lodgers</span>
                        <span v-else class="color-b">{{ item.guests.value }} Lodger</span>
                    </div>
                    <div v-if="item.bedrooms.value" class="col-lg-2 text-center">
                        <i class="hotels-ico hotels-uniF1462"></i>
                        <br><br>
                        <span class="color-b" v-if="item.bedrooms.value == 1">{{ item.bedrooms.value }} Bedroom</span>
                        <span class="color-b" v-else>{{ item.bedrooms.value }} Bedrooms</span>
                    </div>
                    <div v-if="item.beds.value" class="col-lg-2 text-center">
                        <i v-if="item.beds.value > 1" class="hotels-ico hotels-uniF102"></i>
                        <i v-else class="hotels-ico hotels-uniF118"></i>
                        <br><br>
                        <span v-if="item.beds.value > 1" class="color-b">{{ item.beds.value }} Beds</span>
                        <span v-else class="color-b">{{ item.beds.value }} Bed</span>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>About this listing</h3>
                <div v-if="item.description.value" class="description">{{ item.description.value }}</div>
                <button-contact :item="item" :classBtn="'btn-line'"></button-contact>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>Place accommodate</h3>
                <p v-if="item.smoking.name"><label>This room is for:</label> {{ item.smoking.name }}</p>
                <p v-if="item.bath_type.name"><label>Bath Type:</label> {{ item.bath_type.name }}</p>
                <p v-if="item.bathrooms.name"><label>Bathrooms:</label> {{ item.bathrooms.name }}</p>
            </div>
            <!--//-->
            <div class="big-cell" v-if="chunkedAmenities.length">
                <h3>Amenities</h3>
                <div class="row m-b-15" v-for="amenities in chunkedAmenities">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" v-for="amenitie in amenities">{{ amenitie.name }}</div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell" v-if="chunkedSpaces.length">
                <h3>Spaces</h3>
                <div class="row m-b-15" v-for="spaces in chunkedSpaces">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" v-for="space in spaces">{{ space.name }}</div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>Prices</h3>
                <p><label>${{ item.price.data }}</label> month</p>
            </div>

        </div>
    </section>
</template>

<script>
    Vue.component('field-rating', require('../fields/FieldRating.vue'));
    Vue.component('button-contact', require('../buttons/ButtonContact.vue'));
    export default {
        props:{
            item:{
                type: [Object, Array],
                default: [],
            }
        },
        data(){
            return {

            }
        },
        methods: {

        },
        computed: {
            chunkedAmenities () {
                return _.chunk(_.toArray(this.item.amenities.values), 2);
            },
            chunkedSpaces () {
                return _.chunk(_.toArray(this.item.spaces.values), 2);
            },
        },
        mounted() {

        }
    }
</script>