<template>
    <div :class="[(loading) ? 'op05' : '']">
        <div id="find-map"></div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                loading: false,
            }
        },
        methods: {
            init: function () {
                var vm = this;

                var map = L.map('find-map', {
                    center: [39.28669443236614, -102.216796875],
                    zoom: 5,
                    style: 'mapbox://styles/mapbox/streets-v10',
                });

                L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                    maxZoom: 20,
                    id: 'mapbox.streets',
                    accessToken: 'pk.eyJ1IjoidGFyaWtzIiwiYSI6ImNqYTlicmdlYjBkZ2IyeW51Mms3OXVwZWIifQ.M-0VZ03-meBiwk-v0GN8OA',

                }).addTo(map);

                var marker = [];
                var myIcon = [];

                EventBus.$on('setToMap', function (data) {
                    if(marker.length){
                        _.forEach(marker, function (m) {
                            map.removeLayer(m);
                        });
                    }
                    vm.loading = true;
                    setTimeout(function () {
                        _.forEach(data, function (v, i) {
                            myIcon[i] = L.divIcon({className: 'find-icon find-icon-'+v.id, html: '$'+v.price.data+'<span class="caret"></span>', iconSize: [50, 20], iconAnchor: [50, 20]});
                            marker[i] = L.marker([v.location.lat, v.location.lng], {icon: myIcon[i], id: v.id}).addTo(map);

                            marker[i].on('mouseover',function(e) {
                                $('.tpl-find-listing-'+v.id).addClass('hov');
                                marker[i].setZIndexOffset(100);
                            });
                            marker[i].on('mouseout',function(e) {
                                $('.tpl-find-listing-'+v.id).removeClass('hov');
                                marker[i].setZIndexOffset(null);
                            });


                        });
                        var group = L.featureGroup(marker);
                        map.fitBounds(group.getBounds());
                        vm.loading = false;
                    }, 2000);
                });



                EventBus.$on('appendToMap', function (data) {
                    vm.loading = true;
                    setTimeout(function () {
                        _.forEach(data, function (v, i) {
                            myIcon[i] = L.divIcon({className: 'find-icon find-icon-'+v.id, html: '$'+v.price.data+'<span class="caret"></span>', iconSize: [50, 20], iconAnchor: [50, 20]});
                            marker[i] = L.marker([v.location.lat, v.location.lng], {icon: myIcon[i], id: v.id}).addTo(map);

                            marker[i].on('mouseover',function(e) {
                                $('.tpl-find-listing-'+v.id).addClass('hov');
                                marker[i].setZIndexOffset(100);
                            });
                            marker[i].on('mouseout',function(e) {
                                $('.tpl-find-listing-'+v.id).removeClass('hov');
                                marker[i].setZIndexOffset(null);
                            });

                        });
                        var group = L.featureGroup(marker);
                        map.fitBounds(group.getBounds());
                        vm.loading = false;
                    }, 2000);
                });

                EventBus.$on('mouseoverPoint', function (item) {
                    if(marker.length)
                    {
                        _.forEach(marker, function (v) {
                            if(v.options.id == item.id)
                            {
                                v.setZIndexOffset(100);
                            }
                        });
                    }
                });

                EventBus.$on('mouseleavePoint', function (item) {
                    if(marker.length)
                    {
                        _.forEach(marker, function (v) {
                            if(v.options.id == item.id)
                            {
                                v.setZIndexOffset(null);
                            }
                        });
                    }
                });


            }
        },
        computed: {

        },
        mounted() {
            var vm = this;
            this.init();
        }
    }
</script>