<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <tab-listing></tab-listing>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('tab-listing', require('./TabCreateListing.vue'));

    export default {
        data(){
            return {
                title: 'Edit Listing | '+ this.$parent.sitename,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                var vm = this;
                this.$Progress.start();
                axios.get('/api/v1/listing/edit/'+this.$route.params.slug).then(response => {
                    //localStorage.setItem('step1',JSON.stringify(this.add));
                    _.forEach(response.data, function (v,k) {
                        localStorage.setItem(k,JSON.stringify(v));
                    });
                    EventBus.$emit('editListing', response.data);
                    localStorage.setItem('editListing', true);

                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>