<template>
    <div class="component" v-if="!loadData">
        <headers></headers>
        <!--//-->
        <listing-carousel :item="item"></listing-carousel>
        <listing-menu></listing-menu>
        <!--//-->
        <div id="main">
            <div id="page-host-slug" class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <listing-overview :item="item"></listing-overview>
                        <listing-reviews :item="item"></listing-reviews>
                        <listing-hosted :item="item"></listing-hosted>
                        <listing-location :item="item"></listing-location>
                    </div>
                    <div class="col-lg-4 p-l-lg-60">
                        <div class="my-affix affix-top">
                            <form-book :item="item"></form-book>
                        </div>
                    </div>
                </div>
            </div>
            <!--<pre>{{ $data }}</pre>-->
        </div>
        <!--//-->
        <footers></footers>
    </div>
</template>

<script>

    Vue.component('listing-carousel', require('../listing/ListingCarousel.vue'));
    Vue.component('listing-menu', require('../listing/ListingMenu.vue'));
    Vue.component('listing-overview', require('../listing/ListingOverview.vue'));
    Vue.component('listing-reviews', require('../listing/ListingReviews.vue'));
    Vue.component('listing-hosted', require('../listing/ListingHosted.vue'));
    Vue.component('listing-location', require('../listing/ListingLocation.vue'));
    Vue.component('form-book', require('../forms/FormBook.vue'));


    export default {
        data(){
            return {
                title: 'Listing | '+ this.$parent.sitename,
                item: [],
                loadData: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.getHost(to);
            });
        },
        methods: {
            getHost: function(to)
            {
                this.loadData = true;
                this.$Progress.start();
                axios.get('/api/v1/listing/'+to.params.slug).then(response => {
                    this.item = response.data;
                    this.title = response.data.name + ' | '+this.$parent.sitename;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    if(error.response.status == 404)
                    {
                        window.location.href = '/';
                    }
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>