<template>
    <div class="component">
        <headers></headers>
        <block-find-listing></block-find-listing>
        <div id="main" class="prl">
            <div id="page-host-found" class="container">
                <h1>Found <span>{{ (items && items.data.length > 0) ? items.total : 0 }} offers</span></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <div id="block-find-hosts">
                            <div class="cont">
                                <template v-if="items && items.data.length > 0">
                                    <div class="row row-list" v-for="row in rows">
                                        <div class="col-lg-6" v-for="item in row">
                                            <tpl-find-listing :item="item"></tpl-find-listing>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <loading v-if="loading"></loading>
                    </div>
                    <div class="col-lg-6">
                        <map-find></map-find>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('block-find-listing', require('./BlockFind.vue'));
    Vue.component('tpl-find-listing', require('./TplFindListing.vue'));
    Vue.component('map-find', require('./MapaFind.vue'));

    export default {
        data(){
            return {
                title: 'Listing | '+ this.$parent.sitename,
                items: null,
                loading: false,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                //vm.getData();
            });
        },
        methods: {
            getData: function(q = null)
            {
                var path = (q) ? '/api/v1/listing/find?'+q : '/api/v1/listing/find';
                this.$Progress.start();
                axios.get(path).then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                    EventBus.$emit('setToMap', response.data.data);
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            loadMore: function () {
                var vm = this;
                if(this.items.current_page !== this.items.last_page)
                {
                    this.$Progress.start();
                    this.loading = true;
                    axios.get(this.items.next_page_url).then(response => {
                        _.forEach(response.data.data, function (v) {
                            vm.items.data.push(v);
                        });
                        EventBus.$emit('appendToMap', response.data.data);
                        this.items.next_page_url = response.data.next_page_url;
                        this.items.current_page = response.data.current_page;
                        this.$emit('resizeNC');
                        this.$Progress.finish();
                        this.loading = false;
                    }).catch(error => {
                        this.$Progress.fail();
                        this.loading = false;
                    });
                }
            },
            scroll: function()
            {
                var vm = this;

                vm.$on('resizeNC', function () {
                    $('#block-find-hosts .cont').getNiceScroll().resize();
                });

                $('#block-find-hosts .cont').niceScroll({
                    horizrailenabled: false,
                    spacebarenabled: true,
                }).scrollend(function(info){
                    var nc = $('#block-find-hosts .cont').getNiceScroll(0).page.maxh-200;
                    var nc2 = info.end.y-200;
                    if(nc == nc2)
                    {
                        vm.$emit('onBottomNC');
                    }
                });

            },
        },
        computed: {
            rows () {
                return _.chunk(_.toArray(this.items.data), 2);
            },
        },
        mounted() {
            $('body').removeClass('front');
            var vm = this;
            this.scroll();
            this.$on('onBottomNC', function () {
                this.loadMore();
            });
            //
            EventBus.$on('onFindListing', function (data) {
                var result = $.param(data);
                vm.getData(result);
            });
            //
        }
    }
</script>
