<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <tab-listing></tab-listing>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    Vue.component('tab-listing', require('./TabCreateListing.vue'));

    export default {
        data(){
            return {
                title: 'Create Listing | '+ this.$parent.sitename,
            }
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{

        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>