<template>
    <div class="tab-l">
        <div id="tab-host" class="tab-host-group lg-tab sm-tab mdd-tab xs-tab">
            <a href="javascript:void(0);" :class="[(currentTab == 1) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-1">
                <div class="tab_shape"><i class="icon fa fa-home"></i></div>
                <span class="stepTitle hidden-xs">Place type</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 2) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-2">
                <div class="tab_shape"><i class="icon fa fa-bed"></i></div>
                <span class="stepTitle hidden-xs">Bedrooms &amp; Baths</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 3) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-3">
                <div class="tab_shape"><i class="icon fa fa-map-marker"></i></div>
                <span class="stepTitle hidden-xs">Location</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 4) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-4">
                <div class="tab_shape"><i class="icon fa fa-list"></i></div>
                <span class="stepTitle hidden-xs">Amenities</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 5) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-5">
                <div class="tab_shape"><i class="icon fa fa-share-alt"></i></div>
                <span class="stepTitle hidden-xs">Shared spaces</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 6) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-6">
                <div class="tab_shape"><i class="icon fa fa-camera"></i></div>
                <span class="stepTitle hidden-xs">Pictures</span>
            </a>
            <a href="javascript:void(0);" :class="[(currentTab == 7) ? 'active' : '']" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt" id="btn-tab-host-7">
                <div class="tab_shape"><i class="icon fa fa-calendar-check-o"></i></div>
                <span class="stepTitle hidden-xs">Rent</span>
            </a>
        </div>
        <div class="progress">
            <div role="progressbar" :aria-valuemin="progress" aria-valuemax="100" class="progress-bar" :style="{width: progress+'%'}"></div>
        </div>
        <div id="tab-host-content" class="tab-content">
            <form-step-1 v-if="currentTab == 1" @nextStep="nextTab"></form-step-1>
            <form-step-2 v-if="currentTab == 2" @nextStep="nextTab" @prevStep="prevTab"></form-step-2>
            <form-step-3 v-if="currentTab == 3" @nextStep="nextTab" @prevStep="prevTab"></form-step-3>
            <form-step-4 v-if="currentTab == 4" @nextStep="nextTab" @prevStep="prevTab"></form-step-4>
            <form-step-5 v-if="currentTab == 5" @nextStep="nextTab" @prevStep="prevTab"></form-step-5>
            <form-step-6 v-if="currentTab == 6" @nextStep="nextTab" @prevStep="prevTab"></form-step-6>
            <form-step-7 v-if="currentTab == 7" @nextStep="nextTab" @prevStep="prevTab"></form-step-7>
            <form-step-8 v-if="currentTab == 8"></form-step-8>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('form-step-1', require('./FormStep1.vue'));
    Vue.component('form-step-2', require('./FormStep2.vue'));
    Vue.component('form-step-3', require('./FormStep3.vue'));
    Vue.component('form-step-4', require('./FormStep4.vue'));
    Vue.component('form-step-5', require('./FormStep5.vue'));
    Vue.component('form-step-6', require('./FormStep6.vue'));
    Vue.component('form-step-7', require('./FormStep7.vue'));
    Vue.component('form-step-8', require('./FormStep8.vue'));

    export default {
        data(){
            return {
                currentTab: null,
                lastTab: 7,
                progress: 0,
            }
        },
        methods:{
            nextTab: function () {
                EventBus.$emit('submitStep'+this.currentTab);
                var err = this.$validform.getErrors('submitStep'+this.currentTab);
                if(err.length == 0)
                {
                    this.currentTab += 1;
                    this.calcProgress();
                }
            },
            prevTab: function () {
                this.currentTab -= 1;
                this.calcProgress();
            },
            calcProgress: function () {
                this.progress = parseInt((this.currentTab * 100) / this.lastTab).toFixed(2);
            }
        },
        watch:{

        },
        mounted() {
            var vm = this;
            this.currentTab = localStorage.getItem('currentTab') ? parseInt(localStorage.getItem('currentTab')) : 1;
            this.calcProgress();

        }
    }
</script>