<template>
    <div class="tpl-find-listing" :class="['tpl-find-listing-'+item.id]" @mouseover="mO(item)" @mouseleave="mL(item)">
        <carousel-small :host="item"></carousel-small>
        <div class="row">
            <div class="col-lg-6">
                <div class="price">${{ item.price.data }}</div>
            </div>
            <div class="col-lg-6">
                <div class="rate-small text-right">
                    <tpl-rating :value="rating.rating"></tpl-rating>
                </div>
            </div>
        </div>
        <h2><router-link :to="{name: 'listing', params: { slug: item.slug }}" target="_blank">{{ item.name }}</router-link></h2>
    </div>
</template>
<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('carousel-small', require('./CarouselSmall.vue'));
    Vue.component('tpl-rating', require('../fields/FieldRating.vue'));
    export default {
        props:{
            item: Object,
        },
        data(){
            return {
                rating: (this.item.rating) ? this.item.rating.rating : 0,
            }
        },
        methods: {
            mO: function (item) {
                $('.find-icon-'+item.id).addClass('hov');
                EventBus.$emit('mouseoverPoint', item);
            },
            mL: function (item) {
                $('.find-icon-'+item.id).removeClass('hov');
                EventBus.$emit('mouseleavePoint', item);
            }
        }
    }
</script>