@mixin responsive($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
  //@else if $class == sm {
  //  @media (min-width: 768px) { @content; }
  //}
  //
  //@else if $class == md {
  //  @media (min-width: 992px) { @content; }
  //}
  //
  //@else if $class == lg {
  //  @media (min-width: 1200px) { @content; }
  //}
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@include responsive(xs) {
  #collapse-nav-front{
    margin: 0 -30px;
    ul{
      background: #e5e5e5;
      li{
        text-align: center;
        a{
          color: #0b0b0b;
        }
      }
    }
    a:hover{
      background: #42b983 !important;
      color: #fff;
    }
  }
  #block-search{
    margin: 100px 0px 50px 0px !important;
    .form-group{
      margin-bottom: 15px !important;
    }
    .input-group{
      width: 100%;
    }
  }
  .foot{
    text-align: center;
  }
  #menu-dashboard a{
    display: block !important;
    margin-right: 0px !important;
  }
}