@import url("https://unpkg.com/leaflet@1.2.0/dist/leaflet.css");
@import url("https://unpkg.com/esri-leaflet-geocoder@2.2.8/dist/esri-leaflet-geocoder.css");
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css");
@import "_app-xs";


.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg{
    float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg{
    float: left;
}
@media (max-width: 767px) {    
    .pull-right-not-xs, .pull-left-not-xs{
        float: none;
    }
    .pull-right-xs {
        float: right;
    }
    .pull-left-xs {
        float: left;
    }
    .xs-bt{
        width: 14.2%;
    }
    .xs-tab{
        min-height: 60px;
    }
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}
@media (min-width: 768px) and (max-width: 991px) {
    .pull-right-not-sm, .pull-left-not-sm{
        float: none;
    }
    .pull-right-sm {
        float: right;
    }
    .pull-left-sm {
        float: left;
    }
    .sm-bt{
        width: 14.28%;
    }
    .sm-tab{
        min-height: 80px;
    }
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .pull-right-not-md, .pull-left-not-md{
        float: none;
    }
    .pull-right-md {
        float: right;
    }
    .pull-left-md {
        float: left;
    }
    .mdd-bt{
        width: 14.28%;
    }
    .mdd-tab{
        min-height: 80px;
    }
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}
@media (min-width: 1200px) {
    .pull-right-not-lg, .pull-left-not-lg{
        float: none;
    }
    .pull-right-lg {
        float: right;
    }
    .pull-left-lg {
        float: left;
    }
    .lg-bt{
        width: 14.28%;
    }
    .lg-tab{
        min-height: 80px;
    }
    .p-l-lg-60{
        padding-left: 60px;
    }
    .lg-2{
        width: 18%;
    }
    .lg-3{
        width: 27.33%;
    }
    .lg-10{
        width: 82%;
    }
    .lg-4{
        width: 28%;
    }
    .lg-6{
        width: 54%;
    }
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}
p{
    margin-bottom: 15px;
    line-height: 1.5;
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

a{
    color: #648190;
}
a:hover{
    text-decoration: underline;
}
a:focus{
    outline: none;
}

html {
    height: 100%;
}
body{
    height: 100%;
    font-family: 'cambayregular', verdana;
    font-size: 14px;
    line-height: 1.1;
    background: #F1F5F6;
    position: relative;
    &.front{
        background: #ccc url(../img/IMG_7432-min.jpg) no-repeat center top fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-bottom: 60px;
        a{
            color: #fff;
            &:hover,&:focus{
                color: #03fd03;
            }
        }
        .footer{
            bottom: 0;
            position: absolute;
            width: 100%;
            background: transparent;
        }
    }
}
.navbar-header-front{
    .navbar-brand{
        display: inline-block;
        background: url(../img/login-min.png) no-repeat 0 0;
        height: 50px;
        width: 103px;
        text-indent: -9999px;
    }
    a{
        font-size: 16px;
    }
    #collapse-nav-front{
        border: none !important;
        box-shadow: none !important;
        a{
            background: none;
            &:hover, &:focus{
                background: none;
            }
        }
    }
    .icon-bar{
        background: #fff;
    }
}
#nav-footer-front{
    a{
        font-size: 16px;
        color: #fff;
        margin-right: 15px;
        &:hover, &:focus{
            text-decoration: none;
            color: #03fd03;
        }
        i{
            font-size: 20px;
        }
    }
}
.form-control{
    height: 40px;
    line-height: 40px;
    padding: 4px 15px 0 15px;
    @include border-radius(0px);
}
.bootstrap-select{
    .btn{
        @include border-radius(0px);
        padding: 0 25px 0 15px;
        height: 40px;
        line-height: 40px;
    }
    .dropdown-menu{
        @include border-radius(0px);
        margin: 0;
        a{
            color: #333;
        }
    }
}
.btn{
    @include border-radius(0px);
    height: 40px;
    line-height: 40px;
    padding: 4px 15px 0 15px;
}
.btn-green{
    background: #2fd455;
    color: #fff !important;
    border-color: #2fd455;
    &:hover, &:focus{
        text-decoration: none;
        color: #fff;
        background: #2fd455;
        border-color: #2fd455;
    }
}
.btn-gr{
    background: #748C99;
    color: #fff !important;
    border-color: #748C99;
    &:hover, &:focus{
        text-decoration: none;
        color: #fff;
        background: #748C99;
        border-color: #748C99;
    }
}
#block-search{
    margin: 200px 75px 75px 75px;
    padding: 25px;
    border: 1px solid #fff;
    .form-group{
        margin-bottom: 0;
    }
}
.input-group-addon{
    @include border-radius(0px);
    background: #fff;
    color: #2fd455;
}
.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #2fd455;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #2fd455;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td span.active {
  background-color: #2fd455;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
//
.head{
    min-height: 80px;
    background: #fff;
    .navbar{
        margin-bottom: 0;
    }
}
#main{
    min-height: 500px;
    background: #fff;
    .container{
        padding-top: 35px;
    }
}
.foot{
    padding: 50px 0;
    min-height: 50px;
    color: #648190;
}
.navbar-header-nf{
    min-height: 80px;
    border: none;
    font-size: 16px;
    padding-top: 15px;
    background: #fff;
    margin-bottom: 0;
    .navbar-brand{
        display: inline-block;
        background: url(../img/logo-min.png) no-repeat 0 0;
        height: 50px;
        width: 103px;
        text-indent: -9999px;
    }
    a{
        font-size: 16px;
        color: #648190;
        &.router-link-active,
        &.router-link-exact-active,
        &:hover, &:focus, &.active{
            color: #2fd455;
        }
    }
    #collapse-nav-front{
        border: none !important;
        box-shadow: none !important;
        a{
            background: none;
            &:hover, &:focus{
                background: none;
            }
        }
    }
    .icon-bar{
        background: #648190;
    }
}
#nav-footer{
    margin-top: 20px;
    a{
        font-size: 16px;
        color: #648190;
        margin-right: 15px;
        &:hover, &:focus{
            text-decoration: none;
            color: #2fd455;
        }
        i{
            font-size: 20px;
        }
    }
}
.logo{
    display: inline-block;
    background: url(../img/logo-min.png) no-repeat 0 0;
    height: 50px;
    width: 103px;
    text-indent: -9999px;
}
.cop{
    margin-top: 20px;
}
.panel{
    @include border-radius(0px);
}
.panel-title{
    font-size: 18px;
    font-family: 'cambaybold', verdana;
}
.radiobutton{
    font-weight: normal;
    input{
        display: none;
    }
    span:before{
        content: "\f170";
        display: inline-block; font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 19px;
    }
    input:checked + span:before{
        content: "\f16f";
        display: inline-block; font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 19px;
    }
}
.radiobutton-green{
    input:checked + span:before{
        color: #2FD455;
    }
}
.form-group-role{
    label{
        margin-right: 15px;
    }
}
#block-user{
    padding-top: 2px;
    padding-left: 20px;
    span{
        color: #2ED353;
        padding-right: 5px;
    }
    img{
        margin-left: 10px;
    }
    .ulink{
        
    }
}
.prl{
    position: relative;
}
#choose-role{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    .panel{
        margin-top: 100px;
    }
}
#choose-role:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
}
#menu-dashboard{
    min-height: 50px;
    background: #64818F;
    color: #fff;
    a{
        color: #9DB8C3;
        font-size: 16px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 30px;
        &.router-link-active,
        &.router-link-exact-active,
        &:hover, &:focus, &.active{
            text-decoration: none;
            color: #fff;
            border-bottom: 2px solid #2ED353;
        }
        .badge{
            font-weight: normal;
            font-size: 14px;
            color: #fff;
            padding: 4px 10px 0;
            background: #517080;
        }
    }
    .closed{
        color: #fff;
        height: 30px;
        line-height: 30px;
        text-align: right;
        padding-top: 15px;
        &:hover, &:focus, &.active{
            text-decoration: none;
            color: #fff;
            border-bottom: none;
        }
    }
}
#menu-mob-dashboard{
    height: 50px;
    background: #64818F;
    color: #fff;
    a{
        color: #9DB8C3;
        font-size: 16px;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        margin-right: 30px;
        &:hover, &:focus, &.active{
            text-decoration: none;
            color: #fff;
            border-bottom: 2px solid #2ED353;
        }
        .badge{
            font-weight: normal;
            font-size: 14px;
            color: #fff;
            padding: 4px 10px 0;
            background: #517080;
        }
    }
}
h1.dsh{
    font-size: 36px;
    color: #648190;
    font-family: 'cambaybold', verdana;
    margin-top: 0;
    margin-bottom: 20px;
}
#menu-profile,
#menu-account{
    a{
        display: block;
        padding: 10px 15px;
        font-size: 16px;
        border-left: 2px solid #fff;
        &.router-link-exact-active,
        &:hover, &.active{
            border-left: 2px solid #2ED353;
            text-decoration: none;
            color: #000;
            font-family: 'cambaybold', verdana;
        }
    }
}
.panel-account{
    .panel-body{
        padding-bottom: 30px;
        padding-top: 30px;
        label,
        .lbl{
            color: #648190;
        }
    }
}
label.txt{
    font-weight: normal;
    color: #333333 !important;
}
.cbx{
    input{
        display: none;
    }
    span{
        width: 20px;
        height: 20px;
        display: block;
        float: left;
        margin-left: -50px;
        position: absolute;
        &:hover{
            &:before{
                color: #648190;
            }
        }
    }
    span:before{
        content:"\f096";
        display:inline-block;
        font-family: "FontAwesome";
        font-size: 24px;
        text-rendering:auto;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        color: #ccc;
        margin-top: -3px;
        cursor: pointer;
    }
    label{
        float: left;
        padding-left: 50px;
    }
    input:checked + span:before{
        content:"\f14a";
        display:inline-block;
        font-family: "FontAwesome";
        font-size: 24px;
        text-rendering:auto;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        color: #648190;
        margin-top: -3px;
        cursor: pointer;
    }
}
.cbx2{
    input{
        display: none;
    }
    span{
        width: 20px;
        height: 20px;
        display: block;
        margin-left: -30px;
        position: absolute;
        &:hover{
            &:before{
                color: #648190;
            }
        }
    }
    span:before{
        content:"\f096";
        display:inline-block;
        font-family: "FontAwesome";
        font-size: 24px;
        text-rendering:auto;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        color: #ccc;
        margin-top: -3px;
        cursor: pointer;
    }
    label{
        padding-left: 30px;
        line-height: 20px;
    }
    input:checked + span:before{
        content:"\f14a";
        display:inline-block;
        font-family: "FontAwesome";
        font-size: 24px;
        text-rendering:auto;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        color: #648190;
        margin-top: -3px;
        cursor: pointer;
    }
}
.bb{
    font-family: 'cambaybold', verdana;
}
.nn{
    font-family: 'cambayregular', verdana;
    font-weight: normal;
}
label.nn{
    font-family: 'cambayregular', verdana;
    font-weight: normal;
}
#ajax-load{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    .loadings{
        font-size: 50pt;
        color: #2ED353;
        /*position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -35px;*/
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }
}
.herror{
    font-size: 100px;
    font-family: 'cambaybold', verdana;
    color: #648190;
}
.pychk{
    input{
        display: none;
    }
    span{
        cursor: pointer;
        margin-right: 15px;
        border: 1px solid #ccc;
        @include border-radius(2px);
    }
    input:checked + span{
        border: 1px solid #2ED353;
    }
}
.visa{
    background: url(../img/pm.png) no-repeat -1px -1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}
.mastercard{
    background: url(../img/pm.png) no-repeat -51px -1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}
.amex{
    background: url(../img/pm.png) no-repeat -101px -1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}
.discover{
    background: url(../img/pm.png) no-repeat -151px -1px;
    height: 30px;
    width: 50px;
    display: inline-block;
    border: 1px solid #ccc;
}
.has-error{
    .btn{
        border-color: #a94442 !important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }
}
.radiobutton.has-error{
    color: #a94442 !important;
}
.tabs-panel{
    padding: 0 20px;
    .nav-tabs{
        border-bottom: 0 !important;
        li{
            margin: 0 !important;
            a{
                font-family: 'cambaybold', verdana;
                font-size: 16px;
                @include border-radius(0px);
                background: transparent;
                margin: 0;
                border: none;
                &:hover, &:focus{
                    background: transparent;
                }
            }
            &.active{
                a{
                    font-family: 'cambaybold', verdana;
                    font-size: 16px;
                    color: #000;
                    @include border-radius(0px);
                    background: transparent;
                    margin: 0;
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: 2px solid #2ED353;
                }
            }
        }
    }
}
.help-block{
    margin: 10px 0;
    font-size: 13px;
}
.gray{
    color: #ccc;
}
.none-languages,
.phone-numer{
    height: 50px;
    line-height: 50px;
}
#verify-phone-number,
#add-phone-number{
    padding: 30px;
    background: #F1F5F6;
    border: 1px solid #ccc;
}
.user-phone-edit{
    border-radius: 0;
    height: 40px;
    line-height: 40px;
    padding: 4px 15px 0;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}
.btn-verify{
    color: #000;
    font-family: 'cambaybold', verdana;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 35px;
    margin-right: 10px;
    &:hover, &:focus{
        background: #F6F6F6;
        text-decoration: none;
    }
}
.btn-verify1{
    color: #2b542c;
    font-family: 'cambaybold', verdana;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #fff;
    height: 30px;
    line-height: 35px;
    margin-right: 100px;
    &:hover, &:focus{
        background: #fff;
        text-decoration: none;
        box-shadow: none;
    }
    i{
        margin-right: 100px;
        color: #2FD455;
        font-size: 24px;
    }
}
.modal-backdrop{
    z-index: 100;
}
.ck2{
    input{
        display: none;
    }
    span{
        @include border-radius(4px);
        border: 1px solid #ccc;
        display: inline-block;
        height: 20px;
        margin-bottom: -5px;
        margin-right: 10px;
        position: relative;
        width: 20px;
    }
    &:hover{
        span{
            border: 1px solid #2ED353;
        }
    }
    input:checked + span{
        background: #648190;
        border: 1px solid #648190;
        &:before{
            color: #fff;
            content: "\f299";
            display: inline-block;
            font-family: "Material Design Iconic Font";
            font-feature-settings: normal;
            font-kerning: auto;
            font-language-override: normal;
            font-size: inherit;
            font-size-adjust: none;
            font-stretch: normal;
            font-style: normal;
            font-synthesis: weight style;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            margin-left: 2px;
            margin-top: 1px;
            position: absolute;
            text-rendering: auto;
        }
    }
    em{
        font-style: normal;
        margin-left: 10px;
        position: absolute;
        padding-top: 4px;
        padding-right: 15px;
    }
    label{
        display: block;
    }
}
.swal2-content{
    ul{
        li{
            list-style: none;
        }
    }
}
.ck3{
    height: 30px;
    input{
        display: none;
    }
    span{
        border: 1px solid #ccc;
        display: inline-block;
        height: 20px;
        margin-top: 7px;
        margin-right: 15px;
        position: relative;
        width: 20px;
        background: #fff;
        float: left;
    }
    &:hover{
        span{
            border: 1px solid #2ED353;
        }
    }
    input:checked + span{
        background: #648190;
        border: 1px solid #648190;
        &:before{
            color: #fff;
            content: "\f299";
            display: inline-block;
            font-family: "Material Design Iconic Font";
            font-feature-settings: normal;
            font-kerning: auto;
            font-language-override: normal;
            font-size: inherit;
            font-size-adjust: none;
            font-stretch: normal;
            font-style: normal;
            font-synthesis: weight style;
            font-variant: normal;
            font-weight: normal;
            line-height: 1;
            margin-left: 2px;
            margin-top: 1px;
            position: absolute;
            text-rendering: auto;
        }
    }
    i{
        float: left;
        &:before{
            font-size: 30px;
            margin-left: 0;
        }
    }
    em{
        font-style: normal;
        float: left;
        margin-top: 12px;
    }
    .flaticon-bed{
        margin-right: 15px;
    }
    .flaticon-beds{
        margin-right: 15px;
        &:before{
            font-size: 33px;
        }
    }
    .flaticon-holidays{
        margin-right: 15px;
        margin-top: 3px;
        &:before{
            font-size: 23px;
        }
    }
    .em{
        margin-top: 4px;
    }
    .flaticon-bathtub{
        margin-right: 15px;
    }
    .flaticon-toilet{
        margin-top: -19px;
        position: absolute;
        &:before{
            margin: 0;
            font-size: 17px;
        }
    }
}
.col{
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    float: left;
}
.lang-data{
    border-radius: 0;
    height: 40px;
    line-height: 43px;
    padding: 0 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
    display: inline-block;
    margin-right: 15px;
    white-space: nowrap;
}
#user-photo{
    .ava{
        img{
            background: #f2f4f5;
            border: 2px solid #e4e8eb;
        }
    }
}
.btn-def{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #acbcc5;
    background: #fff;
    color: #648190;
}
#webcam_result{
    width: 300px;
    height: 240px;
    img{
        width: 300px;
        height: 220px;
    }
}
#webcam{
    width: 300px;
    height: 240px;
}
#modal-video,
#modal-photocam{
    .modal-dialog{
        width: 330px;
    }
    .panel-body{
        padding: 5px 15px;
    }
}
#ava{
    display: none;
}
#user-video{
    .video-file{
        width: 100%;
        height: 180px;
        background: #f2f4f5 url(../img/d2-min.png) no-repeat center center;
        border: 2px solid #e4e8eb;
    }
    .video-info{
        color: #000;
        padding: 20px;
        background: #e4e8eb;
        text-align: center;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
    }
}
#video-cheklist{
    color: #648190;
    h3{
        font-family: 'cambaybold', verdana;
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 0;
    }
    ul{
        li{
            margin-bottom: 25px;
            list-style: none;
            i{
                margin-right: 15px;
            }
        }
    }
}
#video-cheklist1{
    padding-top: 30px;
    color: #648190;
    h3{
        font-family: 'cambaybold', verdana;
        font-size: 24px;
        margin-bottom: 25px;
        margin-top: 0;
    }
    ul{
        li{
            margin-bottom: 25px;
            list-style: none;
            i{
                margin-right: 15px;
            }
        }
    }
    p{
        margin-bottom: 30px;
    }
}
#load-video{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 10000;
    top: 0;
    left: 0;
    font-size: 18px;
    text-align: center;
    padding-top: 50%;
    color: green;
    font-family: 'cambaybold', verdana;
}
#my-player{
    width: 100%;
    height: 178px;
}
.verification{
    h4{
        margin: 0 0 20px 0;
        font-family: 'cambaybold', verdana;
        font-size: 16px;
    }
    a{
        color: #2ED353;
    }
    h5{
        margin: 0 0 15px 0;
        font-family: 'cambaybold', verdana;
        font-size: 16px;
    }
    h5:first-letter{
        text-transform: uppercase;
    }
}
b{
    font-family: 'cambaybold', verdana;
}
.btn-soc{
    height: 40px;
    line-height: 40px;
    padding: 0 40px 0 20px;
    border: 1px solid #acbcc5;
    background: #fff !important;
    color: #648190 !important;
    font-family: 'cambaybold', verdana;
    i{
        margin-right: 30px;
    }
}
.btn-facebook2{
    background: #3b5998;
    border: 1px solid #3b5998;
    color: #fff;
    &:hover, &:focus{
        color: #fff;
    }
}
.progress{
    height: 5px;
    .progress-bar{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2fd358+0,2fd358+31,2fd358+31,64818f+70 */
        background: rgb(47,211,88); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(47,211,88,1) 0%, rgba(47,211,88,1) 31%, rgba(47,211,88,1) 31%, rgba(100,129,143,1) 70%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    }
}
#host-map{
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
}
/*----Dropzone-------*/
#input-dropzone{
    display: none;
}
#dropzone-wrp{
    border: 2px dashed #ccc;
    @include border-radius(4px);
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
    .dropzone-text{
        background: rgba(0, 0, 0, 0) url("../img/upload-photos.png") repeat-x scroll left top;
        min-height: 260px;
        padding-top: 100px;
    }
}
.big-photo{
    text-align: center;
    margin-bottom: 15px;
    img{
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}
#small-photo{
    display: none;
    .col-lg-2{
        margin-bottom: 15px;
    }
    .add-foto{
        border: 2px dashed #ccc;
        @include border-radius(4px);
        display: block;
        height: 155px;
        width: 155px;
        padding: 70px 0;
        text-align: center;
    }
    img{
        object-fit: cover;
        width: 155px;
        height: 155px;
    }
}
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
    z-index: 10000;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    i{
        color: #2ED353;
        /*position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -35px;
        margin-top: -15px;*/
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }
}
.add-foto-small{
    display: none;
    &.e-foto{
        display: block !important;
    }
}
.small-foto{
    margin-bottom: 15px;
    img{
        object-fit: cover;
        width: 155px;
        height: 155px;
    }
}
.add-foto-small{
    border: 2px dashed #ccc;
    @include border-radius(4px);
    display: block;
    height: 165px;
    width: 165px;
    padding: 70px 0;
    text-align: center;
    &.e-foto{
        display: block !important;
    }
}
.p-r-0{
    padding-right: 0px;
}
.host-form{
    position: relative;
}
#add-host-page-vue{
    .icon-circle{
        margin-bottom: 15px;
    }
    .wizard-title{
        font-family: 'cambaybold', verdana;
        font-size: 24px;
        margin-top: 0;
        color: #748C99;
    }
    .tab-content{
        .progress{
            margin: 0 -20px 20px;
        }
    }
    .card-footer{
        padding: 0;
    }
    .dropdown-toggle.btn-default {
        background-color: transparent;
        border-color: #ccc;
        border-width: 1px !important;
        box-sizing: border-box;
        color: #555 !important;
        font-size: 14px;
        font-weight: normal !important;
        padding: 0px 25px 0 15px !important;
        transition: all 0.15s linear 0s;
    }
    .tab-container{
        position: relative;
    }
}
#tab-host{
    width: 100%;
    a{
        color: #AAABB6;
        display: block;
        float: left;
        min-height: 60px;
        .stepTitle{
            display: block;
            text-align: center;
        }
        .tab_shape{
            height: 40px;
            line-height: 45px;
            display: block;
            text-align: center;
            background: #DDDDDD;
            margin-bottom: 15px;
            border-bottom: 2px solid #DDDDDD;
        }
        &.router-link-exact-active,
        &.active{
            text-decoration: none;
            color: #fff;
            .tab_shape{
                background: #607E8D;
                border-bottom: 2px solid #2FD455;
            }
            .stepTitle{
                color: #607E8D;
            }
        }
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
#add-host-page-ajax{
    .progress{
        height: 5px;
        position: relative;
        width: 100%;
        z-index: 100;
    }
}
#tab-host-button{
    min-height: 40px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.host-step-form{
    position: relative;
}
.hdn{
    display: none;
    &.vsb{
        display: block;
    }
}
#tab-host-content{
    position: relative;
}

#block-host-in-dashboard{
    margin-bottom: 25px;
    padding: 25px;
    border: 1px solid #eaeaea;
    .host-bar{
        padding-top: 40px;
        margin-bottom: 25px;
        p{
            color: #648190;
            font-size: 14px;
        }
    }
    h2{
        margin: 0 0 15px 0;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
    }
    .description{
        margin-bottom: 35px;
    }
    .last-updated{
        color: #648190;
        margin-bottom: 30px;
    }
    
}
#block-host-in-progress{
    .host-bar{
        padding-top: 10px;
        margin-bottom: 25px;
        p{
            color: #648190;
            font-size: 14px;
        }
    }
    h2{
        margin: 0 0 15px 0;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
    }
    .description{
        margin-bottom: 35px;
    }
    .last-updated{
        color: #648190;
        margin-bottom: 30px;
    }
}
#block-host-requests,
#block-host-published{
    .host-bar{
        padding-top: 10px;
        margin-bottom: 25px;
        p{
            color: #648190;
            font-size: 14px;
        }
    }
    h2{
        margin: 0 0 15px 0;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
    }
    .description{
        margin-bottom: 35px;
    }
    .last-updated{
        color: #648190;
        margin-bottom: 30px;
    }
}
#block-host-in-dashboard-1{
    margin-bottom: 40px;
    .host-price{
        font-family: 'cambaybold', verdana;
        font-size: 24px;
    }
    .hosting-student{
        font-size: 18px;
        margin-bottom: 180px;
    }
    h3{
        color: #2fd455;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
        margin-bottom: 40px;
        margin-top: 0;
        position: relative;
        z-index: 1;
        &:before{
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            border-bottom: 2px solid #2fd455;
            top: 8px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        span{
            display: inline;
            background: #fff;
            padding-right: 15px;
        }
    }
    .list{
        li{
            list-style: none;
            color: #627f8e;
            margin-bottom: 15px;
            span{
                display: inline-block;
                font-family: 'cambaybold', verdana;
                font-size: 18px;
                width: 30px;
                height: 30px;
                margin-right: 30px;
                border: 2px solid #627f8e;
                @include border-radius(50%);
                text-align: center;
                line-height: 30px;
            }
            p{
                display: inline-block;
                
            }
        }
    }
}

.btn-dark{
    background: #627f8e;
    color: #fff;
    padding: 0 15px;
    height: 40px;
    line-height: 45px;
    &:hover, &:focus{
        background: #627f8e;
        color: #fff;
    }
}
.btn-line{
    background: #fff;
    color: #648190;
    padding: 0 15px;
    height: 40px;
    line-height: 45px;
    border: 1px solid #648190;
    &:hover, &:focus{
        background: #fff;
        color: #648190;
        border: 1px solid #648190;
    }
}
.btn-line-2{
    background: #fff;
    color: #648190;
    padding: 0 15px;
    height: 40px;
    line-height: 45px;
    border: 1px solid #ACBFC5;
    &:hover, &:focus{
        background: #fff;
        color: #648190;
        border: 1px solid #ACBFC5;
    }
}
.btn-b{
    font-family: 'cambaybold', verdana;
}
.btn40{
    padding: 0 40px;
}
.btn75{
    padding: 0 75px;
}
#block-get-inspired{
    h2{
        font-family: 'cambaybold', verdana;
        font-size: 18px;
        color: #2fd455;
        margin: 0 0 25px 0;
    }
    .thumbnail{
        border: none;
        padding: 0;
        img{
            margin-bottom: 15px;
        }
        .cell{
            margin-bottom: 15px;
            .price{
                font-family: 'cambaybold', verdana;
                font-size: 24px;
                color: #627f8e;
            }
        }
        h4{
            font-size: 16px;
            margin: 0;
            line-height: 1.1;
            a:hover{
                text-decoration: none;
            }
        }
    }
    .carousel-host-small{
        .item{
            height: 150px;
        }
    }
}
.rating-symbol{
    margin-right: 2px;
    color: #2fd455;
    &:last-child{
        margin-right: 0;
    }
}
.h-im{
    background: url(../img/IMG_0012-min.jpg) no-repeat 0 center / cover;
    height: 315px;
    .slog{
        background: #2fd455;
        color: #fff;
        font-family: 'cambaybold', verdana;
        font-size: 36px;
        padding: 5px 15px;
        display: inline-block;
        margin-top: 120px;
    }
}
#block-ulodger{
    h1{
        font-family: 'cambaybold', verdana;
        font-size: 36px;
        color: #627f8e;
        margin: 0;
    }
    .sub{
        font-size: 18px;
        color: #627f8e;
        margin-bottom: 30px;
    }
    h2{
        font-family: 'cambaybold', verdana;
        font-size: 18px;
        color: #000;
        margin-bottom: 40px;
        position: relative;
        z-index: 1;
        &:before{
            content: "";
            position: absolute;
            width: 70px;
            height: 1px;
            border-bottom: 2px solid #2fd455;
            left: 0;
            bottom: 0;
            top: 35px;
        }
    }
    .row{
        margin-bottom: 50px;
        p{
            font-size: 16px;
            color: #777777;
            line-height: 1.2;
            padding-right: 40px;
        }
    }
}
.im-ico{
    background: url(../img/sprite.png) no-repeat 0 0;
    display: inline-block;
}
.im-ico-1{
    background-position: -21px 0;
    height: 35px;
    width: 39px;
}
.im-ico-2{
    background-position: -60px 0;
    height: 37px;
    width: 37px;
}
.im-ico-3{
    background-position: -97px 0;
    height: 36px;
    width: 31px;
}
.im-ico-4{
    background-position: 0 -40px;
    height: 39px;
    width: 34px;
}
.im-ico-5{
    background-position: -35px -40px;
    height: 39px;
    width: 37px;
}
.im-ico-6{
    background-position: -72px -40px;
    height: 38px;
    width: 36px;
}
.im-ico-7{
    background-position: -131px 0;
    height: 59px;
    width: 58px;
}
.im-ico-8{
    background-position: -188px 10px;
    height: 59px;
    width: 41px;
}
.im-ico-9{
    background-position: -233px 20px;
    height: 59px;
    width: 71px;
}
.im-ico-10{
    background-position: -306px 25px;
    height: 59px;
    width: 75px;
}
.pb40{
    padding: 0 40px;
}
.h1{
    font-family: 'cambaybold', verdana;
    font-size: 36px;
    color: #627f8e;
    margin-bottom: 30px;
}
#block-how-it-works{
    margin-bottom: 50px;
    .btn-default{
        height: 60px;
        padding: 15px 20px;
        line-height: 1;
        border: 1px solid #f2f4f5;
        color: #000;
        font-family: 'cambaybold', verdana;
        font-size: 18px;
        text-align: left;
        white-space: normal;
        span{
            color: #2fd455;
            font-size: 30px;
            margin-right: 10px;
        }
        &:hover, &:focus, &.active{
            background: #648190;
            color: #fff;
        }
    }
    .btn-group-last{
        .btn-default{
            padding: 5px 20px;
        }
    } 
}
textarea.form-control{
    line-height: 1.1;
    padding-top: 10px;
}
.p-25{
    padding: 25px !important;
}
.fle{
    position: absolute;
    margin-left: -20px;
    margin-top: 12px;
}
.request-delete,
.host-delete{
    width: 210px;
    text-align: right;
    float: right;
    height: 15px;
    line-height: 15px;
    .del{
        color: #ccc;
        &:hover{
            color: #F4645F;
        }
    }
    .shure{
        text-align: right;
        display: none;
    }
    .yes{
        background: #F4645F;
        color: #fff;
        padding: 4px 10px 0 10px;
        height: 15px;
        line-height: 15px;
        position: relative;
        z-index: 100;
    }
    .no{
        background: #2FD358;
        color: #fff;
        padding: 4px 10px 0 10px;
        height: 15px;
        line-height: 15px;
        position: relative;
        z-index: 100;
    }
    a:focus,
    a:hover{
        text-decoration: none;
    }
}
#host-big-image{
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#page-host-slug-tab{
    padding-top: 0 !important;
    border-bottom: 1px solid #f5f5f5;
    a{
        display: inline-block;
        height: 50px;
        line-height: 55px;
        font-size: 16px;
        color: #648190;
        border-bottom: 2px solid #fff;
        margin-right: 40px;
        &:hover, &.active
        {
            text-decoration: none;
            border-bottom: 2px solid #2fd455;
            color: #000;
        }
        &:focus{
            text-decoration: none;
        }
    }
}
#page-host-slug{
    padding-top: 60px;
}
#block-host-overview{
    h1{
        margin: 0 0 15px 0;
        font-family: 'cambaybold', verdana;
        font-size: 36px;
        color: #648190;
        line-height: 0.8;
    }
    .cell{
        color: #648190;
        font-size: 18px;
        .cell-data{
            float: left;
            margin-right: 10px;
        }
    }
    .host-user{
        display: block;
        text-align: center;
        color: #648190;
        img{
            margin-bottom: 15px;
        }
    }
    .big-cell{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #f5f5f5;
    }
    h3{
        margin: 0 0 20px 0;
        font-family: 'cambaybold', verdana;
        font-size: 20px;
        color: #648190;
    }
    .description{
        margin-bottom: 20px;
    }
}
.rate-big{
    width: 105px;
    margin-top: -2px;
    .rating-symbol{
        color: #c9d5db;
        .rating-symbol-foreground{
            color: #2FD455;
        }
    }
}
.color-b{
    color: #648190;
}
#block-host-book{
    margin-bottom: 60px;
    h2{
        font-family: 'cambaybold', verdana;
        font-size: 24px;
        padding: 20px 40px;
        background: #648190;
        color: #fff;
        margin: 0;
    }
    form{
        padding: 20px 40px;
        background: #F1F5F6;
        border: #ccc;
        position: relative;
    }
}
select.selectpicker{
    display: block !important;
}
#block-host-wl{
    .cell-1{
        padding: 35px 40px 20px 40px;
        border: 1px solid #f5f5f5;
    }
    .cell-group{
        a{
            display: block;
            float: left;
            height: 40px;
            line-height: 45px;
            border: 1px solid #D8DCDF;
            width: 33.333%;
            text-align: center;
            &:hover, &:focus{
                text-decoration: none;
                background: #F1F5F6;
            }
        }
        a:nth-child(2),
        a:nth-child(1)
        {
            border-right: none;
        }
    }
}
.my-affix{
    max-width: 315px;
    z-index: 101;
    &.affix{
        top: 60px;
    }
}
.fix-nav{
    background: #fff;
    width: 100%;
    z-index: 100;
    &.affix{
        top: 0px;
    }
}
#block-host-reviews{
    margin-bottom: 30px;
    position: relative;
    h2{
        color: #648190;
        font-family: "cambaybold",verdana;
        font-size: 20px;
        margin: 0 0 20px;
        .rate-big{
            display: inline-block;
            margin-left: 20px;
        }
    }
    .cell-rating{
        p{
            label{
                font-weight: normal;
                color: #648190;
                display: inline-block;
                width: 100px;
            }
            .rate-big{
                display: inline-block;
            }
            .rating-star{
                display: inline-block;
            }
        }
    }
    .list-group-item{
        @include border-radius(0px);
        padding: 40px;
    }
    .comment-header{
        height: 40px;
        margin-bottom: 20px;
        line-height: 45px;
        &:before{
            content: "";
            position: absolute;
            height: 1px;
            border-bottom: 2px solid #2FD455;
            width: 200px;
            top: 0;
            left: 0;
            bottom: 0;
            margin-left: 15px;
            margin-top: 40px;
        }
        .name{
            font-family: "cambaybold",verdana;
            font-size: 18px;
            display: inline-block;
            color: #000;
        }
        .date{
            display: inline-block;
            color: #648190;
        }
    }
    .comment-body{
        line-height: 1.2;
        margin-bottom: 30px;
        .full{
            display: none;
        }
        .more-text{
            display: block;
            font-family: "cambaybold",verdana;
            margin-top: 20px;
        }
    }
    .comment-footer{
        text-align: right;
        a{
            margin-right: 5px;
            font-family: "cambaybold",verdana;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
#tab-host-reviews{
    border: none;
    &.all{
        .all{
            a{
                border-bottom: 2px solid #2FD455;
                font-family: "cambaybold",verdana;
                color: #000;
            }
        }
    }
    &.highest{
        .highest{
            a{
                border-bottom: 2px solid #2FD455;
                font-family: "cambaybold",verdana;
                color: #000;
            }
        }
    }
    &.lowest{
        .lowest{
            a{
                border-bottom: 2px solid #2FD455;
                font-family: "cambaybold",verdana;
                color: #000;
            }
        }
    }
    li{
        margin-right: 40px;
        margin-bottom: 0;
        &.active{
            border-bottom: 2px solid #2FD455;
            font-family: "cambaybold",verdana;
            color: #000;
        }
    }
    a{
        font-size: 16px;
        border-bottom: 2px solid #fff;
        @include border-radius(0px);
        background: none;
        padding: 0;
        height: 40px;
        line-height: 45px;
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
        &:hover, &:focus{
            background: none;
            border-left: 0px;
            border-top: 0px;
            border-right: 0px;
        }
    }
}
#block-host-hosted{
    color: #648190;
    margin-bottom: 40px;
    h2{
        color: #648190;
        font-family: "cambaybold",verdana;
        font-size: 20px;
        margin: 0 0 20px;
    }
    .address{
        margin-bottom: 40px;
    }
    .reviews{
        span{
            display: inline-block;
            height: 30px;
            line-height: 32px;
            width: 30px;
            text-align: center;
            border: 1px solid #648190;
            @include border-radius(50%);
            margin-right: 20px;
        }
    }
    .verified{
        height: 30px;
        line-height: 35px;
        position: relative;
        span{
            position: relative;
            float: left;
            display: inline-block;
            height: 30px;
            line-height: 32px;
            width: 30px;
            text-align: center;
            border: 1px solid #2FD455;
            background: #2FD455;
            @include border-radius(50%);
            margin-right: 20px;
            i{
                color: #fff;
                font-size: 23px;
                margin-left: -6px;
                position: absolute
            }
        }
    }
}
#host-slug-map{
    width: 100%;
    height: 650px;
    border: 1px solid #ccc;
    margin-bottom: 40px;
}
.overlay-host{
    width: 100px;
    height: 100px;
    background: #2FD455;
    @include border-radius(50%);
}
.pr{
    position: relative;
}
#form-found{
    padding: 30px 0;
    color: #648190;
    label.bbb{
        font-family: "cambaybold",verdana;
        border-bottom: 2px solid #2FD455;
        font-weight: normal;
        padding-top: 7px;
    }
    /* Tooltip */
    .tooltip > .tooltip-inner {
        background-color: #fff; 
        color: #648190;
        border: 1px solid #ccc; 
        padding: 2px 10px;
        font-size: 12px;
        font-family: 'cambayregular', verdana;
        @include border-radius(0px);
    }
    /* Tooltip on top */
    .tooltip.top > .tooltip-arrow {
        border-top: 5px solid #ccc;
    }
    .slider-horizontal{
        width: 100%;
        margin-top: 10px;
        .slider-track{
            background: #65818D;
            height: 5px;
        }
        .slider-selection{
            background: rgb(47,211,88); /* Old browsers */
            background: -moz-linear-gradient(-45deg, rgba(47,211,88,1) 0%, rgba(47,211,88,1) 31%, rgba(47,211,88,1) 31%, rgba(100,129,143,1) 70%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        .slider-handle{
            background: #65818D;
            margin-top: -3px;
            &:before{
                content: "";
                position: absolute;
                width: 10px;
                height: 10px;
                background: #fff;
                @include border-radius(50%);
                top: 0;
                left: 0;
                bottom: 0;
                z-index: 10;
                margin-left: 5px;
                margin-top: 5px;
            }
        }
    }
    .pslider{
        .slider-horizontal{
            .min-slider-handle{
                background: #2FD455;
            }
        }
        .min{
            position: absolute;
            left: 0;
            margin-top: -10px;
            margin-left: 15px;
        }
        .max{
            position: absolute;
            right: 0;
            margin-top: -40px;
            margin-right: 8px;
        }
    }
    .reset{
        font-family: "cambaybold",verdana;
        padding-top: 11px;
        position: relative;
        display: block;
        &:hover, &:focus{
            text-decoration: none;
        }
    }
}
.vh{
    visibility: hidden;
}
.input-group-address{
    border-bottom: 1px solid #ccc;
    width: 100%;
    .input-group-addon{
        border: none;
        background: none;
        padding-left: 0;
        padding-right: 0;
        width: 20px;
    }
    .form-control{
        border: none !important;
        background: transparent;
        color: #648190;
        box-shadow: none !important;
        &:focus, &:active{
            box-shadow: none !important;
        }
    }
    .flaticon-placeholder:before{
        margin-left: 0;
    }
    .fa-search{
        color: #ccc;
    }
}
#foo{
    position: absolute;
    z-index: -9999;
    left: -9999px;
}
#page-host-found{
    padding-top: 20px !important;
    position: relative;
    padding-bottom: 30px;
    h1{
        font-family: 'cambayregular', verdana;
        margin: 0 0 20px 0;
        color: #000;
        font-size: 24px;
        span{
            font-family: "cambaybold",verdana;
            color: #648190;
            display: inline-block;
            border-bottom: 1px solid #ccc;
        }
    }
    .host-img{
        display: block;
        margin-bottom: 20px;
    }
    .price{
        color: #627f8e;
        font-family: "cambaybold",verdana;
        font-size: 24px;
    }
    h2{
        font-size: 16px;
        line-height: 1.1;
        margin: 20px 0;
        font-weight: normal;
    }
    .cont{
        max-height: 644px;
        overflow: hidden;
    } 
}
#block-find-hosts{
    margin-bottom: 40px;
    .slimScrollDiv{
        overflow: visible !important;
    }
    .slimScrollRail,
    .slimScrollBar{
        margin-right: -15px;
    }
    
}
#find-map{
    width: 100%;
    height: 644px;
    position: relative;
}
.price-pin{
    background: #627f8e none repeat scroll 0 0;
    color: #fff;
    font-family: "cambayregular",verdana;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    padding: 0 5px;
    position: relative;
    cursor: pointer;
    .caret{
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-left: -3px;
        margin-bottom: -4px;
        color: #627f8e;
    }
    &:hover{
        z-index: 100000;
        background: #2FD455 !important;
        .caret{
            color: #2FD455 !important;
        }
    }
}
.pagination{
    a{
        color: #627F8E !important;
        @include border-radius(0px !important);
    }
    .active span{
        background: #627F8E;
        border-color: #627F8E;
    }
    .active span:hover{
        background: #2FD455;
        border-color: #2FD455;
    }
    .active{
        a{
            color: #fff !important;
            background: #627F8E;
            border-color: #627F8E !important;
            &:focus,
            &:hover{
                background: #2FD455;
                border-color: #2FD455 !important;
            }
        }
    }
}
.ajax-submit{
    position: relative;
}
#messages-inbox-no{
    padding: 80px;
    border: 1px solid #ccc;
    h2{
        font-family: "cambaybold",verdana;
        font-size: 18px;
        border-bottom: 2px solid #2FD253;
        padding-bottom: 10px;
        margin-bottom: 20px;
        display: inline-block;
    }
    p{
        color: #627F8E;
        width: 210px;
    }
}
#messages-inbox{
    .list-group{
        .list-group-item{
            @include border-radius(0px);
            i{
                color: #d8dcde;
                font-size: 9px;
                margin-left: 10px;
                margin-right: 20px;
            }
            &:hover{
                background: #f2f4f5;
                cursor: pointer;
            }
            .dark{
                color: #000;
            }
            .blu{
                color: #627F8E;
            }
            &.read-0{
                font-family: "cambaybold",verdana;
                .name{
                    font-family: "cambaybold",verdana;
                }
                .subject{
                    span{
                        font-family: "cambaybold",verdana;
                    }
                }
            }
        }
    }
}
.m-t-m7{
    margin-top: -7px;
}
.select-inbox{
    span{
        padding-right: 20px;
    }
}
.select-inbox-menu{
    @include border-radius(0px);
    margin-left: 15px;
}
.inbox-move-to{
    @include border-radius(0px);
}
#messages-wrp{
    position: relative;
    .message-head{
        margin-bottom: 20px;
    }
    .message-book{
        padding: 30px;
        background: #F5F5F5;
        margin-top: 20px;
    }
}
.btn-toolbar{
    .btn:hover, .btn:focus{
        box-shadow: none !important;
    }
}
.p-t-20{
    padding-top: 20px;
}
#panel-message{
    .panel-heading{
        .fa-star{
            float: left;
            color: #D8DCDE;
            margin-right: 15px;
            &.starred{
                color: #2FD455;
            }
        }
    }
}
.text-green{
    color: #2FD455 !important;
}
.host-request-book{
    padding: 30px;
    background: #F5F5F5;
}
#book-host{
    padding: 30px;
    background: #F5F5F5;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
.comment-rating,
.add-comment-rating{
    label{
        width: 105px;
    }
    .rating-symbol-background {
        color: #c9d5db;
    }
    .has-error{
        label{
            color: #a94442;
        }
    }
}
.comment-form{
    position: relative;
}
.review-comment{
    .body{
        margin-bottom: 15px;
    }
    .created{
        color: #627F8E;
    }
}
.foto-wr{
    height: 500px;
    position: relative;
    .foto-cell{
        position: absolute;
        left: 15px;
        bottom: 20px;
    }
}
#page-user-slug{
    h1{
        color: #648190;
        font-family: "cambaybold",verdana;
        font-size: 36px;
        margin: 0 0 15px;
    }
    .address{
        font-family: "cambaybold",verdana;
        margin-bottom: 20px;
        color: #648190;
        font-size: 18px;
    }
    .reviews{
        color: #648190;
    }
    .reviews span {
        border: 1px solid #648190;
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        line-height: 32px;
        margin-right: 20px;
        text-align: center;
        width: 30px;
    }
    .verified{
        height: 30px;
        line-height: 35px;
        position: relative;
        color: #648190;
        span {
            background: #2fd455 none repeat scroll 0 0;
            border: 1px solid #2fd455;
            border-radius: 50%;
            display: inline-block;
            float: left;
            height: 30px;
            line-height: 32px;
            margin-right: 20px;
            position: relative;
            text-align: center;
            width: 30px;
            i {
                color: #fff;
                font-size: 23px;
                margin-left: -6px;
                position: absolute;
            }
        }
    }
    .about{
        margin-bottom: 20px;
    }
    .user-ava{
        margin-bottom: 20px;
    }
    .list{
        margin-bottom: 15px;
        position: relative;
        a{
            display: block;
            background: #000;
        }
        h3{
            color: #fff;
            font-size: 18px;
            padding: 20px;
            position: absolute;
            top: 0;
            z-index: 100;
        }
        img{
            opacity: 0.5;
        }
    }
}
.vrf{
    display: block;
    height: 20px;
    line-height: 25px;
    margin-bottom: 15px;
    i{
        margin-right: 15px;
        font-size: 20px;
        float: left;
    }
}
.img-thumbnail,
.thumbnail{
    @include border-radius(0px);
}
#user-reviews{
    .nav-tabs{
        border: none;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
    {
        background: transparent;
        border: none;
        margin: 0;
    }
    .nav-tabs > li > a:hover {
        border: none;
        background: transparent;
        margin: 0;
    }
    .nav-tabs > li > a{
        margin: 0;
        padding: 0 15px;
        border: none;
        font-family: "cambaybold",verdana;
        font-size: 18px;
    }
    img{
        display: inline-block;
        margin-bottom: 15px;
    }
    .comment{
        margin-bottom: 15px;
    }
}

.v--notifications{
    left: 50%;
    margin-left: -100px;
    top: 50px !important;
    background: transparent;
    .out-in{
        background: transparent;
    }
}
.notification.cp {
  // Style of the notification itself
    background: transparent;
    margin-bottom: 15px;
    padding: 15px;
    .notification-title {
    // Style for title line
        font-weight: bold;
        margin-bottom: 10px;
    }
    .notification-content {
      // Style for content
      ul{
        li{
            margin-bottom: 5px;
        }
      }
    }
    &.success{
        color: #fff;
        background: rgba(43,185,76, 0.9);
    }
    &.error{
        color: #fff;
        background: rgba(214,0,0, 0.9);
    }
}
.btn-fb{
    background: #3B5998;
    color: #fff;
}
.btn-g{
    background: #DC4739;
    color: #fff;
}

.modal-backdrop {
    background-color: #000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.map-price{
    background: #62818F;
    color: #fff;
    font-family: "cambaybold",verdana;
    padding: 5px 10px 0px 10px;
    font-size: 16px;
    line-height: 1;
    .caret{
        bottom: 0;
        color: #62818F;
        left: 50%;
        margin-bottom: -4px;
        margin-left: -4px;
        position: absolute;
    }
    &.active,
    &:hover{
        background: #2fd455;
        z-index: 100;
        cursor: pointer;
        .caret{
            color: #2fd455;
        }
    }
}
.infoBox:hover{
    z-index: 100 !important;
}
#form-found .bootstrap-datetimepicker-widget{
    z-index: 100001;
}
.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus, 
.btn:active:focus, .btn:focus {
    outline: none;
}
#location{
    h2{
        color: #648190;
        font-family: "cambaybold",verdana;
        font-size: 20px;
        margin: 0 0 20px;
    }
}
#reviews-list-group{
    position: relative;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active для <2.1.8 */ {
  opacity: 0
}
#carousel-host{
    height: 500px;
    overflow: hidden;
    .item{
        height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.carousel-host-small{
    margin-bottom: 20px;
}
.filter-private-room{
    margin-right: 10px;
    padding-top: 3px;
}
.filter-shared-room{
    margin-right: 10px;
}
.filter-house-room{
    margin-right: 10px;
}
.hotels-ico{
    font-size: 48px;
    color: #2FD455;
    &.glyph-icon::before{
        font-size: 48px;
    }
    .flaticon-toilet{
        left: 0;
        position: absolute;
        top: 0;
        margin-left: 19px;
    }
}
.tf{
    background: url(../img/tf2.png) no-repeat 0 0 / 100%;
    height: 180px;
    width: 270px;
    position: relative;
    margin-top: 35px;
}
#modal-provide{
    .modal-dialog{
        width: 670px;
    }
    #webcam{
        background: #ccc;
    }
}
.form-contact{
    margin-bottom: 50px;
    .btn-green{
        padding: 4px 50px 0px;
        text-transform: uppercase;
    }
    textarea{
        resize: none;
    }
}
.tpl-find-listing:hover,
.tpl-find-listing.hov{
    background: #e5e5e5;
}
#block-photo-profile{
    cursor: pointer;
    &:hover{
        .foto-caprion{
           
            margin-top: -111px;
        }
    }
    .foto-caprion{
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 15px;
        position: absolute;
        width: 252px;
        margin-top: 0px;
        transition: 0.6s; 
        z-index: 0;
        span{
            font-size: 11px;
        }
        a{
            display: block;
            text-align: center;
            color: #fff;
            i{
                font-size: 20px;
            }
        }
    }
}
.user-inf{
    width: 252px;
    position: relative;
    z-index: 10;
    background: #fff;
    padding-top: 20px;
    h2{
        margin-top: 0;
    }
}
.myava.opa{
    opacity: 0.3;
}

#map{
    width: 100%;
    height: 430px;
}
.my-div-icon{
    background: url("http://icon-park.com/imagefiles/location_map_pin_red6.png") no-repeat 0 0 / 100% auto;
    width: 40px;
    height: 52px;
}
.anim {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.opa05{
    opacity: 0.5;
}
#photo-upload{
    .preim{
        position: relative;
        cursor: pointer;
        &:hover{
            .caption{
                display: block;
            }
        }
        .fa-spinner{
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -30px;
            margin-top: -30px;
            color: #607E8D;
            z-index:100;
        }
        .caption{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.75);
            }
            nav{
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -25px;
                margin-left: -25px;
                a{
                    z-index: 100;
                    display: inline-block;
                    height: 35px;
                    width: 35px;
                    border: 1px solid #fff;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    color: #fff;
                    margin-right: 10px;
                    &:hover{
                        color: red;
                        border: 1px solid red;
                    }
                }
            }
        }
    }
    .preim-big{
        height: 300px;
        img{
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
    .preim-small
    {
        img{
            object-fit: cover;
            width: 165px;
            height: 165px;
        }
    }
}

.vdp-datepicker{
    .cell:hover{
        border: 1px solid #2ED353;
    }
    .input-group{
        .form-control{
            border-right: 0;
        }
    }
    .form-control:focus{
        box-shadow: none;
        border-color: #ccc;
    }
}
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 1px solid #2ED353 !important;
}
.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
    background: #2ED353 !important;
    color: #fff;
}
.vdp-datepicker__calendar header .prev:after {
    border-right: 10px solid #2ED353 !important;
    margin-left: -5px;
}
.vdp-datepicker__calendar header .next:after {
    border-left: 10px solid #2ED353 !important;
    margin-left: 5px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff;
    opacity: 1;
}
.vue-slider-component{
    .vue-slider{
        background: rgb(47,211,88); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(47,211,88,1) 0%, rgba(47,211,88,1) 31%, rgba(47,211,88,1) 31%, rgba(100,129,143,1) 70%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(47,211,88,1) 0%,rgba(47,211,88,1) 31%,rgba(47,211,88,1) 31%,rgba(100,129,143,1) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .vue-slider-process{
        background-color: #2FD358 !important;
    }
    .vue-slider-tooltip
    {
        background: #ffffff !important;
        color: #64818F !important;
        border: 1px solid #ccc !important;
    }
    .diy-tooltip{
        white-space: nowrap;
        font-size: 11px;
        height: 20px;
        line-height: 24px;
        padding: 0 5px;
        background: #fff;
        border: 1px solid #ccc;
    }
    .vue-slider-dot{
        background-color: #65818D !important;
        &:before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10px;
            background: #fff;
            @include border-radius(50%);
            top: 0;
            left: 0;
            bottom: 0;
            z-index: 10;
            margin-left: 3px;
            margin-top: 3px;
        }
    }
}
.rating-wrp{
    unicode-bidi: bidi-override;
    direction: rtl;
    i{
        font-size: 16px;
        margin-right: 4px;
        color: #2FD358;
    }
}
.rating-wrp > i.active:before,
.rating-wrp-hover > i:hover ~ i:before,
.rating-wrp-hover > i:hover:before{
    content: "\f005";
}
.find-icon{
    width: 50px;
    height: 20px;
    background: #65818D;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    position: relative;
    &.hov,
    &:hover{
        background: #2FD358;
        z-index:10000;
        .caret{
            color: #2FD358;
        }
    }
    .caret{
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: 20px;
        margin-left: -3px;
        color: #65818D;
    }
}
.op05{
    opacity: 0.5;
}
.input-group-schoolslocaton{
    .form-control{
        border-left: none;
        &:focus{
            box-shadow: none;
            border-color: #cccccc;
        }
    }
}
.rate-big,
.rating-star{
    color: #C9D5DB;
    &.rating-wrp-hover:hover{
        color: #2FD455;
    }
    .active{
        color: #2FD455;
    }
    i{
        margin-right: 2px;
    }
}

.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    .modal-header {
        min-height: 16.43px;
        padding: 0px;
        border: none;
        position: relative;
    }
    .modal-footer{
        min-height: 16.43px;
        padding: 0px;
        border: none;
    }
    .modal-closed{
        position: absolute;
        right: 0px;
        top: 0px;
        margin-top: -30px;
        margin-right: -30px;
        color: #fff;
    }
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {

}

.modal-default-button {
    float: right;
}
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.contact-container{
    width: 600px;
    font-size: 14px;
    color: #0f0f0f;
    h6{
        margin: 0px 0 15px 0;
        font-size: 24px;
    }
}
#form-contact{
    textarea{
        resize: none;
        font-size: 12px;
    }
}
#form-book-apply,
#form-book{
    .vdp-datepicker .input-group .form-control{
        border-right: 1px solid #ccc;
    }
    .vdp-datepicker .input-group .form-control.has-error{
        border-right: 1px solid #a94442;
    }
}
.hosts-list{
    .description{
        font-size: 12px;
        margin-bottom: 15px;
    }
    .last-updated{
        margin-bottom: 15px;
        text-align: right;
        color: #999999;
    }
    h2{
        font-size: 24px;
        color: #64818F;
    }
  .created{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #999999;
  }
}
.p-15{
  padding: 15px;
}
.book-user{
  height:40px;
  line-height: 30px;
  margin-bottom: 15px;
}
#form-book-cancel{
  textarea{
    resize: none;
  }
}
.alert{
  @include border-radius(0px);
  i{
    font-size: 24px;
  }
}
.p-0{
    padding: 0 !important;
}
.m-r-15{
    margin-right: 15px;
}
.btn-link{
    height: auto;
    line-height: normal;
}
.remove{
    color: red;
}
.edit{
    color: #2ED353;
}
.status-0{
    color: #fff;
    background: #8a1f11;
    display: inline-flex;
    padding: 2px 10px 0 10px;
}
.status-0{
    color: #fff;
    background: #8a1f11;
    display: inline-flex;
    padding: 2px 10px 0 10px;
}
.status-1{
    color: #fff;
    background: #2FD253;
    display: inline-flex;
    padding: 2px 10px 0 10px;
}
.status-2{
    color: #fff;
    background: #2F3133;
    display: inline-flex;
    padding: 2px 10px 0 10px;
}
.status-3{
    color: #fff;
    background: #FF9D00;
    display: inline-flex;
    padding: 2px 10px 0 10px;
}
.btn-clear{
    background: none;
    border: none;
    height: auto;
    line-height: normal;
    padding: 0;
}
#invoice{
    border: 1px solid #cccccc;
    padding: 20px;
    margin-bottom: 50px;
    .logo{
        background: url('../images/logo-min.png') no-repeat 0 0;
        height: 50px;
        width: 103px;
    }
    h3{
        margin: 0;
    }
}


















