@import url(https://unpkg.com/leaflet@1.2.0/dist/leaflet.css);@import url(https://unpkg.com/esri-leaflet-geocoder@2.2.8/dist/esri-leaflet-geocoder.css);@import url(https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css);


@media (max-width: 767px) {
  #collapse-nav-front {
    margin: 0 -30px;
  }
  #collapse-nav-front ul {
    background: #e5e5e5;
  }
  #collapse-nav-front ul li {
    text-align: center;
  }
  #collapse-nav-front ul li a {
    color: #0b0b0b;
  }
  #collapse-nav-front a:hover {
    background: #42b983 !important;
    color: #fff;
  }
  #block-search {
    margin: 100px 0px 50px 0px !important;
  }
  #block-search .form-group {
    margin-bottom: 15px !important;
  }
  #block-search .input-group {
    width: 100%;
  }
  .foot {
    text-align: center;
  }
  #menu-dashboard a {
    display: block !important;
    margin-right: 0px !important;
  }
}

.pull-right-not-xs, .pull-right-not-sm, .pull-right-not-md, .pull-right-not-lg {
  float: right;
}

.pull-left-not-xs, .pull-left-not-sm, .pull-left-not-md, .pull-left-not-lg {
  float: left;
}

@media (max-width: 767px) {
  .pull-right-not-xs, .pull-left-not-xs {
    float: none;
  }
  .pull-right-xs {
    float: right;
  }
  .pull-left-xs {
    float: left;
  }
  .xs-bt {
    width: 14.2%;
  }
  .xs-tab {
    min-height: 60px;
  }
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-justify {
    text-align: justify;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pull-right-not-sm, .pull-left-not-sm {
    float: none;
  }
  .pull-right-sm {
    float: right;
  }
  .pull-left-sm {
    float: left;
  }
  .sm-bt {
    width: 14.28%;
  }
  .sm-tab {
    min-height: 80px;
  }
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
  .text-sm-center {
    text-align: center;
  }
  .text-sm-justify {
    text-align: justify;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pull-right-not-md, .pull-left-not-md {
    float: none;
  }
  .pull-right-md {
    float: right;
  }
  .pull-left-md {
    float: left;
  }
  .mdd-bt {
    width: 14.28%;
  }
  .mdd-tab {
    min-height: 80px;
  }
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
  .text-md-center {
    text-align: center;
  }
  .text-md-justify {
    text-align: justify;
  }
}

@media (min-width: 1200px) {
  .pull-right-not-lg, .pull-left-not-lg {
    float: none;
  }
  .pull-right-lg {
    float: right;
  }
  .pull-left-lg {
    float: left;
  }
  .lg-bt {
    width: 14.28%;
  }
  .lg-tab {
    min-height: 80px;
  }
  .p-l-lg-60 {
    padding-left: 60px;
  }
  .lg-2 {
    width: 18%;
  }
  .lg-3 {
    width: 27.33%;
  }
  .lg-10 {
    width: 82%;
  }
  .lg-4 {
    width: 28%;
  }
  .lg-6 {
    width: 54%;
  }
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }
  .text-lg-center {
    text-align: center;
  }
  .text-lg-justify {
    text-align: justify;
  }
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a {
  color: #648190;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'cambayregular', verdana;
  font-size: 14px;
  line-height: 1.1;
  background: #F1F5F6;
  position: relative;
}

body.front {
  background: #ccc url(../img/IMG_7432-min.jpg) no-repeat center top fixed;
  background-size: cover;
  padding-bottom: 60px;
}

body.front a {
  color: #fff;
}

body.front a:hover, body.front a:focus {
  color: #03fd03;
}

body.front .footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background: transparent;
}

.navbar-header-front .navbar-brand {
  display: inline-block;
  background: url(../img/login-min.png) no-repeat 0 0;
  height: 50px;
  width: 103px;
  text-indent: -9999px;
}

.navbar-header-front a {
  font-size: 16px;
}

.navbar-header-front #collapse-nav-front {
  border: none !important;
  box-shadow: none !important;
}

.navbar-header-front #collapse-nav-front a {
  background: none;
}

.navbar-header-front #collapse-nav-front a:hover, .navbar-header-front #collapse-nav-front a:focus {
  background: none;
}

.navbar-header-front .icon-bar {
  background: #fff;
}

#nav-footer-front a {
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
}

#nav-footer-front a:hover, #nav-footer-front a:focus {
  text-decoration: none;
  color: #03fd03;
}

#nav-footer-front a i {
  font-size: 20px;
}

.form-control {
  height: 40px;
  line-height: 40px;
  padding: 4px 15px 0 15px;
  border-radius: 0px;
}

.bootstrap-select .btn {
  border-radius: 0px;
  padding: 0 25px 0 15px;
  height: 40px;
  line-height: 40px;
}

.bootstrap-select .dropdown-menu {
  border-radius: 0px;
  margin: 0;
}

.bootstrap-select .dropdown-menu a {
  color: #333;
}

.btn {
  border-radius: 0px;
  height: 40px;
  line-height: 40px;
  padding: 4px 15px 0 15px;
}

.btn-green {
  background: #2fd455;
  color: #fff !important;
  border-color: #2fd455;
}

.btn-green:hover, .btn-green:focus {
  text-decoration: none;
  color: #fff;
  background: #2fd455;
  border-color: #2fd455;
}

.btn-gr {
  background: #748C99;
  color: #fff !important;
  border-color: #748C99;
}

.btn-gr:hover, .btn-gr:focus {
  text-decoration: none;
  color: #fff;
  background: #748C99;
  border-color: #748C99;
}

#block-search {
  margin: 200px 75px 75px 75px;
  padding: 25px;
  border: 1px solid #fff;
}

#block-search .form-group {
  margin-bottom: 0;
}

.input-group-addon {
  border-radius: 0px;
  background: #fff;
  color: #2fd455;
}

.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #2fd455;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #2fd455;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #2fd455;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.head {
  min-height: 80px;
  background: #fff;
}

.head .navbar {
  margin-bottom: 0;
}

#main {
  min-height: 500px;
  background: #fff;
}

#main .container {
  padding-top: 35px;
}

.foot {
  padding: 50px 0;
  min-height: 50px;
  color: #648190;
}

.navbar-header-nf {
  min-height: 80px;
  border: none;
  font-size: 16px;
  padding-top: 15px;
  background: #fff;
  margin-bottom: 0;
}

.navbar-header-nf .navbar-brand {
  display: inline-block;
  background: url(../img/logo-min.png) no-repeat 0 0;
  height: 50px;
  width: 103px;
  text-indent: -9999px;
}

.navbar-header-nf a {
  font-size: 16px;
  color: #648190;
}

.navbar-header-nf a.router-link-active, .navbar-header-nf a.router-link-exact-active, .navbar-header-nf a:hover, .navbar-header-nf a:focus, .navbar-header-nf a.active {
  color: #2fd455;
}

.navbar-header-nf #collapse-nav-front {
  border: none !important;
  box-shadow: none !important;
}

.navbar-header-nf #collapse-nav-front a {
  background: none;
}

.navbar-header-nf #collapse-nav-front a:hover, .navbar-header-nf #collapse-nav-front a:focus {
  background: none;
}

.navbar-header-nf .icon-bar {
  background: #648190;
}

#nav-footer {
  margin-top: 20px;
}

#nav-footer a {
  font-size: 16px;
  color: #648190;
  margin-right: 15px;
}

#nav-footer a:hover, #nav-footer a:focus {
  text-decoration: none;
  color: #2fd455;
}

#nav-footer a i {
  font-size: 20px;
}

.logo {
  display: inline-block;
  background: url(../img/logo-min.png) no-repeat 0 0;
  height: 50px;
  width: 103px;
  text-indent: -9999px;
}

.cop {
  margin-top: 20px;
}

.panel {
  border-radius: 0px;
}

.panel-title {
  font-size: 18px;
  font-family: 'cambaybold', verdana;
}

.radiobutton {
  font-weight: normal;
}

.radiobutton input {
  display: none;
}

.radiobutton span:before {
  content: "\f170";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}

.radiobutton input:checked + span:before {
  content: "\f16f";
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 19px;
}

.radiobutton-green input:checked + span:before {
  color: #2FD455;
}

.form-group-role label {
  margin-right: 15px;
}

#block-user {
  padding-top: 2px;
  padding-left: 20px;
}

#block-user span {
  color: #2ED353;
  padding-right: 5px;
}

#block-user img {
  margin-left: 10px;
}

.prl {
  position: relative;
}

#choose-role {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}

#choose-role .panel {
  margin-top: 100px;
}

#choose-role:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.3;
}

#menu-dashboard {
  min-height: 50px;
  background: #64818F;
  color: #fff;
}

#menu-dashboard a {
  color: #9DB8C3;
  font-size: 16px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-right: 30px;
}

#menu-dashboard a.router-link-active, #menu-dashboard a.router-link-exact-active, #menu-dashboard a:hover, #menu-dashboard a:focus, #menu-dashboard a.active {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #2ED353;
}

#menu-dashboard a .badge {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  padding: 4px 10px 0;
  background: #517080;
}

#menu-dashboard .closed {
  color: #fff;
  height: 30px;
  line-height: 30px;
  text-align: right;
  padding-top: 15px;
}

#menu-dashboard .closed:hover, #menu-dashboard .closed:focus, #menu-dashboard .closed.active {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
}

#menu-mob-dashboard {
  height: 50px;
  background: #64818F;
  color: #fff;
}

#menu-mob-dashboard a {
  color: #9DB8C3;
  font-size: 16px;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-right: 30px;
}

#menu-mob-dashboard a:hover, #menu-mob-dashboard a:focus, #menu-mob-dashboard a.active {
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #2ED353;
}

#menu-mob-dashboard a .badge {
  font-weight: normal;
  font-size: 14px;
  color: #fff;
  padding: 4px 10px 0;
  background: #517080;
}

h1.dsh {
  font-size: 36px;
  color: #648190;
  font-family: 'cambaybold', verdana;
  margin-top: 0;
  margin-bottom: 20px;
}

#menu-profile a,
#menu-account a {
  display: block;
  padding: 10px 15px;
  font-size: 16px;
  border-left: 2px solid #fff;
}

#menu-profile a.router-link-exact-active, #menu-profile a:hover, #menu-profile a.active,
#menu-account a.router-link-exact-active,
#menu-account a:hover,
#menu-account a.active {
  border-left: 2px solid #2ED353;
  text-decoration: none;
  color: #000;
  font-family: 'cambaybold', verdana;
}

.panel-account .panel-body {
  padding-bottom: 30px;
  padding-top: 30px;
}

.panel-account .panel-body label,
.panel-account .panel-body .lbl {
  color: #648190;
}

label.txt {
  font-weight: normal;
  color: #333333 !important;
}

.cbx input {
  display: none;
}

.cbx span {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-left: -50px;
  position: absolute;
}

.cbx span:hover:before {
  color: #648190;
}

.cbx span:before {
  content: "\f096";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  margin-top: -3px;
  cursor: pointer;
}

.cbx label {
  float: left;
  padding-left: 50px;
}

.cbx input:checked + span:before {
  content: "\f14a";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #648190;
  margin-top: -3px;
  cursor: pointer;
}

.cbx2 input {
  display: none;
}

.cbx2 span {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: -30px;
  position: absolute;
}

.cbx2 span:hover:before {
  color: #648190;
}

.cbx2 span:before {
  content: "\f096";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  margin-top: -3px;
  cursor: pointer;
}

.cbx2 label {
  padding-left: 30px;
  line-height: 20px;
}

.cbx2 input:checked + span:before {
  content: "\f14a";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 24px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #648190;
  margin-top: -3px;
  cursor: pointer;
}

.bb {
  font-family: 'cambaybold', verdana;
}

.nn {
  font-family: 'cambayregular', verdana;
  font-weight: normal;
}

label.nn {
  font-family: 'cambayregular', verdana;
  font-weight: normal;
}

#ajax-load {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ajax-load .loadings {
  font-size: 50pt;
  color: #2ED353;
  /*position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -35px;*/
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.herror {
  font-size: 100px;
  font-family: 'cambaybold', verdana;
  color: #648190;
}

.pychk input {
  display: none;
}

.pychk span {
  cursor: pointer;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.pychk input:checked + span {
  border: 1px solid #2ED353;
}

.visa {
  background: url(../img/pm.png) no-repeat -1px -1px;
  height: 30px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ccc;
}

.mastercard {
  background: url(../img/pm.png) no-repeat -51px -1px;
  height: 30px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ccc;
}

.amex {
  background: url(../img/pm.png) no-repeat -101px -1px;
  height: 30px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ccc;
}

.discover {
  background: url(../img/pm.png) no-repeat -151px -1px;
  height: 30px;
  width: 50px;
  display: inline-block;
  border: 1px solid #ccc;
}

.has-error .btn {
  border-color: #a94442 !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.radiobutton.has-error {
  color: #a94442 !important;
}

.tabs-panel {
  padding: 0 20px;
}

.tabs-panel .nav-tabs {
  border-bottom: 0 !important;
}

.tabs-panel .nav-tabs li {
  margin: 0 !important;
}

.tabs-panel .nav-tabs li a {
  font-family: 'cambaybold', verdana;
  font-size: 16px;
  border-radius: 0px;
  background: transparent;
  margin: 0;
  border: none;
}

.tabs-panel .nav-tabs li a:hover, .tabs-panel .nav-tabs li a:focus {
  background: transparent;
}

.tabs-panel .nav-tabs li.active a {
  font-family: 'cambaybold', verdana;
  font-size: 16px;
  color: #000;
  border-radius: 0px;
  background: transparent;
  margin: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #2ED353;
}

.help-block {
  margin: 10px 0;
  font-size: 13px;
}

.gray {
  color: #ccc;
}

.none-languages,
.phone-numer {
  height: 50px;
  line-height: 50px;
}

#verify-phone-number,
#add-phone-number {
  padding: 30px;
  background: #F1F5F6;
  border: 1px solid #ccc;
}

.user-phone-edit {
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  padding: 4px 15px 0;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 16px;
}

.btn-verify {
  color: #000;
  font-family: 'cambaybold', verdana;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 35px;
  margin-right: 10px;
}

.btn-verify:hover, .btn-verify:focus {
  background: #F6F6F6;
  text-decoration: none;
}

.btn-verify1 {
  color: #2b542c;
  font-family: 'cambaybold', verdana;
  padding: 0 15px;
  background: #fff;
  border: 1px solid #fff;
  height: 30px;
  line-height: 35px;
  margin-right: 100px;
}

.btn-verify1:hover, .btn-verify1:focus {
  background: #fff;
  text-decoration: none;
  box-shadow: none;
}

.btn-verify1 i {
  margin-right: 100px;
  color: #2FD455;
  font-size: 24px;
}

.modal-backdrop {
  z-index: 100;
}

.ck2 input {
  display: none;
}

.ck2 span {
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  height: 20px;
  margin-bottom: -5px;
  margin-right: 10px;
  position: relative;
  width: 20px;
}

.ck2:hover span {
  border: 1px solid #2ED353;
}

.ck2 input:checked + span {
  background: #648190;
  border: 1px solid #648190;
}

.ck2 input:checked + span:before {
  color: #fff;
  content: "\f299";
  display: inline-block;
  font-family: "Material Design Iconic Font";
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 2px;
  margin-top: 1px;
  position: absolute;
  text-rendering: auto;
}

.ck2 em {
  font-style: normal;
  margin-left: 10px;
  position: absolute;
  padding-top: 4px;
  padding-right: 15px;
}

.ck2 label {
  display: block;
}

.swal2-content ul li {
  list-style: none;
}

.ck3 {
  height: 30px;
}

.ck3 input {
  display: none;
}

.ck3 span {
  border: 1px solid #ccc;
  display: inline-block;
  height: 20px;
  margin-top: 7px;
  margin-right: 15px;
  position: relative;
  width: 20px;
  background: #fff;
  float: left;
}

.ck3:hover span {
  border: 1px solid #2ED353;
}

.ck3 input:checked + span {
  background: #648190;
  border: 1px solid #648190;
}

.ck3 input:checked + span:before {
  color: #fff;
  content: "\f299";
  display: inline-block;
  font-family: "Material Design Iconic Font";
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  -webkit-font-language-override: normal;
          font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  margin-left: 2px;
  margin-top: 1px;
  position: absolute;
  text-rendering: auto;
}

.ck3 i {
  float: left;
}

.ck3 i:before {
  font-size: 30px;
  margin-left: 0;
}

.ck3 em {
  font-style: normal;
  float: left;
  margin-top: 12px;
}

.ck3 .flaticon-bed {
  margin-right: 15px;
}

.ck3 .flaticon-beds {
  margin-right: 15px;
}

.ck3 .flaticon-beds:before {
  font-size: 33px;
}

.ck3 .flaticon-holidays {
  margin-right: 15px;
  margin-top: 3px;
}

.ck3 .flaticon-holidays:before {
  font-size: 23px;
}

.ck3 .em {
  margin-top: 4px;
}

.ck3 .flaticon-bathtub {
  margin-right: 15px;
}

.ck3 .flaticon-toilet {
  margin-top: -19px;
  position: absolute;
}

.ck3 .flaticon-toilet:before {
  margin: 0;
  font-size: 17px;
}

.col {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  float: left;
}

.lang-data {
  border-radius: 0;
  height: 40px;
  line-height: 43px;
  padding: 0 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-size: 16px;
  display: inline-block;
  margin-right: 15px;
  white-space: nowrap;
}

#user-photo .ava img {
  background: #f2f4f5;
  border: 2px solid #e4e8eb;
}

.btn-def {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #acbcc5;
  background: #fff;
  color: #648190;
}

#webcam_result {
  width: 300px;
  height: 240px;
}

#webcam_result img {
  width: 300px;
  height: 220px;
}

#webcam {
  width: 300px;
  height: 240px;
}

#modal-video .modal-dialog,
#modal-photocam .modal-dialog {
  width: 330px;
}

#modal-video .panel-body,
#modal-photocam .panel-body {
  padding: 5px 15px;
}

#ava {
  display: none;
}

#user-video .video-file {
  width: 100%;
  height: 180px;
  background: #f2f4f5 url(../img/d2-min.png) no-repeat center center;
  border: 2px solid #e4e8eb;
}

#user-video .video-info {
  color: #000;
  padding: 20px;
  background: #e4e8eb;
  text-align: center;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
}

#video-cheklist {
  color: #648190;
}

#video-cheklist h3 {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 0;
}

#video-cheklist ul li {
  margin-bottom: 25px;
  list-style: none;
}

#video-cheklist ul li i {
  margin-right: 15px;
}

#video-cheklist1 {
  padding-top: 30px;
  color: #648190;
}

#video-cheklist1 h3 {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 0;
}

#video-cheklist1 ul li {
  margin-bottom: 25px;
  list-style: none;
}

#video-cheklist1 ul li i {
  margin-right: 15px;
}

#video-cheklist1 p {
  margin-bottom: 30px;
}

#load-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
  top: 0;
  left: 0;
  font-size: 18px;
  text-align: center;
  padding-top: 50%;
  color: green;
  font-family: 'cambaybold', verdana;
}

#my-player {
  width: 100%;
  height: 178px;
}

.verification h4 {
  margin: 0 0 20px 0;
  font-family: 'cambaybold', verdana;
  font-size: 16px;
}

.verification a {
  color: #2ED353;
}

.verification h5 {
  margin: 0 0 15px 0;
  font-family: 'cambaybold', verdana;
  font-size: 16px;
}

.verification h5:first-letter {
  text-transform: uppercase;
}

b {
  font-family: 'cambaybold', verdana;
}

.btn-soc {
  height: 40px;
  line-height: 40px;
  padding: 0 40px 0 20px;
  border: 1px solid #acbcc5;
  background: #fff !important;
  color: #648190 !important;
  font-family: 'cambaybold', verdana;
}

.btn-soc i {
  margin-right: 30px;
}

.btn-facebook2 {
  background: #3b5998;
  border: 1px solid #3b5998;
  color: #fff;
}

.btn-facebook2:hover, .btn-facebook2:focus {
  color: #fff;
}

.progress {
  height: 5px;
}

.progress .progress-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2fd358+0,2fd358+31,2fd358+31,64818f+70 */
  background: #2fd358;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2fd358 0%, #2fd358 31%, #2fd358 31%, #64818f 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#host-map {
  width: 100%;
  height: 350px;
  margin-bottom: 20px;
}

/*----Dropzone-------*/
#input-dropzone {
  display: none;
}

#dropzone-wrp {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

#dropzone-wrp .dropzone-text {
  background: transparent url("../img/upload-photos.png") repeat-x scroll left top;
  min-height: 260px;
  padding-top: 100px;
}

.big-photo {
  text-align: center;
  margin-bottom: 15px;
}

.big-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

#small-photo {
  display: none;
}

#small-photo .col-lg-2 {
  margin-bottom: 15px;
}

#small-photo .add-foto {
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: block;
  height: 155px;
  width: 155px;
  padding: 70px 0;
  text-align: center;
}

#small-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 155px;
  height: 155px;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading i {
  color: #2ED353;
  /*position: absolute;
        left: 50%;
        top: 20%;
        margin-left: -35px;
        margin-top: -15px;*/
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.add-foto-small {
  display: none;
}

.add-foto-small.e-foto {
  display: block !important;
}

.small-foto {
  margin-bottom: 15px;
}

.small-foto img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 155px;
  height: 155px;
}

.add-foto-small {
  border: 2px dashed #ccc;
  border-radius: 4px;
  display: block;
  height: 165px;
  width: 165px;
  padding: 70px 0;
  text-align: center;
}

.add-foto-small.e-foto {
  display: block !important;
}

.p-r-0 {
  padding-right: 0px;
}

.host-form {
  position: relative;
}

#add-host-page-vue .icon-circle {
  margin-bottom: 15px;
}

#add-host-page-vue .wizard-title {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
  margin-top: 0;
  color: #748C99;
}

#add-host-page-vue .tab-content .progress {
  margin: 0 -20px 20px;
}

#add-host-page-vue .card-footer {
  padding: 0;
}

#add-host-page-vue .dropdown-toggle.btn-default {
  background-color: transparent;
  border-color: #ccc;
  border-width: 1px !important;
  box-sizing: border-box;
  color: #555 !important;
  font-size: 14px;
  font-weight: normal !important;
  padding: 0px 25px 0 15px !important;
  transition: all 0.15s linear 0s;
}

#add-host-page-vue .tab-container {
  position: relative;
}

#tab-host {
  width: 100%;
}

#tab-host a {
  color: #AAABB6;
  display: block;
  float: left;
  min-height: 60px;
}

#tab-host a .stepTitle {
  display: block;
  text-align: center;
}

#tab-host a .tab_shape {
  height: 40px;
  line-height: 45px;
  display: block;
  text-align: center;
  background: #DDDDDD;
  margin-bottom: 15px;
  border-bottom: 2px solid #DDDDDD;
}

#tab-host a.router-link-exact-active, #tab-host a.active {
  text-decoration: none;
  color: #fff;
}

#tab-host a.router-link-exact-active .tab_shape, #tab-host a.active .tab_shape {
  background: #607E8D;
  border-bottom: 2px solid #2FD455;
}

#tab-host a.router-link-exact-active .stepTitle, #tab-host a.active .stepTitle {
  color: #607E8D;
}

#tab-host a:hover, #tab-host a:focus {
  text-decoration: none;
}

#add-host-page-ajax .progress {
  height: 5px;
  position: relative;
  width: 100%;
  z-index: 100;
}

#tab-host-button {
  min-height: 40px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.host-step-form {
  position: relative;
}

.hdn {
  display: none;
}

.hdn.vsb {
  display: block;
}

#tab-host-content {
  position: relative;
}

#block-host-in-dashboard {
  margin-bottom: 25px;
  padding: 25px;
  border: 1px solid #eaeaea;
}

#block-host-in-dashboard .host-bar {
  padding-top: 40px;
  margin-bottom: 25px;
}

#block-host-in-dashboard .host-bar p {
  color: #648190;
  font-size: 14px;
}

#block-host-in-dashboard h2 {
  margin: 0 0 15px 0;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
}

#block-host-in-dashboard .description {
  margin-bottom: 35px;
}

#block-host-in-dashboard .last-updated {
  color: #648190;
  margin-bottom: 30px;
}

#block-host-in-progress .host-bar {
  padding-top: 10px;
  margin-bottom: 25px;
}

#block-host-in-progress .host-bar p {
  color: #648190;
  font-size: 14px;
}

#block-host-in-progress h2 {
  margin: 0 0 15px 0;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
}

#block-host-in-progress .description {
  margin-bottom: 35px;
}

#block-host-in-progress .last-updated {
  color: #648190;
  margin-bottom: 30px;
}

#block-host-requests .host-bar,
#block-host-published .host-bar {
  padding-top: 10px;
  margin-bottom: 25px;
}

#block-host-requests .host-bar p,
#block-host-published .host-bar p {
  color: #648190;
  font-size: 14px;
}

#block-host-requests h2,
#block-host-published h2 {
  margin: 0 0 15px 0;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
}

#block-host-requests .description,
#block-host-published .description {
  margin-bottom: 35px;
}

#block-host-requests .last-updated,
#block-host-published .last-updated {
  color: #648190;
  margin-bottom: 30px;
}

#block-host-in-dashboard-1 {
  margin-bottom: 40px;
}

#block-host-in-dashboard-1 .host-price {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
}

#block-host-in-dashboard-1 .hosting-student {
  font-size: 18px;
  margin-bottom: 180px;
}

#block-host-in-dashboard-1 h3 {
  color: #2fd455;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 0;
  position: relative;
  z-index: 1;
}

#block-host-in-dashboard-1 h3:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  border-bottom: 2px solid #2fd455;
  top: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#block-host-in-dashboard-1 h3 span {
  display: inline;
  background: #fff;
  padding-right: 15px;
}

#block-host-in-dashboard-1 .list li {
  list-style: none;
  color: #627f8e;
  margin-bottom: 15px;
}

#block-host-in-dashboard-1 .list li span {
  display: inline-block;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
  width: 30px;
  height: 30px;
  margin-right: 30px;
  border: 2px solid #627f8e;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
}

#block-host-in-dashboard-1 .list li p {
  display: inline-block;
}

.btn-dark {
  background: #627f8e;
  color: #fff;
  padding: 0 15px;
  height: 40px;
  line-height: 45px;
}

.btn-dark:hover, .btn-dark:focus {
  background: #627f8e;
  color: #fff;
}

.btn-line {
  background: #fff;
  color: #648190;
  padding: 0 15px;
  height: 40px;
  line-height: 45px;
  border: 1px solid #648190;
}

.btn-line:hover, .btn-line:focus {
  background: #fff;
  color: #648190;
  border: 1px solid #648190;
}

.btn-line-2 {
  background: #fff;
  color: #648190;
  padding: 0 15px;
  height: 40px;
  line-height: 45px;
  border: 1px solid #ACBFC5;
}

.btn-line-2:hover, .btn-line-2:focus {
  background: #fff;
  color: #648190;
  border: 1px solid #ACBFC5;
}

.btn-b {
  font-family: 'cambaybold', verdana;
}

.btn40 {
  padding: 0 40px;
}

.btn75 {
  padding: 0 75px;
}

#block-get-inspired h2 {
  font-family: 'cambaybold', verdana;
  font-size: 18px;
  color: #2fd455;
  margin: 0 0 25px 0;
}

#block-get-inspired .thumbnail {
  border: none;
  padding: 0;
}

#block-get-inspired .thumbnail img {
  margin-bottom: 15px;
}

#block-get-inspired .thumbnail .cell {
  margin-bottom: 15px;
}

#block-get-inspired .thumbnail .cell .price {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
  color: #627f8e;
}

#block-get-inspired .thumbnail h4 {
  font-size: 16px;
  margin: 0;
  line-height: 1.1;
}

#block-get-inspired .thumbnail h4 a:hover {
  text-decoration: none;
}

#block-get-inspired .carousel-host-small .item {
  height: 150px;
}

.rating-symbol {
  margin-right: 2px;
  color: #2fd455;
}

.rating-symbol:last-child {
  margin-right: 0;
}

.h-im {
  background: url(../img/IMG_0012-min.jpg) no-repeat 0 center/cover;
  height: 315px;
}

.h-im .slog {
  background: #2fd455;
  color: #fff;
  font-family: 'cambaybold', verdana;
  font-size: 36px;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 120px;
}

#block-ulodger h1 {
  font-family: 'cambaybold', verdana;
  font-size: 36px;
  color: #627f8e;
  margin: 0;
}

#block-ulodger .sub {
  font-size: 18px;
  color: #627f8e;
  margin-bottom: 30px;
}

#block-ulodger h2 {
  font-family: 'cambaybold', verdana;
  font-size: 18px;
  color: #000;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

#block-ulodger h2:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  border-bottom: 2px solid #2fd455;
  left: 0;
  bottom: 0;
  top: 35px;
}

#block-ulodger .row {
  margin-bottom: 50px;
}

#block-ulodger .row p {
  font-size: 16px;
  color: #777777;
  line-height: 1.2;
  padding-right: 40px;
}

.im-ico {
  background: url(../img/sprite.png) no-repeat 0 0;
  display: inline-block;
}

.im-ico-1 {
  background-position: -21px 0;
  height: 35px;
  width: 39px;
}

.im-ico-2 {
  background-position: -60px 0;
  height: 37px;
  width: 37px;
}

.im-ico-3 {
  background-position: -97px 0;
  height: 36px;
  width: 31px;
}

.im-ico-4 {
  background-position: 0 -40px;
  height: 39px;
  width: 34px;
}

.im-ico-5 {
  background-position: -35px -40px;
  height: 39px;
  width: 37px;
}

.im-ico-6 {
  background-position: -72px -40px;
  height: 38px;
  width: 36px;
}

.im-ico-7 {
  background-position: -131px 0;
  height: 59px;
  width: 58px;
}

.im-ico-8 {
  background-position: -188px 10px;
  height: 59px;
  width: 41px;
}

.im-ico-9 {
  background-position: -233px 20px;
  height: 59px;
  width: 71px;
}

.im-ico-10 {
  background-position: -306px 25px;
  height: 59px;
  width: 75px;
}

.pb40 {
  padding: 0 40px;
}

.h1 {
  font-family: 'cambaybold', verdana;
  font-size: 36px;
  color: #627f8e;
  margin-bottom: 30px;
}

#block-how-it-works {
  margin-bottom: 50px;
}

#block-how-it-works .btn-default {
  height: 60px;
  padding: 15px 20px;
  line-height: 1;
  border: 1px solid #f2f4f5;
  color: #000;
  font-family: 'cambaybold', verdana;
  font-size: 18px;
  text-align: left;
  white-space: normal;
}

#block-how-it-works .btn-default span {
  color: #2fd455;
  font-size: 30px;
  margin-right: 10px;
}

#block-how-it-works .btn-default:hover, #block-how-it-works .btn-default:focus, #block-how-it-works .btn-default.active {
  background: #648190;
  color: #fff;
}

#block-how-it-works .btn-group-last .btn-default {
  padding: 5px 20px;
}

textarea.form-control {
  line-height: 1.1;
  padding-top: 10px;
}

.p-25 {
  padding: 25px !important;
}

.fle {
  position: absolute;
  margin-left: -20px;
  margin-top: 12px;
}

.request-delete,
.host-delete {
  width: 210px;
  text-align: right;
  float: right;
  height: 15px;
  line-height: 15px;
}

.request-delete .del,
.host-delete .del {
  color: #ccc;
}

.request-delete .del:hover,
.host-delete .del:hover {
  color: #F4645F;
}

.request-delete .shure,
.host-delete .shure {
  text-align: right;
  display: none;
}

.request-delete .yes,
.host-delete .yes {
  background: #F4645F;
  color: #fff;
  padding: 4px 10px 0 10px;
  height: 15px;
  line-height: 15px;
  position: relative;
  z-index: 100;
}

.request-delete .no,
.host-delete .no {
  background: #2FD358;
  color: #fff;
  padding: 4px 10px 0 10px;
  height: 15px;
  line-height: 15px;
  position: relative;
  z-index: 100;
}

.request-delete a:focus,
.request-delete a:hover,
.host-delete a:focus,
.host-delete a:hover {
  text-decoration: none;
}

#host-big-image {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#page-host-slug-tab {
  padding-top: 0 !important;
  border-bottom: 1px solid #f5f5f5;
}

#page-host-slug-tab a {
  display: inline-block;
  height: 50px;
  line-height: 55px;
  font-size: 16px;
  color: #648190;
  border-bottom: 2px solid #fff;
  margin-right: 40px;
}

#page-host-slug-tab a:hover, #page-host-slug-tab a.active {
  text-decoration: none;
  border-bottom: 2px solid #2fd455;
  color: #000;
}

#page-host-slug-tab a:focus {
  text-decoration: none;
}

#page-host-slug {
  padding-top: 60px;
}

#block-host-overview h1 {
  margin: 0 0 15px 0;
  font-family: 'cambaybold', verdana;
  font-size: 36px;
  color: #648190;
  line-height: 0.8;
}

#block-host-overview .cell {
  color: #648190;
  font-size: 18px;
}

#block-host-overview .cell .cell-data {
  float: left;
  margin-right: 10px;
}

#block-host-overview .host-user {
  display: block;
  text-align: center;
  color: #648190;
}

#block-host-overview .host-user img {
  margin-bottom: 15px;
}

#block-host-overview .big-cell {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f5f5f5;
}

#block-host-overview h3 {
  margin: 0 0 20px 0;
  font-family: 'cambaybold', verdana;
  font-size: 20px;
  color: #648190;
}

#block-host-overview .description {
  margin-bottom: 20px;
}

.rate-big {
  width: 105px;
  margin-top: -2px;
}

.rate-big .rating-symbol {
  color: #c9d5db;
}

.rate-big .rating-symbol .rating-symbol-foreground {
  color: #2FD455;
}

.color-b {
  color: #648190;
}

#block-host-book {
  margin-bottom: 60px;
}

#block-host-book h2 {
  font-family: 'cambaybold', verdana;
  font-size: 24px;
  padding: 20px 40px;
  background: #648190;
  color: #fff;
  margin: 0;
}

#block-host-book form {
  padding: 20px 40px;
  background: #F1F5F6;
  border: #ccc;
  position: relative;
}

select.selectpicker {
  display: block !important;
}

#block-host-wl .cell-1 {
  padding: 35px 40px 20px 40px;
  border: 1px solid #f5f5f5;
}

#block-host-wl .cell-group a {
  display: block;
  float: left;
  height: 40px;
  line-height: 45px;
  border: 1px solid #D8DCDF;
  width: 33.333%;
  text-align: center;
}

#block-host-wl .cell-group a:hover, #block-host-wl .cell-group a:focus {
  text-decoration: none;
  background: #F1F5F6;
}

#block-host-wl .cell-group a:nth-child(2),
#block-host-wl .cell-group a:nth-child(1) {
  border-right: none;
}

.my-affix {
  max-width: 315px;
  z-index: 101;
}

.my-affix.affix {
  top: 60px;
}

.fix-nav {
  background: #fff;
  width: 100%;
  z-index: 100;
}

.fix-nav.affix {
  top: 0px;
}

#block-host-reviews {
  margin-bottom: 30px;
  position: relative;
}

#block-host-reviews h2 {
  color: #648190;
  font-family: "cambaybold",verdana;
  font-size: 20px;
  margin: 0 0 20px;
}

#block-host-reviews h2 .rate-big {
  display: inline-block;
  margin-left: 20px;
}

#block-host-reviews .cell-rating p label {
  font-weight: normal;
  color: #648190;
  display: inline-block;
  width: 100px;
}

#block-host-reviews .cell-rating p .rate-big {
  display: inline-block;
}

#block-host-reviews .cell-rating p .rating-star {
  display: inline-block;
}

#block-host-reviews .list-group-item {
  border-radius: 0px;
  padding: 40px;
}

#block-host-reviews .comment-header {
  height: 40px;
  margin-bottom: 20px;
  line-height: 45px;
}

#block-host-reviews .comment-header:before {
  content: "";
  position: absolute;
  height: 1px;
  border-bottom: 2px solid #2FD455;
  width: 200px;
  top: 0;
  left: 0;
  bottom: 0;
  margin-left: 15px;
  margin-top: 40px;
}

#block-host-reviews .comment-header .name {
  font-family: "cambaybold",verdana;
  font-size: 18px;
  display: inline-block;
  color: #000;
}

#block-host-reviews .comment-header .date {
  display: inline-block;
  color: #648190;
}

#block-host-reviews .comment-body {
  line-height: 1.2;
  margin-bottom: 30px;
}

#block-host-reviews .comment-body .full {
  display: none;
}

#block-host-reviews .comment-body .more-text {
  display: block;
  font-family: "cambaybold",verdana;
  margin-top: 20px;
}

#block-host-reviews .comment-footer {
  text-align: right;
}

#block-host-reviews .comment-footer a {
  margin-right: 5px;
  font-family: "cambaybold",verdana;
}

#block-host-reviews .comment-footer a:last-child {
  margin-right: 0;
}

#tab-host-reviews {
  border: none;
}

#tab-host-reviews.all .all a {
  border-bottom: 2px solid #2FD455;
  font-family: "cambaybold",verdana;
  color: #000;
}

#tab-host-reviews.highest .highest a {
  border-bottom: 2px solid #2FD455;
  font-family: "cambaybold",verdana;
  color: #000;
}

#tab-host-reviews.lowest .lowest a {
  border-bottom: 2px solid #2FD455;
  font-family: "cambaybold",verdana;
  color: #000;
}

#tab-host-reviews li {
  margin-right: 40px;
  margin-bottom: 0;
}

#tab-host-reviews li.active {
  border-bottom: 2px solid #2FD455;
  font-family: "cambaybold",verdana;
  color: #000;
}

#tab-host-reviews a {
  font-size: 16px;
  border-bottom: 2px solid #fff;
  border-radius: 0px;
  background: none;
  padding: 0;
  height: 40px;
  line-height: 45px;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

#tab-host-reviews a:hover, #tab-host-reviews a:focus {
  background: none;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
}

#block-host-hosted {
  color: #648190;
  margin-bottom: 40px;
}

#block-host-hosted h2 {
  color: #648190;
  font-family: "cambaybold",verdana;
  font-size: 20px;
  margin: 0 0 20px;
}

#block-host-hosted .address {
  margin-bottom: 40px;
}

#block-host-hosted .reviews span {
  display: inline-block;
  height: 30px;
  line-height: 32px;
  width: 30px;
  text-align: center;
  border: 1px solid #648190;
  border-radius: 50%;
  margin-right: 20px;
}

#block-host-hosted .verified {
  height: 30px;
  line-height: 35px;
  position: relative;
}

#block-host-hosted .verified span {
  position: relative;
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 32px;
  width: 30px;
  text-align: center;
  border: 1px solid #2FD455;
  background: #2FD455;
  border-radius: 50%;
  margin-right: 20px;
}

#block-host-hosted .verified span i {
  color: #fff;
  font-size: 23px;
  margin-left: -6px;
  position: absolute;
}

#host-slug-map {
  width: 100%;
  height: 650px;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

.overlay-host {
  width: 100px;
  height: 100px;
  background: #2FD455;
  border-radius: 50%;
}

.pr {
  position: relative;
}

#form-found {
  padding: 30px 0;
  color: #648190;
  /* Tooltip */
  /* Tooltip on top */
}

#form-found label.bbb {
  font-family: "cambaybold",verdana;
  border-bottom: 2px solid #2FD455;
  font-weight: normal;
  padding-top: 7px;
}

#form-found .tooltip > .tooltip-inner {
  background-color: #fff;
  color: #648190;
  border: 1px solid #ccc;
  padding: 2px 10px;
  font-size: 12px;
  font-family: 'cambayregular', verdana;
  border-radius: 0px;
}

#form-found .tooltip.top > .tooltip-arrow {
  border-top: 5px solid #ccc;
}

#form-found .slider-horizontal {
  width: 100%;
  margin-top: 10px;
}

#form-found .slider-horizontal .slider-track {
  background: #65818D;
  height: 5px;
}

#form-found .slider-horizontal .slider-selection {
  background: #2fd358;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2fd358 0%, #2fd358 31%, #2fd358 31%, #64818f 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

#form-found .slider-horizontal .slider-handle {
  background: #65818D;
  margin-top: -3px;
}

#form-found .slider-horizontal .slider-handle:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  margin-left: 5px;
  margin-top: 5px;
}

#form-found .pslider .slider-horizontal .min-slider-handle {
  background: #2FD455;
}

#form-found .pslider .min {
  position: absolute;
  left: 0;
  margin-top: -10px;
  margin-left: 15px;
}

#form-found .pslider .max {
  position: absolute;
  right: 0;
  margin-top: -40px;
  margin-right: 8px;
}

#form-found .reset {
  font-family: "cambaybold",verdana;
  padding-top: 11px;
  position: relative;
  display: block;
}

#form-found .reset:hover, #form-found .reset:focus {
  text-decoration: none;
}

.vh {
  visibility: hidden;
}

.input-group-address {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.input-group-address .input-group-addon {
  border: none;
  background: none;
  padding-left: 0;
  padding-right: 0;
  width: 20px;
}

.input-group-address .form-control {
  border: none !important;
  background: transparent;
  color: #648190;
  box-shadow: none !important;
}

.input-group-address .form-control:focus, .input-group-address .form-control:active {
  box-shadow: none !important;
}

.input-group-address .flaticon-placeholder:before {
  margin-left: 0;
}

.input-group-address .fa-search {
  color: #ccc;
}

#foo {
  position: absolute;
  z-index: -9999;
  left: -9999px;
}

#page-host-found {
  padding-top: 20px !important;
  position: relative;
  padding-bottom: 30px;
}

#page-host-found h1 {
  font-family: 'cambayregular', verdana;
  margin: 0 0 20px 0;
  color: #000;
  font-size: 24px;
}

#page-host-found h1 span {
  font-family: "cambaybold",verdana;
  color: #648190;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}

#page-host-found .host-img {
  display: block;
  margin-bottom: 20px;
}

#page-host-found .price {
  color: #627f8e;
  font-family: "cambaybold",verdana;
  font-size: 24px;
}

#page-host-found h2 {
  font-size: 16px;
  line-height: 1.1;
  margin: 20px 0;
  font-weight: normal;
}

#page-host-found .cont {
  max-height: 644px;
  overflow: hidden;
}

#block-find-hosts {
  margin-bottom: 40px;
}

#block-find-hosts .slimScrollDiv {
  overflow: visible !important;
}

#block-find-hosts .slimScrollRail,
#block-find-hosts .slimScrollBar {
  margin-right: -15px;
}

#find-map {
  width: 100%;
  height: 644px;
  position: relative;
}

.price-pin {
  background: #627f8e none repeat scroll 0 0;
  color: #fff;
  font-family: "cambayregular",verdana;
  font-size: 14px;
  height: 20px;
  line-height: 24px;
  padding: 0 5px;
  position: relative;
  cursor: pointer;
}

.price-pin .caret {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -3px;
  margin-bottom: -4px;
  color: #627f8e;
}

.price-pin:hover {
  z-index: 100000;
  background: #2FD455 !important;
}

.price-pin:hover .caret {
  color: #2FD455 !important;
}

.pagination a {
  color: #627F8E !important;
  border-radius: 0px !important;
}

.pagination .active span {
  background: #627F8E;
  border-color: #627F8E;
}

.pagination .active span:hover {
  background: #2FD455;
  border-color: #2FD455;
}

.pagination .active a {
  color: #fff !important;
  background: #627F8E;
  border-color: #627F8E !important;
}

.pagination .active a:focus, .pagination .active a:hover {
  background: #2FD455;
  border-color: #2FD455 !important;
}

.ajax-submit {
  position: relative;
}

#messages-inbox-no {
  padding: 80px;
  border: 1px solid #ccc;
}

#messages-inbox-no h2 {
  font-family: "cambaybold",verdana;
  font-size: 18px;
  border-bottom: 2px solid #2FD253;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: inline-block;
}

#messages-inbox-no p {
  color: #627F8E;
  width: 210px;
}

#messages-inbox .list-group .list-group-item {
  border-radius: 0px;
}

#messages-inbox .list-group .list-group-item i {
  color: #d8dcde;
  font-size: 9px;
  margin-left: 10px;
  margin-right: 20px;
}

#messages-inbox .list-group .list-group-item:hover {
  background: #f2f4f5;
  cursor: pointer;
}

#messages-inbox .list-group .list-group-item .dark {
  color: #000;
}

#messages-inbox .list-group .list-group-item .blu {
  color: #627F8E;
}

#messages-inbox .list-group .list-group-item.read-0 {
  font-family: "cambaybold",verdana;
}

#messages-inbox .list-group .list-group-item.read-0 .name {
  font-family: "cambaybold",verdana;
}

#messages-inbox .list-group .list-group-item.read-0 .subject span {
  font-family: "cambaybold",verdana;
}

.m-t-m7 {
  margin-top: -7px;
}

.select-inbox span {
  padding-right: 20px;
}

.select-inbox-menu {
  border-radius: 0px;
  margin-left: 15px;
}

.inbox-move-to {
  border-radius: 0px;
}

#messages-wrp {
  position: relative;
}

#messages-wrp .message-head {
  margin-bottom: 20px;
}

#messages-wrp .message-book {
  padding: 30px;
  background: #F5F5F5;
  margin-top: 20px;
}

.btn-toolbar .btn:hover, .btn-toolbar .btn:focus {
  box-shadow: none !important;
}

.p-t-20 {
  padding-top: 20px;
}

#panel-message .panel-heading .fa-star {
  float: left;
  color: #D8DCDE;
  margin-right: 15px;
}

#panel-message .panel-heading .fa-star.starred {
  color: #2FD455;
}

.text-green {
  color: #2FD455 !important;
}

.host-request-book {
  padding: 30px;
  background: #F5F5F5;
}

#book-host {
  padding: 30px;
  background: #F5F5F5;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.comment-rating label,
.add-comment-rating label {
  width: 105px;
}

.comment-rating .rating-symbol-background,
.add-comment-rating .rating-symbol-background {
  color: #c9d5db;
}

.comment-rating .has-error label,
.add-comment-rating .has-error label {
  color: #a94442;
}

.comment-form {
  position: relative;
}

.review-comment .body {
  margin-bottom: 15px;
}

.review-comment .created {
  color: #627F8E;
}

.foto-wr {
  height: 500px;
  position: relative;
}

.foto-wr .foto-cell {
  position: absolute;
  left: 15px;
  bottom: 20px;
}

#page-user-slug h1 {
  color: #648190;
  font-family: "cambaybold",verdana;
  font-size: 36px;
  margin: 0 0 15px;
}

#page-user-slug .address {
  font-family: "cambaybold",verdana;
  margin-bottom: 20px;
  color: #648190;
  font-size: 18px;
}

#page-user-slug .reviews {
  color: #648190;
}

#page-user-slug .reviews span {
  border: 1px solid #648190;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  line-height: 32px;
  margin-right: 20px;
  text-align: center;
  width: 30px;
}

#page-user-slug .verified {
  height: 30px;
  line-height: 35px;
  position: relative;
  color: #648190;
}

#page-user-slug .verified span {
  background: #2fd455 none repeat scroll 0 0;
  border: 1px solid #2fd455;
  border-radius: 50%;
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 32px;
  margin-right: 20px;
  position: relative;
  text-align: center;
  width: 30px;
}

#page-user-slug .verified span i {
  color: #fff;
  font-size: 23px;
  margin-left: -6px;
  position: absolute;
}

#page-user-slug .about {
  margin-bottom: 20px;
}

#page-user-slug .user-ava {
  margin-bottom: 20px;
}

#page-user-slug .list {
  margin-bottom: 15px;
  position: relative;
}

#page-user-slug .list a {
  display: block;
  background: #000;
}

#page-user-slug .list h3 {
  color: #fff;
  font-size: 18px;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 100;
}

#page-user-slug .list img {
  opacity: 0.5;
}

.vrf {
  display: block;
  height: 20px;
  line-height: 25px;
  margin-bottom: 15px;
}

.vrf i {
  margin-right: 15px;
  font-size: 20px;
  float: left;
}

.img-thumbnail,
.thumbnail {
  border-radius: 0px;
}

#user-reviews .nav-tabs {
  border: none;
}

#user-reviews .nav-tabs > li.active > a, #user-reviews .nav-tabs > li.active > a:focus, #user-reviews .nav-tabs > li.active > a:hover {
  background: transparent;
  border: none;
  margin: 0;
}

#user-reviews .nav-tabs > li > a:hover {
  border: none;
  background: transparent;
  margin: 0;
}

#user-reviews .nav-tabs > li > a {
  margin: 0;
  padding: 0 15px;
  border: none;
  font-family: "cambaybold",verdana;
  font-size: 18px;
}

#user-reviews img {
  display: inline-block;
  margin-bottom: 15px;
}

#user-reviews .comment {
  margin-bottom: 15px;
}

.v--notifications {
  left: 50%;
  margin-left: -100px;
  top: 50px !important;
  background: transparent;
}

.v--notifications .out-in {
  background: transparent;
}

.notification.cp {
  background: transparent;
  margin-bottom: 15px;
  padding: 15px;
}

.notification.cp .notification-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.notification.cp .notification-content ul li {
  margin-bottom: 5px;
}

.notification.cp.success {
  color: #fff;
  background: rgba(43, 185, 76, 0.9);
}

.notification.cp.error {
  color: #fff;
  background: rgba(214, 0, 0, 0.9);
}

.btn-fb {
  background: #3B5998;
  color: #fff;
}

.btn-g {
  background: #DC4739;
  color: #fff;
}

.modal-backdrop {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.map-price {
  background: #62818F;
  color: #fff;
  font-family: "cambaybold",verdana;
  padding: 5px 10px 0px 10px;
  font-size: 16px;
  line-height: 1;
}

.map-price .caret {
  bottom: 0;
  color: #62818F;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
  position: absolute;
}

.map-price.active, .map-price:hover {
  background: #2fd455;
  z-index: 100;
  cursor: pointer;
}

.map-price.active .caret, .map-price:hover .caret {
  color: #2fd455;
}

.infoBox:hover {
  z-index: 100 !important;
}

#form-found .bootstrap-datetimepicker-widget {
  z-index: 100001;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
  outline: none;
}

#location h2 {
  color: #648190;
  font-family: "cambaybold",verdana;
  font-size: 20px;
  margin: 0 0 20px;
}

#reviews-list-group {
  position: relative;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

#carousel-host {
  height: 500px;
  overflow: hidden;
}

#carousel-host .item {
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-host-small {
  margin-bottom: 20px;
}

.filter-private-room {
  margin-right: 10px;
  padding-top: 3px;
}

.filter-shared-room {
  margin-right: 10px;
}

.filter-house-room {
  margin-right: 10px;
}

.hotels-ico {
  font-size: 48px;
  color: #2FD455;
}

.hotels-ico.glyph-icon::before {
  font-size: 48px;
}

.hotels-ico .flaticon-toilet {
  left: 0;
  position: absolute;
  top: 0;
  margin-left: 19px;
}

.tf {
  background: url(../img/tf2.png) no-repeat 0 0/100%;
  height: 180px;
  width: 270px;
  position: relative;
  margin-top: 35px;
}

#modal-provide .modal-dialog {
  width: 670px;
}

#modal-provide #webcam {
  background: #ccc;
}

.form-contact {
  margin-bottom: 50px;
}

.form-contact .btn-green {
  padding: 4px 50px 0px;
  text-transform: uppercase;
}

.form-contact textarea {
  resize: none;
}

.tpl-find-listing:hover,
.tpl-find-listing.hov {
  background: #e5e5e5;
}

#block-photo-profile {
  cursor: pointer;
}

#block-photo-profile:hover .foto-caprion {
  margin-top: -111px;
}

#block-photo-profile .foto-caprion {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 15px;
  position: absolute;
  width: 252px;
  margin-top: 0px;
  transition: 0.6s;
  z-index: 0;
}

#block-photo-profile .foto-caprion span {
  font-size: 11px;
}

#block-photo-profile .foto-caprion a {
  display: block;
  text-align: center;
  color: #fff;
}

#block-photo-profile .foto-caprion a i {
  font-size: 20px;
}

.user-inf {
  width: 252px;
  position: relative;
  z-index: 10;
  background: #fff;
  padding-top: 20px;
}

.user-inf h2 {
  margin-top: 0;
}

.myava.opa {
  opacity: 0.3;
}

#map {
  width: 100%;
  height: 430px;
}

.my-div-icon {
  background: url("http://icon-park.com/imagefiles/location_map_pin_red6.png") no-repeat 0 0/100% auto;
  width: 40px;
  height: 52px;
}

.anim {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.opa05 {
  opacity: 0.5;
}

#photo-upload .preim {
  position: relative;
  cursor: pointer;
}

#photo-upload .preim:hover .caption {
  display: block;
}

#photo-upload .preim .fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  color: #607E8D;
  z-index: 100;
}

#photo-upload .preim .caption {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#photo-upload .preim .caption:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}

#photo-upload .preim .caption nav {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

#photo-upload .preim .caption nav a {
  z-index: 100;
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
}

#photo-upload .preim .caption nav a:hover {
  color: red;
  border: 1px solid red;
}

#photo-upload .preim-big {
  height: 300px;
}

#photo-upload .preim-big img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

#photo-upload .preim-small img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 165px;
  height: 165px;
}

.vdp-datepicker .cell:hover {
  border: 1px solid #2ED353;
}

.vdp-datepicker .input-group .form-control {
  border-right: 0;
}

.vdp-datepicker .form-control:focus {
  box-shadow: none;
  border-color: #ccc;
}

.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover, .vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid #2ED353 !important;
}

.vdp-datepicker__calendar .cell.selected, .vdp-datepicker__calendar .cell.selected.highlighted, .vdp-datepicker__calendar .cell.selected:hover {
  background: #2ED353 !important;
  color: #fff;
}

.vdp-datepicker__calendar header .prev:after {
  border-right: 10px solid #2ED353 !important;
  margin-left: -5px;
}

.vdp-datepicker__calendar header .next:after {
  border-left: 10px solid #2ED353 !important;
  margin-left: 5px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: pointer;
  background-color: #fff;
  opacity: 1;
}

.vue-slider-component .vue-slider {
  background: #2fd358;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2fd358 0%, #2fd358 31%, #2fd358 31%, #64818f 70%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fd358', endColorstr='#64818f',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.vue-slider-component .vue-slider-process {
  background-color: #2FD358 !important;
}

.vue-slider-component .vue-slider-tooltip {
  background: #ffffff !important;
  color: #64818F !important;
  border: 1px solid #ccc !important;
}

.vue-slider-component .diy-tooltip {
  white-space: nowrap;
  font-size: 11px;
  height: 20px;
  line-height: 24px;
  padding: 0 5px;
  background: #fff;
  border: 1px solid #ccc;
}

.vue-slider-component .vue-slider-dot {
  background-color: #65818D !important;
}

.vue-slider-component .vue-slider-dot:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  margin-left: 3px;
  margin-top: 3px;
}

.rating-wrp {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating-wrp i {
  font-size: 16px;
  margin-right: 4px;
  color: #2FD358;
}

.rating-wrp > i.active:before,
.rating-wrp-hover > i:hover ~ i:before,
.rating-wrp-hover > i:hover:before {
  content: "\f005";
}

.find-icon {
  width: 50px;
  height: 20px;
  background: #65818D;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.find-icon.hov, .find-icon:hover {
  background: #2FD358;
  z-index: 10000;
}

.find-icon.hov .caret, .find-icon:hover .caret {
  color: #2FD358;
}

.find-icon .caret {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 20px;
  margin-left: -3px;
  color: #65818D;
}

.op05 {
  opacity: 0.5;
}

.input-group-schoolslocaton .form-control {
  border-left: none;
}

.input-group-schoolslocaton .form-control:focus {
  box-shadow: none;
  border-color: #cccccc;
}

.rate-big,
.rating-star {
  color: #C9D5DB;
}

.rate-big.rating-wrp-hover:hover,
.rating-star.rating-wrp-hover:hover {
  color: #2FD455;
}

.rate-big .active,
.rating-star .active {
  color: #2FD455;
}

.rate-big i,
.rating-star i {
  margin-right: 2px;
}

.modal-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all .3s ease;
}

.modal-container .modal-header {
  min-height: 16.43px;
  padding: 0px;
  border: none;
  position: relative;
}

.modal-container .modal-footer {
  min-height: 16.43px;
  padding: 0px;
  border: none;
}

.modal-container .modal-closed {
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -30px;
  margin-right: -30px;
  color: #fff;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact-container {
  width: 600px;
  font-size: 14px;
  color: #0f0f0f;
}

.contact-container h6 {
  margin: 0px 0 15px 0;
  font-size: 24px;
}

#form-contact textarea {
  resize: none;
  font-size: 12px;
}

#form-book-apply .vdp-datepicker .input-group .form-control,
#form-book .vdp-datepicker .input-group .form-control {
  border-right: 1px solid #ccc;
}

#form-book-apply .vdp-datepicker .input-group .form-control.has-error,
#form-book .vdp-datepicker .input-group .form-control.has-error {
  border-right: 1px solid #a94442;
}

.hosts-list .description {
  font-size: 12px;
  margin-bottom: 15px;
}

.hosts-list .last-updated {
  margin-bottom: 15px;
  text-align: right;
  color: #999999;
}

.hosts-list h2 {
  font-size: 24px;
  color: #64818F;
}

.hosts-list .created {
  margin-bottom: 15px;
  margin-top: 15px;
  color: #999999;
}

.p-15 {
  padding: 15px;
}

.book-user {
  height: 40px;
  line-height: 30px;
  margin-bottom: 15px;
}

#form-book-cancel textarea {
  resize: none;
}

.alert {
  border-radius: 0px;
}

.alert i {
  font-size: 24px;
}

.p-0 {
  padding: 0 !important;
}

.m-r-15 {
  margin-right: 15px;
}

.btn-link {
  height: auto;
  line-height: normal;
}

.remove {
  color: red;
}

.edit {
  color: #2ED353;
}

.status-0 {
  color: #fff;
  background: #8a1f11;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px 0 10px;
}

.status-0 {
  color: #fff;
  background: #8a1f11;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px 0 10px;
}

.status-1 {
  color: #fff;
  background: #2FD253;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px 0 10px;
}

.status-2 {
  color: #fff;
  background: #2F3133;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px 0 10px;
}

.status-3 {
  color: #fff;
  background: #FF9D00;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 10px 0 10px;
}

.btn-clear {
  background: none;
  border: none;
  height: auto;
  line-height: normal;
  padding: 0;
}

#invoice {
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 50px;
}

#invoice .logo {
  background: url("../images/logo-min.png") no-repeat 0 0;
  height: 50px;
  width: 103px;
}

#invoice h3 {
  margin: 0;
}
