<template>
    <div class="container">
        <!--<pre>{{ $data }}</pre>-->
        <div id="form-found">
            <form v-on:change="formOnChange" v-on:submit="submitFind('find', $event)" data-vv-scope="find" accept-charset="UTF-8" role="form" class="form-found">
                
                <div class="form-group details">
                    <div class="input-group input-group-address">
                        <span class="input-group-addon"><i class="glyph-icon flaticon-placeholder" aria-hidden="true"></i></span>
                        <!--<input v-model="find.school" class="form-control adtype" placeholder="Type your school name" data-geo="formatted_address" autocomplete="off" name="school" type="text">-->
                        <vue-google-autocomplete
                            value="find.school"
                            id="school-autocomplete"
                            classname="form-control bln"
                            placeholder="Search"
                            types="establishment"
                            v-on:placechanged="getAddressData">
                        </vue-google-autocomplete>
                       
                        <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input id="ne_lat" v-model="find.lat" data-geo="lat" name="lat" type="hidden">
                        <input id="ne_lng" v-model="find.lng" data-geo="lng" name="lng" type="hidden">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        
                        <div class="row m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Date</label>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input v-model="find.move_in" class="form-control brn move_in" placeholder="Move-in" name="move_in" type="text">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input v-model="find.move_out" class="form-control brn move_out" placeholder="Move-out" name="move_out" type="text">
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group">
                                    <select v-model="find.rooms" class="form-control selectpicker" title="Select Rooms" name="rooms" tabindex="-98"><option class="bs-title-option" value="">Select Rooms</option><option value="1">1 Room</option><option value="2">2 Rooms</option><option value="3">3 Rooms</option><option value="4">4 Rooms</option><option value="5">5 Rooms</option><option value="6">6 Rooms</option><option value="7">More</option></select>
                                </div>
                            </div>
                        </div>
                            
                        <div class="row m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Room Type</label>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-1">
                                        <input id="ck-1" v-model="find.rent_out" :value="1" type="checkbox"> 
                                        <span></span>
                                        <i class="filter-private-room hotels-uniF105"></i>
                                        <em>Private</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-2">
                                        <input id="ck-2" v-model="find.rent_out" :value="2" type="checkbox"> 
                                        <span></span>
                                        <i class="filter-shared-room hotels-uniF10D2"></i>
                                        <em>Shared</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-3">
                                        <input id="ck-3" v-model="find.rent_out" :value="3" type="checkbox"> 
                                        <span></span>
                                        <i class="filter-house-room hotels-uniF1232"></i>
                                        <em class="em">Whole<br>House</em>
                                    </label>
                                </div>
                            </div>
                        </div>
                            
                        <div class="row">
                            <div class="col lg-2">
                                <label class="bbb">Distance</label>
                            </div>
                            <div class="col lg-10">
                                <input id="miles" v-model="find.distance" class="vh" data-slider-min="1" data-slider-max="50" data-slider-step="1" :data-slider-value="find.distance" type="text">
                            </div>
                        </div>
                            
                    </div>
                    <div class="col-lg-6">
                        
                        <div class="row m-t-75 m-b-20">
                            <div class="col lg-2">
                                <label class="bbb">Bath Type</label>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-4">
                                        <input id="ck-4" v-model="find.bath_type" :value="1" type="checkbox"> 
                                        <span></span>
                                        <i class="glyph-icon flaticon-bathtub"></i>
                                        <em>Private</em>
                                    </label>
                                </div>
                            </div>
                            <div class="col lg-3">
                                <div class="form-group ck3">
                                    <label class="nn" for="ck-5">
                                        <input id="ck-5" v-model="find.bath_type" :value="2" type="checkbox"> 
                                        <span></span>
                                        <i class="glyph-icon flaticon-bathtub"><div class="glyph-icon flaticon-toilet"></div></i>
                                        <em>Shared</em>
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col lg-2">
                                <label class="bbb">Price Range</label>
                            </div>
                            <div class="col lg-6">
                                <div class="pslider">
                                    <span class="min">$50</span>
                                    <input id="pslider" class="vh" value="" data-slider-min="50" data-slider-max="5000" data-slider-step="10" data-slider-value="[50,5000]" type="text">
                                    <span class="max">$5000</span>
                                </div>
                            </div>
                            <div class="col lg-4 text-right">
                                <router-link to="/find/hosts" class="reset">RESET FILTERS</router-link>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="sumb" class="hidden"></button>
            </form>
        </div>
    </div>
</template>

<script>
    window.slider = require("bootstrap-slider");
    
    import VueGoogleAutocomplete from 'vue-google-autocomplete';
    
    export default {
        components: { VueGoogleAutocomplete },
        inject: ['$validator'],
        data(){
            return {
                find: {
                    school: '',
                    lat: '',
                    lng: '',
                    move_in: '',
                    move_out: '',
                    rooms: '',
                    rent_out: [],
                    bath_type: [],
                    distance: 1,
                    price_min: 50,
                    price_max: 5000,
                    page: 1,
                }
            }  
        },
        watch: {
            '$route': 'fetchData'
        },
        methods:{
            submitFind: function(scope, e)
            {
                e.preventDefault();
                this.$emit('onchangefind', this.find);
            },
            formOnChange: function(e)
            {
                e.preventDefault();
                this.find.page = 1;
                this.clickSubmit();
            },
            changeDistance: function(mile = null)
            {
                var _this = this;

                var miles = $('#miles').slider({
                    formatter: function(value) {
                        return value +' miles';
                    },
                    tooltip: 'always',
                });
//                var miles = new slider('#miles', {
//                    formatter: function(value) {
//                        return value +' miles';
//                    },
//                    value: (mile) ? mile : 1,
//                });
//
//
                if(mile)
                {
                    miles.slider('setValue', mile);
                }

                miles.on('slideStop', function(){

                    if (_this.find.school == undefined || _this.find.school == '') {
                        _this.$notify({
                            type: 'error',
                            title: 'Error!',
                            text: 'Please type yuor school name!',
                        });
                    }
                    else
                    {
                        var value = miles.slider('getValue');
                        _this.find.distance = value;
                        _this.find.page = 1;
                        _this.clickSubmit();
                    }
                });
            },
            changePrice: function()
            {
                var _this = this;
                var price = new slider('#pslider');
                
                price.on('slideStop', function(value){
                    _this.find.price_min = value[0];
                    _this.find.price_max = value[1];
                    _this.find.page = 1;
                    _this.clickSubmit();
                });
            },
            changeDate: function()
            {
                var _this = this;
                $('.move_in').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                     _this.find.move_in = d.toLocaleDateString("en-US", options);
                    
                    d.setDate(d.getDate()+30);
                    $('.move_out').data("DateTimePicker").minDate(d);
                    //
                    $(this).data('DateTimePicker').hide();
                    _this.clickSubmit();
                });
                
                $('.move_out').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.find.move_out = d.toLocaleDateString("en-US", options);
                    _this.find.page = 1;
                    $(this).data('DateTimePicker').hide();
                    _this.clickSubmit();
                });
            },
            fetchData: function()
            {
                this.find.school = this.$route.query.school;
                this.find.lat = this.$route.query.lat;
                this.find.lng = this.$route.query.lng;
                this.find.move_in = this.$route.query.move_in;
                this.find.move_out = this.$route.query.move_out;
                this.find.rooms = this.$route.query.rooms;
                this.find.distance = this.$route.query.distance;
                this.find.price_min = this.$route.query.price_min;
                this.find.price_max = this.$route.query.price_max;
                $('#school-autocomplete').val(this.$route.query.school);
            },
            getAddressData: function (addressData, placeResultData) {
                this.find.school = placeResultData.name;
                this.find.lat = placeResultData.geometry.location.lat();
                this.find.lng = placeResultData.geometry.location.lng();
                this.find.distance = 30;
                this.find.page = 1;
                this.changeDistance(30);

                this.clickSubmit();
                //$('.move_in ').data("DateTimePicker").show();
            },
            clickSubmit: function()
            {
                var submit = $('#sumb');
                submit.get(0).click();
            }
        },
        computed: {
            
        },
        mounted() {
            console.log('Component mounted BlockFindHosts.');
            this.changeDistance();
            this.changePrice();
            this.changeDate();
            this.fetchData();
            //console.log(this.$route);
            if(Object.keys(this.$route.query).length)
            {
                this.changeDistance(this.$route.query.distance);
            }
        }
    }
</script>