<template>
    <div id="block-host-book">
        <h2>${{ host.price | price }} per month</h2>
        
        <form v-on:submit="submitBook('book', $event)" data-vv-scope="book" accept-charset="UTF-8" role="form" class="form prl">
            
            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="check_in">Check in</label>
                        <input v-model="book.check_in" v-validate="'required'" placeholder="mm/dd/yy" name="check_in" class="form-control check_in" type="text">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="check_out">Check out</label>
                        <input v-model="book.check_out" v-validate="'required'" placeholder="mm/dd/yy" name="check_out" class="form-control check_out" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <select v-model="book.lodgers" v-validate="'required'" name="lodgers" class="form-control selectpicker" tabindex="-98">
                            <option class="bs-title-option" value="">- lodgers -</option>
                            <option value="1">1 lodger</option>
                            <option value="2">2 lodgers</option>
                            <option value="3">3 lodgers</option>
                            <option value="4">4 lodgers</option>
                            <option value="5">5 lodgers</option>
                            <option value="6">6 lodgers</option>
                            <option value="7">7 lodgers</option>
                            <option value="8">8 lodgers</option>
                            <option value="9">9 lodgers</option>
                            <option value="10">10 lodgers</option>
                        </select>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-green w100p please-login">Book</button> 
            <div class="help-block text-center p-t-15">You won’t be charged yet</div>
        </form>
    </div>
</template>

<script>
    
    const dictionary = {
        en: {
            attributes: {
                check_in: 'Check in',
                check_out: 'Check out',
                lodgers: 'Lodgers',
            }
        }
    };
    
    export default {
        inject: ['$validator'],
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                book: {
                    check_in: '',
                    check_out: '',
                    lodgers: '',
                },
                loading: false,
            }  
        },
        methods: {
            submitBook: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    if (this.$auth.isAuth()) {
                        
                        this.loading = true;
                        axios.post('/host/'+this.host.id+'/book', this.book).then(response => {
                            this.loading = false;
                            this.$swal({
                                title: 'Success!',
                                text: response.data.success,
                                type: 'success',
                            });
                        }).catch(error => {
                            //
                            this.loading = false;
                            this.$notify({
                                type: 'error',
                                title: 'Error!',
                                text: error.response.data.error,
                            });
                        });
                    }
                    else
                    {
                        this.$swal({
                            title: 'Warning!',
                            text: 'You need to login!',
                            type: 'warning',
                        });
                    }
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            changeDate: function()
            {
                var _this = this;
                $('.check_in').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                     _this.book.check_in = d.toLocaleDateString("en-US", options);
                    
                    d.setDate(d.getDate()+30);
                    $('.check_out').data("DateTimePicker").minDate(d);
                    $(this).data('DateTimePicker').hide();
                });
                
                $('.check_out').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.book.check_out = d.toLocaleDateString("en-US", options);
                    $(this).data('DateTimePicker').hide();
                });
            },
        },
        mounted() {
            console.log('Component mounted Book.');
            this.$validator.updateDictionary(dictionary);
            this.changeDate();
        }
    }
</script>