<template>
    <div v-if="host.photo.length > 1" :id="'carousel-host-small'+host.id" class="carousel slide carousel-host-small" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li v-for="(indicator, index) in host.photo" :data-target="'#carousel-host-small'+host.id" :data-slide-to="index" v-bind:class="[(index == 0) ? 'active' : '']"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div v-for="(photo, index) in host.photo" v-bind:class="[(index == 0) ? 'active' : '', 'item']">
                <router-link :to="{name: 'host', params: { slug: host.slug }}" target="_blank">
                    <img :src="'/filem/photo/400x320/'+photo.filename" class="img-responsive" alt="">
                </router-link>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" :href="'#carousel-host-small'+host.id" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" :href="'#carousel-host-small'+host.id" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <router-link v-else :to="{name: 'host', params: { slug: host.slug }}" class="host-img" target="_blank">
        <img :src="host.photo | img" class="img-responsive" alt="">
    </router-link>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                hosted: null,
            }  
        },
        methods: {
            
        },
        mounted() {
            console.log('Component mounted CarouselSmall.');
        }
    }
</script>