<template>
    <div v-if="host.photo.length" id="carousel-host" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
        <ol class="carousel-indicators">
            <li v-for="(indicator, index) in host.photo" data-target="#carousel-host" :data-slide-to="index" v-bind:class="[(index == 0) ? 'active' : '']"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div v-for="(photo, index) in host.photo" v-bind:style="{ 'background-image': 'url(/uploads/photo/' + photo.filename + ')' }" v-bind:class="[(index == 0) ? 'active' : '', 'item']"></div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-host" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-host" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                hosted: null,
            }  
        },
        methods: {
            
        },
        mounted() {
            console.log('Component mounted Carousel.');
        }
    }
</script>