<template>
    <section id="hosted">
        <div id="block-host-hosted" v-if="hosted">
            <div class="row">
                <div class="col-lg-9">
                    <h2><a href="">Hosted by {{ hosted.first_name }}</a></h2>
                    <div class="address"></div>
                    <div class="row m-b-25">
                        <div class="col-lg-4">
                            <div class="reviews"><span>{{ hosted.reviews.length }}</span> Reviews</div>
                        </div>
                        <div class="col-lg-4">
                            <div class="verified"><span><i aria-hidden="true" class="fa fa-check"></i></span> Verified</div>
                        </div>
                    </div>
                    <p class="m-b-25">
                        <button class="btn btn-green please-login" data-toggle="modal" data-target="#modal-contact">Contact the Host</button>
                    </p>
                    <p>Response rate: <b>100%</b></p>
                    <p>Response time: <b>within an hour</b></p>
                </div>
                <div class="col-lg-3 text-right">
                    <router-link :to="{ name: 'user', params: { slug: host.user.slug }}" class="host-user">
                        <img :src="'/avatar/110x110/'+hosted.id" alt="" class="thumb-md img-circle">
                    </router-link>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                hosted: null,
            }  
        },
        methods: {
            getHosted: function()
            {
                axios.post('/host/hosted/'+this.host.user_id).then(response => {
                    this.hosted = response.data;
                }).catch(error => {
                    //
                });
            }
        },
        mounted() {
            console.log('Component mounted Hosted.');
            this.getHosted();
        }
    }
</script>