<template>
    <section id="location">
        <h2>Location</h2>
        <div id="host-slug-map"></div>
    </section>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                getMap: function()
                {
                    if (this.host.location.length) {
                        var map = new GMaps({
                            div: '#host-slug-map',
                            lat: this.host.location[0].pivot.lat,
                            lng: this.host.location[0].pivot.lng,
                            zoom: 12,
                        });
                        
                        map.drawCircle({
                            lat: this.host.location[0].pivot.lat,
                            lng: this.host.location[0].pivot.lng,
                            radius: 1000,
                            fillColor: '#2FD455',
                            fillOpacity: 0.8,
                            strokeWeight: 1,
                            strokeColor: '#2FD455',
                            //strokeColor:'#2FD455',
                        });
                    }
                    
                }
            }  
        },
        methods: {
            
        },
        mounted() {
            console.log('Component mounted Location.');
            this.getMap();
        }
    }
</script>