<template>
    <div id="modal-contact" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button> 
                    <div class="row">
                        <div class="col-lg-6">
                            <h1>Contact {{ host.user.first_name }}</h1>
                            <p class="m-b-15">Make sure you share the following:</p>
                            <ul>
                                <li class="m-b-15">Tell {{ host.user.first_name }} a little about yourself</li>
                                <li class="m-b-15">What do you love about this listing? Mention it!</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <div class="alert alert-warning">
                                Please specify check in and check out dates
                            </div>
                            
                            <form v-on:submit="submitContact('contact', $event)" data-vv-scope="contact" accept-charset="UTF-8" role="form" class="form prl">
                                
                                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                
                                <!--<div class="row">-->
                                    <!--<div class="col-lg-6">-->
                                        <!--<div class="form-group">-->
                                            <!--<label for="check_in">Check in</label>-->
                                            <!--<input v-model="contact.check_inc" v-validate="'required'" placeholder="mm/dd/yy" name="check_inc" class="form-control check_inc" type="text">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="col-lg-6">-->
                                        <!--<div class="form-group">-->
                                            <!--<label for="check_out">Check out</label>-->
                                            <!--<input v-model="contact.check_outc" v-validate="'required'" placeholder="mm/dd/yy" name="check_outc" class="form-control check_outc" type="text">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!--<div class="form-group">-->
                                            <!--<select v-model="contact.guestsc" v-validate="'required'" title="- lodgers -" name="guestsc" class="form-control selectpicker guestsc" tabindex="-98">-->
                                                <!--<option value="1">1 lodger</option>-->
                                                <!--<option value="2">2 lodgers</option>-->
                                                <!--<option value="3">3 lodgers</option>-->
                                                <!--<option value="4">4 lodgers</option>-->
                                                <!--<option value="5">5 lodgers</option>-->
                                                <!--<option value="6">6 lodgers</option>-->
                                                <!--<option value="7">7 lodgers</option>-->
                                                <!--<option value="8">8 lodgers</option>-->
                                                <!--<option value="9">9 lodgers</option>-->
                                                <!--<option value="10">10 lodgers</option>-->
                                                <!--<option value="11">11 lodgers</option>-->
                                                <!--<option value="12">12 lodgers</option>-->
                                                <!--<option value="13">13 lodgers</option>-->
                                                <!--<option value="14">14 lodgers</option>-->
                                                <!--<option value="15">15 lodgers</option>-->
                                                <!--<option value="16">16 lodgers</option>-->
                                            <!--</select>-->
                                        <!--</div>-->
                                        <div class="form-group">
                                            <label for="message">Message host</label>
                                            <textarea v-model="contact.messagec" v-validate="'required'" rows="3" name="messagec" cols="50" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input value="Send Message" class="btn btn-green w100p" type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    const dictionary = {
        en: {
            attributes: {
                //check_inc: 'Check in',
                //check_outc: 'Check out',
                //guestsc: 'Lodgers',
                messagec: 'Message host',
            }
        }
    };
    
    export default {
        inject: ['$validator'],
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                contact: {
                    //check_inc: '',
                    //check_outc: '',
                    //guestsc: '',
                    messagec: '',
                },
                loading: false,
            }  
        },
        methods: {
            submitContact: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    if (this.$auth.isAuth()) {
                        
                        this.loading = true;
                        axios.post('/host/'+this.host.slug+'/contact', this.contact).then(response => {
                            this.loading = false;
                            $('#modal-contact').modal('hide');
                            this.$swal({
                                title: 'Success!',
                                text: response.data.success,
                                type: 'success',
                            });
                            //this.contact.check_inc = '';
                            //this.contact.check_outc = '';
                            //this.contact.lodgersc = '';
                            this.contact.messagec = '';
                            $('.guestsc').selectpicker('val', '');
                            this.errors.clear();
                            
                        }).catch(error => {
                            //
                            this.loading = false;
                            this.$notify({
                                type: 'error',
                                title: 'Error!',
                                text: error.response.data.error,
                            });
                        });
                    }
                    else
                    {
                        this.$swal({
                            title: 'Warning!',
                            text: 'You need to login!',
                            type: 'warning',
                        });
                    }
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            changeDate: function()
            {
                var _this = this;
                $('.check_inc').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                     _this.contact.check_inc = d.toLocaleDateString("en-US", options);
                    
                    d.setDate(d.getDate()+10);
                    $('.check_outc').data("DateTimePicker").minDate(d);
                    $(this).data('DateTimePicker').hide();
                });
                
                $('.check_outc').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.contact.check_outc = d.toLocaleDateString("en-US", options);
                    $(this).data('DateTimePicker').hide();
                });
            },
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                });
            });
        },
        mounted() {
            console.log('Component mounted ModalContact.');
            this.$validator.updateDictionary(dictionary);
            this.changeDate();
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                });
            });
        }
    }
</script>