<template>
    <section id="overview">
        <div id="block-host-overview">
            <!--//-->
            <div class="big-cell">
                <div class="row">
                    <div class="col-lg-10">
                        <h1>{{ host.title }}</h1>
                        <div class="cell">
                            <div v-if="host.location.length" class="cell-data">{{ host.location[0].pivot.locality }}, {{ host.location[0].pivot.region }}</div>
                            <div class="cell-data rate-big">
                                <input :value="host.rating | rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star" class="rating" type="hidden">
                            </div>
                            <div class="cell-data">{{ host.rating | reviews }} reviews</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <router-link :to="{ name: 'user', params: { slug: host.user.slug }}" target="_blank" class="host-user">
                            <img :src="'/avatar/110x110/'+host.user.id" alt="" class="thumb-md img-circle">
                            <span>{{ host.user.first_name }}</span>
                        </router-link>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <div class="row">
                    <div v-if="host.rent_out.length" class="col-lg-2 col-lg-offset-1 text-center">
                        <i v-if="host.rent_out[0].id == 1" class="hotels-ico hotels-uniF105"></i>
                        <i v-if="host.rent_out[0].id == 2" class="hotels-ico hotels-uniF10D2"></i>
                        <i v-if="host.rent_out[0].id == 3" class="hotels-ico hotels-uniF1232"></i>
                        <br><br>
                        <span class="color-b">{{ host.rent_out[0].name }}</span>
                    </div>
                    <div v-if="host.bath_type.length" class="col-lg-2 text-center">
                        <i v-if="host.bath_type[0].pivot.bath_type == 1" class="hotels-ico glyph-icon flaticon-bathtub"></i>
                        <i v-if="host.bath_type[0].pivot.bath_type == 2" class="hotels-ico glyph-icon flaticon-bathtub"><i class="glyph-icon flaticon-toilet"></i></i>
                        <br><br>
                        <span class="color-b" v-if="host.bath_type[0].pivot.bath_type == 1">Private</span>
                        <span class="color-b" v-if="host.bath_type[0].pivot.bath_type == 2">Shared</span>
                    </div>
                    <div v-if="host.guests.length" class="col-lg-2 text-center">
                        <i class="hotels-ico hotels-uniF1074"></i>
                        <br><br>
                        <span v-if="host.guests[0].pivot.guests > 1" class="color-b">{{ host.guests[0].pivot.guests }} Lodgers</span>
                        <span v-else class="color-b">{{ host.guests[0].pivot.guests }} Lodger</span>
                    </div>
                    <div v-if="host.bedrooms.length" class="col-lg-2 text-center">
                        <i class="hotels-ico hotels-uniF1462"></i>
                        <br><br>
                        <span class="color-b" v-if="host.bedrooms[0].pivot.bedrooms == 1">{{ host.bedrooms[0].pivot.bedrooms }} Bedroom</span>
                        <span class="color-b" v-else>{{ host.bedrooms[0].pivot.bedrooms }} Bedrooms</span>
                    </div>
                    <div v-if="host.beds.length" class="col-lg-2 text-center">
                        <i v-if="host.beds[0].pivot.beds > 1" class="hotels-ico hotels-uniF102"></i>
                        <i v-else class="hotels-ico hotels-uniF118"></i>
                        <br><br>
                        <span v-if="host.beds[0].pivot.beds > 1" class="color-b">{{ host.beds[0].pivot.beds }} Beds</span>
                        <span v-else class="color-b">{{ host.beds[0].pivot.beds }} Bed</span>
                    </div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>About this listing</h3>
                <div v-if="host.description.length" class="description">{{ host.description[0].pivot.description }}</div>
                <button class="btn btn-line pb40 please-login" data-toggle="modal" data-target="#modal-contact">Contact the Host</button>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>Place accommodate</h3>
                <p><label>This room is for:</label> {{ host.smoking | smoking }}</p>
                <p><label>Bath Type:</label> {{ host.bath_type | bathType }}</p>
                <p><label>Bathrooms:</label> {{ host.bathrooms | bathrooms }} bathrooms</p>
            </div>
            <!--//-->
            <div class="big-cell" v-if="host.amenities.length">
                <h3>Amenities</h3>
                <div class="row m-b-15" v-for="amenities in chunkedAmenities">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" v-for="amenitie in amenities">{{ amenitie.name }}</div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell" v-if="host.spaces.length">
                <h3>Spaces</h3>
                <div class="row m-b-15" v-for="spaces in chunkedSpaces">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3" v-for="space in spaces">{{ space.name }}</div>
                </div>
            </div>
            <!--//-->
            <div class="big-cell">
                <h3>Prices</h3>
                <p><label>${{ host.price | price }}</label> month</p>
            </div>
            
        </div>
    </section>
</template>

<script>
    
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                
            }  
        },
        methods: {
            
        },
        computed: {
            chunkedAmenities () {
                return _.chunk(_.toArray(this.host.amenities), 2);
            },
            chunkedSpaces () {
                return _.chunk(_.toArray(this.host.spaces), 2);
            },
        },
        mounted() {
            console.log('Component mounted Overview.');
        }
    }
</script>