<template>
    <div class="component">
        <headers></headers>
        <!--//-->
        <div id="host-big-image" v-if="host" v-bind:style="{ 'background-image': 'url(' + getBackgroundImage() + ')' }">
            <!--<div class="container foto-wr"></div>-->
            <carousel :host="host"></carousel>
        </div>
        <!--//-->
        <div v-if="host" class="fix-nav affix-top">
            <nav id="page-host-slug-tab" class="container">
                <a href="#overview" v-on:click="getTab('overview')" v-bind:class="{active: (activeTab == 'overview')}">Overview</a>
                <a href="#reviews" v-on:click="getTab('reviews')" v-bind:class="{active: (activeTab == 'reviews')}">Reviews</a>
                <a href="#hosted" v-on:click="getTab('hosted')" v-bind:class="{active: (activeTab == 'hosted')}">The Host</a>
                <a href="#location" v-on:click="getTab('location')" v-bind:class="{active: (activeTab == 'location')}">Location</a>
            </nav>
        </div>
        <!--//-->
        <div id="main">
            <div id="page-host-slug" class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <overview v-if="host" :host="host"></overview>
                        <reviews v-if="host" :host="host"></reviews>
                        <hosted v-if="host" :host="host"></hosted>
                        <location v-if="host" :host="host"></location>
                    </div>
                    <div class="col-lg-4 p-l-lg-60">
                        <div class="my-affix affix-top">
                            <book v-if="host" :host="host"></book>
                            <!--<wishlist v-if="host" :host="host"></wishlist>-->
                        </div>
                    </div>
                </div>
            </div>
            <!--<pre>{{ $data }}</pre>-->
        </div>
        <!--//-->
        <footers></footers>
        <modal-contact v-if="host" :host="host"></modal-contact>
    </div>
</template>

<script>
    window.rating = require("bootstrap-rating");
    
    Vue.component('overview', require('./Overview.vue'));
    Vue.component('hosted', require('./Hosted.vue'));
    Vue.component('location', require('./Location.vue'));
    Vue.component('reviews', require('./Reviews.vue'));
    Vue.component('book', require('./Book.vue'));
    Vue.component('wishlist', require('./WishList.vue'));
    Vue.component('carousel', require('./Carousel.vue'));
    Vue.component('modal-contact', require('./ModalContact.vue'));
    
    
    export default {
        data(){
            return {
                title: 'Host | '+ this.$parent.sitename,
                host: null,
                activeTab: 'overview',
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.getHost(to);
            });
        },
        methods: {
            getHost: function(to)
            {
                this.$Progress.start();
                axios.post(to.path).then(response => {
                    this.$Progress.finish();
                    this.host = response.data;
                    this.title = response.data.title + ' | '+this.$parent.sitename;
                    $('.rating').rating();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            getBackgroundImage: function()
            {
                if (this.host.photo.length) {
                    return '/uploads/photo/'+this.host.photo[0].filename;
                }
                else
                {
                    return '/uploads/photo/nophoto3.png';
                }
            },
            getTab: function(tab)
            {
                this.activeTab = tab;
                this.$scrollTo('#'+tab);
            }
        },
        mounted() {
            console.log('Component mounted PageHost.');
            $('body').removeClass('front');
            $('.rating').rating();
        }
    }
</script>