<template>
    <div class="component">
        <headers></headers>
        
        <block-find-hosts @onchangefind="onch"></block-find-hosts>
        
        <div id="main" class="prl">
            
            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
            <div id="page-host-found" class="container">
                <h1>Found <span>{{ hosts.total }} offers</span></h1>
                <div class="row">
                    <div class="col-lg-6">
                        <div id="found">
                            <div id="block-find-hosts">
                                <div class="cont">
                                    <div v-if="hosts.total == 0" class="container p-t-15">
                                        No results.
                                    </div>
                                    <div v-if="hosts.total">
                                        <div v-for="chunk in chunkedItems" class="row">
                                            <div  v-for="host in chunk" class="col-lg-6 hblok" v-on:mouseover="mouseOver(host.id)" v-on:mouseleave="mouseLeave(host.id)">

                                                <carousel-small :host="host"></carousel-small>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="price">${{ host.price | price }}</div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="rate-small text-right">
                                                            <input class="rating" :value="host.rating | rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star-o" type="hidden">
                                                        </div>
                                                    </div>
                                                </div>
                                                <h2><router-link :to="{name: 'host', params: { slug: host.slug }}" target="_blank">{{ host.title }}</router-link></h2>

                                            </div>
                                        </div>
                                        <!-- Pagination -->
                                        <nav class="text-center" v-if="hosts.last_page > 1">
                                            <ul class="pagination">
                                                <li v-if="hosts.current_page > 1">
                                                    <a href="javascript:void(0);" aria-label="Previous" @click.prevent="changePage(hosts.current_page - 1)">
                                                        <span aria-hidden="true">«</span>
                                                    </a>
                                                </li>
                                                <li v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                                    <a href="javascript:void(0);" @click.prevent="changePage(page)">{{ page }}</a>
                                                </li>
                                                <li v-if="hosts.current_page < hosts.last_page">
                                                    <a href="javascript:void(0);" aria-label="Next" @click.prevent="changePage(hosts.current_page + 1)">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-6">
                        <div id="find-map"></div>
                    </div>
                </div>
            </div>
            <!--<pre>{{ $data }}</pre>-->
            
           <!-- <div v-else-if="loading" class="container p-t-15">
                Loading...
            </div>
            <div v-else class="container p-t-15">
                No results.
            </div>-->
        </div>
        <footers></footers>
    </div>
</template>

<script>
    window.slimScroll = require("jquery-slimscroll");
    window.rating = require("bootstrap-rating");
    window.GMaps = require("gmaps");
    
    
    Vue.component('block-find-hosts', require('./BlockFindHosts.vue'));
    Vue.component('carousel-small', require('./CarouselSmall.vue'));
    
    var infowindows = new Array();
    //
    export default {
        data(){
            return {
                title: 'Find Hosts | '+ this.$parent.sitename,
                loading: false,
                active: false,
                hosts: [],
                markers: [],
            }  
        },
        //beforeRouteEnter (to, from, next) {
        //    next(vm => {
        //        vm.fetchData();
        //    });
        //},
        watch: {
            '$route': 'fetchData'
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            fetchData: function()
            {
                //google.maps.event.addDomListener(window, "load", this.gmap);
                //this.scroll();
                //this.onch(this.$route.query);
                
                this.$Progress.start();
                this.loading = true;
                axios.post(this.$route.fullPath).then(response => {
                    this.$Progress.finish();
                    this.hosts = response.data;
                    //$.dump(response.data);
                    this.loading = false;
                    this.scroll();
                    this.setMarkers(response.data.data);
                    $('.rating').rating();
                }).catch(error => {
                    this.$Progress.fail();
                    this.loading = false;
                    console.log(error);
                });
            },
            scroll: function()
            {
                $('#block-find-hosts .cont').slimScroll({
                    height: '644px',
                    size: '3px',
                    alwaysVisible: true,
                    railVisible: true,
                });
            },
            changePage: function(page)
            {
                //var fullPath = this.$route.fullPath+'&page='+page;
                //this.$router.push(fullPath);
                var q = this.$route.query;
                q['page'] = page;
                //
                //this.$router.push({ name: 'find'});
                //this.$router.replace({ name: 'find', query: q });
                this.onch(q);
                $('#block-find-hosts .cont').slimScroll({
                    scrollTo: '0px',
                    alwaysVisible: true,
                    railVisible: true,
                });
                
            },
            setMarkers: function(data)
            {
                this.closeIb();
                //this.gmap();
                var _this = this;
                _this.markers = [];
                //
                if (data.length) {
                    $.each(data, function(k,v){
                        if (v.location.length) {
                            _this.markers.push({
                                id: v.id,
                                lat: v.location[0].pivot.lat,
                                lng: v.location[0].pivot.lng,
                                price: (v.price.length) ? v.price[0].pivot.price.replace(".00", "") : 0,
                            });
                        }
                    });
                    this.gmap();
                }
            },
            gmap: function()
            {
                var map, marker, i, mybox, ibLabel;
                var _this = this;
                
                //console.log(map);
                var mapOptions = {
                    zoom: 4,
                    center: new google.maps.LatLng(39.28669443236614, -102.216796875)
                };
                
                var id = document.getElementById('find-map');
                
                ////
                if (this.markers.length) {
                    
                    map = new google.maps.Map(id, mapOptions);
                    //google.maps.event.trigger(map, 'resize');
                    //
                    var markersBounds = new google.maps.LatLngBounds();
                    
                    $.each(this.markers, function(k,v){
                        mybox = {
                            content: '<div id="map-price-'+v.id+'" data-id="'+v.id+'" class="map-price">$'+ v.price +'<span class="caret"></div>',
                            disableAutoPan: true,
                            pixelOffset: new google.maps.Size(-25, 0),
                            position: new google.maps.LatLng(v.lat, v.lng),
                            isHidden: false,
                            closeBoxURL: "",
                            enableEventPropagation: true,
                            pane: "floatPane",
                        };
                        
                        ibLabel = new InfoBox(mybox);
                        ibLabel.open(map);
                        ibLabel.setZIndex(0);
                        infowindows.push(ibLabel);
                        
                        markersBounds.extend(mybox.position);
                    });
                    //
                    if (this.$route.query.school == undefined) {
                        map.setCenter(markersBounds.getCenter(), map.fitBounds(markersBounds));
                    }
                    else
                    {
                        var ltln = new google.maps.LatLng(this.$route.query.lat, this.$route.query.lng);
                        map.setCenter(ltln);
                        map.setZoom(12);
                    }
                    
                    //
                    ibLabel.addListener("domready", function() {
                        $(".map-price").on("click", function() {
                            
                            
                        });
                    }); 
                }
            },
            closeIb: function()
            {
                for(var i = 0; i<infowindows.length; i++){
                    infowindows[i].close();
                }
            },
            mouseOver: function(id) {
                $('#map-price-'+id).addClass('active');
                $('#map-price-'+id).parent().css('z-index', 100);
            },
            mouseLeave: function(id)
            {
                $('#map-price-'+id).removeClass('active');
                $('#map-price-'+id).parent().css('z-index', 0);
            },
            onch: function(find)
            {
                this.$router.push({ name: 'find'});
                this.$router.replace({ name: 'find', query: find });
                //this.$Progress.start();
                //this.loading = true;
                //axios.post('/host/find', find).then(response => {
                //    this.$Progress.finish();
                //    this.hosts = response.data;
                //    //$.dump(response.data);
                //    this.loading = false;
                //    this.scroll();
                //    this.setMarkers(response.data.data);
                //    $('.rating').rating();
                //}).catch(error => {
                //    this.$Progress.fail();
                //    this.loading = false;
                //    console.log(error);
                //});
                ////this.gmap();
                ////google.maps.event.addDomListener(window, "load", this.gmap);
            }
        },
        computed: {
            chunkedItems () {
                return _.chunk(_.toArray(this.hosts.data), 2);
            },
            isActived: function () {
                return this.hosts.current_page;
            },
            pagesNumber: function () {
                if (!this.hosts.to) {
                    return [];
                }
                var from = this.hosts.current_page - this.hosts.per_page;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.hosts.per_page * 2);
                if (to >= this.hosts.last_page) {
                    to = this.hosts.last_page;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        created ()
        {
            //google.maps.event.addDomListener(window, "load", this.gmap);
            //this.fetchData();
            
            this.$nextTick(function () {
                $('.selectpicker').selectpicker();
            });
        },
        mounted() {
            console.log('Component mounted PageFindHost.');
            $('body').removeClass('front');
            this.fetchData();
            //google.maps.event.addDomListener(window, "load", this.gmap);
            //this.scroll();
        }
    }
</script>