<template>
    <section id="reviews">
        <!--//-->
        <div id="block-host-reviews">
            <!--//-->
            <div class="row">
                <div class="col-lg-9">
                    <div class="cell-rating">
                        <h2>{{ host.rating | reviews }} Reviews <div class="rate-big"><input type="hidden" :value="host.rating | rating" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></div></h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <p><label>Accuracy</label> <span class="rate-big"><input type="hidden" :value="host.rating | accuracy" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                                <p><label>Communication</label> <span class="rate-big"><input type="hidden" :value="host.rating | communication" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                                <p><label>Cleanliness</label> <span class="rate-big"><input type="hidden" :value="host.rating | cleanliness" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                            </div>
                            <div class="col-lg-6">
                                <p><label>Location</label> <span class="rate-big"><input type="hidden" :value="host.rating | location" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                                <p><label>Check In</label> <span class="rate-big"><input type="hidden" :value="host.rating | check_in" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                                <p><label>Value</label> <span class="rate-big"><input type="hidden" :value="host.rating | value" class="rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star"/></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <input v-if="host.rating.length" type="text" class="form-control" id="search-input" v-model="search" placeholder="Search reviews">
                </div>
            </div>
            <!--//-->
            <ul v-if="host.rating.length" id="tab-host-reviews" class="nav nav-tabs" v-bind:class="active" v-on:click.prevent>
                <li class="all"><a href="javascript:;" v-on:click="makeActive('all')">All reviews</a></li>
                <li v-if="Object.keys(reviews).length" class="highest"><a href="javascript:;" v-on:click="makeActive('highest')">Highest reviews ({{ reviews.highest.count }})</a></li>
                <li v-if="Object.keys(reviews).length" class="lowest"><a href="javascript:;" v-on:click="makeActive('lowest')">Lowest reviews ({{ reviews.lowest.count }})</a></li>
            </ul>
            <!--//-->
            <!-- Tab panes -->
            <ul v-if="host.rating.length" id="reviews-list-group" class="list-group">
                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                <!--<pre>{{ currentReviews }}</pre>-->
                <li v-if="currentReviews" class="list-group-item" v-for="review in currentReviews">
                    <div class="row">
                       <div class="col-lg-2">
                            <a href="" target="_blank">
                                <img width="90" :src="'/avatar/90x90/'+review.from_user.id" alt="" class="thumb-md img-circle">
                            </a>
                        </div>
                        <div class="col-lg-10">
                            <div class="comment-header">
                                <div class="name">{{ review.from_user.first_name }}</div>
                                <div class="date">{{ review.created_at | moment("MMMM DD YYYY") }}</div>
                            </div>
                            <div class="comment-body">
                                <span class="short" v-bind:class="'short-'+review.id">
                                    {{ review.body | truncate }}
                                </span>
                                <a href="javascript:;" class="more-text" v-bind:class="'more-text-'+review.id" v-on:click="moreText(review.id, $event)">+ More</a>
                            </div>
                            <div class="comment-footer">
                                
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Pagination -->
            <nav class="text-center" v-if="last_page > 1">
                <ul class="pagination">
                    <li v-if="current_page > 1">
                        <a href="javascript:void(0);" aria-label="Previous" @click.prevent="changePage(current_page - 1)">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                        <a href="javascript:void(0);" @click.prevent="changePage(page)">{{ page }}</a>
                    </li>
                    <li v-if="current_page < last_page">
                        <a href="javascript:void(0);" aria-label="Next" @click.prevent="changePage(current_page + 2)">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!--//-->
        </div>
        <!--//-->
    </section>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                active: 'all',
                loading: false,
                reviews: [],
                search: '',
                current_page: 0,
                per_page: 20,
                last_page: 0,
            }  
        },
        methods: {
            makeActive: function(item){
                this.active = item;
                this.current_page = 0;
            },
            getReviews: function()
            {
                this.loading = true;
                axios.post('/reviews/host/'+this.host.id).then(response => {
                    this.loading = false;
                    this.reviews = response.data;
                }).catch(error => {
                    //
                    this.loading = false;
                });
            },
            moreText: function(id, event)
            {
                //event.preventDefault();
                //var reviews = this.currentReviews;
                //for (var i = 0; i < reviews.length; i++) {
                //    if(reviews[i].id == id) {
                //        $('.short-'+id).html(reviews[i].body);
                //        break;
                //    }
                //}
                //$('.more-text-'+id).remove();
            },
            changePage: function(page)
            {
                this.current_page = page - 1;
                this.$scrollTo('#reviews');
            },
        },
        computed: {
            paginate () {
                if (Object.keys(this.reviews).length) {
                    var data = this.reviews[this.active].data;
                    
                    //if (data) {
                    //    data = data.filter(post => {
                    //        return post.body.toLowerCase().includes(this.search.toLowerCase())
                    //    });
                    //}
                    
                    return _.chunk(_.toArray(data), this.per_page);
                }
                else
                {
                    return null;
                }
            },
            currentReviews()
            {
                if (this.paginate) {
                    this.last_page = this.paginate.length;
                    var curr = this.paginate[this.current_page];
                    return curr;
                }
                else
                {
                    return null;
                }
            },
            isActived: function () {
                return this.current_page + 1;
            },
            pagesNumber: function () {
                //if (!this.hosts.to) {
                //    return [];
                //}
                var from = this.current_page - this.per_page;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.per_page * 2);
                if (to >= this.last_page) {
                    to = this.last_page;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },
        mounted() {
            console.log('Component mounted Reviews.');
            this.getReviews();
        }
    }
</script>