<template>
    <div id="block-host-wl">
        <div class="cell-1">
            <a href="javascript:;" class="btn btn-line w100p"><i aria-hidden="true" class="fa fa-heart"></i> Save to Wish List</a> 
            <div class="help-block p-t-15 text-center wl-saved">0 lodgers saved this place</div>
        </div>
        <div class="cell-group">
            <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-mail"><i aria-hidden="true" class="fa fa-envelope-o"></i> Email</a>
            <a href="javascript:void(0);" class="messenger"><i aria-hidden="true" class="fa fa-commenting"></i> Messenger</a>
            <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-share"><i aria-hidden="true" class="fa fa-ellipsis-h"></i> More</a> 
            <div class="clearfix"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                
            }  
        },
        methods: {
            
        },
        mounted() {
            console.log('Component mounted WishList.');
        }
    }
</script>