#input-foto{
    display: none;
}
.foto-image
{
    margin: 5px;
    float: left;
    position: relative;
}
.delete-foto{
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    margin-right: 5px;
    margin-top: 5px;
}
.op{
    opacity: 0.5;
}