<template>
    <div>
        sdfsd
    </div>
</template>

<script>
    import { EventBus } from '../event-bus';

    export default {
        data(){
            return {

            }
        },
        methods:{

        },
        mounted() {
            //EventBus.$emit('soc');
            //window.close();
        }
    }
</script>