<template>
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Messages ({{ count }} new)</h3></div>
        <div class="panel-body" v-if="!loadData">
            <div v-if="items.total > 0" id="messages-inbox">
                <ul class="list-group">
                    <li v-for="item in items.data" @click="read(item)" v-bind:class="'read-'+item.read" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-3 dark">
                                <i class="fa fa-circle" :class="[(item.starred == 1) ? 'text-green' : 'text-muted']" aria-hidden="true"></i>
                                <span class="name">{{ item.user.name }}</span>
                            </div>
                            <div class="col-lg-6 blu subject" v-html="item.subject"></div>
                            <div class="col-lg-3 text-right blu">{{ item.created_at }}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <p v-else>When you message hosts or send reservation requests, you’ll see their responses here.</p>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default {
        data(){
            return {
                items: [],
                loadData: false,
                count: 0,
            }
        },
        methods: {
            getMessages: function()
            {
                this.loadData = true;
                axios.post('/api/v1/inbox/block').then(response => {
                    this.items = response.data;
                    this.loadData = false;
                }).catch(error => {
                    this.loadData = false;
                });
            },
            read: function (item) {
                axios.post('/api/v1/inbox/set/read/'+item.id).then(response => {
                    this.$router.push({name: 'message', params:{id: item.id}});
                });
            }
        },
        mounted() {
            var vm = this;
            this.getMessages();
            //
            EventBus.$on('countMess', function (count) {
                vm.count = count;
            });
        }
    }
</script>