<template>
    <div id="block-photo-profile" v-if="user">
        <img :src="'/avatar/300x300/'+user.id" :title="user.first_name" :alt="user.first_name" class="img-responsive myava">
        <div class="foto-caprion">
            <p class="text-center">Profile Photo</p>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <a href="javascript:void(0);" v-on:click="showCamModal"><i class="fa fa-camera" aria-hidden="true"></i></a>
                    <span>from camera</span>
                </div>
                <div class="col-lg-6 text-center">
                    <a href="javascript:void(0);" v-on:click="showSelectFoto"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                    <span>from file</span>
                </div>
            </div>
        </div>
        <webcam-photo></webcam-photo>
        <upload-avatar></upload-avatar>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                user: null,
            }  
        },
        methods: {
            getUser: function()
            {
                this.user = JSON.parse(localStorage.getItem('user'));
            },
            showCamModal: function()
            {
                $('#modal-photocam').modal('show');
            },
            showSelectFoto: function()
            {
                $('#ava').click();
            }
        },
        mounted() {
            this.getUser();
        }
    }
</script>