<template>
    <div id="block-user">
        <div class="dropdown">
            <span>Hello!</span>
            <a class="ulink" data-toggle="dropdown" href="#!">{{ $auth.getUser().first_name }} <img :src="'/avatar/50x50/'+$auth.getUser().id" alt="" class="thumb-md img-circle"></a>
            <ul class="dropdown-menu" role="menu">
                <!--<li><router-link to="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</router-link></li>-->
                <li v-if="admin"><a href="/admin"><i class="fa fa-tachometer" aria-hidden="true"></i> Admin panel</a></li>
                <li><a href="javascript:void(0);" v-on:click="logout"><i class="ion-log-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                admin: false,
            }  
        },
        methods:{
            logout: function()
            {
                axios.post('/api-v1/logout').then(response => {
                    this.$auth.destroyToken();
                    window.location.reload();
                }).catch(error => {
                    //
                });
            },
            getRoles: function()
            {
                var _this = this;
                var user = localStorage.getItem('user');
                user = $.parseJSON(user);
                $.each(user.roles, function(k,v){
                    if (v.slug == 'admin') {
                        _this.admin = true;
                    }
                });                
                //console.log(user);
            }
        },
        mounted() {
            this.getRoles();
        }
    }
</script>