<template>
    <div v-if="hosts.length" id="block-get-inspired">
        <h2>Get inspired by a host near your.</h2>
        <div class="row">
            <div v-for="host in hosts" class="col-lg-6">
                <div class="thumbnail">
                    <carousel-small :host="host"></carousel-small>
                    <div class="cell row">
                        <div class="price col-lg-6">${{ host.price | price }}</div>
                        <div class="rate-small col-lg-6 text-right">
                            <input class="rating" :value="host.rating | rating" disabled="disabled" data-filled="fa fa-star" data-empty="fa fa-star-o" type="hidden">
                        </div>
                    </div>
                    <h4>
                        <router-link :to="{name: 'host', params: { slug: host.slug }}" target="_blank">{{ host.title }}</router-link>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('carousel-small', require('../../components/host/CarouselSmall.vue'));
    
    export default {
        data(){
            return {
                hosts: [],
            }  
        },
        methods: {
            getHosts: function()
            {
                axios.post('/host/get/inspired').then(response => {
                    this.hosts = response.data;
                }).catch(error => {
                    //
                });
            },
        },
        mounted() {
            console.log('Component mounted BlockInspired.');
            this.getHosts();
        }
    }
</script>