<template>
    <div id="block-host-published" class="panel panel-default panel-account m-t-m1">
        <div class="panel-heading">
            <h3 class="panel-title">Published</h3>
        </div>
        <div class="panel-body p-25">
            <div v-for="(host, index) in hosts" class="hosts-list">
                <div class="host-delete host-delete-148">
                    <a href="javascript:void(0);" v-on:click="remove(index)" title="remove" class="del"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <div id="my-host-148" class="row m-b-25">
                    <div class="col-lg-4">
                        <a href="">
                            <img  :src="host.photo | img" class="img-responsive" alt="Responsive image">
                        </a>
                    </div>
                    <div class="col-lg-8">
                        <div class="host-bar">
                            <p class="text-right">You’re {{ host.progress | process }}% done with your listining</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" :aria-valuenow="host.progress | process" :aria-valuemin="0" :aria-valuemax="100" v-bind:style="{width: host.progress +'%'}"></div>
                            </div>
                        </div>
                        <h2>{{ host.title }}</h2>
                        <div class="description">
                            {{ host.description[0].pivot.description }}
                        </div>
                        <div class="last-updated">
                            Last updated on {{ host.updated_at | moment("MMMM DD, YYYY") }}
                        </div>
                        <div class="host-bottom">
                            <router-link target="_blank" class="btn btn-dark btn-b btn40" :to="{ name: 'edit.listing', params: { slug: host.slug }}">Edit the Listinig</router-link>
                            <router-link target="_blank" class="btn btn-line btn-b btn75" :to="{ name: 'host', params: { slug: host.slug }}">Preview</router-link>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
   
    export default {
        props:{
            hosts:{
                type: Array,
                default: [],
            }
        },
        data(){
            return {
               
            }  
        },
        methods:{
            remove: function(index)
            {
                this.$emit('onRemove', index);
            }
        },
        mounted() {
            console.log('Component mounted BlockHostPublished.');
        }
    }
</script>