<template>
    <form v-on:submit="submitBook('book', $event)" data-vv-scope="book" accept-charset="UTF-8" role="form" class="form host-request-book prl">
        <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
        
        <div class="row">
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="guests">Lodgers</label>
                    <input v-model="book.lodgers" v-validate="'required'" class="form-control" name="lodgers"  type="text">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="check_in">Check in</label>
                    <input v-model="book.check_in" v-validate="'required'" class="form-control check_in" name="check_in" type="text">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label for="check_out">Check out</label>
                    <input v-model="book.check_out" v-validate="'required'" class="form-control check_out" name="check_out" type="text">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group p-t-20">
                    <input class="btn btn-green w100p" value="Book" type="submit">
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    
    var dateFormat = require('dateformat');
    
    const dictionary = {
        en: {
            attributes: {
                check_in: 'Check in',
                check_out: 'Check out',
                lodgers: 'Lodgers',
            }
        }
    };
    
    export default {
        inject: ['$validator'],
        props:{
            req:{
                type: Object,
                default: function () {
                    return null;
                },
            },
            index: {
                type: Number,
                default: 0,
            }
        },
        data(){
            return {
                book: {
                    check_in: '',
                    check_out: '',
                    lodgers: '',
                },
                loading: false,
            }  
        },
        methods: {
            submitBook: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    axios.post('/user/reservation-requests/'+this.req.id, this.book).then(response => {
                        this.loading = false;
                        this.$swal({
                            title: 'Success!',
                            text: 'Booked.',
                            type: 'success',
                        });
                        this.$emit('onBooked', this.index, response.data);
                    }).catch(error => {
                        //
                        this.loading = false;
                    });
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            changeDate: function()
            {
                var _this = this;
                $('.check_in').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                     _this.book.check_in = d.toLocaleDateString("en-US", options);
                    
                    d.setDate(d.getDate()+10);
                    $('.check_out').data("DateTimePicker").minDate(d);
                    $(this).data('DateTimePicker').hide();
                });
                
                $('.check_out').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.book.check_out = d.toLocaleDateString("en-US", options);
                    $(this).data('DateTimePicker').hide();
                });
            },
        },
        mounted() {
            console.log('Component mounted BookReq.');
            this.$validator.updateDictionary(dictionary);
            this.changeDate();
            this.book.lodgers = this.req.guests;
            this.book.check_in = dateFormat(this.req.check_in, "mm/dd/yyyy");
            this.book.check_out = dateFormat(this.req.check_out, "mm/dd/yyyy");
        }
    }
</script>