<template>
    <div class="review-comment">
        <div class="row comment-rating">
            <div class="col-lg-6">
                <p>
                    <label>Accuracy</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="accuracy" :value="review.accuracy" type="hidden">
                </p>
                <p>
                    <label>Communication</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="communication" :value="review.communication" type="hidden">
                </p>
                <p>
                    <label>Cleanliness</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="cleanliness" :value="review.cleanliness" type="hidden">
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <label>Location</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="location" :value="review.location" type="hidden">
                </p>
                <p>
                    <label>Check In</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="check_in" :value="review.check_in" type="hidden">
                </p>
                <p>
                    <label>Value</label>
                    <input disabled="disabled" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="value" :value="review.value" type="hidden">
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="body">
                    {{ review.body }}
                </div>
                <div class="created">
                    {{ review.updated_at | moment("MMMM DD, YYYY") }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    export default {
        props:{
            review:{
                type: Object,
                default: function () {
                    return null;
                }
            }
        },
        data(){
            return {
                
            }  
        },
        computed: {
            
        },
        methods: {
            
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.rating').rating();
                });
            });
        },
        mounted() {
            console.log('Component mounted FeedbackReview.');
            
        }
    }
</script>