<template>
    <div class="feedback-book">
        <a v-if="!open" v-on:click="openForm" href="javascript:void(0);" class="btn btn-green add-comment-request">Feedback</a>
        <form v-if="open" v-on:submit="submitReview('review', $event)" data-vv-scope="review" accept-charset="UTF-8" role="form" id="comment-form-8" class="form comment-form prl">
            
            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
            <div class="row add-comment-rating">
                <div class="col-lg-6">
                    <p>
                        <label>Accuracy</label>
                        <input title="Accuracy" v-model="review.accuracy" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="accuracy" type="hidden">
                    </p>
                    <p>
                        <label>Communication</label>
                        <input title="Communication" v-model="review.communication" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="communication" type="hidden">
                    </p>
                    <p>
                        <label>Cleanliness</label>
                        <input title="Cleanliness" v-model="review.cleanliness" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="cleanliness" type="hidden">
                    </p>
                </div>
                <div class="col-lg-6">
                    <p>
                        <label>Location</label>
                        <input title="Location" v-model="review.location" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="location" type="hidden">
                    </p>
                    <p>
                        <label>Check In</label>
                        <input title="Check In" v-model="review.check_in" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="check_in" type="hidden">
                    </p>
                    <p>
                        <label>Value</label>
                        <input title="Value" v-model="review.value" v-validate="'required'" class="rating" data-filled="fa fa-star" data-empty="fa fa-star" name="value" type="hidden">
                    </p>
                </div>
            </div>
            <div class="form-group">
                <textarea title="Enter yuour comment" v-model="review.body" v-validate="'required'" class="form-control" rows="3" placeholder="Enter yuour comment" name="body" cols="50"></textarea>
            </div>
            <div class="row">
                <div class="col-lg-12 text-right">
                    <a v-on:click="closeForm" href="javascript:void(0);" class="btn btn-default cancel-add-comment">Cancel</a>
                    <input class="btn btn-green" value="Save" type="submit">
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    
    export default {
        inject: ['$validator'],
        props:{
            req:{
                type: Object,
                default: {},
            },
            index: {
                type: Number,
                default: 0,
            }
        },
        data(){
            return {
                open: false,
                review: {
                    accuracy: '',
                    communication: '',
                    cleanliness: '',
                    location: '',
                    check_in: '',
                    value: '',
                    body: '',
                    book_id: this.req.id,
                },
                loading: false,
            }  
        },
        computed: {
            
        },
        methods: {
            openForm: function()
            {
                this.open = true;
            },
            closeForm: function()
            {
                this.open = false;
            },
            submitReview: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/reviews/'+this.req.host.id+'/host', this.review).then(response => {
                        this.loading = false;
                        this.$swal({
                            title: 'Success!',
                            text: 'Review created.',
                            type: 'success',
                        });
                        this.$emit('onAddReview', this.index, response.data);
                    }).catch(error => {
                        //
                        this.loading = false;
                    });
                    
                }).catch(() => {
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.rating').rating().on('change', function (e) {
                        var rt = $(this).val();
                        //console.log(e.target.name);
                        _this.review[e.target.name] = rt;
                    });
                });
            });
        },
        mounted() {
            console.log('Component mounted FeedbackBook.');
            
        }
    }
</script>