<template>
    <div>
        <h1 class="dsh">Listings in progress</h1>
        <div id="block-host-in-dashboard">
            <div class="row">
                <div class="col-lg-4">
                    <router-link :to="{ name: 'host', params: { slug: host.slug }}">
                        <img  :src="host.photo | img" class="img-responsive" alt="Responsive image">
                    </router-link>
                </div>
                <div class="col-lg-8">
                    <div class="host-bar">
                        <p class="text-right">You’re {{ host.progress | process }}% done with your listining</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" :aria-valuenow="host.progress | process" :aria-valuemin="0" :aria-valuemax="100" v-bind:style="{width: host.progress +'%'}"></div>
                        </div>
                    </div>
                    <h2>{{ host.title }}</h2>
                    <div v-if="host.description" class="description">
                        {{ host.description[0].pivot.description }}
                    </div>
                    <div class="last-updated">
                        Last updated on {{ host.updated_at | moment("MMMM DD, YYYY") }}
                    </div>
                    <div class="host-bottom">
                        <a href="javascript:void(0);" v-on:click="editHost(host)" target="_blank" class="btn btn-dark btn-b btn40">Edit the Listinig</a>
                        <router-link target="_blank" class="btn btn-line btn-b btn75" :to="{ name: 'host', params: { slug: host.slug }}">Preview</router-link>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-host-in-dashboard-1">
            <div class="row">
                <div class="col-lg-6">
                    <p class="host-price">0 per month</p>
                    <p class="hosting-student">hosting student</p>
                    <h3><span>Finish your listing and get</span></h3>
                    <ul class="list">
                        <li>
                            <span>1</span>
                            <p>Tips on welcoming students</p>
                        </li>
                        <li>
                            <span>2</span>
                            <p>Tools to meet your earlings goals</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <inspired></inspired>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    
    Vue.component('inspired', require('./BlockInspired.vue'));
    
    export default {
        props:{
            host:{
                type: Object,
                default: [],
            },
        },
        data(){
            return {
                
            }  
        },
        methods: {
            editHost: function(host)
            {
                this.$Progress.start();
                axios.post('/host/edit/'+host.id).then(response => {
                    this.$Progress.finish();
                    localStorage.setItem('step1', JSON.stringify(response.data.step1));
                    localStorage.setItem('step2', JSON.stringify(response.data.step2));
                    localStorage.setItem('step3', JSON.stringify(response.data.step3));
                    localStorage.setItem('step4', JSON.stringify(response.data.step4));
                    localStorage.setItem('step5', JSON.stringify(response.data.step5));
                    localStorage.setItem('step6', JSON.stringify(response.data.step6));
                    localStorage.setItem('step7', JSON.stringify(response.data.step7));
                    localStorage.setItem('edit', response.data.edit);
                    localStorage.setItem('host', JSON.stringify(response.data.host));
                    this.$router.push(response.data.goto);
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            console.log('Component mounted HostInProgress.');
        }
    }
</script>