<template>
    <div>
        <div id="my-languages">
            <div v-if="!user.lang.length" class="none-languages">None</div>
            <div v-if="user.lang.length" class="lang-data" v-for="(lang, index) in user.lang">
                {{ settings.langs[lang.pivot.lang_id].name }}
                <a href="javascript:void(0);" v-on:click="removeLang(lang.pivot.lang_id)" class="remove-lang"><i aria-hidden="true" class="md md-close"></i></a>
            </div>
        </div>
        <!--<pre>{{ $data }}</pre>-->
        <div data-toggle="modal" data-target="#modal-languages" class="btn btn-green add-languages"> + Add more</div>
        <!-- //-->
        <div v-if="Object.keys(settings)" class="modal fade in" id="modal-languages" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Spoken Languages</h4>
                    </div>
                    <div class="modal-body wrp prl">
                        <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
                        <p>What languages can you speak fluently? We have many international travelers who appreciate hosts who can speak their language.</p>
                        <div class="row" v-for="chunk in chunkedLang">
                            <div class="col-lg-6" v-for="lang in chunk">
                                <div class="form-group ck2">
                                    <label class="nn" :for="'lang-'+lang.id">
                                        <input v-model="langs" :id="'lang-'+lang.id" :value="lang.id" type="checkbox"> 
                                        <span></span>
                                        {{ lang.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button v-on:click="saveLang" type="button" class="btn btn-green save-languages">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            user:{
                type: Object,
                default: [],
            },
            settings:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                langs: [],
                loading: false,
            }  
        },
        methods: {
            saveLang: function()
            {
                if (this.langs.length) {
                    this.loading = true;
                    axios.post('/user/profile/lang/add', {lang: this.langs}).then(response => {
                        this.loading = false;
                        this.$emit('onchangeLang', response.data.user.lang);
                        $('#modal-languages').modal('hide');
                    }).catch(error => {
                        this.loading = false;
                    });
                }
                else
                {
                    this.$swal({
                        title: 'Warning!',
                        text: 'Please check a language.',
                        type: 'warning',
                    });
                }
            },
            removeLang: function(lang_id)
            {
                axios.post('/user/profile/lang/remove', {lang_id: lang_id}).then(response => {
                    //this.loading = false;
                    this.$emit('onchangeLang', response.data.user.lang);
                }).catch(error => {
                    //this.loading = false;
                });
            },
            setLangs: function()
            {
                //var _this = this;
                //var ll = [];
                //$.each(_this.user.lang, function(k,v){
                //    ll.push(v.pivot.lang_id);
                //});
                //console.log(this.user.lang);
                //this.langs = ll;
            }
        },
        computed: {
            chunkedLang () {
                return _.chunk(_.toArray(this.settings.langs), 2);
            },
        },
        mounted() {
            console.log('Component mounted LangProfile.');
            this.setLangs();
        }
    }
</script>