<template>
    <div>Logout...</div>
</template>

<script>
    
    export default {
        data(){
            return {
                
            }  
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods: {
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/account/logout').then(response => {
                    this.$Progress.finish();
                    this.$router.push('/login');
                }).catch(error => {
                    this.$Progress.fail();
                });
            }
        },
        mounted() {
            console.log('Component mounted Logout.');
        }
    }
</script>