<template>
    <div id="menu-dashboard">
        <div class="container">
            <!--<a href="javascript:void(0);" title="Close" class="visible-xs closed"><i class="fa fa-times" aria-hidden="true"></i></a>-->
            <nav>
                <router-link to="/dashboard">My Profile</router-link>
                <router-link to="/inbox">Messages <badge-count></badge-count></router-link>
                <router-link to="/my-listing">My Listings</router-link>
                <router-link to="/my-page">My Page</router-link>
                <router-link to="/payments">Payments</router-link>
            </nav>
        </div>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus';
    Vue.component('badge-count', require('../inbox/BadgeCount.vue'));

    export default {
        data(){
            return {
                classItem: null,
            }
        },
        methods:{

        },
        mounted(){
            console.log(this.$responsive.init());
        }
    }
</script>