<template>
    <nav id="menu-profile">
        <router-link to="/profile">Edit Profile</router-link>
        <router-link to="/profile/photos">Photos and Video</router-link>
        <router-link to="/profile/verification">Trust and Verification</router-link>
        <router-link to="/profile/reviews">Reviews</router-link>
        <router-link to="/profile/references">References</router-link>
    </nav>
</template>