<template>
    <nav id="menu-profile">
        <router-link to="/my-page">Edit</router-link>
        <router-link to="/my-page/verification">Verification</router-link>
        <router-link to="/my-page/reviews">Reviews</router-link>
        <router-link to="/my-page/settings">Settings</router-link>
    </nav>
</template>