<template>
    <nav id="menu-account">
        <router-link to="/account">Notifications</router-link>
        <!--<router-link to="/account/payment-methods">Payment methods</router-link>-->
        <!--<router-link to="/account/payout-preferences">Payout Preferences</router-link>-->
        <!--<router-link to="/account/transaction-history">Transaction History</router-link>-->
        <router-link to="/account/privacy">Privacy</router-link>
        <router-link to="/account/security">Security</router-link>
        <router-link to="/account/settings">Settings</router-link>
    </nav>
</template>