<template>
    <nav id="menu-profile">
        <router-link to="/my-listing">My Listings</router-link>
        <router-link to="/my-listing/reservations">My Reservations</router-link>
        <router-link to="/my-listing/requests">My Requests</router-link>
    </nav>
</template>