<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Requests</h1>
                        <menu-listing></menu-listing>
                        <router-link to="/add/host" class="btn btn-green bb w100p">Add New Listing</router-link>
                    </div>
                    <div class="col-lg-9" v-if="!loadData">
                        
                        <div v-if="Object.keys(items).length && items.total > 0" id="block-host-requests" class="panel panel-default panel-account m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Requests</h3>
                            </div>
                            <div class="panel-body p-25">
                                <template v-for="item in items.data">
                                    <tpl-listing-my-req :item="item"></tpl-listing-my-req>
                                </template>
                            </div>
                        </div>
                        <!--//-->
                        <div v-if="Object.keys(items).length && items.total == 0" class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">You don’t have any Reservations listings!</h3>
                            </div>
                            <div class="panel-body">
                                <!--<p>Make money by renting out your extra space on Ulodger. You’ll also get to meet interesting travelers from around the world!</p>-->
                            </div>
                        </div>
                        <!--//-->
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    Vue.component('tpl-listing-my-req', require('../user/TplListingMyReq.vue'));

    export default {
        data(){
            return {
                title: 'Reservation Requests | '+ this.$parent.sitename,
                items: [],
                loadData: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                axios.get('/api/v1/listing/my-listing/requests').then(response => {
                    this.items = response.data;
                    this.$Progress.finish();
                    this.loadData = false;
                }).catch(error => {
                    this.$Progress.fail();
                    this.loadData = false;
                });
            },
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>