<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body prl">
                                
                                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>

                                    <!--<div class="row">-->
                                        <!--<div class="form-group col-lg-6">-->
                                            <!--<button @click="socialite('facebook')" class="btn btn-block btn-fb btn-social btn-facebook" type="button"><i class="fa fa-facebook"></i> Sign in with Facebook</button>-->
                                        <!--</div>-->
                                        <!--<div class="form-group col-lg-6">-->
                                            <!--<button @click="socialite('google')" class="btn btn-block btn-g btn-social btn-google-plus" type="button"><i class="fa fa-google-plus"></i> Sign in with Google</button>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                
                                <div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo;callback=ulogins;redirect_uri" data-ulogin-inited="1497626842830">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <button :disabled="disableSoc" class="btn btn-block btn-fb btn-social btn-facebook" data-uloginbutton="facebook" style=""><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <button :disabled="disableSoc" class="btn btn-block btn-g btn-social btn-google-plus" data-uloginbutton="google" style=""><i class="fa fa-google-plus"></i> Sign in with Google</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <form v-on:submit="submitLogin('login', $event)" data-vv-scope="login" accept-charset="UTF-8" role="form">
                                    <div class="form-group" :class="{'has-error': errors.has('login.email') }">
                                        <input v-model="login.email" v-validate="'required|email'" class="form-control" placeholder="E-mail" name="email" type="email">
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('login.password') }">
                                        <input v-model="login.password" v-validate="'required|min:6'" class="form-control" placeholder="Password" name="password" value="" type="password">
                                    </div>
                                    <div v-if="disableSoc" class="form-group ck2" :class="{'has-error': errors.has('register.rule') }">
                                        <label for="rule" class="nn">
                                            <input v-model="login.rule" v-validate="'required'" id="rule" name="rule" type="checkbox" value="1"> <span></span>
                                            I accept the <router-link to="/terms">Terms and Conditions</router-link> and <router-link to="/policy">Privacy</router-link>
                                        </label>
                                    </div>
                                    <button class="btn btn-green w100p fb" type="submit">LOGIN</button>
                                </form>
                                
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <router-link to="/forgot-password" class="btn btn-block">Forgot Password</router-link>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <router-link to="/sign-up" class="btn btn-block">Create Account</router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>


<script>
    import { EventBus } from '../event-bus';
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Login | '+ this.$parent.sitename,
                loading: false,
                login: {
                    email: '',
                    password: '',
                    rule: null,
                },
                disableSoc: true,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            submitLogin: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/login', this.login).then(response => {
                        this.$auth.setToken(
                            response.data.cartalyst_sentinel,
                            JSON.stringify(response.data.user),
                            response.data.expiration,
                        );
                        //
                        this.loading = false;
                        this.$router.push('/');
                    }).catch(error => {
                        this.loading = false;
                        var arr = [];
                        $.each(error.response.data.error, function(k,v){
                            arr.push('<li>'+v+'</li>');
                        });
                        
                        this.$swal({
                            title: 'Error!',
                            html: '<ul>'+arr.join("")+'</ul>',
                            type: 'error',
                        });
                    });
                }).catch(() => {
                    this.loading = false;
                    var arr = [];
                    $.each(this.errors.all(), function(k,v){
                        arr.push('<li>'+v+'</li>');
                    });
                    
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: '<ul>'+arr.join("")+'</ul>',
                    });
                });
            },
            ulogin: function()
            {
                var _this = this;
                window.ulogins = (arg) => {
                    $.getJSON("//ulogin.ru/token.php?host=" +
                    encodeURIComponent(location.toString()) + "&token=" + arg + "&callback=?",
                    function(data){
                        data=$.parseJSON(data.toString());
                        if(!data.error){
                            //
                            _this.loading = true;
                            axios.post('/social/login', data).then(response => {
                                _this.loading = false;
                                //
                                if (response.data.error) {
                                    _this.$notify({
                                        type: 'error',
                                        title: 'Error!',
                                        text: response.data.error,
                                    });
                                }
                                else
                                {
                                    _this.$auth.setToken(
                                        response.data.cartalyst_sentinel,
                                        JSON.stringify(response.data.user),
                                        response.data.expiration,
                                    );
                                    _this.$router.push('/');
                                } 
                            }).catch(error => {
                                _this.loading = false;
                            });
                            //
                        }
                    });
                }
            },
            socialite: function (network) {
                var newWindow = window.open("", "_blank", "top=100,left=500,width=600,height=600");
                axios.get('/socialite/'+network).then(response => {
                    newWindow.location = response.data;
                });
            }
        },
        watch:{
            'login.rule': function (val) {
                if(val == true)
                {
                    this.disableSoc = false;
                    this.$storage.set('rule', true);
                }
                else
                {
                    this.disableSoc = true;
                    this.$storage.remove('rule');
                }
            }
        },
        mounted() {
            console.log('Component mounted PageLogin.');
            $('body').removeClass('front');
            this.ulogin();
            //
            EventBus.$on('soc', function () {
                console.log(157);
            });
            //
            if(this.$storage.hasKey('rule'))
            {
                this.disableSoc = false;
                this.login.rule = true;
            }

        }
    }
</script>