<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">My Listings</h1>
                        <menu-listing></menu-listing>
                        <router-link to="/create/listing" class="btn btn-green bb w100p">Add New Listing</router-link>
                    </div>
                    <div class="col-lg-9" v-if="!loadData">

                        <div v-if="Object.keys(items).length && items.total > 0" class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Listings</h3>
                            </div>
                            <div class="panel-body">
                                <template v-for="item in items.data">
                                    <tpl-listing-published :item="item"></tpl-listing-published>
                                </template>
                                <loading v-if="loading"></loading>
                            </div>
                        </div>

                        <div v-if="Object.keys(items).length && items.total == 0" class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">You don’t have any listings!</h3>
                            </div>
                            <div class="panel-body">
                                <p>Make money by renting out your extra space on Ulodger. You’ll also get to meet interesting travelers from around the world!</p>
                                <router-link to="/create/listing" class="btn btn-green bb">Post a new listing</router-link>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('tpl-listing-published', require('../user/TplListingPub.vue'));

    export default {
        data(){
            return {
                title: 'Your Listing | '+ this.$parent.sitename,
                items: [],
                loadData: false,
                loading: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                this.loadData = true;
                axios.get('/api/v1/listing/my-listing/get').then(response => {
                    this.items = response.data;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.fail();
                });
            },
            loadMore: function () {
                var vm = this;
                this.loading = true;
                axios.get(vm.items.next_page_url).then(response => {
                    _.forEach(response.data.data, function (v) {
                        vm.items.data.push(v);
                    });
                    vm.items.current_page = response.data.current_page;
                    vm.items.next_page_url = response.data.next_page_url;
                    this.loading = false;
                }).catch(error => {
                    this.loading = false;
                });
            }
        },
        mounted() {
            var vm = this;
            $('body').removeClass('front');
            //
            EventBus.$on('removeListing', function (data) {
                vm.items = data;
            });
            //
            $(window).scroll(function() {
                if($(window).scrollTop() == $(document).height() - $(window).height()) {
                    vm.loadMore();
                }
            });
        }
    }
</script>