<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container" id="page-user-slug" v-if="!loadData">
                <div class="row" v-if="Object.keys(user).length">
                    <div class="col-lg-3">
                        <div class="user-ava">
                            <img :src="'/avatar/300x300/'+user.id" :title="user.first_name" :alt="user.first_name" class="img-responsive">
                        </div>
                        <!--//-->
                        <div class="panel panel-default" v-if="user.verifieds.length">
                            <div class="panel-heading">Verified info</div>
                            <div class="panel-body">
                                <p class="vrf" v-for="ver in user.verifieds"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ ver.name }}</p>
                            </div>
                        </div>
                        <!--//-->
                        <div v-if="user.social" class="panel panel-default">
                            <div class="panel-heading">Connected accounts</div>
                            <div class="panel-body">
                                <p v-for="acc in user.social" class="vrf"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ acc.network }}</p>
                            </div>
                        </div>
                        <!--//-->
                        <!--<div v-if="user.aboutMe" class="panel panel-default">-->
                            <!--<div class="panel-heading">About me</div>-->
                            <!--<div class="panel-body">-->
                                <!--<p v-if="user.aboutMe.school"><b>School</b><br>{{ user.aboutMe.school }}</p>-->
                                <!--<p v-if="user.aboutMe.work"><b>Work</b><br>{{ user.aboutMe.work }}</p>-->
                                <!--<p v-if="user.aboutMe.lang"><b>Languages</b><br>{{ user.aboutMe.lang }}</p>-->
                            <!--</div>-->
                        <!--</div> -->
                        <!--Listings -->
                        <!--<div v-if="user.listings" class="panel panel-default">-->
                            <!--<div class="panel-heading">Listings ({{ user.countListing }})</div>-->
                            <!--<div class="panel-body">-->
                                <!--<div v-for="host in user.listings" class="list">-->
                                    <!--<router-link :to="{name: 'host', params: { slug: host.slug }}" target="_blank">-->
                                        <!--<img :src="host.photo | image" class="img-responsive" alt="Responsive image">-->
                                        <!---->
                                        <!--<h3>{{ host.title }}</h3>-->
                                    <!--</router-link>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                    <!--/col-lg-9/-->
                    <div class="col-lg-9">
                        <h1>Hey, I’m {{ user.first_name }}!</h1>
                        <div v-if="user.address.address" class="address">{{ user.address.address }}</div>
                        <div class="row m-b-25">
                            <div class="col-lg-4">
                                <div class="reviews"><span>{{ user.countReviews }}</span> Reviews</div>
                            </div>
                            <div class="col-lg-4">
                                <div v-if="user.verified" class="verified"><span><i class="fa fa-check" aria-hidden="true"></i></span> Verified</div>
                            </div>
                        </div>
                        <div v-if="user.about.value" class="about">{{ user.about.value }}</div>
                    </div>
                    <!--/col-lg-9/-->
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                title: 'User | '+ this.$parent.sitename,
                user: [],
                loadData: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.loadData = true;
                this.$Progress.start();
                axios.post(this.$route.path).then(response => {
                    this.user = response.data;
                    this.title = response.data.first_name +' | '+ this.$parent.sitename;
                    this.loadData = false;
                    this.$Progress.finish();
                }).catch(error => {
                    this.loadData = false;
                    this.$Progress.finish();
                });
            },
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>