<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <h1 class="text-center">Under Construction</h1>
            </div><!--.container-->
        </div><!--#main-->
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'Payment methods | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageAccountPaymentMetods.');
            $('body').removeClass('front');
        }
    }
</script>