<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Account</h1>
                        <menu-account></menu-account>
                    </div>
                    <div class="col-lg-9">
                        <form v-on:submit="submitNotifications('notifications', $event)" data-vv-scope="notifications" accept-charset="UTF-8" role="form" class="form">
                            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                            <!------------------->
                            <div class="panel panel-default panel-account m-b-0">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Push Notifications Settings</h3><!--'82at2DRLeYRWvZImVIkA' => 'Push Notifications Settings',-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <!--'X9n37nqcFgbkuCtpa1v2' => 'Receive push alert on your iPhone, iPad or Android device.',-->
                                            <p class="lbl">Receive push alert on your iPhone, iPad or Android device.</p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p>ULodger Download the App to receive push notifications instead of plain text messages. Once you enable push notifications on your mobile device, the settings will appear here.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------->
                            <div class="panel panel-default panel-account m-b-0 m-t-m1">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Text message settings</h3><!--'qJjGUfiLHBMKfBYqcjl8' => 'Text message settings',-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <p class="lbl">Receive alerts on mobile as SMS messages.</p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p>To add phone numbers and confirm them, you can see Edit Profile. As soon as you confirm one or more rooms, here you will see the settings.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------->
                            <div class="panel panel-default panel-account m-b-0 m-t-m1">
                                <div class="panel-heading">
                                    <h3 class="panel-title">E-mail settings</h3><!--'RkA4w5zwfqXbpmhGrq6b' => 'E-mail settings',-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="m-b-30">I want to receive:</label>
                                            <p class="lbl">You can disable these at any time.</p>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="ck2 m-b-30">
                                                <label for="notify1" class="txt">
                                                    <input id="notify1" v-model="notifications.notifi" :value="1" type="checkbox">
                                                    <span></span>
                                                    <em>General promotions, updates, news about ULodger or general promotions for partner campaings and services, user surveys, inspiration, and love from ULodger</em>
                                                </label>
                                            </div>
                                            <div class="ck2">
                                                <label for="notify2" class="txt">
                                                    <input id="notify2" v-model="notifications.notifi" :value="2" type="checkbox">
                                                    <span></span>
                                                    <em>Reservation and review reminders.</em>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------->
                            <div class="panel panel-default panel-account m-t-m1">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Phone Preferences</h3><!--'5nfdkttCVJJLPmzp2HZA' => 'Phone Preferences',-->
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="m-b-30">I want to receive:</label>
                                            <p class="lbl">You can disable these at any time.</p>
                                        </div>
                                        <div class="col-lg-8">
                                            <div class="ck2 m-b-150">
                                                <label for="notify3" class="txt">
                                                    <input id="notify3" v-model="notifications.notifi" :value="3" type="checkbox">
                                                    <span></span>
                                                    <em><b>Calls about my account, listings, reservations, on the ULodger community</b>. If you opt out, we may still call about your account if it's urgent or it previous emails didn't reach you.</em>
                                                </label>
                                            </div>
                                            <div class="text-right"><input class="btn btn-link bb" value="SAVE" type="submit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!------------------->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Account | '+ this.$parent.sitename,
                loading: false,
                user: [],
                notifications: {
                    notifi: [],
                },
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        created ()
        {
            this.fetchData();
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/get/notifications').then(response => {
                    this.$Progress.finish();
                    if (response.data.redirect) {
                        this.$router.push(response.data.redirect);
                    }
                    else
                    {
                        this.user = response.data;
                        var notification = [];
                        $.each(response.data.notification, function(k,v){
                            notification.push(v.pivot.notifi);
                        });
                        this.notifications.notifi = notification;
                    }
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitNotifications: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    var _this = this;
                    this.loading = true;
                    axios.post('/user/set/notifications', this.notifications).then(response => {
                        this.loading = false;
                        this.user = response.data;
                        var notification = [];
                        $.each(response.data.notification, function(k,v){
                            notification.push(v.pivot.notifi);
                        });
                        this.notifications.notifi = notification;
                        //
                        this.$swal({
                            title: 'Succes!',
                            text: 'The profile is updated.',
                            type: 'success',
                        }).then(function(){
                            
                        });
                        //
                    }).catch(error => {
                        this.loading = false;
                        var arr = [];
                        $.each(error.response.data.error, function(k,v){
                            arr.push('<li>'+v+'</li>');
                        });
                        
                        this.$swal({
                            title: 'Error!',
                            html: '<ul>'+arr.join("")+'</ul>',
                            type: 'error',
                        });
                    });
                }).catch(() => {
                    this.loading = false;
                    var arr = [];
                    $.each(this.errors.all(), function(k,v){
                        arr.push('<li>'+v+'</li>');
                    });
                    
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: '<ul>'+arr.join("")+'</ul>',
                    });
                    
                    console.log(this.errors.errors);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageAccount.');
            $('body').removeClass('front');
        }
    }
</script>