<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Account</h1>
                        <menu-account></menu-account>
                    </div><!--.col-lg-3-->
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Change Your Password</h3>
                            </div>
                            <div class="panel-body p-30 prl">
                                <form  v-on:submit="submitSecurity('security', $event)" data-vv-scope="security" accept-charset="UTF-8" role="form" class="form">
                                    <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                    
                                    <div class="form-group row">
                                        <label for="old_password" class="col-lg-3 nn">Old Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.old_password" v-validate="'required|min:6'" title="Old Password" class="form-control" name="old_password" value="" type="password">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="password" class="col-lg-3 nn">New Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.password" v-validate="'required|min:6'" title="New Password" class="form-control" name="password" value="" type="password">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="password_confirmation" class="col-lg-3 nn">Confirm Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.password_confirmation" v-validate="'required|min:6|confirmed:password'" title="Confirm Password" class="form-control" name="password_confirmation" value="" type="password">
                                        </div>
                                    </div>
                                    <input class="btn btn-green" value="Update Password" type="submit">
                                </form>
                            </div>
                        </div>
                    </div><!--.col-lg-9-->
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Security | '+ this.$parent.sitename,
                loading: false,
                security: {
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                },
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            submitSecurity: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/user/set/security', this.security).then(response => {
                        //
                        this.loading = false;
                        this.$swal({
                            title: 'Success!',
                            text: 'Profile is updated.',
                            type: 'success',
                        });
                    }).catch(error => {
                        this.loading = false;
                    });
                }).catch(() => {
                    this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageSecurity.');
            $('body').removeClass('front');
        }
    }
</script>