<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Enter Your Email Address</h3>
                            </div>
                            <div class="panel-body prl">
                                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                <form-reminde></form-reminde>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>

    Vue.component('form-reminde', require('../forms/FormReminde.vue'));

    export default {
        data(){
            return {
                title: 'Enter Your Email Address | '+ this.$parent.sitename,
                loading: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
        },
        mounted() {
            $('body').removeClass('front');
        }
    }
</script>