<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Login</h3>
                            </div>
                            <div class="panel-body">
                                <div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo,phone,city;callback=ulogins" data-ulogin-inited="1497626842830">
                                    <div class="row">
                                        <div class="form-group col-lg-6">
                                            <a class="btn btn-block btn-social btn-facebook" data-uloginbutton="facebook" href="#!" style=""><i class="fa fa-facebook"></i> Sign in with Facebook</a>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <a class="btn btn-block btn-social btn-google-plus" data-uloginbutton="google" href="#!" style=""><i class="fa fa-google-plus"></i> Sign in with Google</a>
                                        </div>
                                    </div>
                                </div>
                                <form method="POST" action="http://ulodger.progim.net/login" accept-charset="UTF-8" role="form" class="form ajax-submit"><input name="_token" value="ShtBIw3j9coMkoYBOfLuaUkzdVjH3IMoCuRmdorW" type="hidden">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="E-mail" name="email" type="email">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Password" name="password" value="" type="password">
                                    </div>
                                    <button class="btn btn-green w100p fb btn-ajax" type="submit" data-loading="&lt;i class=&quot;fa fa-spinner fa-pulse fa-fw&quot;&gt;&lt;/i&gt; LOGIN" data-normal="LOGIN">LOGIN</button>
                                    
                                </form>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <a class="btn btn-block" href="http://ulodger.progim.net/forgot-password">Forgot Password</a>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <a class="btn btn-block" href="http://ulodger.progim.net/sign-up">Create Account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'Login | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageAbout.');
            $('body').removeClass('front');
        }
    }
</script>