<template>
    <div>Loading...</div>
</template>

<script>

    export default {
        data(){
            return {

            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => vm.getData(to));
        },
        methods: {
            getData: function (to) {
                this.$Progress.start();
                this.$auth.logout();
                axios.get('/api/us/'+to.params.id).then(response => {
                    this.$auth.setToken(
                        response.data.cartalyst_sentinel,
                        JSON.stringify(response.data.user),
                        response.data.expiration,
                    );
                    window.location.href = '/';
                    this.$Progress.finish();
                }).catch(error => {
                    this.$Progress.fail();
                    window.location.href = '/'+error.response.status;
                });
            },
        },
        computed: {

        },
        mounted() {

        }
    }
</script>