<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Profile</h1>
                        <menu-profile></menu-profile>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Profile Photo</h3>
                            </div>
                            <div class="panel-body p-30">
                                <div id="user-photo" class="row">
                                    <div class="col-lg-4 ava">
                                        <img :src="'/avatar/250x250/'+user.id" class="img-responsive ava200x200" alt="">
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="m-b-30">Clear frontal face photos are an important way for hosts and quests to learn about each other. It’s not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>
                                        <webcam-photo></webcam-photo>
                                        <upload-avatar></upload-avatar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-account m-b-20 m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Profile Video</h3>
                            </div>
                            <div class="panel-body p-30">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div id="user-video">
                                            <div class="video-file">
                                                
                                            </div>
                                            <div class="video-info">
                                                You haven’t recorded a video profile yet.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div id="video-cheklist">
                                            <h3>Video Checklist</h3>
                                            <ul>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> We love close-ups, but we suggest you sit at arm’s length.</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> You’ve got 30 seconds, so do your best to be  concise.</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> Try to keep the light in front of you, not behind you.</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> Look into the camera to create that personal connection.</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> You’ll get a chance to preview you video before it uploads.</li>
                                            </ul>
                                            <button class="btn btn-green p-l-20 p-r-20 record-video" data-toggle="modal" data-target="#modal-video">Record a new video</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="video-cheklist1">
                                            <h3>Tell the community a little bit about yorself</h3>
                                            <p>Start with your name and answer some of the following questions, or make up some of your own!</p>
                                            <ul>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> Where are you from?</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> What are some of yout interests?</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> What do you do in your spare time?</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> What is a fun fact about yourself?</li>
                                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> What are some of your favorite things?</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    Vue.component('webcam-photo', require('./WebcamPhoto.vue'));
    Vue.component('upload-avatar', require('./UploadAvatar.vue'));
    
    export default {
        data(){
            return {
                title: 'Photos and Video | '+ this.$parent.sitename,
                user: {},
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/profile/photo').then(response => {
                    this.$Progress.finish();
                    this.user = response.data.user;
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
        },
        mounted() {
            console.log('Component mounted PagePhotos.');
            $('body').removeClass('front');
        }
    }
</script>