<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">My Page</h1>
                        <menu-my-page></menu-my-page>
                    </div><!--.col-lg-3-->
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Change Your Password</h3>
                            </div>
                            <div class="panel-body p-30 prl">
                                <form  v-on:submit="submitSecurity('security', $event)" data-vv-scope="security" accept-charset="UTF-8" role="form" class="form">
                                    <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                    
                                    <div class="form-group row">
                                        <label for="old_password" class="col-lg-3 nn">Old Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.old_password" v-validate="'required|min:6'" title="Old Password" class="form-control" name="old_password" value="" type="password">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="password" class="col-lg-3 nn">New Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.password" v-validate="'required|min:6'" title="New Password" class="form-control" name="password" value="" type="password">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <label for="password_confirmation" class="col-lg-3 nn">Confirm Password</label>
                                        <div class="col-lg-4">
                                            <input v-model="security.password_confirmation" v-validate="'required|min:6|confirmed:password'" title="Confirm Password" class="form-control" name="password_confirmation" value="" type="password">
                                        </div>
                                    </div>
                                    <input class="btn btn-green" value="Update Password" type="submit">
                                </form>
                            </div>
                        </div>
                        <!--//-->
                        <div class="panel panel-default panel-account m-b-0 m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Cancel Account</h3>
                            </div>
                            <div class="panel-body">
                                <button v-if="!cancel" v-on:click="cancelAccount" class="btn btn-green cancel-my-acount">Cancel My Account</button>
                                <div v-if="cancel" id="cancel-my-acount">
                                    <form  v-on:submit="submitCancel('cancel', $event)" data-vv-scope="cancel" accept-charset="UTF-8" role="form" class="form">
                                       
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <h3>Tell us why you're leaving</h3>
                                                <div class="form-group">
                                                    <label class="radiobutton radiobutton-green" for="reason1"><input v-model="remove.reason" v-validate="'required'" id="reason1" name="reason" :value="1" type="radio"><span></span> I have safety concerns.</label><br>
                                                    <label class="radiobutton radiobutton-green" for="reason3"><input v-model="remove.reason" v-validate="'required'" id="reason3" name="reason" :value="3" type="radio"><span></span> I don't find it useful.</label><br>
                                                    <label class="radiobutton radiobutton-green" for="reason4"><input v-model="remove.reason" v-validate="'required'" id="reason4" name="reason" :value="4" type="radio"><span></span> I don't understand how to use it.</label><br>
                                                    <label class="radiobutton radiobutton-green" for="reason6"><input v-model="remove.reason" v-validate="'required'" id="reason6" name="reason" :value="6" type="radio"><span></span> Other</label><br>
                                                </div> 
                                                <div class="form-group">
                                                    <label for="details"></label>
                                                    <textarea v-model="remove.details" class="form-control" rows="2" name="details" cols="50"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Can we contact you for more details?</label><br>
                                                    <label class="radiobutton radiobutton-green" for="contact_ok0"><input v-model="remove.contact_ok" v-validate="'required'" id="contact_ok0" name="contact_ok" value="0" type="radio"><span></span> Yes</label>
                                                    <label class="radiobutton radiobutton-green" for="contact_ok1"><input v-model="remove.contact_ok" v-validate="'required'" id="contact_ok1" name="contact_ok" value="1" type="radio"><span></span> No</label>
                                                </div>
                                                <h3>What's going to happen</h3>
                                                <ul>
                                                    <li>Your profile and any listings will disappear.</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-5">
                                               
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input class="btn btn-green" value="Cancel my account" type="submit">
                                                <button v-on:click="cancelAccountNo" class="btn btn-default not-cancel-account" type="button">Don't cancel account</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!--//-->
                    </div><!--.col-lg-9-->
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    const dictionary = {
        en: {
            attributes: {
                reason: 'Tell us why you are leaving',
                contact_ok: 'Can we contact you for more details?',
            }
        }
    };
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Settings | '+ this.$parent.sitename,
                loading: false,
                settings: [],
                country: '',
                cancel: false,
                remove: {
                    reason: '',
                    details: '',
                    contact_ok: '',
                },
                security: {
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                },
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                    $('.country').selectpicker('val', _this.country);
                });
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/account/settings').then(response => {
                    this.$Progress.finish();
                    this.settings = response.data.settings;
                    
                    if (response.data.user.residence.length) {
                        this.country = response.data.user.residence[0].pivot.country;
                    }
                    
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitSecurity: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/user/set/security', this.security).then(response => {
                        //
                        this.loading = false;
                        this.$swal({
                            title: 'Success!',
                            text: 'Profile is updated.',
                            type: 'success',
                        });
                    }).catch(error => {
                        this.loading = false;
                    });
                }).catch(() => {
                    this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            submitCountry: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    //
                    this.loading = true;
                    axios.post('/user/set/country', {country: this.country}).then(response => {
                        this.loading = false;
                        this.$swal({
                            title: 'Success!',
                            text: 'Profile is updated.',
                            type: 'success',
                        });
                    }).catch(error => {
                        //
                        this.loading = false;
                    });
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            cancelAccount: function()
            {
                this.cancel = true;
            },
            cancelAccountNo: function()
            {
                this.cancel = false;
            },
            submitCancel: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    //
                    this.loading = true;
                    axios.post('/user/set/remove', this.remove).then(response => {
                        this.loading = false;
                        this.$auth.logout();
                        this.$router.push('/');
                        this.$swal({
                            title: 'Success!',
                            text: 'Profile is deleted.',
                            type: 'success',
                        });
                    }).catch(error => {
                        //
                        this.loading = false;
                    });
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageSettings.');
            $('body').removeClass('front');
            this.$validator.updateDictionary(dictionary);
        }
    }
</script>