<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">My Page</h1>
                        <menu-my-page></menu-my-page>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-body p-30">
                                <div v-if="!$auth.getUser().provide" class="row">
                                    <div class="col-lg-9">
                                        <h4>Provide Identification before booking</h4>
                                    </div>
                                    <div class="col-lg-3 p-t-15">
                                        <user-provide></user-provide>
                                    </div>
                                </div>
                                <div v-else class="row">
                                    <div class="col-lg-9">
                                        <h4>Your ID has been verified.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default panel-account m-b-0 m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Your verified info</h3>
                            </div>
                            <div class="panel-body p-30">
                                <h5>Email address</h5>
                                <p v-if="user.verify_email" class="p-b-30">You have confirmed your email: <b>{{ user.email }}</b>.</p>
                                <p v-else class="p-b-30">Please confirm your email: <b>{{ user.email }}</b>.
                                    <a v-if="confirmMail" href="javascript:void(0);" v-on:click="verifyMail(user.email)">confirm</a>
                                </p>
                                
                                <h5>Phone number</h5>
                                <div class="row p-b-30">
                                    <div v-if="user.phone != undefined && user.phone.length > 0" class="col-lg-12">
                                        <!--<p class="p-b-15">You have confirmed your phone: <b>+ (333)-333-3333</b>.</p>-->
                                        <div v-for="(phone, index) in user.phone" class="row p-b-15">
                                            <div v-if="index == 0" class="col-lg-4">You have confirmed your phone:</div>
                                            <div v-else class="col-lg-4"></div>
                                            <div class="col-lg-8">
                                                <b>{{ phone.pivot.phone }}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" >
                                        <router-link to="/my-page">Add & Verify phone</router-link>
                                    </div>
                                </div>
                                <template v-if="user.social != undefined && user.social.length > 0">
                                    <div v-for="soc in user.social" class="soc-row">
                                        <h5>{{ soc.network }}</h5>
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <a v-on:click="onDisconnect(soc)" class="btn btn-default bb color-black" href="javascript:void(0);">Disconnect</a>
                                                <a class="color-black p-l-20" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="You can allways reconnect later."><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div v-if="facebook || google || linkedin" class="panel panel-default panel-account m-b-20 m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Not yet verified</h3>
                            </div>
                            <div class="panel-body p-30">
                                <!--//---------------------------//-->
                                <div id="uLogin" data-ulogin="display=buttons;fields=first_name,last_name,email,photo_big,photo;callback=socialConnect" data-ulogin-inited="1498988644705">
                                    <div v-if="facebook" class="p-b-30">
                                        <h5>Facebook</h5>
                                        <a class="btn btn-soc" href="javascript:void(0);" data-uloginbutton="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Connect</a>
                                    </div>
                                    <div v-if="google" class="p-b-30">
                                        <h5>Google</h5>
                                        <a class="btn btn-soc" href="javascript:void(0);" data-uloginbutton="google"><i class="fa fa-google" aria-hidden="true"></i> Connect</a>
                                    </div>
                                    <div v-if="linkedin" class="p-b-30">
                                        <h5>LinkedIn</h5>
                                        <a class="btn btn-soc" href="javascript:void(0);" data-uloginbutton="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i> Connect</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    Vue.component('user-provide', require('./UserProvide.vue'));
    
    export default {
        data(){
            return {
                title: 'Verification | '+ this.$parent.sitename,
                user: [],
                facebook: true,
                google: true,
                linkedin: true,
                confirmMail: true,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                var _this = this;
                this.$Progress.start();
                axios.post('/user/profile/verify').then(response => {
                    this.$Progress.finish();
                    this.user = response.data;
                    // set social visible
                    if (response.data.social != undefined && response.data.social.length > 0) {
                        $.each(response.data.social, function(k,v){
                            if (v.network == 'facebook') {
                                _this.facebook = false;
                            }
                            if (v.network == 'google') {
                                _this.google = false;
                            }
                            if (v.network == 'linkedin') {
                                _this.linkedin = false;
                            }
                        });
                    }
                }).catch(error => {
                    this.$Progress.fail();
                    //console.log(error);
                });
            },
            verifyMail: function(mail)
            {
                var _this = this;
                this.$Progress.start();
                axios.post('/user/profile/verify/email', {email: mail}).then(response => {
                    this.$Progress.finish();
                    this.confirmMail = false;
                     this.$swal({
                        title: 'Success!',
                        text: 'For verification, follow the instructions sent to you by mail.',
                        type: 'success',
                    });
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            ulogin: function()
            {
                var _this = this;
                window.socialConnect = (arg) => {
                    $.getJSON("//ulogin.ru/token.php?host=" +
                    encodeURIComponent(location.toString()) + "&token=" + arg + "&callback=?",
                    function(data){
                        data=$.parseJSON(data.toString());
                        //console.log(data.network);
                        if(!data.error){
                            //
                            //_this.loading = true;
                            axios.post('/social/connect', data).then(response => {
                                //
                                _this.user = response.data;
                                //
                                if (data.network == 'facebook') {
                                    _this.facebook = false;
                                }
                                if (data.network == 'google') {
                                    _this.google = false;
                                }
                                if (data.network == 'linkedin') {
                                    _this.linkedin = false;
                                }
                                //
                            }).catch(error => {
                                //_this.loading = false;
                            });
                            //
                        }
                    });
                }
            },
            onDisconnect: function(soc)
            {
                axios.post('/social/disconnect/'+soc.id).then(response => {
                    //
                    this.user = response.data;
                    //
                    if (soc.network == 'facebook') {
                        this.facebook = true;
                    }
                    if (soc.network == 'google') {
                        this.google = true;
                    }
                    if (soc.network == 'linkedin') {
                        this.linkedin = true;
                    }
                    //
                }).catch(error => {
                    //_this.loading = false;
                });
            }
        },
        mounted() {
            console.log('Component mounted PageVerification.');
            $('body').removeClass('front');
            this.ulogin();
        }
    }
</script>