<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">My Page</h1>
                        <menu-my-page></menu-my-page>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading tabs-panel">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab" aria-expanded="true">Reviews About You</a></li>
                                    <li class=""><a href="#tab2" data-toggle="tab" aria-expanded="false">Reviews By You</a></li>
                                </ul>
                            </div>
                            <div class="panel-body p-30">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'Reviews | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageReviews.');
            $('body').removeClass('front');
        }
    }
</script>