<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Account</h1>
                        <menu-account></menu-account>
                    </div><!--.col-lg-3-->
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading">
                                <h3 class="panel-title">Your Listings and Profile in Search Engines</h3>
                            </div>
                            <div class="panel-body p-30">
                                <p>Search engines attract lots of traffic to your listing and generate interest and bookings for our hosts.</p>
                                <p>Perhaps you want to be listed on Ulodger but have concerns about your listings and profile being advertised more widely. You can turn off search indexing, preventing search engines such as Google and Bing from displaying your pages in their search results.</p>
                                <p class="m-b-20">Note: This may reduce your bookings and will take a few days to take effect.</p>
                                
                                <form v-on:submit="submitPrivacy('privacy', $event)" data-vv-scope="privacy" accept-charset="UTF-8" role="form" class="form">
                                    <div class="m-b-20 ck2">
                                        <label for="privacy1" class="txt">
                                            <input id="privacy1" v-model="privacy.include_in_search_engines" :value="1" type="checkbox">
                                            <span></span>
                                            Include my profile and listing in search engines like Google and Bing (recommended)
                                        </label>
                                        <div class="clearfix"></div>
                                    </div>
                                    <input class="btn btn-green" value="Save Findability" type="submit">
                                </form>
                                
                            </div>
                        </div>
                    </div><!--.col-lg-9-->
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Privacy | '+ this.$parent.sitename,
                loading: false,
                privacy: {
                    include_in_search_engines: 0,
                }
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        created ()
        {
            this.fetchData();
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/get/privacy').then(response => {
                    this.$Progress.finish();
                    if (response.data.redirect) {
                        this.$router.push(response.data.redirect);
                    }
                    else
                    {
                        this.privacy.include_in_search_engines = response.data.privacy[0].pivot.include_in_search_engines;
                    }
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitPrivacy: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    var _this = this;
                    this.loading = true;
                    axios.post('/user/set/privacy', this.privacy).then(response => {
                        this.loading = false;
                        this.privacy.include_in_search_engines = response.data.privacy[0].pivot.include_in_search_engines;
                        //
                        this.$swal({
                            title: 'Succes!',
                            text: 'The profile is updated.',
                            type: 'success',
                        }).then(function(){
                            
                        });
                        //
                    }).catch(error => {
                        this.loading = false;
                        var arr = [];
                        $.each(error.response.data.error, function(k,v){
                            arr.push('<li>'+v+'</li>');
                        });
                        
                        this.$swal({
                            title: 'Error!',
                            html: '<ul>'+arr.join("")+'</ul>',
                            type: 'error',
                        });
                    });
                }).catch(() => {
                    this.loading = false;
                    var arr = [];
                    $.each(this.errors.all(), function(k,v){
                        arr.push('<li>'+v+'</li>');
                    });
                    
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: '<ul>'+arr.join("")+'</ul>',
                    });
                    
                    console.log(this.errors.errors);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageAccountPrivacy.');
            $('body').removeClass('front');
        }
    }
</script>