<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Set New Password</h3>
                            </div>
                            <div class="panel-body prl">
                                
                                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                
                                <form v-on:submit="submitReminder('newpass', $event)" data-vv-scope="newpass">
                                    <div class="form-group" :class="{'has-error': errors.has('newpass.password') }">
                                        <input v-model="newpass.password" v-validate="'required|min:6'" type="password" name="password" class="form-control" placeholder="New password">
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('newpass.password_confirmation') }">
                                        <input v-model="newpass.password_confirmation" v-validate="'required|min:6|confirmed:password'" type="password" name="password_confirmation" class="form-control" placeholder="New password again">
                                    </div>
                                    <button class="btn btn-green w100p">Save <i v-if="loading" class="fa fa-spinner fa-pulse poa"></i></button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Reset Password | '+ this.$parent.sitename,
                loading: false,
                newpass: {
                    password: null,
                    password_confirmation: null,
                    code: this.$route.params.code,
                }
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            submitReminder: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    var _this = this;
                    this.loading = true;
                    axios.post('/set/new/password', this.newpass).then(response => {
                        this.loading = false;
                        //
                        this.$auth.setToken(
                            response.data.cartalyst_sentinel,
                            JSON.stringify(response.data.user),
                            response.data.expiration,
                        );
                        //
                        this.$swal({
                            title: 'Succes!',
                            text: 'The password has been changed.',
                            type: 'success',
                        }).then(function(){
                            _this.newpassword='';
                            _this.newpasswordconf='';
                            _this.$router.push(response.data.redirect);
                        });
                        //
                    }).catch(error => {
                        this.loading = false;
                        var arr = [];
                        $.each(error.response.data.error, function(k,v){
                            arr.push('<li>'+v+'</li>');
                        });
                        
                        this.$swal({
                            title: 'Error!',
                            html: '<ul>'+arr.join("")+'</ul>',
                            type: 'error',
                        });
                    });
                }).catch(() => {
                    this.loading = false;
                    var arr = [];
                    $.each(this.errors.all(), function(k,v){
                        arr.push('<li>'+v+'</li>');
                    });
                    
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: '<ul>'+arr.join("")+'</ul>',
                    });
                    
                    console.log(this.errors.errors);
                });
            }
        },
        mounted() {
            console.log('Component mounted PageReminder.');
            $('body').removeClass('front');
        }
    }
</script>