<template>
    <div class="component">
        <headers></headers>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">Sign up with your email account</h3>
                            </div>
                            <div class="panel-body prl">
                                
                                <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                                
                                <form v-on:submit="submitRegister('register', $event)" data-vv-scope="register" accept-charset="UTF-8" role="form">
                                    <div class="form-group" :class="{'has-error': errors.has('register.first_name') }">
                                        <input v-model="register.first_name" v-validate="'required'" class="form-control" placeholder="First Nmae" name="first_name" type="text">
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('register.last_name') }">
                                        <input v-model="register.last_name" v-validate="'required'" class="form-control" placeholder="Last Nmae" name="last_name" type="text">
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('register.email') }">
                                        <input v-model="register.email" v-validate="'required|email'" class="form-control" placeholder="E-mail" name="email" type="email">
                                    </div>
                                    <div class="form-group row" :class="{'has-error': errors.has('register.phone') }">
                                        <div class="col-lg-12">
                                            <input v-model="register.phone" v-validate="'required'" v-mask="'(###)-###-####'" class="form-control phone-mask" placeholder="Phone" name="phone" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('register.password') }">
                                        <input v-model="register.password" v-validate="'required|min:6'" class="form-control" placeholder="Password" name="password" value="" type="password">
                                    </div>
                                    <div class="form-group" :class="{'has-error': errors.has('register.password_confirmation') }">
                                        <input v-model="register.password_confirmation" v-validate="'required|min:6|confirmed:password'" class="form-control" placeholder="Password confirmation" name="password_confirmation" value="" type="password">
                                    </div>

                                    <div class="form-group ck2" :class="{'has-error': errors.has('register.rule') }">
                                        <label for="rule" class="nn">
                                            <input v-model="register.rule" v-validate="'required'" id="rule" name="rule" type="checkbox" value="1"> <span></span>
                                            I accept the <router-link to="/terms">Terms and Conditions</router-link> and <router-link to="/policy">Privacy</router-link>
                                        </label>
                                    </div>

                                    <button class="btn  btn-green w100p fb" type="submit">SIGN UP</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    import VueMask from 'v-mask';
    Vue.use(VueMask);
    
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Sign up with your email account | '+ this.$parent.sitename,
                loading: false,
                register:{
                    first_name: '',
                    last_name: '',
                    phone: '',
                    password: '',
                    password_confirmation: '',
                    rule: null,
                }
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        methods:{
            submitRegister: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.loading = true;
                    axios.post('/register', this.register).then(response => {
                        this.$auth.setToken(
                            response.data.cartalyst_sentinel,
                            JSON.stringify(response.data.user),
                            response.data.expiration,
                        );
                        //
                        this.loading = false;
                        this.$router.push('/dashboard');
                    }).catch(error => {
                        this.loading = false;
                        var arr = [];
                        $.each(error.response.data.error, function(k,v){
                            arr.push('<li>'+v+'</li>');
                        });
                        
                        this.$swal({
                            title: 'Error!',
                            html: '<ul>'+arr.join("")+'</ul>',
                            type: 'error',
                        });
                    });
                }).catch(() => {
                    this.loading = false;
                    var arr = [];
                    $.each(this.errors.all(), function(k,v){
                        arr.push('<li>'+v+'</li>');
                    });
                    
                    this.$notify({
                        type: 'error',
                        title: 'Error!',
                        text: '<ul>'+arr.join("")+'</ul>',
                    });
                });
            }
        },
        mounted() {
            console.log('Component mounted Create Account.');
            $('body').removeClass('front');
        }
    }
</script>