<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">Profile</h1>
                        <menu-profile></menu-profile>
                    </div>
                    <div class="col-lg-9">
                        <div class="panel panel-default panel-account m-b-0">
                            <div class="panel-heading tabs-panel">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1" data-toggle="tab">Request References</a></li>
                                    <li><a href="#tab2" data-toggle="tab">References About You</a></li>
                                    <li><a href="#tab3" data-toggle="tab">References By You</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="panel panel-default panel-account m-b-0 m-t-m2">
                                    <div class="panel-body">
                                        <p>ULodger is built on trust and reputation. You can request references from you personal network, and the references will appear publicly on your profile to help other members get to know you.</p>
                                        <p>You should only request references from people who know you well.</p>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-account m-b-0 m-t-m1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Friends</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <a href="javascript:void(0);" class="btn btn-facebook2 bb"><i class="fa fa-facebook" aria-hidden="true"></i> Connect with Facebook</a>
                                            </div>
                                            <div class="col-lg-9">
                                                <p>Connect your Facebook account to see withc of your friends are on. You will be able to request references from them here.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="panel panel-default panel-account m-b-0 m-t-m2">
                                    <div class="panel-body">
                                        <p>When you accept a reference it will appear on your public profile. If you ignore a reference it will not appear in your profile, and the other person will not be notified.</p>
                                        <p>No pending references</p>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-account m-b-0 m-t-m1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Past References Written About You</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>References require profile photos. A reference will only display in your public profile if the member who wrote it has a profile picture.</p>
                                        <p>No one has written you a reference yet. <a href="#!">Learn how to get References.</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div class="panel panel-default panel-account m-b-0 m-t-m2">
                                    <div class="panel-body">
                                        <p>Write references only for people you know well enough to recommend to the Airbnb Community. If you ignore a request the other person will not be notified.</p>
                                        <p>No pending references</p>
                                    </div>
                                </div>
                                <div class="panel panel-default panel-account m-b-0 m-t-m1">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Past References You've Written</h3>
                                    </div>
                                    <div class="panel-body">
                                        <p>You have not written a reference for anyone yet</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                title: 'References | '+ this.$parent.sitename,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        mounted() {
            console.log('Component mounted PageReferences.');
            $('body').removeClass('front');
        }
    }
</script>