<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <h1 class="dsh">My Page</h1>
                        <menu-my-page></menu-my-page>
                    </div>
                    <div class="col-lg-9">
                        <form v-on:submit="submitProfile('profile', $event)" data-vv-scope="profile" accept-charset="UTF-8" role="form" class="form">
                            
                            <div class="panel panel-default panel-account m-b-0">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Required</h3>
                                </div>
                                <div class="panel-body p-30">
                                    <div class="form-group row">
                                        <label for="first_name" class="col-lg-3 nn text-right p-t-15">First name</label>
                                        <div class="col-lg-9">
                                            <input v-model="user.first_name" v-validate="'required'" title="First name" class="form-control" name="first_name" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="last_name" class="col-lg-3 nn text-right p-t-15">Last name</label>
                                        <div class="col-lg-9">
                                            <input v-model="user.last_name" v-validate="'required'" title="Last name" class="form-control" name="last_name" type="text">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="gender" class="col-lg-3 nn text-right p-t-15">I Am <i class="fa fa-lock gray" aria-hidden="true"></i></label>
                                        <div class="col-lg-2">
                                            <select v-if="Object.keys(settings)" v-model="user.gender" v-validate="'required'" title="I Am" class="form-control selectpicker gender" name="gender">
                                                <option v-for="(gender, index) in settings.gender" :value="index">{{ gender }}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-7">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="birthdate" class="col-lg-3 nn text-right p-t-15">Birth Date <i class="fa fa-lock gray" aria-hidden="true"></i></label>
                                        <div class="col-lg-2">
                                            <select v-if="Object.keys(settings)" v-model="user.birthdate.month" v-validate="'required'" class="form-control selectpicker birth_month" title="- month -" name="birth_month">
                                                <option v-for="(months, index) in settings.month" :value="index">{{ months }}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <select v-if="Object.keys(settings)" v-model="user.birthdate.day" v-validate="'required'" class="form-control selectpicker birth_day" title="- day -" name="birth_day">
                                                <option v-for="(day, index) in settings.days" :value="index">{{ day }}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2">
                                            <select v-if="Object.keys(settings)" v-model="user.birthdate.year" v-validate="'required'" class="form-control selectpicker birth_year" title="- year -" name="birth_year">
                                                <option v-for="(year, index) in settings.years" :value="index">{{ year }}</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-9 col-lg-offset-3">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-lg-3 nn text-right p-t-15">Email Address <i class="fa fa-lock gray" aria-hidden="true"></i></label>
                                        <div class="col-lg-9">
                                            <input v-model="user.email" disabled="disabled" v-validate="'required|email'" title="Email Address" class="form-control" name="email" type="email">
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-lg-3 nn text-right p-t-15">Phone Number <i class="fa fa-lock gray" aria-hidden="true"></i></label>
                                        <div class="col-lg-9">
                                            <phone :user="user" v-on:onchangePhone="changePhone"></phone>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="location_address" class="col-lg-3 nn text-right p-t-15">Where You Live</label>
                                        <div class="col-lg-9 details">
                                            <input v-model="user.location.address" v-validate="'required'" name="location_address" class="form-control geocomplete" data-geo="formatted_address" title="Where You Live" placeholder="Enter a location" autocomplete="off" type="text">
                                            <input v-model="user.location.location" data-geo="locality" name="location_location" type="hidden">
                                            <input v-model="user.location.region" data-geo="administrative_area_level_1" name="location_region" type="hidden">
                                            <input v-model="user.location.lat" data-geo="lat" name="location_lat" type="hidden">
                                            <input v-model="user.location.lng" data-geo="lng" name="location_lng" type="hidden">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="about" class="col-lg-3 nn text-right p-t-15">Describe Yourself</label>
                                        <div class="col-lg-9">
                                            <textarea v-model="user.about" v-validate="'required'" title="Describe Yourself" class="form-control" rows="3" name="about" cols="50"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default panel-account m-t-m1 m-b-20">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Optional</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group row">
                                        <label for="school" class="col-lg-3 nn text-right p-t-15">School</label>
                                        <div class="col-lg-9">
                                            <input v-model="user.school" class="form-control" name="school" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="languages" class="col-lg-3 nn text-right p-t-15">Languages</label>
                                        <div class="col-lg-9">
                                            <lang :user="user" :settings="settings" v-on:onchangeLang="changeLang"></lang>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <input class="btn btn-link bb" value="SAVE" type="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--// Photo-->
                        <!--<div class="panel panel-default panel-account m-b-20 m-t-m1">
                            <div class="panel-heading">
                                <h3 class="panel-title">Profile Photo</h3>
                            </div>
                            <div class="panel-body p-30">
                                <div id="user-photo" class="row">
                                    <div class="col-lg-4 ava">
                                        <img :src="'/avatar/250x250/'+user.id" class="img-responsive ava200x200" alt="">
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="m-b-30">Clear frontal face photos are an important way for hosts and quests to learn about each other. It’s not much fun to host a landscape! Please upload a photo that clearly shows your face.</p>
                                        <webcam-photo></webcam-photo>
                                        <upload-avatar></upload-avatar>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--// Photo-->
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>

    Vue.component('phone', require('./PhoneProfile.vue'));
    Vue.component('lang', require('./LangProfile.vue'));
    Vue.component('webcam-photo', require('./WebcamPhoto.vue'));
    Vue.component('upload-avatar', require('./UploadAvatar.vue'));
    
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Profile | '+ this.$parent.sitename,
                settings: {},
                user: {
                    "birthdate": {
                        "month": null,
                        "day": null,
                        "year": null
                    },
                    "location": {
                        "address": null,
                        "location": null,
                        "region": null,
                        "lat": null,
                        "lng": null
                    },
                    "lang": [],
                    "emergency": [],
                },
                emergency: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/user/profile/data').then(response => {
                    this.$Progress.finish();
                    this.settings = response.data.settings;
                    this.user = response.data.user;
                    //$('.selectpicker').selectpicker('refresh');
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitProfile: function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    //
                    axios.post('/user/profile/save', this.user).then(response => {
                        this.$swal({
                            title: 'Success!',
                            text: 'Profile is updated.',
                            type: 'success',
                        });
                    }).catch(error => {
                        //
                    });
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            address: function()
            {
                var _this = this;
                $('.geocomplete').geocomplete({
                    details: '.details',
                    detailsAttribute: 'data-geo',
                }).bind("geocode:result", function(event, result){
                    _this.user.location.address = result.formatted_address;
                    _this.user.location.lat = result.geometry.location.lat();
                    _this.user.location.lng = result.geometry.location.lng();
                    $.each(result.address_components, function(k,v){
                        if (v.types[0] == 'locality') {
                            _this.user.location.location = v.long_name;
                        }
                        if (v.types[0] == 'administrative_area_level_1') {
                            _this.user.location.region = v.long_name;
                        }
                    });
                });
            },
            changePhone: function(phone)
            {
                this.user.phone = phone;
            },
            changeLang: function(lang)
            {
                this.user.lang = lang;
            },
            setEmergency: function()
            {
                this.emergency = true;
            }
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                    $('.gender').selectpicker('val', _this.user.gender);
                    $('.birth_day').selectpicker('val', _this.user.birthdate.day);
                    $('.birth_month').selectpicker('val', _this.user.birthdate.month);
                    $('.birth_year').selectpicker('val', _this.user.birthdate.year);
                });
            });
        },
        mounted() {
            console.log('Component mounted PageProfile.');
            $('body').removeClass('front');
            this.address();
        }
    }
</script>