<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="page-dashboard" class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <user-left :user="user"></user-left>
                    </div>
                    <div class="col-lg-9">
                        <host-in-progress v-if="user.host_in_process" :host="user.host_in_process"></host-in-progress>
                         <block-inbox-new></block-inbox-new>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
   
    Vue.component('user-left', require('./UserLeft.vue'));
    Vue.component('host-in-progress', require('./HostInProgress.vue'));
    Vue.component('block-inbox-new', require('./BlockInboxNew.vue'));
   
    export default {
        data(){
            return {
                title: 'Dashboard | '+ this.$parent.sitename,
                user:{},
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.getUser();
            });
        },
        methods: {
            getUser: function()
            {
                this.$Progress.start();
                axios.post('/user/account/dashboard').then(response => {
                    this.$Progress.finish();
                    this.user = response.data.user;
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
        },
        mounted() {
            console.log('Component mounted PageDashboard.');
            $('body').removeClass('front');
        }
    }
</script>