<template>
    <div>
        <div id="my-phone">
            <div v-if="!user.phone" class="phone-numer">No phone number entered</div>
            <div class="user-phone-edit" v-for="(phone, index) in user.phone">
                {{ phone.pivot.phone }}
                <a href="javascript:void(0);" v-on:click="removePhone(index)" class="pull-right color-red remove-phone"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a v-if="phone.pivot.verify == 0" class="btn btn-verify pull-right" v-on:click="verifyTel(index)" href="javascript:void(0);">Verify</a>
                <a v-if="phone.pivot.verify == 1" class="btn btn-verify1 pull-right text-success" href="javascript:void(0);"><i class="fa fa-check" aria-hidden="true"></i> verified</a>
            </div>
        </div>
        <div v-if="visible1" id="add-phone-number" class="wrp prl">
            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
            <div class="form-group row">
                <label for="phone" class="col-lg-4 nn p-t-15">Add a phone number:</label>
                <div class="col-lg-8">
                    <input v-model="phone" class="form-control phone-val phone-mask" v-mask="'1(###)-###-####'" name="phone" type="text">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-7">
                    <a class="btn btn-green w100p verify-sms" v-on:click="verifySMS" href="javascript:void(0);">Verify via SMS</a>
                </div>
                <!--<div class="col-lg-5">
                    <a class="btn btn-green w100p verify-call" v-on:click="verifyCall" href="javascript:void(0);">Verify via Call</a>
                </div>-->
                <!--<div class="col-lg-2 p-t-7">
                    <a href="javascript:void(0);">Why Verify?</a>
                </div>-->
            </div>
        </div>
        <div v-if="visible2" id="verify-phone-number" class="wrp">
            <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
            
            <p class="m-b-15">We sent a virification code to <b class="fsz24"> {{ verifyPhone.phone }}</b></p>
            <div class="form-group row m-b-15">
                <label for="code" class="col-lg-5 nn p-t-15">Please enter the 4-digit code</label>
                <div class="col-lg-7">
                    <input v-model="code" class="form-control code-verify" name="code" type="text">
                    <!--<p class="color-red help-block">For test enter: {{ verifyPhone.code }}</p>-->
                </div>
            </div>
            <a class="btn btn-green verify-verify" v-on:click="verifyVerify" href="javascript:void(0);">Verify</a>
            <a class="btn btn-link verify-cancel" v-on:click="verifyCancel" href="javascript:void(0);">Cancel</a>
            <!--<p class="p-t-15">If it doesn't arrive, click cancel and try call verification instead.</p>-->
        </div>
        <a v-if="!visible3" href="javascript:void(0);" class="btn btn-green add-phone-number" v-on:click="addPhone"> + Add a phone number</a>
    </div>
</template>

<script>
    import VueMask from 'v-mask';
    Vue.use(VueMask);
    
    export default {
        props:{
            user:{
                type: Object,
                default: [],
            }
        },
        data(){
            return {
                visible1:false,
                visible2:false,
                visible3:false,
                loading: false,
                phone: '',
                verify: 0,
                code: '',
                verifyPhone:{
                    phone: '',
                    code: '',
                },
            }  
        },
        methods: {
            addPhone: function()
            {
                this.visible1 = true;
                this.visible3 = true;
            },
            verifySMS: function()
            {
                if (this.phone == '') {
                    this.$swal({
                        title: 'Warning!',
                        text: 'Please enter a phone number.',
                        type: 'warning',
                    });
                }
                else
                {
                    this.postVerifi();
                }
            },
            verifyCall: function()
            {
                if (this.phone == '') {
                    this.$swal({
                        title: 'Warning!',
                        text: 'Please enter a phone number.',
                        type: 'warning',
                    });
                }
                else
                {
                    this.postVerifi();
                }
            },
            postVerifi: function()
            {
                this.loading = true;
                axios.post('/user/profile/verify/phone', {phone: this.phone, verify: this.verify}).then(response => {
                    this.loading = false;
                    this.visible1 = false;
                    this.visible2 = true;
                    this.verifyPhone = response.data.verifyPhone;
                    this.$emit('onchangePhone', response.data.user.phone);
                }).catch(error => {
                    this.loading = false;
                    this.$swal({
                        title: 'Error!',
                        text: error.response.data.error,
                        type: 'error',
                    });
                });
            },
            removePhone: function(index)
            {
                var item = this.user.phone[index].pivot.phone;
                this.user.phone.splice(index, 1);
                this.visible1=false;
                this.visible2=false;
                this.visible3=false;
                axios.post('/user/profile/remove/phone', {phone: item});
            },
            verifyTel: function(index)
            {
                var item = this.user.phone[index].pivot.phone;
                this.visible1 = true;
                this.visible3 = true;
                this.phone = item;
                this.verify = 1;
            },
            verifyCancel: function()
            {
                this.visible1 = true;
                this.visible2 = false;
            },
            verifyVerify: function()
            {
                if (this.code == '') {
                    this.$swal({
                        title: 'Warning!',
                        text: 'Please enter a code.',
                        type: 'warning',
                    });
                }
                else
                {
                    if (this.code != this.verifyPhone.code) {
                        this.$swal({
                            title: 'Error!',
                            text: 'Incorrect code.',
                            type: 'error',
                        });
                    }
                    else
                    {
                        this.loading = true;
                        axios.post('/user/profile/complete/phone', {phone: this.phone}).then(response => {
                            this.loading = false;
                            this.visible1 = false;
                            this.visible2 = false;
                            this.visible3 = false;
                            this.verifyPhone = [];
                            this.$emit('onchangePhone', response.data.user.phone);
                            this.$swal({
                                title: 'Success!',
                                text: 'verified.',
                                type: 'success',
                            });
                        }).catch(error => {
                            this.loading = false;
                        });
                    }
                }
            }
        },
        mounted() {
            console.log('Component mounted PhoneProfile.');
        }
    }
</script>