<template>
    <div class="hosts-list">
        <div class="row m-b-25">
            <div class="col-lg-4">
                <router-link :to="{ name: 'listing', params: { slug: item.slug }}" target="_blank">
                    <img  :src="'/filem/photo/400x320/'+item.photo" class="img-responsive" :alt="item.name">
                </router-link>
                <div class="created">created at {{ item.req.created_at }}</div>
            </div>
            <div class="col-lg-8">
                <h2>{{ item.name }}</h2>
                <div class="book-user">
                    <div class="row">
                        <div class="col-lg-1">
                            <router-link :to="{ name: 'user', params: { slug: item.user.slug }}" target="_blank">
                                <img  :src="'/avatar/30x30/'+item.user.id" class="img-circle" alt="">
                            </router-link>
                        </div>
                        <div class="col-lg-11">
                            <div class="user-name">
                                <router-link :to="{ name: 'user', params: { slug: item.user.slug }}" target="_blank">
                                    {{ item.user.first_name }}
                                </router-link>
                                <span>Wants to book a listing</span>
                            </div>
                        </div>
                    </div>
                </div>
                <template v-if="item.req.status == 0">
                    <form-book-apply :item="item"></form-book-apply>
                </template>
                <template v-if="item.req.status == 10">
                    <div class="alert alert-danger">
                        <div class="row">
                            <div class="col-lg-1">
                                <i class="fa fa-frown-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-11">
                                <p>You refused to book!</p>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="item.req.status == 100">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-lg-1">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-11">
                                <p>Pending payment!</p>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="item.req.status == 1">
                    <div class="alert alert-success">
                        <div class="row">
                            <div class="col-lg-1">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-lg-11">
                                <p>Rent a listing</p>
                                <p><label>From:</label> {{ item.req.check_in }}</p>
                                <p><label>To:</label> {{ item.req.check_out }}</p>
                                <p><label>Lodgers:</label> {{ item.req.lodgers }}</p>
                                <!--<p><label>Remaining days of booking:</label> {{ item.req.remaining }}</p>-->
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <hr>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';
    Vue.component('form-book-apply', require('../forms/FormBookApply.vue'));

    export default{
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {

            }
        },
        methods:{

        }
    }
</script>