<template>
    <div class="hosts-list">
        <div class="host-delete">
            <a href="javascript:void(0);" @click="remove(item)" title="remove" class="del"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </div>
        <div class="row m-b-25">
            <div class="col-lg-4">
                <router-link :to="{ name: 'listing', params: { slug: item.slug }}" target="_blank">
                    <img  :src="'/filem/photo/400x320/'+item.photo" class="img-responsive" :alt="item.name">
                </router-link>
            </div>
            <div class="col-lg-8">
                <div class="host-bar">
                    <p class="text-right">You’re {{ item.progress | process }}% done with your listining</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" :aria-valuenow="item.progress | process" :aria-valuemin="0" :aria-valuemax="100" v-bind:style="{width: item.progress +'%'}"></div>
                    </div>
                </div>
                <h2>{{ item.name }}</h2>
                <div class="description">
                    {{ item.description.value }}
                </div>
                <div class="last-updated">
                    Last updated on {{ item.updated_at }}
                </div>
                <div class="host-bottom">
                    <router-link target="_blank" class="btn btn-dark btn-b btn40" :to="{ name: 'edit.listing', params: { slug: item.slug }}">Edit the Listinig</router-link>
                    <router-link target="_blank" class="btn btn-line btn-b btn75" :to="{ name: 'listing', params: { slug: item.slug }}">Preview</router-link>
                </div>
            </div>
        </div>
        <hr>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default{
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {

            }
        },
        methods:{
            remove: function (item) {
                var vm = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    axios.delete('/api/v1/listing/'+item.id).then(response => {
                        vm.$swal(
                            'Deleted!',
                            'Your listing has been deleted.',
                            'success'
                        );
                        EventBus.$emit('removeListing', response.data);
                    });
                })
            }
        }
    }
</script>