<template>
    <div class="hosts-list">
        <div class="row m-b-25">
            <div class="col-lg-4">
                <router-link :to="{ name: 'listing', params: { slug: item.slug }}" target="_blank">
                    <img  :src="'/filem/photo/400x320/'+item.photo" class="img-responsive" :alt="item.name">
                </router-link>
            </div>
            <div class="col-lg-8">
                <h2>{{ item.name }}</h2>

                <div v-if="item.req.status == 0" class="alert alert-warning">
                    <p>The owner has not yet confirmed the booking.</p>
                    <p><label>Check in:</label> {{ item.req.check_in }}</p>
                    <p><label>Check out:</label> {{ item.req.check_out }}</p>
                    <p><label>Lodgers:</label> {{ item.req.lodgers }}</p>
                </div>

                <div v-if="item.req.status == 10" class="alert alert-danger">
                    <div class="row">
                        <div class="col-lg-1">
                            <i class="fa fa-frown-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11">
                            <p>You have been refused!</p>
                        </div>
                    </div>
                </div>

                <div v-if="item.req.status == 100" class="alert alert-info">
                    <div class="row">
                        <div class="col-lg-1">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11">
                            <p>Pending payment!</p>
                            <router-link to="/payments" class="btn btn-green">Pay now</router-link>
                        </div>
                    </div>
                </div>

                <div v-if="item.req.status == 1" class="alert alert-success">
                    <div class="row">
                        <div class="col-lg-1">
                            <i class="fa fa-smile-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-11">
                            <p>Your listing rental</p>
                            <p><label>Check in:</label> {{ item.req.check_in }}</p>
                            <p><label>Check out:</label> {{ item.req.check_out }}</p>
                            <p><label>Lodgers:</label> {{ item.req.lodgers }}</p>
                            <p><label>Remaining days of booking:</label> {{ item.req.remaining }}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <hr>
    </div>
</template>

<script>
    import { EventBus } from '../event-bus.js';

    export default{
        props:{
            item: {
                type: [Object, Array],
                default: null,
            },
        },
        data(){
            return {

            }
        },
        methods:{

        }
    }
</script>