<template>
    <div>
        <!--<button v-if="!loading" v-on:click="getAva" class="btn btn-def bb m-b-20 w270 add-ava">Upload a file from your computer</button>-->
        <!--<button v-if="loading" class="btn btn-def bb m-b-20 w270 add-ava">Uploading...</button>-->
        <input id="ava" type="file" v-on:change="onFileChange">
    </div>
</template>

<script>
   
    export default {
        data(){
            return {
                loading: false,
            }  
        },
        methods:{
            getAva: function()
            {
                $('#ava').click();
            },
            onFileChange: function(e)
            {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                return;
                
                var form_data = new FormData();
                $.each(files, function(k,v){
                    form_data.append('image', v);
                });
                
                console.log(form_data);
                //
                this.loading = true;
                $('.myava').addClass('opa');
                axios.post('/user/profile/photo/upload', form_data).then(response => {
                    this.loading = false;
                    this.$router.go({path: this.$router.path});
                    $('.myava').removeClass('opa');
                }).catch(error => {
                    //
                    this.loading = false;
                    $('.myava').removeClass('opa');
                    alert('Error loading file!');
                });
                
            }
        },
        mounted() {
            console.log('Component mounted UploadAvatar.');
        }
    }
</script>