<template>
    <div id="block-user-left">
        <div class="user-ava thumbnail">
            <block-photo-profile></block-photo-profile>
            <div class="user-inf">
                <h2 class="text-center">{{ user.first_name }}</h2>
                <p class="text-center"><router-link :to="{ name: 'user', params: { slug: user.slug }}">View profile</router-link></p>
                <p class="text-center"><router-link to="/my-page">Edit profile</router-link></p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Verified info</div>
            <div class="panel-body">
                <p v-if="user.verify_email" class="vrf"><i class="fa fa-check-square-o" aria-hidden="true"></i> Email address</p>
                <p v-if="user.verifyPhone" class="vrf"><i class="fa fa-check-square-o" aria-hidden="true"></i> Phone number</p>
                <router-link to="/my-page/verification">Verify more info</router-link>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Connected accounts</div>
            <div v-if="user.social" class="panel-body">
                <p v-for="acc in user.connectedAccounts" class="vrf"><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ acc.network }}</p>
            </div>
            <div v-else class="panel-body">
                <router-link to="/my-page/verification">Connected</router-link>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Quick Links</div>
            <div class="panel-body">
                <p class="text-left">
                    <router-link to="/my-listing">View/Manage Listing</router-link>
                </p>
                <p class="text-left">
                    <router-link to="/my-listing/reservations">My Reservations</router-link>
                </p>
                <p class="text-left">
                    <router-link to="/my-listing/requests">My Requests</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            user:{
                type: Object,
                default: {}
            }
        },
        data(){
            return {
                
            }  
        },
        methods: {
            
        },
        mounted() {
            console.log('Component mounted UserLeft.');
        }
    }
</script>