<template>
    <div>
        <!--<button class="btn btn-def bb m-b-20 w270" data-toggle="modal" data-target="#modal-photocam">Take a photo with your webcam</button><br>-->
        <div class="modal fade in" id="modal-photocam" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-default modal-content">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title">Take a photo with your webcam</h4>
                    </div>
                    <div class="panel-body prl">
                        <div v-if="loading" id="ajax-load"><div class="loadings"><i class="ion-loading-c"></i></div></div>
                        <div id="webcam" style="width: 300px; height: 240px;"></div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6 text-right">
                                <button v-if="!take" v-on:click="shootButton" id="shootButton" class="btn btn-link color-green"><i class="fa fa-camera" aria-hidden="true"></i></button>
                                <div v-if="take" class="teke-photo">
                                    <button v-on:click="cancelButton" id="cancelButton" class="btn btn-link color-gray"><i class="fa fa-undo" aria-hidden="true"></i></button>
                                    <button v-on:click="uploadButton" id="uploadButton" class="btn btn-link"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</template>

<script>
    window.Webcam = require("webcamjs");
   
    export default {
        data(){
            return {
                take: false,
                loading: false,
                showModal: this.show,
            }  
        },
        methods:{
            takePhoto: function()
            {
                $('#modal-photocam').on('shown.bs.modal', function (e) {
                    Webcam.attach('#webcam');
                });
                //this.$emit('showModal');
            },
            shootButton: function()
            {
                this.take = true;
                Webcam.freeze();
            },
            cancelButton: function()
            {
                this.take = false;
                Webcam.unfreeze();
            },
            uploadButton: function()
            {
                var _this = this;
                Webcam.snap( function(data_uri) {
                    Webcam.upload(data_uri, '/user/profile/photo/save?_token='+$('meta[name=csrf-token]').attr('content'));
                });
                //
                Webcam.on('uploadProgress', function(progress) {
                    this.loading = true;
                    Webcam.reset();
                    this.take = false;
                });
                //
                Webcam.on('uploadComplete', function(code, text) {
                    _this.loading = false;
                    $('#modal-photocam').modal('hide');
                    var obj = jQuery.parseJSON(text);
                    //$('.ava200x200').attr('src', '/avatar/250x250/'+obj.user.id);
                    //$('#block-user .img-circle').attr('src', '/avatar/50x50/'+obj.user.id);
                    //window.location.reload();
                    _this.$router.go({path: _this.$router.path});
                });
            }
        },
        mounted() {
            console.log('Component mounted WebcamPhoto.');
            this.takePhoto();
        }
    }
</script>