<template>
    <footer class="foot">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-lg-2">
                    <a class="logo" href="/"></a>
                </div>
                <div class="col-xs-12 col-lg-7 text-lg-right">
                    <nav id="nav-footer">
                        <router-link to="/about">About</router-link>
                        <router-link to="/contact">Contact Us</router-link>
                        <router-link to="/policy">Policy</router-link>
                        <router-link to="/terms">Terms and Conditions</router-link>
                        &ensp;&ensp;
                        <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        <a href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </nav>
                </div>
                <div class="col-xs-12 col-lg-3 text-lg-right">
                    <div class="cop">Copyright © 2017 ULoger LLC.</div>
                </div>
            </div>
        </div>
    </footer>
</template>