<template>
    <header id="front-header" class="container p-t-15">
        <nav class="navbar navbar-header-front" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav-front">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Ulodger</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div :class="[(classItem) ? 'nav-top-'+classItem : '']" class="collapse navbar-collapse" id="collapse-nav-front">
                    <ul class="nav navbar-nav navbar-right">
                        <li v-if="!$auth.isAuth()"><router-link to="/login"><i class="ion-plus"></i> Create a Listing</router-link></li>
                        <li v-if="$auth.isAuth()"><router-link to="/create/listing"><i class="ion-plus"></i> Create a Listing</router-link></li>
                        <li v-if="!$auth.isAuth()"><router-link to="/login"><i class="ion-ios7-locked-outline"></i> Login</router-link></li>
                        <li v-if="$auth.isAuth()"><router-link to="/dashboard"><i class="ion-ios7-person-outline"></i> My Profile</router-link></li>
                        <li v-if="$auth.isAuth()"><a href="javascript:void(0);" v-on:click="logout"><i class="ion-log-out"></i> Logout</a></li> 
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </header>
</template>

<script>
    import { EventBus } from '../event-bus';

    export default {
        props: ['user'],
        data(){
            return {
                classItem: null,
            }
        },
        methods:{
            logout: function()
            {
                axios.post('/api-v1/logout').then(response => {
                    this.$auth.destroyToken();
                    window.location.reload();
                }).catch(error => {
                    //
                });
            }
        },
        mounted(){
            var vm = this;
            EventBus.$on('setResp', function (item) {
                vm.classItem = item;
            })
        }
    }
</script>