<template>
    <footer class="footer">
        <div class="container">
            <nav id="nav-footer-front">
                <router-link to="/about">About</router-link>
                <router-link to="/contact">Contact Us</router-link>
                <router-link to="/policy">Policy</router-link>
                <router-link to="/terms">Terms and Conditions</router-link>
                &ensp;&ensp;
                <a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="#!"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </nav>
        </div>
    </footer>
</template>