<template>
    <header class="head">
        <div class="container">
            <nav class="navbar navbar-header-nf" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-nav-front">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Ulodger</a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="collapse-nav-front">
                        <ul class="nav navbar-nav navbar-right">
                            <!--<li><router-link to="/host">Host</router-link></li>-->
                            <!--<li><router-link to="/operations">Operations</router-link></li>
                            <li><router-link to="/about">About</router-link></li>-->
                            <li v-if="!$auth.isAuth()"><router-link to="/login"><i class="ion-plus"></i> Create a Listing</router-link></li>
                            <li v-if="$auth.isAuth()"><router-link to="/create/listing"><i class="ion-plus"></i> Create a Listing</router-link></li>
                            <li v-if="$auth.isAuth()"><router-link to="/dashboard"><i class="ion-ios7-person-outline"></i> My Profile</router-link></li>
                            <!--<li v-if="!$auth.isAuth()"><router-link to="/sign-up"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</router-link></li>-->
                            <li v-if="!$auth.isAuth()"><router-link to="/login"><i class="ion-ios7-locked-outline"></i> Login</router-link></li>
                            <li v-if="$auth.isAuth()">
                                <block-user></block-user>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </header>
</template>

