<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" :class="classContainer">
                    <div class="modal-header">
                        <a href="javascript:void(0);" class="modal-closed" @click="$emit('close')"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <slot name="header"></slot>
                    </div>
                    <div class="modal-body">
                        <div v-if="scroll" class="modal-body-sc" :style="{'height':bodyHeigth}">
                            <slot name="body">

                            </slot>
                        </div>
                        <div class="modal-body-sc" v-else>
                            <slot name="body">

                            </slot>
                        </div>
                    </div>
                    <div class="modal-footer" v-if="footer">
                        <slot name="footer">

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            classContainer: {
                type: String,
                default: '',
            },
            bodyHeigth: {
                type: String,
                default: 'auto',
            },
            scroll:{
                type: Boolean,
                default: false,
            },
            footer:{
                type: Boolean,
                default: false,
            }
        },
        data(){
            return {
            }
        },
        methods: {

        },
        watch: {

        },
        computed: {

        },
        mounted() {
            var vm = this;
            if(this.scroll)
            {
                $('.modal-body-sc').slimScroll({
                    height: vm.bodyHeigth,
                });
            }

        }
    }
</script>