<template>
    <div class="buttons">
        <button :class="classBtn" class="btn pb40" @click="showModal = true">Contact the Host</button>
        <!-- logout-container -->
        <modal v-if="showModal" @close="showModal = false" :classContainer="'contact-container'">
            <div slot="body">
                <form-contact :item="item"></form-contact>
            </div>
        </modal>
        <!-- logout-container -->
    </div>
</template>
<script>
    import { EventBus } from '../event-bus';
    Vue.component('modal', require('../layouts/Modal.vue'));
    Vue.component('form-contact', require('../forms/FormContact.vue'));

    export default{
        props:{
            item: {
                type: [Object,Array],
                default: null,
            },
            classBtn: {
                type: String,
                default: 'btn-line',
            }
        },
        data(){
            return {
                showModal: false,
            }
        },
        methods:{

        },
        mounted() {
            var vm = this;
            EventBus.$on('closeModal', function () {
                vm.showModal = false;
            });
        }
    }
</script>