<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" accept-charset="UTF-8" role="form" class="form host-step-form">
                        <h1 class="dsh text-center">Where’s your place located?</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="row m-b-15">
                                    <div class="col-lg-12 details"><label>Address</label>
                                        <input v-model="add.location.address" v-validate="'required'" placeholder="Address" autocomplete="off" name="location_address" class="form-control setAddress" type="text">
                                        <input v-model="add.location.region"  name="location_region" type="hidden">
                                        <input v-model="add.location.lat" name="location_lat" type="hidden">
                                        <input v-model="add.location.lng"  name="location_lng" type="hidden">
                                        <input v-model="add.location.locality"  name="location_locality" type="hidden">
                                    </div>
                                    <!--<div class="col-lg-6">-->
                                        <!--<div class="form-group"><label>City / Town</label>-->
                                            <!--<input v-model="add.location.locality" v-validate="'required'" placeholder="Locality" autocomplete="off" name="location_locality" class="form-control setLocality" type="text">-->
                                        <!--</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div id="host-map"></div>
                            </div>
                            <div class="col-lg-6 col-lg-offset-3">
                                <label>Nearby Schools</label> 
                                <div class="help-block">Choose up to 3 nearby schools or locations</div>
                                <div class="form-group schoolslocaton-0">
                                    <input v-model="add.schoolslocaton[0].name" v-validate="'required'" placeholder="School name, metro or city" autocomplete="off" data-geo="name" name="schoolslocaton_0_name" class="form-control schoolslocaton-0-address" type="text">
                                    <input v-model="add.schoolslocaton[0].address" data-geo="formatted_address" name="schoolslocaton_0_address" type="hidden">
                                    <input v-model="add.schoolslocaton[0].address" data-geo="locality" name="schoolslocaton_0_locality" type="hidden">
                                    <input v-model="add.schoolslocaton[0].address" data-geo="administrative_area_level_1" name="schoolslocaton_0_region" type="hidden">
                                    <input v-model="add.schoolslocaton[0].address" data-geo="lat" name="schoolslocaton_0_lat" type="hidden">
                                    <input v-model="add.schoolslocaton[0].address" data-geo="lng" name="schoolslocaton_0_lng" type="hidden">
                                </div>
                                <div class="form-group schoolslocaton-1">
                                    <input v-model="add.schoolslocaton[1].name" placeholder="School name, metro or city" autocomplete="off" data-geo="name" name="schoolslocaton_1_name" class="form-control schoolslocaton-1-address" type="text">
                                    <input v-model="add.schoolslocaton[1].address" data-geo="formatted_address" name="schoolslocaton_1_address" type="hidden">
                                    <input v-model="add.schoolslocaton[1].address" data-geo="locality" name="schoolslocaton_1_locality" type="hidden">
                                    <input v-model="add.schoolslocaton[1].address" data-geo="administrative_area_level_1" name="schoolslocaton_1_region" type="hidden">
                                    <input v-model="add.schoolslocaton[1].address" data-geo="lat" name="schoolslocaton_1_lat" type="hidden">
                                    <input v-model="add.schoolslocaton[1].address" data-geo="lng" name="schoolslocaton_1_lng" type="hidden">
                                </div>
                                <div class="form-group schoolslocaton-2">
                                    <input v-model="add.schoolslocaton[2].name" placeholder="School name, metro or city" autocomplete="off" data-geo="name" name="schoolslocaton_2_name" class="form-control schoolslocaton-2-address" type="text">
                                    <input v-model="add.schoolslocaton[2].address" data-geo="formatted_address" name="schoolslocaton_2_address" type="hidden">
                                    <input v-model="add.schoolslocaton[2].address" data-geo="locality" name="schoolslocaton_2_locality" type="hidden">
                                    <input v-model="add.schoolslocaton[2].address" data-geo="administrative_area_level_1" name="schoolslocaton_2_region" type="hidden">
                                    <input v-model="add.schoolslocaton[2].address" data-geo="lat" name="schoolslocaton_2_lat" type="hidden">
                                    <input v-model="add.schoolslocaton[2].address" data-geo="lng" name="schoolslocaton_2_lng" type="hidden">
                                </div>
                            </div>
                        </div>
                        <button id="sumb" class="hidden"></button>
                    </form>
                    <!--<pre>{{ $data }}</pre>-->
                    <div id="tab-host-button">
                        <router-link :to="add.prev" id="host-add-back" class="btn btn-gr w150 pull-left">Back</router-link>
                        <router-link :to="add.next" id="host-add-next" class="btn btn-green w150 pull-right">Next</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
    
    const dictionary = {
        en: {
            attributes: {
                location_locality: 'City / Town',
                location_address: 'Address',
                schoolslocaton_0_name: 'Nearby Schools',
            }
        }
    };
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                submit:false,
                add:{
                    progress: 42.87,
                    step: 3,
                    edit_host: null,
                    location: {
                        locality: null,
                        address: null,
                        region: null,
                        lat: null,
                        lng: null,
                    },
                    schoolslocaton: {
                        0:{
                            name: null,
                            locality: null,
                            address: null,
                            region: null,
                            lat: null,
                            lng: null,
                        },
                        1:{
                            name: null,
                            locality: null,
                            address: null,
                            region: null,
                            lat: null,
                            lng: null,
                        },
                        2:{
                            name: null,
                            locality: null,
                            address: null,
                            region: null,
                            lat: null,
                            lng: null,
                        }
                    },
                    next: '/add/host/step-4',
                    prev: '/add/host/step-2',
                },
                host: [],
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            if (to.path == this.add.prev) {
                next();
            }
            else
            {
                var submit = $('#sumb');
                submit.get(0).click();
                var valid = this.$validator.getErrors();
                if (valid.errors.length == 0) {
                    next(true);
                }
            }
        },
        methods:{
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step3', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step3', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            initMap: function()
            {
                var _this = this;
                //
                var map = new GMaps({
                    div: '#host-map',
                    lat: (_this.add.location.lat) ? _this.add.location.lat : 39.28669443236614,
                    lng: (_this.add.location.lng) ? _this.add.location.lng : -102.216796875,
                    zoom: (_this.add.location.lat) ? 15 : 5,
                    click: function(e) {
                        _this.setMarker(map, e);
                    }
                });
                //
                map.addMarker({
                    lat: (_this.add.location.lat) ? _this.add.location.lat : 39.28669443236614,
                    lng: (_this.add.location.lng) ? _this.add.location.lng : -102.216796875,
                });
                //
//                $('.setLocality').geocomplete({
//                    types: ['(cities)'],
//                    //details: '.details',
//                    //detailsAttribute: 'data-geo',
//                }).bind("geocode:result", function(event, result){
//                    _this.add.location.locality = result.name;
//                });
                //
                $('.setAddress').geocomplete({
                    //details: '.details',
                    //detailsAttribute: 'data-geo',
                }).bind("geocode:result", function(event, result){
                    //$.dump(result);
                    var map = new GMaps({
                        div: '#host-map',
                        lat: result.geometry.location.lat(),
                        lng: result.geometry.location.lng(),
                        zoom: 17,
                        click: function(e) {
                            _this.setMarker(map, e);
                        }
                    });

                    var region = _this.getField('administrative_area_level_1', result.address_components);
                    region = $.trim(region.replace(/область|обл.|город/, ''));
                    _this.add.location.address = result.formatted_address;
                    _this.add.location.region = region;
                    _this.add.location.lat = result.geometry.location.lat();
                    _this.add.location.lng = result.geometry.location.lng();

                    var locality = _this.getField('locality', result.address_components);
                    _this.add.location.locality = locality;



                    map.addMarker({
                        lat: result.geometry.location.lat(),
                        lng: result.geometry.location.lng(),
                    });

                });
                //
                $('.schoolslocaton-0-address').geocomplete({
                    details: '.schoolslocaton-0',
                    detailsAttribute: 'data-geo',
                    //types: ['establishment', 'university', 'school', 'subway_station', 'city_hall'],
                    types: ['establishment'],
                }).bind("geocode:result", function(event, result){
                    _this.add.schoolslocaton[0].name = result.name;
                    _this.add.schoolslocaton[0].address = result.formatted_address;
                    _this.add.schoolslocaton[0].lat = result.geometry.location.lat();
                    _this.add.schoolslocaton[0].lng = result.geometry.location.lng();
                    GMaps.geocode({
                        lat : result.geometry.location.lat(),
                        lng: result.geometry.location.lng(),
                        callback: function(results, status) {
                            if (status == 'OK') {
                                var addr = results[0].formatted_address;
                                addr = $.trim(addr.replace('Unnamed Road,', ''));
                                var region = _this.getField('administrative_area_level_1', results[0].address_components);
                                region = $.trim(region.replace(/область|обл.|город/, ''));
                                var street = _this.getField('route', results[0].address_components);
                                var locality = _this.getField('locality', results[0].address_components);
                               
                                _this.add.schoolslocaton[0].locality = locality;
                                _this.add.schoolslocaton[0].region = region;
                            }
                        }
                    });
                });
                //
                $('.schoolslocaton-1-address').geocomplete({
                    details: '.schoolslocaton-1',
                    detailsAttribute: 'data-geo',
                    //types: ['establishment', 'university', 'school', 'subway_station', 'city_hall'],
                    types: ['establishment'],
                }).bind("geocode:result", function(event, result){
                    _this.add.schoolslocaton[1].name = result.name;
                    _this.add.schoolslocaton[1].address = result.formatted_address;
                    _this.add.schoolslocaton[1].lat = result.geometry.location.lat();
                    _this.add.schoolslocaton[1].lng = result.geometry.location.lng();
                    GMaps.geocode({
                        lat : result.geometry.location.lat(),
                        lng: result.geometry.location.lng(),
                        callback: function(results, status) {
                            if (status == 'OK') {
                                var addr = results[0].formatted_address;
                                addr = $.trim(addr.replace('Unnamed Road,', ''));
                                var region = _this.getField('administrative_area_level_1', results[0].address_components);
                                region = $.trim(region.replace(/область|обл.|город/, ''));
                                var street = _this.getField('route', results[0].address_components);
                                var locality = _this.getField('locality', results[0].address_components);
                               
                                _this.add.schoolslocaton[1].locality = locality;
                                _this.add.schoolslocaton[1].region = region;
                            }
                        }
                    });
                });
                //
                $('.schoolslocaton-2-address').geocomplete({
                    details: '.schoolslocaton-2',
                    detailsAttribute: 'data-geo',
                    //types: ['establishment', 'university', 'school', 'subway_station', 'city_hall'],
                    types: ['establishment'],
                }).bind("geocode:result", function(event, result){
                    _this.add.schoolslocaton[2].name = result.name;
                    _this.add.schoolslocaton[2].address = result.formatted_address;
                    _this.add.schoolslocaton[2].lat = result.geometry.location.lat();
                    _this.add.schoolslocaton[2].lng = result.geometry.location.lng();
                    GMaps.geocode({
                        lat : result.geometry.location.lat(),
                        lng: result.geometry.location.lng(),
                        callback: function(results, status) {
                            if (status == 'OK') {
                                var addr = results[0].formatted_address;
                                addr = $.trim(addr.replace('Unnamed Road,', ''));
                                var region = _this.getField('administrative_area_level_1', results[0].address_components);
                                region = $.trim(region.replace(/область|обл.|город/, ''));
                                var street = _this.getField('route', results[0].address_components);
                                var locality = _this.getField('locality', results[0].address_components);
                               
                                _this.add.schoolslocaton[2].locality = locality;
                                _this.add.schoolslocaton[2].region = region;
                            }
                        }
                    });
                });
            },
            setMarker: function(map, e)
            {
                var _this = this;
                //
                map.removeMarkers();
                //
                map.addMarker({
                    lat: e.latLng.lat(),
                    lng: e.latLng.lng(),
                });
                //
                GMaps.geocode({
                    lat : e.latLng.lat(),
                    lng: e.latLng.lng(),
                    callback: function(results, status) {
                        if (status == 'OK') {
			   
			   var addr = results[0].formatted_address;
			   addr = $.trim(addr.replace('Unnamed Road,', ''));
			   var region = _this.getField('administrative_area_level_1', results[0].address_components);
			   region = $.trim(region.replace(/область|обл.|город/, ''));
			   var street = _this.getField('route', results[0].address_components);
			   var locality = _this.getField('locality', results[0].address_components);
                           
                           _this.add.location.locality = locality;
                           _this.add.location.address = addr;
                           _this.add.location.region = region;
                           _this.add.location.lat = e.latLng.lat();
                           _this.add.location.lng = e.latLng.lng();
                        }
                    }
	       });
                
            },
            getField: function(name, address_components)
            {
                var data = '';
                $.each(address_components, function(k, v){
                    //$.dump(v);
                    $.each(v.types, function(i, y){
                        if (y == name) {
                            data = v.short_name;
                        }
                    });
                });
                return data;
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step3');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
            }
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep3.');
            $('body').removeClass('front');
            this.$validator.updateDictionary(dictionary);
            this.initMap();
        }
    }
</script>