<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" accept-charset="UTF-8" role="form" class="form host-step-form">
                        <h1 class="dsh text-center">Pictures of my space</h1>
                        <div id ="photo-upload">
                            <span v-if="images.length > 0" id="myfoto">
                                <div v-for="(image, index) in images" v-bind:class="[(index == 0) ? 'big-photo col-lg-12' : 'small-foto col-lg-2', 'prw-'+image.id]">
                                    <div v-if="image.loading" class="loading"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
                                    <img :src="image.src" class="img-responsive" alt="Responsive image">
                                </div>
                                <div class="col-lg-2">
                                    <div class="add-foto-small">
                                        <a href="javascript:void(0);" class="add-foto" v-on:click="openDialog"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Add photo</a>
                                    </div>
                                </div>
                            </span>
                            <div v-if="add.images.length == 0" id="dropzone-wrp">
                                <div class="dropzone-text"><a href="javascript:void(0);" class="btn btn-green bb add-foto" v-on:click="openDialog"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Photos</a><br><br> or drag them in</div>
                            </div>
                            <input id="input-dropzone" class="file-loading" accept="image/*" multiple="multiple" type="file" v-on:change="onFileChange">
                        </div>
                        <button id="sumb" class="hidden"></button>
                        <div class="clearfix"></div>
                    </form>
                    <!--<pre>{{ $data }}</pre>-->
                    <div id="tab-host-button">
                        <router-link :to="add.prev" id="host-add-back" class="btn btn-gr w150 pull-left">Back</router-link>
                        <router-link :to="add.next" id="host-add-next" class="btn btn-green w150 pull-right">Next</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                add: {
                    progress: 85.74,
                    step: 6,
                    images: [],
                    edit_host: null,
                    next: '/add/host/step-7',
                    prev: '/add/host/step-5',
                },
                host: [],
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            if (to.path == this.add.prev) {
                next();
            }
            else
            {
                var submit = $('#sumb');
                submit.get(0).click();
                var valid = this.$validator.getErrors();
                if (valid.errors.length == 0) {
                    next(true);
                }
            }
        },
        methods:{
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step6', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step6', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            openDialog: function()
            {
                var dropzone = $('#input-dropzone');
                dropzone.get(0).click();
            },
            onFileChange: function(e)
            {
                //var files = e.target.files || e.dataTransfer.files;
                //if (!files.length)
                //return;
                var files = e.target.files;
                for (var i = 0; i < files.length; i++)
                {
                    this.createImage(files[i]);
                }
                
            },
            createImage: function(file)
            {
                var _this = this;
                var reader = new FileReader();
                
                var id = Math.round(new Date().getTime() + (Math.random() * 100));
                reader.onload = (e) => {
                    _this.add.images.push({
                        id: id.toString(),
                        src: e.target.result,
                        fid: null,
                        loading: true,
                    });
                };
                
                reader.readAsDataURL(file);
                var img = _this.uploadFile(file, id);
                console.log(img);
            },
            uploadFile: function(file, id)
            {
                var _this = this;
                var form_data = new FormData();
                form_data.append('image', file);
                form_data.append('id', id);
                //
                
                axios.post('/host/upload/photo', form_data).then(response => {
                    for (var i = 0; i < _this.add.images.length; i++)
                    {
                        if (_this.add.images[i].id == response.data.id) {
                            _this.add.images[i] = response.data;
                        }
                    }
                    localStorage.setItem('step6', JSON.stringify(_this.add));
                    $('.prw-'+id+' .loading').remove();
                }).catch(error => {
                    
                });
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step6');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
            }
        },
        watch: {
            //'images': 'uploadFile'
        },
        computed: {
            images: function()
            {
                return this.add.images;
            }
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep6.');
            $('body').removeClass('front');
        }
    }
</script>