<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" accept-charset="UTF-8" role="form" class="form host-step-form">
                        <h1 class="dsh text-center">What amenities do you offer?</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div v-if="Object.keys(settings)" v-for="amenities4 in settings.amenities4" class="form-group ck2">
                                    <label :for="'amenities-'+amenities4.id" class="nn">
                                        <input v-model="add.amenities" :id="'amenities-'+amenities4.id" :name="'amenities_'+amenities4.id" :value="amenities4.id" type="checkbox">
                                        <span></span>
                                        {{ amenities4.name }}
                                    </label>
                                </div>
                                <!--//-->
                                <h2>Safety amenities</h2>
                                <div v-if="Object.keys(settings)" v-for="amenities5 in settings.amenities5" class="form-group ck2">
                                    <label :for="'amenities-'+amenities5.id" class="nn">
                                        <input v-model="add.amenities" :id="'amenities-'+amenities5.id" :name="'amenities_'+amenities5.id" :value="amenities5.id" type="checkbox">
                                        <span></span>
                                        {{ amenities5.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button id="sumb" class="hidden"></button>
                    </form>
                    <!--<pre>{{ $data }}</pre>-->
                    <div id="tab-host-button">
                        <router-link :to="add.prev" id="host-add-back" class="btn btn-gr w150 pull-left">Back</router-link>
                        <router-link :to="add.next" id="host-add-next" class="btn btn-green w150 pull-right">Next</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                add: {
                    progress: 57.16,
                    step: 4,
                    amenities: [],
                    edit_host: null,
                    next: '/add/host/step-5',
                    prev: '/add/host/step-3',
                },
                host: [],
                submit:false,
                settings: {},
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            if (to.path == this.add.prev) {
                next();
            }
            else
            {
                var submit = $('#sumb');
                submit.get(0).click();
                var valid = this.$validator.getErrors();
                if (valid.errors.length == 0) {
                    next(true);
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/host/settings/step4').then(response => {
                    this.$Progress.finish();
                    this.settings = response.data.settings;
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step4', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step4', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step4');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
            }
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep4.');
            $('body').removeClass('front');
        }
    }
</script>