<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <!--<pre>{{ $data }}</pre>-->
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" class="form host-step-form" role="form">
                        <h1 class="dsh text-center">What kind of place are you listing?</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="form-group">
                                    <label for="rentout">I want to rent out</label> 
                                    <select v-model.lazy="add.rent_out" v-validate="'required'" name="rent_out" class="form-control selectpicker rent_out">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="rent_out in settings.rent_out" v-bind:value="rent_out.id">{{ rent_out.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="property_type">Property Type</label> 
                                    <select v-if="Object.keys(settings)" v-model="add.property_type" v-validate="'required'" name="property_type" class="form-control selectpicker property_type">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="property_type in settings.property_type" :value="property_type.id">{{ property_type.name }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input v-model="add.title" v-validate="'required'" placeholder="For example: Spacious Room in a Townhouse Near GMU" name="title" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea v-model="add.description" v-validate="'required'" rows="3" placeholder="Short description about stay" name="description" cols="50" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <button id="sumb" class="hidden"></button>
                    </form>
                    <div id="tab-host-button">
                        <router-link id="host-add-next" class="btn btn-green w150 pull-right" :to="add.next">Next</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
    
    const dictionary = {
        en: {
            attributes: {
                rent_out: 'I want to rent out',
                property_type: 'Property Type',
                title: 'Title',
                description: 'Description',
            }
        }
    };
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                add: {
                    "progress": 14.29,
                    "step": 1,
                    "rent_out": null,
                    "property_type": null,
                    "title": null,
                    "description": null,
                    edit_host: null,
                    next: '/add/host/step-2',
                },
                host:[],
                submit:false,
                settings: {
                    rent_out: [],
                },
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            var submit = $('#sumb');
            submit.get(0).click();
            var valid = this.$validator.getErrors();
            if (valid.errors.length == 0) {
                next(true);
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/host/settings/step1').then(response => {
                    this.$Progress.finish();
                    this.settings = response.data.settings;
                    //$('.selectpicker').selectpicker();
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step1', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step1', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step1');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                    $('.rent_out').selectpicker('val', encode.rent_out);
                    $('.property_type').selectpicker('val', encode.property_type);
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
            }
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                });
            });
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep1.');
            $('body').removeClass('front');
            this.$validator.updateDictionary(dictionary);
            
            //localStorage.setItem('currentStep', 1);
        }
    }
</script>