<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" accept-charset="UTF-8" role="form" class="form host-step-form">
                        
                        <h1 class="dsh text-center">My space is available</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input v-model="add.availablefrom" v-validate="'required'" title="From" placeholder="From" name="available_from" class="form-control move_in" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <input v-model="add.availableto" v-validate="'required'" title="To" placeholder="To" name="available_to" class="form-control move_out" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="dsh text-center">I want to rent this stay for</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input v-model="add.price" v-validate="'required|numeric'" title="Price" name="price" class="form-control" type="text">
                                    <span class="input-group-addon">Monthly</span>
                                </div>
                            </div>
                        </div>
                        <button id="sumb" class="hidden"></button>
                    </form>
                    <div id="tab-host-button">
                        <router-link :to="add.prev" id="host-add-back" class="btn btn-gr w150 pull-left">Back</router-link>
                        <router-link :to="add.next" id="host-add-next" class="btn btn-green w150 pull-right">Finish</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                add: {
                    progress: 100,
                    step: 7,
                    availablefrom: '',
                    availableto: '',
                    price: null,
                    next: '/add/host/finish',
                    prev: '/add/host/step-6',
                },
                submit:false,
                settings: {},
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            if (to.path == this.add.prev) {
                next();
            }
            else
            {
                var submit = $('#sumb');
                submit.get(0).click();
                var valid = this.$validator.getErrors();
                if (valid.errors.length == 0) {
                    next(true);
                }
            }
        },
        methods:{
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step7', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step7', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step7');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
            },
            changeDate: function()
            {
                var _this = this;
                $('.move_in').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    //
                     _this.add.availablefrom = d.toLocaleDateString("en-US", options);
                    
                    d.setDate(d.getDate()+30);
                    $('.move_out').data("DateTimePicker").minDate(d);
                    //
                    $(this).data('DateTimePicker').hide();
                });
                
                $('.move_out').datetimepicker({format: 'MM/DD/YYYY'}).on('dp.change', function(e){
                    var options = {year: 'numeric', month: '2-digit', day: '2-digit' };
                    var d = new Date(e.date);
                    _this.add.availableto = d.toLocaleDateString("en-US", options);
                    //
                    $(this).data('DateTimePicker').hide();
                });
            },
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep7.');
            $('body').removeClass('front');
            this.changeDate();
        }
    }
</script>