<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <tabs :progressbar="add.progress"></tabs>
                <div id="tab-host-content" class="tab-content">
                    <form v-on:submit="submitStep('add', $event)" data-vv-scope="add" accept-charset="UTF-8" role="form" class="form host-step-form">
                        <h1 class="dsh text-center">How many Lodgers can your place accommodate?</h1>
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="form-group form-group-role">
                                    <label>This room is for:</label>
                                    <label for="smoking1" class="radiobutton radiobutton-green">
                                        <input id="smoking1" v-model="add.smoking" v-validate="'required'" name="smoking" value="1" type="radio"><span></span> Male
                                    </label>
                                    <label for="smoking2" class="radiobutton radiobutton-green">
                                        <input id="smoking2" v-model="add.smoking" v-validate="'required'" name="smoking" value="2" type="radio"><span></span> Female
                                    </label>
                                    <label for="smoking3" class="radiobutton radiobutton-green">
                                        <input id="smoking3" v-model="add.smoking" v-validate="'required'" name="smoking" value="3" type="radio"><span></span> Either is fine
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="guests">Number of lodgers you are willing to host</label> 
                                    <select v-if="Object.keys(settings)" v-model="add.guests" v-validate="'required'" name="guests" class="form-control selectpicker guests" tabindex="-98">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="(guests, index) in settings.guests" :value="index">{{ guests }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="bedrooms">How many bedrooms can lodgers use?</label> 
                                    <select v-if="Object.keys(settings)" v-model="add.bedrooms" v-validate="'required'" name="bedrooms" class="form-control selectpicker bedrooms" tabindex="-98">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="(bedrooms, index) in settings.bedrooms" :value="index">{{ bedrooms }}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="beds">How many beds can lodgers use?</label> 
                                    <select v-if="Object.keys(settings)" v-model="add.beds" v-validate="'required'" name="beds" class="form-control selectpicker beds" tabindex="-98">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="(beds, index) in settings.beds" :value="index">{{ beds }}</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-role">
                                    <label>Bath Type:</label>
                                    <label for="bath_type1" class="radiobutton radiobutton-green">
                                        <input id="bath_type1" v-model="add.bath_type" v-validate="'required'" name="bath_type" value="1" type="radio"><span></span> Private bath
                                    </label>
                                    <label for="bath_type2" class="radiobutton radiobutton-green">
                                        <input id="bath_type2" v-model="add.bath_type" v-validate="'required'" name="bath_type" value="2" type="radio"><span></span> Shared bath
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="beds">How many bathrooms?</label> 
                                    <select v-if="Object.keys(settings)" v-model="add.bathrooms" v-validate="'required'" name="bathrooms" class="form-control selectpicker bathrooms" tabindex="-98">
                                        <option class="bs-title-option" value="">- choose -</option>
                                        <option v-for="(bathrooms, index) in settings.bathrooms" :value="index">{{ bathrooms }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button id="sumb" class="hidden"></button>
                    </form>
                   
                    <div id="tab-host-button">
                        <router-link :to="add.prev" id="host-add-back" class="btn btn-gr w150 pull-left">Back</router-link>
                        <router-link :to="add.next" id="host-add-next" class="btn btn-green w150 pull-right">Next</router-link>
                    </div>
                </div>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    Vue.component('tabs', require('./tabs.vue'));
    
    const dictionary = {
        en: {
            attributes: {
                smoking: 'This room is for',
                guests: 'Number of lodgers you are willing to host ',
                bedrooms: 'How many bedrooms can lodgers use?',
                beds: 'How many beds can lodgers use? ',
                bath_type: 'Bath Type',
                bathrooms: 'How many bathrooms?',
            }
        }
    };
   
    export default {
        inject: ['$validator'],
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                add: {
                    progress: 28.58,
                    step: 2,
                    smoking: null,
                    guests: null,
                    bedrooms: null,
                    beds: null,
                    bath_type: null,
                    bathrooms: null,
                    edit_host: null,
                    next: '/add/host/step-3',
                    prev: '/add/host',
                },
                host: [],
                submit:false,
                settings: {},
                edit: false,
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        beforeRouteLeave: function(to, from, next) {
            if (to.path == this.add.prev) {
                next();
            }
            else
            {
                var submit = $('#sumb');
                submit.get(0).click();
                var valid = this.$validator.getErrors();
                if (valid.errors.length == 0) {
                    next(true);
                }
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.fetchData();
            });
        },
        methods:{
            fetchData: function()
            {
                this.$Progress.start();
                axios.post('/host/settings/step2').then(response => {
                    this.$Progress.finish();
                    this.settings = response.data.settings;
                }).catch(error => {
                    this.$Progress.fail();
                });
            },
            submitStep:function(scope, e)
            {
                e.preventDefault();
                this.$validator.validateAll(scope).then(() => {
                    this.submit = true;
                    localStorage.setItem('step2', JSON.stringify(this.add));
                    //
                    axios.post('/host/add/step2', this.add).then(response => {
                        localStorage.setItem('host', JSON.stringify(response.data.host));
                    }).catch(error => {
                        
                    });
                    //
                }).catch(() => {
                    //this.loading = false;
                    this.$msg.setErrors(this.errors, this.$notify);
                });
            },
            setAdd: function()
            {
                var data = localStorage.getItem('step2');
                if (data) {
                    var encode = JSON.parse(data);//$.parseJSON(data);//JSON.parse(data);
                    this.add = encode;
                    $('.guests').selectpicker('val', encode.guests);
                    $('.bedrooms').selectpicker('val', encode.bedrooms);
                    $('.beds').selectpicker('val', encode.beds);
                    $('.bathrooms').selectpicker('val', encode.bathrooms);
                }
                //
                var host = localStorage.getItem('host');
                if (host) {
                    var dataHost = JSON.parse(host);
                    this.host = dataHost;
                    this.add.edit_host = dataHost.id;
                }
                //
                var edit = localStorage.getItem('edit');
                if (edit) {
                    this.edit = edit;
                }
                
            }
        },
        updated() {
            this.$nextTick(function () {
                var _this = this;
                $(document).ready(function() {
                    $('.selectpicker').selectpicker();
                });
            });
        },
        created()
        {
            this.setAdd();
        },
        mounted() {
            console.log('Component mounted AddHostStep2.');
            $('body').removeClass('front');
            this.$validator.updateDictionary(dictionary);
        }
    }
</script>