<template>
    <div>
        <div id="tab-host" class="tab-host-group lg-tab sm-tab mdd-tab xs-tab">
            <router-link to="/add/host" id="btn-tab-host-1" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-home"></i></div>
                <span class="stepTitle hidden-xs" style="">Place type</span>
            </router-link>
            <router-link to="/add/host/step-2" id="btn-tab-host-2" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-bed"></i></div>
                <span class="stepTitle hidden-xs">Bedrooms &amp; Baths</span>
            </router-link>
            <router-link to="/add/host/step-3" id="btn-tab-host-3" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-map-marker"></i></div>
                <span class="stepTitle hidden-xs" style="">Location</span>
            </router-link>
            <router-link to="/add/host/step-4" id="btn-tab-host-4" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-list"></i></div>
                <span class="stepTitle hidden-xs" style="">Amenities</span>
            </router-link>
            <router-link to="/add/host/step-5" id="btn-tab-host-5" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-share-alt"></i></div>
                <span class="stepTitle hidden-xs" style="">Shared spaces</span>
            </router-link>
            <router-link to="/add/host/step-6" id="btn-tab-host-6" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-camera"></i></div>
                <span class="stepTitle hidden-xs" style="">Pictures</span>
            </router-link>
            <router-link to="/add/host/step-7" id="btn-tab-host-7" class="btn-tab-host lg-bt sm-bt mdd-bt xs-bt">
                <div class="tab_shape"><i class="icon fa fa-calendar-check-o"></i></div>
                <span class="stepTitle hidden-xs" style="">Rent</span>
            </router-link>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" :aria-valuemin="progressbar" aria-valuemax="100" v-bind:style="{width: progressbar+'%'}"></div>
        </div>
    </div>
</template>

<script>
   
    export default {
        props:{
            progressbar:{
                type: Number,
                default: 0,
            }
        },
        data(){
            return {
               
            }  
        },
        methods:{
            
        },
        mounted() {
            console.log('Component mounted tabs.');
        }
    }
</script>