<template>
    <div class="component">
        <headers></headers>
        <menu-dashboard></menu-dashboard>
        <div id="main">
            <div id="add-host-page-vue" class="container">
                <h1 class="dsh text-center">Updated</h1>
                <h3 class="text-center">Congratulations! Soon you will start receiving reservations.</h3>
            </div>
        </div>
        <footers></footers>
    </div>
</template>

<script>
    
    export default {
        data(){
            return {
                title: 'Add Host | '+ this.$parent.sitename,
                host:[],
            }  
        },
        metaInfo () {
            return {
                title: this.title,
            }
        },
        watch: {
            '$route': 'fetchData'
        },
        methods:{
            fetchData: function()
            {
                var _this = this;
                
                var data = localStorage.getItem('step6');
                
                if (data) 
                {
                    this.$scrollTo('#add-host-page-vue');
                    
                    var host = localStorage.getItem('host');
                    
                    var host = localStorage.getItem('host');
                    if (host) {
                        var dataHost = JSON.parse(host);
                        this.host = dataHost;
                    }
                    
                    localStorage.removeItem('step1');
                    localStorage.removeItem('step2');
                    localStorage.removeItem('step3');
                    localStorage.removeItem('step4');
                    localStorage.removeItem('step5');
                    localStorage.removeItem('step6');
                    
                    
                    setTimeout(function(){
                        localStorage.removeItem('step7');
                        localStorage.removeItem('host');
                        _this.$router.push('/my-listing');
                    }, 2000);
                    
                }
                else
                {
                    _this.$router.push('/add/host');
                }
            }
        },
        created()
        {
            this.fetchData();
        },
        mounted() {
            console.log('Component mounted Updated.');
            $('body').removeClass('front');
        }
    }
</script>