	/*
  	Flaticon icon font: Flaticon
  	Creation date: 27/04/2017 11:24
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-transport:before { content: "\f100"; }
.flaticon-holidays:before { content: "\f101"; }
.flaticon-bicycle-1:before { content: "\f102"; }
.flaticon-car:before { content: "\f103"; }
.flaticon-bicycle:before { content: "\f104"; }
.flaticon-placeholder-1:before { content: "\f105"; }
.flaticon-placeholder:before { content: "\f106"; }
.flaticon-calendar:before { content: "\f107"; }
.flaticon-toilet:before { content: "\f108"; }
.flaticon-bathtub:before { content: "\f109"; }
.flaticon-beds:before { content: "\f10a"; }
.flaticon-bed:before { content: "\f10b"; }