.p-t-15{
    padding-top: 15px !important;
}
.w100p{
    width: 100%;
}
.fb{
    font-family: 'cambaybold';
}
.bln{
    border-left: none;
}
.brn{
    border-right: none;
}
.p-r-0{
    padding-right: 0;
}
.m-b-0{
    margin-bottom: 0;
}
.m-t-m1{
    margin-top: -1px;
}
.m-t-m2{
    margin-top: -2px;
}
.m-b-30{
    margin-bottom: 30px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-150{
    margin-bottom: 150px;
}
.m-b-25{
    margin-bottom: 25px;
}
.p-30{
    padding: 30px;
}
.p-t-10{
    padding-top: 10px;
}
.m-b-15{
    margin-bottom: 15px;
}
.p-t-5{
    padding-top: 5px !important;
}
.p-t-7{
    padding-top: 7px !important;
}
.fsz24{
    font-size: 24px;
}
.color-red{
    color: red !important;
}
.p-r-15{
    padding-right: 15px;
}
.w270{
    width: 270px;
}
.color-green{
    color: #2ed353;
}
.color-gray{
    color: gray;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-20{
    padding-right: 20px;
}
.p-b-30{
    padding-bottom: 30px;
}
.color-black{
    color: black !important;
}
.w150{
    width: 150px;
}
.m-t-75{
    margin-top: 75px;
}
.p-l-15{
    padding-left: 15px;
}
.p-r-15{
    padding-right: 15px;
}
.p-b-15{
    padding-bottom: 15px;
}







