@font-face {
  font-family: 'hotels';
  src:  url('../fonts/hotels.eot?u8qbff');
  src:  url('../fonts/hotels.eot?u8qbff#iefix') format('embedded-opentype'),
    url('../fonts/hotels.ttf?u8qbff') format('truetype'),
    url('../fonts/hotels.woff?u8qbff') format('woff'),
    url('../fonts/hotels.svg?u8qbff#hotels') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="hotels-"], [class*=" hotels-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hotels' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hotels-uniF10F:before {
  content: "\f10f";
}
.hotels-uniF109:before {
  content: "\f109";
}
.hotels-uniF123:before {
  content: "\f123";
}
.hotels-uniF103:before {
  content: "\f103";
}
.hotels-uniF11E:before {
  content: "\f11e";
}
.hotels-uniF122:before {
  content: "\f122";
}
.hotels-uniF119:before {
  content: "\f119";
}
.hotels-uniF10C:before {
  content: "\f10c";
}
.hotels-uniF11C:before {
  content: "\f11c";
}
.hotels-uniF10B:before {
  content: "\f10b";
}
.hotels-uniF10D:before {
  content: "\f10d";
}
.hotels-uniF105:before {
  content: "\f105";
}
.hotels-uniF11F:before {
  content: "\f11f";
}
.hotels-uniF116:before {
  content: "\f116";
}
.hotels-uniF113:before {
  content: "\f113";
}
.hotels-uniF10A:before {
  content: "\f10a";
}
.hotels-uniF11D:before {
  content: "\f11d";
}
.hotels-uniF11B:before {
  content: "\f11b";
}
.hotels-uniF102:before {
  content: "\f102";
}
.hotels-uniF110:before {
  content: "\f110";
}
.hotels-uniF111:before {
  content: "\f111";
}
.hotels-uniF101:before {
  content: "\f101";
}
.hotels-uniF112:before {
  content: "\f112";
}
.hotels-uniF104:before {
  content: "\f104";
}
.hotels-uniF100:before {
  content: "\f100";
}
.hotels-uniF106:before {
  content: "\f106";
}
.hotels-uniF121:before {
  content: "\f121";
}
.hotels-uniF10E:before {
  content: "\f10e";
}
.hotels-uniF11A:before {
  content: "\f11a";
}
.hotels-uniF114:before {
  content: "\f114";
}
.hotels-uniF117:before {
  content: "\f117";
}
.hotels-uniF120:before {
  content: "\f120";
}
.hotels-uniF107:before {
  content: "\f107";
}
.hotels-uniF115:before {
  content: "\f115";
}
.hotels-uniF118:before {
  content: "\f118";
}
.hotels-uniF108:before {
  content: "\f108";
}
.hotels-uniF139:before {
  content: "\f139";
}
.hotels-uniF12F:before {
  content: "\f12f";
}
.hotels-uniF13B:before {
  content: "\f13b";
}
.hotels-uniF1152:before {
  content: "\f124";
}
.hotels-uniF13D:before {
  content: "\f13d";
}
.hotels-uniF13E:before {
  content: "\f13e";
}
.hotels-uniF1012:before {
  content: "\f125";
}
.hotels-uniF138:before {
  content: "\f138";
}
.hotels-uniF142:before {
  content: "\f142";
}
.hotels-uniF130:before {
  content: "\f130";
}
.hotels-uniF13A:before {
  content: "\f13a";
}
.hotels-uniF1132:before {
  content: "\f126";
}
.hotels-uniF153:before {
  content: "\f153";
}
.hotels-uniF13C:before {
  content: "\f13c";
}
.hotels-uniF1112:before {
  content: "\f127";
}
.hotels-uniF11F2:before {
  content: "\f128";
}
.hotels-uniF10E2:before {
  content: "\f129";
}
.hotels-uniF1202:before {
  content: "\f12a";
}
.hotels-uniF157:before {
  content: "\f157";
}
.hotels-uniF11A2:before {
  content: "\f12b";
}
.hotels-uniF137:before {
  content: "\f137";
}
.hotels-uniF11C2:before {
  content: "\f12c";
}
.hotels-uniF1222:before {
  content: "\f12d";
}
.hotels-uniF141:before {
  content: "\f141";
}
.hotels-uniF10F2:before {
  content: "\f12e";
}
.hotels-uniF129:before {
  content: "\f131";
}
.hotels-uniF151:before {
  content: "\f151";
}
.hotels-uniF11D2:before {
  content: "\f132";
}
.hotels-uniF12D:before {
  content: "\f133";
}
.hotels-uniF14B:before {
  content: "\f14b";
}
.hotels-uniF14C:before {
  content: "\f14c";
}
.hotels-uniF135:before {
  content: "\f135";
}
.hotels-uniF136:before {
  content: "\f136";
}
.hotels-uniF148:before {
  content: "\f148";
}
.hotels-uniF134:before {
  content: "\f134";
}
.hotels-uniF132:before {
  content: "\f13f";
}
.hotels-uniF145:before {
  content: "\f145";
}
.hotels-uniF1212:before {
  content: "\f140";
}
.hotels-uniF1092:before {
  content: "\f143";
}
.hotels-uniF158:before {
  content: "\f158";
}
.hotels-uniF140:before {
  content: "\f144";
}
.hotels-uniF155:before {
  content: "\f155";
}
.hotels-uniF14A:before {
  content: "\f14a";
}
.hotels-uniF12C:before {
  content: "\f146";
}
.hotels-uniF12B:before {
  content: "\f147";
}
.hotels-uniF12A:before {
  content: "\f149";
}
.hotels-uniF133:before {
  content: "\f14d";
}
.hotels-uniF1192:before {
  content: "\f14e";
}
.hotels-uniF143:before {
  content: "\f14f";
}
.hotels-uniF14D:before {
  content: "\f150";
}
.hotels-uniF147:before {
  content: "\f152";
}
.hotels-uniF11E2:before {
  content: "\f154";
}
.hotels-uniF1072:before {
  content: "\f156";
}
.hotels-uniF1062:before {
  content: "\f159";
}
.hotels-uniF1052:before {
  content: "\f15a";
}
.hotels-uniF1232:before {
  content: "\f15b";
}
.hotels-uniF154:before {
  content: "\f15c";
}
.hotels-uniF150:before {
  content: "\f15d";
}
.hotels-uniF156:before {
  content: "\f15e";
}
.hotels-uniF1102:before {
  content: "\f15f";
}
.hotels-uniF131:before {
  content: "\f160";
}
.hotels-uniF1042:before {
  content: "\f161";
}
.hotels-uniF14E:before {
  content: "\f162";
}
.hotels-uniF12E:before {
  content: "\f163";
}
.hotels-uniF152:before {
  content: "\f164";
}
.hotels-uniF1032:before {
  content: "\f165";
}
.hotels-uniF14F:before {
  content: "\f166";
}
.hotels-uniF146:before {
  content: "\f167";
}
.hotels-uniF149:before {
  content: "\f168";
}
.hotels-uniF1022:before {
  content: "\f169";
}
.hotels-uniF1162:before {
  content: "\f16a";
}
.hotels-uniF1182:before {
  content: "\f16b";
}
.hotels-uniF1172:before {
  content: "\f16c";
}
.hotels-uniF125:before {
  content: "\f16d";
}
.hotels-uniF126:before {
  content: "\f16e";
}
.hotels-uniF124:before {
  content: "\f16f";
}
.hotels-uniF11B2:before {
  content: "\f170";
}
.hotels-uniF127:before {
  content: "\f171";
}
.hotels-uniF128:before {
  content: "\f172";
}
.hotels-uniF10D2:before {
  content: "\f173";
}
.hotels-uniF10B2:before {
  content: "\f174";
}
.hotels-uniF1002:before {
  content: "\f175";
}
.hotels-uniF1122:before {
  content: "\f176";
}
.hotels-uniF10C2:before {
  content: "\f177";
}
.hotels-uniF10A2:before {
  content: "\f178";
}
.hotels-uniF13F:before {
  content: "\f179";
}
.hotels-uniF159:before {
  content: "\f17a";
}
.hotels-uniF1142:before {
  content: "\f17b";
}
.hotels-uniF1082:before {
  content: "\f17c";
}
.hotels-uniF144:before {
  content: "\f17d";
}
.hotels-uniF1D2:before {
  content: "\f1d2";
}
.hotels-uniF1262:before {
  content: "\f17e";
}
.hotels-uniF1252:before {
  content: "\f17f";
}
.hotels-uniF1242:before {
  content: "\f180";
}
.hotels-uniF12A2:before {
  content: "\f181";
}
.hotels-uniF1292:before {
  content: "\f182";
}
.hotels-uniF1282:before {
  content: "\f183";
}
.hotels-uniF1272:before {
  content: "\f184";
}
.hotels-uniF164:before {
  content: "\f185";
}
.hotels-uniF1223:before {
  content: "\f186";
}
.hotels-uniF19C:before {
  content: "\f19c";
}
.hotels-uniF11B3:before {
  content: "\f187";
}
.hotels-uniF18F:before {
  content: "\f18f";
}
.hotels-uniF11C3:before {
  content: "\f188";
}
.hotels-uniF1C2:before {
  content: "\f1c2";
}
.hotels-uniF1103:before {
  content: "\f189";
}
.hotels-uniF1D9:before {
  content: "\f1d9";
}
.hotels-uniF1003:before {
  content: "\f18a";
}
.hotels-uniF1AD:before {
  content: "\f1ad";
}
.hotels-uniF1BA:before {
  content: "\f1ba";
}
.hotels-uniF17F:before {
  content: "\f18b";
}
.hotels-uniF17E:before {
  content: "\f18c";
}
.hotels-uniF17D:before {
  content: "\f18d";
}
.hotels-uniF1BC:before {
  content: "\f1bc";
}
.hotels-uniF14C2:before {
  content: "\f18e";
}
.hotels-uniF165:before {
  content: "\f190";
}
.hotels-uniF1BF:before {
  content: "\f1bf";
}
.hotels-uniF1B8:before {
  content: "\f1b8";
}
.hotels-uniF1B9:before {
  content: "\f1b9";
}
.hotels-uniF1AA:before {
  content: "\f1aa";
}
.hotels-uniF19B:before {
  content: "\f19b";
}
.hotels-uniF1A8:before {
  content: "\f1a8";
}
.hotels-uniF1B2:before {
  content: "\f1b2";
}
.hotels-uniF1B3:before {
  content: "\f1b3";
}
.hotels-uniF1B4:before {
  content: "\f1b4";
}
.hotels-uniF1562:before {
  content: "\f191";
}
.hotels-uniF1B6:before {
  content: "\f1b6";
}
.hotels-uniF1B7:before {
  content: "\f1b7";
}
.hotels-uniF13F2:before {
  content: "\f192";
}
.hotels-uniF14F2:before {
  content: "\f193";
}
.hotels-uniF1322:before {
  content: "\f194";
}
.hotels-uniF1A7:before {
  content: "\f1a7";
}
.hotels-uniF10C3:before {
  content: "\f195";
}
.hotels-uniF1592:before {
  content: "\f196";
}
.hotels-uniF188:before {
  content: "\f197";
}
.hotels-uniF10B3:before {
  content: "\f198";
}
.hotels-uniF18A:before {
  content: "\f199";
}
.hotels-uniF189:before {
  content: "\f19a";
}
.hotels-uniF18C:before {
  content: "\f19d";
}
.hotels-uniF18B:before {
  content: "\f19e";
}
.hotels-uniF18E:before {
  content: "\f19f";
}
.hotels-uniF18D:before {
  content: "\f1a0";
}
.hotels-uniF1B0:before {
  content: "\f1b0";
}
.hotels-uniF15A:before {
  content: "\f1a1";
}
.hotels-uniF13D2:before {
  content: "\f1a2";
}
.hotels-uniF13E2:before {
  content: "\f1a3";
}
.hotels-uniF13B2:before {
  content: "\f1a4";
}
.hotels-uniF13C2:before {
  content: "\f1a5";
}
.hotels-uniF1392:before {
  content: "\f1a6";
}
.hotels-uniF13A2:before {
  content: "\f1a9";
}
.hotels-uniF1372:before {
  content: "\f1ab";
}
.hotels-uniF1382:before {
  content: "\f1ac";
}
.hotels-uniF1522:before {
  content: "\f1ae";
}
.hotels-uniF1342:before {
  content: "\f1af";
}
.hotels-uniF1BB:before {
  content: "\f1bb";
}
.hotels-uniF181:before {
  content: "\f1b1";
}
.hotels-uniF1B1:before {
  content: "\f1b5";
}
.hotels-uniF1E1:before {
  content: "\f1e1";
}
.hotels-uniF1C1:before {
  content: "\f1c1";
}
.hotels-uniF1AB:before {
  content: "\f1bd";
}
.hotels-uniF1AC:before {
  content: "\f1be";
}
.hotels-uniF1A9:before {
  content: "\f1c0";
}
.hotels-uniF11A3:before {
  content: "\f1c3";
}
.hotels-uniF12E2:before {
  content: "\f1c4";
}
.hotels-uniF12D2:before {
  content: "\f1c5";
}
.hotels-uniF12C2:before {
  content: "\f1c6";
}
.hotels-uniF1AE:before {
  content: "\f1c7";
}
.hotels-uniF184:before {
  content: "\f1c8";
}
.hotels-uniF1213:before {
  content: "\f1c9";
}
.hotels-uniF1203:before {
  content: "\f1ca";
}
.hotels-uniF11F3:before {
  content: "\f1cb";
}
.hotels-uniF11E3:before {
  content: "\f1cc";
}
.hotels-uniF11D3:before {
  content: "\f1cd";
}
.hotels-uniF179:before {
  content: "\f1ce";
}
.hotels-uniF171:before {
  content: "\f1cf";
}
.hotels-uniF19F:before {
  content: "\f1d0";
}
.hotels-uniF19E:before {
  content: "\f1d1";
}
.hotels-uniF19D:before {
  content: "\f1d3";
}
.hotels-uniF17A:before {
  content: "\f1d4";
}
.hotels-uniF174:before {
  content: "\f1d5";
}
.hotels-uniF1502:before {
  content: "\f1d6";
}
.hotels-uniF187:before {
  content: "\f1d7";
}
.hotels-uniF16F:before {
  content: "\f1d8";
}
.hotels-uniF16E:before {
  content: "\f1da";
}
.hotels-uniF1302:before {
  content: "\f1db";
}
.hotels-uniF186:before {
  content: "\f1dc";
}
.hotels-uniF185:before {
  content: "\f1dd";
}
.hotels-uniF14E2:before {
  content: "\f1de";
}
.hotels-uniF1233:before {
  content: "\f1df";
}
.hotels-uniF14D2:before {
  content: "\f1e0";
}
.hotels-uniF1E5:before {
  content: "\f1e5";
}
.hotels-uniF1133:before {
  content: "\f1e2";
}
.hotels-uniF1A5:before {
  content: "\f1e3";
}
.hotels-uniF1CA:before {
  content: "\f1e4";
}
.hotels-uniF1442:before {
  content: "\f1e6";
}
.hotels-uniF1D7:before {
  content: "\f1e7";
}
.hotels-uniF17C:before {
  content: "\f1e8";
}
.hotels-uniF1D8:before {
  content: "\f1e9";
}
.hotels-uniF17B:before {
  content: "\f1ea";
}
.hotels-uniF1D4:before {
  content: "\f1eb";
}
.hotels-uniF15D:before {
  content: "\f1ec";
}
.hotels-uniF1A0:before {
  content: "\f1ed";
}
.hotels-uniF1CF:before {
  content: "\f1ee";
}
.hotels-uniF1D5:before {
  content: "\f1ef";
}
.hotels-uniF1023:before {
  content: "\f1f0";
}
.hotels-uniF1D1:before {
  content: "\f1f1";
}
.hotels-uniF173:before {
  content: "\f1f2";
}
.hotels-uniF172:before {
  content: "\f1f3";
}
.hotels-uniF1A3:before {
  content: "\f1f4";
}
.hotels-uniF1A4:before {
  content: "\f1f5";
}
.hotels-uniF16D:before {
  content: "\f1f6";
}
.hotels-uniF16C:before {
  content: "\f1f7";
}
.hotels-uniF16B:before {
  content: "\f1f8";
}
.hotels-uniF182:before {
  content: "\f1f9";
}
.hotels-uniF15C:before {
  content: "\f1fa";
}
.hotels-uniF170:before {
  content: "\f1fb";
}
.hotels-uniF15E:before {
  content: "\f1fc";
}
.hotels-uniF15B:before {
  content: "\f1fd";
}
.hotels-uniF195:before {
  content: "\f1fe";
}
.hotels-uniF194:before {
  content: "\f1ff";
}
.hotels-uniF196:before {
  content: "\f200";
}
.hotels-uniF191:before {
  content: "\f201";
}
.hotels-uniF193:before {
  content: "\f202";
}
.hotels-uniF192:before {
  content: "\f203";
}
.hotels-uniF1D0:before {
  content: "\f204";
}
.hotels-uniF16A:before {
  content: "\f205";
}
.hotels-uniF1DC:before {
  content: "\f206";
}
.hotels-uniF1462:before {
  content: "\f207";
}
.hotels-uniF177:before {
  content: "\f208";
}
.hotels-uniF1482:before {
  content: "\f209";
}
.hotels-uniF1472:before {
  content: "\f20a";
}
.hotels-uniF14A2:before {
  content: "\f20b";
}
.hotels-uniF1492:before {
  content: "\f20c";
}
.hotels-uniF14B2:before {
  content: "\f20d";
}
.hotels-uniF199:before {
  content: "\f20e";
}
.hotels-uniF1CC:before {
  content: "\f20f";
}
.hotels-uniF1CB:before {
  content: "\f210";
}
.hotels-uniF178:before {
  content: "\f211";
}
.hotels-uniF1452:before {
  content: "\f212";
}
.hotels-uniF1CE:before {
  content: "\f213";
}
.hotels-uniF10F3:before {
  content: "\f214";
}
.hotels-uniF10E3:before {
  content: "\f215";
}
.hotels-uniF1C3:before {
  content: "\f216";
}
.hotels-uniF1143:before {
  content: "\f217";
}
.hotels-uniF1D3:before {
  content: "\f218";
}
.hotels-uniF169:before {
  content: "\f219";
}
.hotels-uniF1153:before {
  content: "\f21a";
}
.hotels-uniF163:before {
  content: "\f21b";
}
.hotels-uniF162:before {
  content: "\f21c";
}
.hotels-uniF1512:before {
  content: "\f21d";
}
.hotels-uniF168:before {
  content: "\f21e";
}
.hotels-uniF167:before {
  content: "\f21f";
}
.hotels-uniF166:before {
  content: "\f220";
}
.hotels-uniF1193:before {
  content: "\f221";
}
.hotels-uniF1013:before {
  content: "\f222";
}
.hotels-uniF1E4:before {
  content: "\f223";
}
.hotels-uniF1DA:before {
  content: "\f224";
}
.hotels-uniF1C0:before {
  content: "\f225";
}
.hotels-uniF1DF:before {
  content: "\f226";
}
.hotels-uniF1DE:before {
  content: "\f227";
}
.hotels-uniF1DD:before {
  content: "\f228";
}
.hotels-uniF1E3:before {
  content: "\f229";
}
.hotels-uniF1A6:before {
  content: "\f22a";
}
.hotels-uniF10D3:before {
  content: "\f22b";
}
.hotels-uniF1E0:before {
  content: "\f22c";
}
.hotels-uniF1A2:before {
  content: "\f22d";
}
.hotels-uniF1552:before {
  content: "\f22e";
}
.hotels-uniF15F:before {
  content: "\f22f";
}
.hotels-uniF10A3:before {
  content: "\f230";
}
.hotels-uniF1CD:before {
  content: "\f231";
}
.hotels-uniF1C9:before {
  content: "\f232";
}
.hotels-uniF1412:before {
  content: "\f233";
}
.hotels-uniF1422:before {
  content: "\f234";
}
.hotels-uniF1402:before {
  content: "\f235";
}
.hotels-uniF1432:before {
  content: "\f236";
}
.hotels-uniF180:before {
  content: "\f237";
}
.hotels-uniF1C5:before {
  content: "\f238";
}
.hotels-uniF1C6:before {
  content: "\f239";
}
.hotels-uniF1C7:before {
  content: "\f23a";
}
.hotels-uniF1C8:before {
  content: "\f23b";
}
.hotels-uniF19A:before {
  content: "\f23c";
}
.hotels-uniF1572:before {
  content: "\f23d";
}
.hotels-uniF1582:before {
  content: "\f23e";
}
.hotels-uniF1C4:before {
  content: "\f23f";
}
.hotels-uniF1352:before {
  content: "\f240";
}
.hotels-uniF1362:before {
  content: "\f241";
}
.hotels-uniF175:before {
  content: "\f242";
}
.hotels-uniF12F2:before {
  content: "\f243";
}
.hotels-uniF176:before {
  content: "\f244";
}
.hotels-uniF1DB:before {
  content: "\f245";
}
.hotels-uniF1AF:before {
  content: "\f246";
}
.hotels-uniF1332:before {
  content: "\f247";
}
.hotels-uniF161:before {
  content: "\f248";
}
.hotels-uniF183:before {
  content: "\f249";
}
.hotels-uniF198:before {
  content: "\f24a";
}
.hotels-uniF1D6:before {
  content: "\f24b";
}
.hotels-uniF1BD:before {
  content: "\f24c";
}
.hotels-uniF1542:before {
  content: "\f24d";
}
.hotels-uniF1123:before {
  content: "\f24e";
}
.hotels-uniF197:before {
  content: "\f24f";
}
.hotels-uniF160:before {
  content: "\f250";
}
.hotels-uniF1BE:before {
  content: "\f251";
}
.hotels-uniF1E2:before {
  content: "\f252";
}
.hotels-uniF1B5:before {
  content: "\f253";
}
.hotels-uniF1532:before {
  content: "\f254";
}
.hotels-uniF1A1:before {
  content: "\f255";
}
.hotels-uniF1113:before {
  content: "\f256";
}
.hotels-uniF1163:before {
  content: "\f257";
}
.hotels-uniF1183:before {
  content: "\f258";
}
.hotels-uniF1173:before {
  content: "\f259";
}
.hotels-uniF12B2:before {
  content: "\f25a";
}
.hotels-uniF1312:before {
  content: "\f25b";
}
.hotels-uniF190:before {
  content: "\f25c";
}
.hotels-uniF1033:before {
  content: "\f25d";
}
.hotels-uniF1043:before {
  content: "\f25e";
}
.hotels-uniF1053:before {
  content: "\f25f";
}
.hotels-uniF1063:before {
  content: "\f260";
}
.hotels-uniF1073:before {
  content: "\f261";
}
.hotels-uniF1083:before {
  content: "\f262";
}
.hotels-uniF1093:before {
  content: "\f263";
}
.hotels-uniF1024:before {
  content: "\f264";
}
.hotels-uniF1154:before {
  content: "\f265";
}
.hotels-uniF11D4:before {
  content: "\f266";
}
.hotels-uniF1194:before {
  content: "\f267";
}
.hotels-uniF10B4:before {
  content: "\f268";
}
.hotels-uniF10E4:before {
  content: "\f269";
}
.hotels-uniF1144:before {
  content: "\f26a";
}
.hotels-uniF1104:before {
  content: "\f26b";
}
.hotels-uniF1184:before {
  content: "\f26c";
}
.hotels-uniF10F4:before {
  content: "\f26d";
}
.hotels-uniF1124:before {
  content: "\f26e";
}
.hotels-uniF11A4:before {
  content: "\f26f";
}
.hotels-uniF1064:before {
  content: "\f270";
}
.hotels-uniF1004:before {
  content: "\f271";
}
.hotels-uniF1164:before {
  content: "\f272";
}
.hotels-uniF1094:before {
  content: "\f273";
}
.hotels-uniF10A4:before {
  content: "\f274";
}
.hotels-uniF10C4:before {
  content: "\f275";
}
.hotels-uniF1084:before {
  content: "\f276";
}
.hotels-uniF1074:before {
  content: "\f277";
}
.hotels-uniF11B4:before {
  content: "\f278";
}
.hotels-uniF1014:before {
  content: "\f279";
}
.hotels-uniF1054:before {
  content: "\f27a";
}
.hotels-uniF10D4:before {
  content: "\f27b";
}
.hotels-uniF11C4:before {
  content: "\f27c";
}
.hotels-uniF1134:before {
  content: "\f27d";
}
.hotels-uniF1174:before {
  content: "\f27e";
}
.hotels-uniF1034:before {
  content: "\f27f";
}
.hotels-uniF1114:before {
  content: "\f280";
}
.hotels-uniF1044:before {
  content: "\f281";
}
